.calculator {

}

.calculator-header {
    height: 60px;
    background-color: #f7f8fa;
}

.switch-type {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.switch-type__item {
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    cursor: pointer;

    &._active {
        + .switch-type-slider {
            .switch-type-slider__point {
                left: 0;
            }
        }
    }
}

.switch-type__item:first-child {
    margin-right: 15px;
}

.switch-type-slider {
    margin-right: 15px;
}

.switch-type__inp {
    opacity: 0;
    position: absolute;
    left: -999px;
}

.switch-type__txt {
    transition: ease .3s all;
    color: #bfbdc2;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #6c737a;
    opacity: 0.5;
}

.switch-type__inp:checked + .switch-type__txt {
    color: #22282f;
    opacity: 1;
}

.switch-type-slider {
    position: relative;
    width: 36px;
    height: 14px;
    background-color: #ccd0d3;
    border-radius: 15px;
    cursor: pointer;
}

.switch-type-slider__point {
    transition: ease .3s all;
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #e5b9bd;
    border-radius: 50%;
    top: -4px;
    left: calc(100% - 22px);
}

.switch-type-slider__point:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    margin-top: -4px;
    background-color: #b51827;
    border-radius: 50%;
}

.calculator-aside {
    min-width: 250px;
    width: 250px;
    margin-right: 50px;
    padding-top: 50px;
}

.calculator-cont {
    width: calc(100% - 300px);
    border-left: solid 1px #ededed;
}

.calculator-cont {
    padding-top: 25px;
}

.calculator__section {
    border-bottom: solid 1px #ededed;
    margin-bottom: 35px;
}

.calculator__section:first-child .calculator__tlt {
    margin-bottom: 7px;
}

.calculator__section:last-child {
    margin-bottom: 0;
}

.calculator .page-form__inp {
    color: #000;
}

.calculator .page-form__step {
    margin-bottom: 60px;
}

.calculator .ui-widget.slider-range {
    background-color: #bfbdc2;
}

.calculator .ui-widget.slider-range:after {
    content: '';
    position: absolute;
    right: -13px;
    top: -11px;
    width: 22px;
    height: 22px;
}

.calculator .ui-widget.slider-range:before {
    content: '';
    position: absolute;
    right: -4.5px;
    top: -3px;
    width: 8px;
    height: 8px;
    background-color: #caccd3;
}

.calculator .page-form__inp._age {
    width: 40px;
}

.calculator .page-form__age {
    font-size: 30px;
    color: #000;
}

.calculator .slider-range {
    margin-bottom: 20px;
}

.slider-sings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slider-sings__item {
    max-width: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #22282f;
    font-size: 14px;
    overflow: visible;
}

.slider-sings__item:first-child {
    margin-left: -10px;
}

.slider-sings__item:last-child {
    margin-right: -10px;
}

.calculator-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.calculator .mortgage-banks__col {
    width: 33.33%;
    padding: 0 40px;
}

.calculator__tlt {
    padding-left: 40px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}

.calculator-flats {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.calculator-flats__img-wrap {
    height: 100%;
    max-height: 190px;
    margin-bottom: 25px;

    img {
        display: block;
        max-height: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
}

.calculator-flats-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__item {
        font-size: 14px;
        line-height: 26px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        white-space: nowrap;

        &:last-child {
            text-align: right;
        }

        sup {
            vertical-align: baseline;
            position: relative;
            top: -.5em;
        }
    }
}

.price {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #b51827;
}

.calculator-flats__item {
    transition: ease .3s all;
    position: relative;
    width: 33.33%;
    height: 320px;
    border-top: solid 1px #eaeaeb;
    border-right: solid 1px #eaeaeb;
    padding: 30px;

    &:hover {
        box-shadow: 0 10px 25px rgba(43, 38, 52, 0.25);
        z-index: 10;
    }

    &:before {
         content: "";
         position: absolute;
         display: none;
         left: 0;
         right: 0;
         top: 0;
         bottom: 0;
         border: 4px solid #b51827;
         pointer-events: none;
    }
        &:hover {
            box-shadow: 0 10px 25px rgba(43, 38, 52, 0.25);
            border-color: #b51827;
            z-index: 10;
            &:before {
                display: block;
            }
    }
    /* Для нормандии свои стили акции будут */
    /*&._flag {*/
        /*background-color: #feeede;*/
        /*overflow: hidden;*/

        /*&:before {*/
            /*transition: ease .3s all;*/
            /*content: '';*/
            /*position: absolute;*/
            /*z-index: 30;*/
            /*left: 0;*/
            /*right: 0;*/
            /*top: 0;*/
            /*bottom: 0;*/
            /*border: 4px solid transparent;*/
            /*pointer-events: none;*/
        /*}*/

        /*&:after {*/
            /*content: '';*/
            /*transition: ease .3s all;*/
            /*position: absolute;*/
            /*top: -50%;*/
            /*left: -50%;*/
            /*right: 0;*/
            /*bottom: 0;*/
            /*background-color: #fff;*/
            /*border-radius: 50%;*/
            /*width: 0;*/
            /*height: 0;*/
        /*}*/

        /*&:hover {*/
            /*border-color: #f7941e;*/

            /*&:before {*/
                /*border-color: #f7941e;*/
            /*}*/

            /*&:after {*/
                /*width: 200%;*/
                /*height: 200%;*/
            /*}*/
        /*}*/
    /*}*/
}

.flat-icons {
    position: absolute;
    z-index: 20;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__item {
        display: block;
        margin-bottom: 20px;
        width: 18px;
        height: 18px;
        background-color: transparent;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;

        &:last-child {
            margin-bottom: 0;
        }

        &._favourite {
            background-image: url('../img/favorite-icon.svg');
            &:hover {
                 background-image: url('../img/favorite-icon-active.svg');
            }

            &._active {
                background-image: url('../img/favorite-icon-active.svg');
            }
        }

        &._decor {
            background-image: url('../img/icon_finish.svg');
        }

        &._flag {
            background-image: url('../img/icon_action.svg');
            width: 13px;
            height: 17px;
            right: 25px;
            display:none
        }
    }
}

.calc-flat-inner {
    position: relative;
    z-index: 10;
    height: 100%;
}

.title {
    position: absolute;
    z-index: 1000;
    box-shadow: 0 0 25px rgba(43, 38, 52, .25);
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    background-color: #fff;
    margin-left: 28px;
    margin-top: -9px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #22282f;
    font-size: 12px;
    white-space: nowrap;
}

.mortgage-order {
    display: none;
    padding: 30px 0;
    border-top: solid 1px #ededed;

    .button {
        max-width: 240px;
        margin: 0 auto;
        display: block;
        line-height: 50px;
    }
}

@keyframes swiper-preloader-spin {
    100% {
        transform:rotate(360deg);
    }
}

.mortgage-banks__body,
.calculator-flats {
    &._loading {
        position: relative;
        min-height: 420px;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, .6);
            z-index: 10;
        }

        &:before {
            content: '';
            display: block;
            width: 42px;
            height: 42px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -21px;
            margin-top: -21px;
            z-index: 20;
            transform-origin: 50%;
            animation: swiper-preloader-spin 1s steps(12,end) infinite;
            background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        }
    }
}

.calculator-flats {
    &._loading {
        min-height: 640px;
    }
}

@media screen and (--lgMinus) {
    .mortgage-order {
        display: block;
    }

    .calculator-body {
        display: block;
    }

    .calculator-aside,
    .calculator-cont {
        width: 100%;
    }

    .calculator-aside {
        margin-bottom: 30px;
    }

    .calculator-aside .page-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .calculator-aside .page-form__step {
        width: calc(33.33% - 26.66px);
        margin-bottom: 0;

        &:last-child {
            display: none;
        }
    }

    .calculator-cont {
        width: calc(100% + 110px);
        margin-left: -55px;
        border-left: none;
        border-top: solid 1px #ededed;
    }
}

@media screen and (--mdMinus) {
    .calculator-cont {
        width: calc(100% + 80px);
        margin-left: -40px;
    }
}

@media screen and (--smMinus) {
    .mortgage-order {
        padding: 20px 0;
    }

    .calculator-cont {
        width: calc(100% + 40px);
        margin-left: -20px;

        .mortgage-banks {
            padding-bottom: 0;
        }
    }

    .calculator .mortgage-banks__col {
        padding: 0 20px;
    }

    .calculator .mortgage-banks {
        width: 100%;
        margin: 0;
    }

    .calculator-flats {
        display: block;
    }

    .calculator-flats__item {
        width: 100%;
        max-width: 280px;
        display: block;
        margin: 0 auto;
        border-left: solid 1px #ededed;

        &:last-child {
            border-bottom: solid 1px #ededed;
        }
    }

    .calculator__section {
        border: none;

        &:last-child {
            background-color: #fff;
            padding-top: 20px;
        }

        &:first-child {
            margin-bottom: 0;
        }
    }

    .calculator-cont {
        background-color: #ededed;
    }

    .calculator__tlt {
        font-size: 20px;
        line-height: 26px;
    }

    .calculator-aside {
        .page-form {
            display: block;
        }

        .page-form__step {
            width: 100%;
            margin-bottom: 60px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .switch-type {
        &__item,
        &-slider {
            margin-right: 10px;
            white-space: nowrap;
        }

        &__txt {
            span {
                display: none;
            }
        }
    }

    .calculator-aside {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (--xs) {
    .calculator {
        .mortgage-banks__body {
            .mortgage-banks__row {
                flex-direction: column;
                height: 137px;
                justify-content: flex-start;
                align-items: left;

                &._active {
                    .mortgage-banks__col {
                        &:nth-child(2) {
                            display: block;
                            opacity: 1;
                        }
                    }
                }
            }

            .mortgage-banks__col {
                width: 100%;

                &:first-child {
                    width: 150px;
                    height: 35px;
                    margin-bottom: 15px;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    text-align: right;
                    line-height: 28px;

                    &:before {
                        float: left;
                        font-size: 13px;
                        color: rgba(25, 25, 26, .5);
                        display: inline-block;
                    }
                }

                &:nth-child(2) {
                    &:before {
                        content: 'Процентная ставка';
                    }
                }

                &:nth-child(3) {
                    &:before {
                        content: 'Ежемесячный платеж';
                    }
                }

                &:nth-child(n+3) {
                    display: block;
                }
            }
        }
    }
}
