.comfort-page {

    & .container {
        max-width: 1280px;
    }

    &__longread-list {
        margin-top: 76px;

        @media (--lgMinus) {
            margin-top: 0;
        }
    }

    &__longread-item {
        margin-bottom: 111px;

        @media (--xlPlus) {
            &--one {

                & .longread-item__title {
                    margin-top: -6px;
                    padding-bottom: 24px;
                    margin-bottom: 24px;
                }
    
                & .longread-item__content {
                    height: 536px;
                    margin-bottom: 1%;
                }
            }
    
            &--two {
                margin-bottom: 114px;
    
                & .longread-item__content {
                    padding-left: 102px;
                    padding-top: 80px;
                    padding-right: 80px;
                }
    
                & .longread-item__title {
                    padding-bottom: 27px;
                    margin-bottom: 24px;
                }
            }
    
            &--three {
                margin-bottom: 72px;
    
                & .longread-item__content {
                    padding-left: 102px;
                    padding-top: 124px;
                    padding-right: 80px;
                }
    
                & .longread-item__title {
                    padding-bottom: 27px;
                    margin-bottom: 24px;
                }
    
                & .longread-item__thumb--corner {
                    margin-left: 56px;
                    width: calc(47.7% - 25px);
                }
            }
    
            &--four {
                margin-bottom: 96px;
                & .longread-item__content {
                    padding-top: 54px;
                    padding-left: 57px;
                }
    
                & .longread-item__title {
                    padding-bottom: 28px;
                    margin-bottom: 24px;
                }
    
                & .longread-item__thumb--flag {
                    width: calc(50% - 48px);
                }
    
                & .longread-item__thumb--flag-right {
                    margin-right: 48px;
                }
    
                & .longread-item__thumb--flag-right:after {
                    right: -51px;
                    width: 51px;
                    transform: scaleX(-1);
                }
            }
    
            &--five {
                margin-bottom: 79px;

                & .longread-item__content {
                    margin-bottom: 1%;
                    padding-top: 56px;
                    padding-right: 50px;
                    height: 560px;
                    background-position: -61px -62px;
                    background-size: 151px;
                    & p {
                        line-height: 1.65;
                    }

                    & .list li {
                        margin-bottom: 3px;
                    }

                    & .list {
                        margin-bottom: 14px;
                    }
                }

                & .longread-item__title {
                    padding-bottom: 26px;
                    margin-bottom: 22px;
                }

                & .longread-item__thumb {
                    background-position: 34%;
                }
            }
        }


        @media (--lgMinus) {
            margin-bottom: 55px;
        }

        @media (--md) {
            &--one {

                & .longread-item__title {
                }
    
                & .longread-item__content {
                    padding-top: 53px;
                    padding-bottom: 70px;
                    background-position: -87px -5px;
                }

                & .longread-item__thumb {
                    min-height: auto;
                }
            }
    
            &--two {
                margin-bottom: 48px;
                & .longread-item__content {
                }
    
                & .longread-item__title {
                    padding-bottom: 26px;
                }

                & .longread-item__thumb {
                    min-height: 478px;
                }
            }
    
            &--three {
    
                & .longread-item__title {
                    margin-bottom: 26px;
                }
    
                & .longread-item__thumb--corner {
                    background-position: 23%;
                }

                & .longread-item__text {
                    padding-bottom: 26px;
                }
            }
    
            &--four {
                margin-bottom: 40px;
    
                & .longread-item__text {
                    padding-top: 21px;
                }
    
                & .longread-item__thumb--flag {
                    min-height: 478px;
                }
    
                & .longread-item__thumb--flag-right:after {
                    transform: scaleX(-1)
                }
            }
    
            &--five {
                margin-bottom: 30px;
                & .longread-item__content {
                    padding-top: 41px;
                    padding-right: 110px;
                    padding-bottom: 44px;
                    & p {
                    }

                    & .list li {
                        margin-bottom: 6px;
                    }

                    & .list {
                        margin-top: 25px;
                        margin-bottom: 13px;
                    }
                }

                & .longread-item__title {
                    padding-bottom: 27px;
                    margin-bottom: 22px;
                }

                & .longread-item__thumb {
                    height: 476px;
                    min-height: auto;
                }
            }
        }

        @media (--xs) {
            margin-bottom: 40px;
        }

        @media (--xs) {
            &--one {
    
                & .longread-item__content {
                    padding: 39px 22px 41px 21px;
                }
            }
    
            &--two {
                & .longread-item__content {

                    & p {
                        line-height: 1.65;
                        margin-bottom: 10px;
                    }
                }

                & .longread-item__text {
                    padding-top: 26px;
                }
    
                & .longread-item__title {
                    margin-bottom: 28px;
                }

                & .longread-item__thumb--flag:after {
                    transform: scaleY(-1);
                    height: 52px;
                }
            }
    
            &--three {
                margin-bottom: 53px;
    
                & .longread-item__title {
                    margin-bottom: 20px;
                }
    
                & .longread-item__thumb--corner {
                }

                & .longread-item__text {

                    & p {
                        line-height: 1.65;
                    }
                }

                & .longread-item__text--thumb-bottom {
                    padding-bottom: 15px;
                }
            }
    
            &--four {
                margin-bottom: 26px;

                & .longread-item__title {
                    margin-bottom: 29px;
                }
    
                & .longread-item__text {
                    padding-top: 25px;

                    & p {
                        line-height: 1.65;
                        margin-bottom: 10px;
                    }
                }
    
                & .longread-item__thumb--flag-right:after {
                    height: 53px;
                }
            }
    
            &--five {
                margin-bottom: 20px;
                & .longread-item__content {
                    padding: 33px 29px 15px 21px;
                    & p {
                        line-height: 1.65;
                    }

                    & .list li {
                        margin-bottom: 4px;
                    }

                    & .list {
                        margin-top: 20px;
                        margin-bottom: 13px;
                    }
                }

                & .longread-item__title {
                    margin-bottom: 32px;
                }

                & .longread-item__thumb {
                }
            }
        }
    }
}