.estate-container__table {
    width: 100%;
    border-spacing: 0;
    margin: 20px 0 40px;
    @media (--smMinus) {
        margin: 20px -20px 40px;
        width: calc(100% + 40px);
    }

    & thead tr {
        background: #ffffff;
    }

    & thead td {
        font-size: 13px;
        opacity: 0.5;
        /*&:nth-child(1) {
            width: 15%;
            @media(--sm) {
                width: 15%;
            }
            @media(--xs) {
                width: 15%;
            }
        }
        &:nth-child(2) {
            width: 13%;
            @media(--sm) {
                width: 15%;
            }
            @media(--xs) {
                width: 15%;
            }
        }
        &:nth-child(3) {
            width: 14%;
        }

        &:nth-child(4) {
            width: 18%;
        }

        &:nth-child(5) {
            width: 20%;
            @media(--sm) {
                width: 25%;
            }
            @media(--xs) {
                width: 25%;
            }
        }*/
    }

    & tr {
        background: #f4f4f5;
        padding: 15px 0;

        &:nth-child(2n) {
            background: #ffffff;
        }
    }

    & td {
        padding: 15px 0px;
        font-size: 15px;
        color: #2a2633;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        @media(--smMinus) {
            font-size: 12px;
        }
        &:first-child {
            padding: 15px 30px;
            @media(--smMinus) {
                padding: 15px 20px;
            }
        }
    }
}
.CommEstate {
    &_header {
        margin-top: 70px;
        background: #eff2f5;
        padding: 25px 0 25px;
        @media (--smMinus) {
            padding: 20px 0 30px;
        }
    }
    &_content {
        padding-top: 40px;
        padding-bottom: 42px;
        @media (--smMinus) {
            padding-top: 30px;
            padding-bottom: 12px;
        }
    }
    &_tdFloor, &_tdType, &_tdSq, &_tdPriceM2, &_tdPrice {
        width: 18%;
        white-space: nowrap;
        @media (--smMinus) {
            width: 30%;
        }
    }
    &_tdType {
        @media (--smMinus) {
            display: none;
        }
    }
    /*&_tdSq {

    }*/
    &_tdPriceM2 {
        @media (--smMinus) {
            display: none;
        }
    }
    /*&_tdPrice {

    }*/
    &_download {
        width: 50px;
        &Link {
            align-items: center;
            justify-content: center;
            display: flex;
            color: #22282f;
            text-decoration: none;
            opacity:0.7;
            margin: 0 30px;
            transition: all 0.3s ease;
            @media(--smMinus) {
                font-size:12px;
                flex-direction:column;
                margin: 0 20px;
            }

            &:hover {
                 text-decoration: underline;
                 opacity:1;
            }

            &_disabled {
                 opacity:0;
                 visibility: hidden;
             }

            &:after {
                 content:'';
                 width: 24px;
                 height:26px;
                 background: url("../img/icon-pdf.svg") no-repeat;
                 background-size: contain;
                 margin-left: 8px;
                @media(--smMinus) {
                    order:1;
                    margin-left: -2px;
                }
            }
            & span {
                @media(--smMinus) {
                    order:2;
                    margin-top:4px;
                }
            }
        }
    }
}