.contacts-page-wrapper {
	background: #ededed;
}

.contacts-page-wrapper .btn-call-inner:after {
	background: #ededed;
}

.contacts-page {
	display: flex;
	flex-direction: column;
}


.contacts-header {
	background: #ededed;
	padding: 25px 55px 25px;
}

@media (--mdMinus) {
	.contacts-header {
		padding: 25px 40px;
	}
}

@media (--smMinus) {
	.contacts-header {
		padding: 25px 20px;
	}
}



@media (--smMinus) {
	.contacts {
		padding: 20px 0 30px;
		order: 1;
	}
}

.contacts-wrap {
	display: flex;
	flex-wrap: wrap;
	min-height: 582px;
	height: calc(100vh - 215px);
	background: #ffffff;
}

@media (--mdMinus) {
	.contacts-wrap {
		height: auto;
		order: 2;
	}
}

.contact-map {
	flex-grow: 1;
	/*height: 100%;*/
}

@media (--mdMinus) {
	.contact-map {
		flex-basis: 100%;
		order: 2;
		height: 395px;
	}
}


.contact-offices {
	width: 543px;
	/*height: 100%;*/
	padding: 30px 0px;
	position: relative;
	background: #ffffff;
}

@media (--mdMinus) {
	.contact-offices {
		flex-basis: 100%;
		order: 1;
	}
}

.contact-offices__title {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #19191a;
	font-size: 30px;
	padding: 0 40px;
}

@media (--smMinus) {
	.contact-offices__title {
		padding: 0 20px;
	}
}

.contact-offices-types .contact-offices-types__link {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 13px;
	line-height: 19px;
	white-space: nowrap;
	color: #b51827;
	position: relative;
	text-transform: uppercase;
	text-decoration: none;
	transition: color 0.4s ease-in;
}

.contact-offices-types__link:hover:after {
	width: 0;
}

.contact-offices-types__link:hover {
	color: #2b2634;
}

.contact-offices-types__link:after {
	content: '';
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #b51827;
	opacity:0.2;
	height: 1px;
	transition: width 0.4s ease-in;
}

.contact-offices-types__link_active {
	color: #2b2634;
}

/* Resets the contain background and outer borders */

.contact-offices-types.ui-widget-content {
	border: none;
	background: none;
}

.contact-offices-types.ui-widget {
	font-family: inherit;
	font-size: inherit;
}

.contact-offices-types.ui-tabs {
	padding: 0;
	flex-grow: 1;
}

.contact-offices-types .ui-tabs-nav {
	padding: 0 40px;
	margin-top: 10px;
}

@media (--smMinus) {
	.contact-offices-types .ui-tabs-nav {
		padding: 0 20px
	}
}

/* Resets all border radius */

.contact-offices-types .ui-corner-all,
.contact-offices-types .ui-corner-top,
.contact-offices-types .ui-corner-bottom,
.contact-offices-types .ui-corner-left,
.contact-offices-types .ui-corner-right,
.contact-offices-types .ui-corner-br,
.contact-offices-types .ui-corner-bl,
.contact-offices-types .ui-corner-tr,
.contact-offices-types .ui-corner-tl {
	border-radius: 0;
}

/* Resets widget header tabs */

.contact-offices-types .ui-widget-header {
	display: flex;
	justify-content: flex-start;
	border: none;
	background: none;
	font-weight: normal;
	color: #000000;
	@media (--smMinus) {
		overflow: scroll;
	}
}

.contact-offices-types .ui-widget-header li {
	border: 0;
	padding: 0;
	margin: 0 0 0 15px;
	background: transparent;
	@media (--mdMinus) {
		margin-left: 50px;
	}
	@media (--smMinus) {
		margin-left: 30px;
	}
	&:first-child {
		margin: 0;
	}
	&:last-child {
		@media (--smMinus) {
			padding-right: 20px;
		}
	}
}

.contact-offices-types .ui-widget-header li:hover {
	background: transparent;
}

.contact-offices-types .ui-widget-header li .contact-offices-types__link,
.contact-offices-types .ui-widget-header li .contact-offices-types__link:link,
.contact-offices-types .ui-widget-header li .contact-offices-types__link:visited {
	border: none;
	outline: none;
	background: none;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 13px;
	line-height: 19px;
	color: #b51827;
	position: relative;
	text-transform: uppercase;
	text-decoration: none;
	transition: color 0.4s ease-in;
	@media (--mdMinus) {
		font-size: 15px;
		line-height: 18px;
	}
	@media (--smMinus) {
		font-size: 12px;
	}
}

.contact-offices-types .ui-widget-header li .contact-offices-types__link:hover {
	color: #2b2634;
	cursor: pointer;
}

.contact-offices-types .ui-widget-header li.ui-tabs-active .contact-offices-types__link {
	color: #2b2634;
	pointer-events: none;
}

.contact-offices-types .ui-widget-header li.ui-tabs-active .contact-offices-types__link:after {
	display: none;
}

/* Resets the panel */

.contact-offices-types .ui-tabs-panel {
	padding: 0;
}

.contact-offices-types .ui-state-active {
	background: transparent;
	border: none;
}

.contact-offices-item__img {
	height: 200px;
	background-size: cover;
	background-position: center center;
	margin-top: 25px;
}

.contact-offices-item__text {
	margin-top: 30px;
	padding: 0 40px;
	min-height: 202px;
	height: calc(100vh - 660px);
}

.contact-offices-item__text_noImg {
	height: calc(100vh - 206px);
	@media(--mdMinus) {
		height:auto;
	}
}

.contact-offices .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color:#b51827;
}

.contact-offices.mCSB_scrollTools .mCSB_draggerRail {
	background: #fefefe;
}

@media (--mdMinus) {
	.contact-offices-item__text {
		height: auto;
	}
}

@media (--smMinus) {
	.contact-offices-item__text {
		padding: 0 20px;
	}
}

.contact-offices p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #19191a;
	margin: 10px 0;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
}

.contact-offices-item__text_bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}

.contact-offices-item__title,
.region-item__title {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #19191a;
	position: relative;
	padding-left: 40px;
	margin-top: 25px;
}

.contact-offices-item__title:after {
	content: '';
	width: 28px;
	height: 14px;
	position: absolute;
	left: 0;
	top: 4px;
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}

.contact-offices-item__title_orange:after {
	background: #b51827;
}

.contact-offices-item__title_green:after {
	background: #0db04a;
}

.contact-offices-item__title_blue:after {
	background: #009fdc;
}

.region-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 45px;
	padding: 0 40px;
}

@media (--smMinus) {
	.region-list {
		padding: 0 20px;
		margin-top: 20px;
	}
}

.region-list__col {
	flex-basis: 50%;
}


.region-list__link {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 17px;
	color: #19191a;
	position: relative;
	text-decoration: none;
	transition: color 0.4s ease-in;
	margin: 5px 0;
	opacity: 0.8;
}

.region-list__link span:hover:after {
	width: 0;
}

.region-list__link:hover {
	color: #2b2634;
	opacity: 1;
}

.region-list__link span:after {
	content: '';
	width: 100%;
	bottom: 0px;
	display: block;
	left: 0;
	background: #dddddd;
	height: 1px;
	transition: width 0.4s ease-in;
}

.region-list__col {
	display: flex;
	flex-direction: column;
}

@media (--smMinus) {
	.region-list__col {
		flex-basis: 100%;
	}
}

.region-list__link span {
	float: left;
}

.overlay {
	/*opacity: 0;*/
	position: absolute;
	height: 63px;
	background: red;
	color: #ffffff;
	padding: 13px 30px;
	border-radius: 30px;
	left: 0;
	top: -32px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 12px;
}

.region-item {
	display: none;
}

.region-item__text {
	padding: 0 40px;
}

.close-region-office {
	position: absolute;
	right: 55px;
	top: 30px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 30px;
	display: none;
}

@media (--mdMinus) {
	.close-region-office {
		right: 40px;
	}
}

@media (--smMinus) {
	.close-region-office {
		right: 20px;
	}
}


.close-region-office:hover {
	cursor: pointer;
}

.contacts-header-links__item {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #b51827;
	position: relative;
	text-decoration: none;
	transition: color 0.4s ease-in;
	margin: 0 15px;
}

@media (--mdMinus) {
	.contacts-header-links__item {
		margin: 0 4px;
		font-size: 13px;
	}
}

.contacts-header-links__item span {
	position: relative;
	transition: color 0.4s ease-in;
	margin-left: 10px;
}

@media (--mdMinus) {
	.contacts-header-links__item span {
		margin-left: 4px;
	}
}

.contacts-header-links__item span:hover:after {
	width: 0;
}

.contacts-header-links__item:hover {
	color: #2b2634;
}

.contacts-header-links__item span:after {
	content: '';
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0;
	background: #b51827;
	opacity:0.2;
	height: 1px;
	transition: width 0.4s ease-in;
	display: flex;
}

.contacts-header-links {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-wrap: wrap;
}

@media (--smMinus) {
	.contacts-header-links {
		margin-left: 0;
		padding: 0 20px;
	}
}

.contacts-header-inner {
	display: flex;
	justify-content: space-between;
	@media(--sm) {
		margin-top: 20px;
	}
	@media(--xs) {
		margin-top: 0;
	}
}

.contacts-header-links__item {
	display: flex;
	align-items: center;
}

@media (--smMinus) {
	.contacts-header-links__item {
		flex-basis: 100%;
		margin: 5px 0;
	}
}

.contacts-header-links__item_ynav:before {
	content: '';
	width: 30px;
	height: 30px;
	display: block;
	background: url("../img/contacts/ya-nav.svg") no-repeat;
	background-size: contain;
}


.contacts-header-links__item_ymap:before {
	content: '';
	width: 30px;
	height: 30px;
	display: block;
	background: url("../img/contacts/ya-map.svg") no-repeat;
	background-size: contain;
}


.contacts-header-links__item_gmap:before {
	content: '';
	width: 30px;
	height: 30px;
	display: block;
	background: url("../img/contacts/g-map.svg") no-repeat;
	background-size: contain;
}

.contacts-header-links_disable {
	opacity: 0;
	visibility: 0;
}

.contacts-header-links__tablet {
	display: none;
}

@media (--lgMinus) {
	.contacts-header-links__desktop {
		display: none;
	}

	.contacts-header-links__tablet {
		display: block;
	}
}

@media (--smMinus) {
	.contacts-header-links__desktop {
		display: block;
	}

	.contacts-header-links__tablet {
		display: none;
	}
}

.office-center-links {
	display: none;
}

.contact-form-link {
	padding: 0 40px;
	margin: 25px 0 15px;

	a {
		transition: ease .3s all;
		color: #b51827;
		display: inline-block;
		border-bottom: solid 1px rgba(181, 24, 39, .2);
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 15px;
		line-height: 1;

		&:hover {
			border-bottom-color: transparent;
		}
	}

	+ .contact-offices-item__text {
		margin-top: 0;
	}

	@media (--smMinus) {
		padding: 0 20px;
	}
}

.contact-team {
	height: calc(100vh - 345px);
	padding: 50px 20px 0 40px;
	@media (--mdMinus) {
		height: auto;
		display: flex;
		flex-wrap: wrap;
		padding-top: 60px;
	}
	@media (--smMinus) {
		padding: 50px 20px 20px;
	}
	&-item {
		 display: flex;
		 align-items: center;
		 margin-bottom: 20px;
		@media (--mdMinus) {
			flex-direction: column;
			align-items: flex-start;
			width: 50%;
			margin-bottom: 30px;
		}
		@media (--smMinus) {
			width: 100%;
			align-items: center;
		}
		&__img {
			 width: 120px;
			 height: 120px;
			 border-radius: 50%;
			 margin-right: 30px;
			 overflow: hidden;
			@media (--mdMinus) {
				margin: 0 0 10px;
			}
			& img {
				display: block;
			}
		}
		&__txt {
			 width: calc(100% - 150px);
			font: 15px/23px 'Roboto';
			@media (--mdMinus) {
				width: 100%;
			}
			@media (--smMinus) {
				text-align: center;
			}
		}
		&__name {
			margin-bottom: 4px;
			font-weight: bold;
			color: #19191a;
		 }
		&__post {
			margin-bottom: 1px;
			color: #19191a;
		}
		&__mail {
			display: inline-block;
			font-size: 14px;
			line-height: 21px;
			color: #B51827;
			 white-space: nowrap;
			@media (--smMinus) {
				font-size: 13px;
				line-height: 20px;
			}
		 }
	}
}