.furnish-page {
    height: calc(100vh - 70px);
    position:relative;

    @media(--lgMinus) {
        max-height:700px;
    }

    @media(--mdMinus) {
        max-height:550px;
    }

    @media(--sm) {
        height: calc(60vh - 70px);
    }
    @media(--xs) {
        height: calc(60vh - 70px);
    }

    &__title {
        & h1 {
              font-family: 'Roboto', sans-serif;
              font-size: 14px;
              color:#ffffff;
              text-transform: uppercase;
              position: absolute;
              z-index: 5;
              width:100%;
              text-align: center;
              padding-top: 35px;

            @media(--sm) {
                padding:35px 20px 0 20px;
                text-align:left;
            }
            @media(--xs) {
                padding:35px 20px 0 20px;
                text-align:left;
            }
        }
    }

    &__back {
         position: absolute;
         right:55px;
         top:35px;
         z-index:5;

        @media(--mdMinus) {
            right:40px;
        }

        @media(--sm) {
            right:20px;
        }

        @media(--xs) {
            right:20px;
        }
    }
}

.furnish-page-components {
    height:100%;

    &__item {
         background-repeat: no-repeat;
         background-position: center center;
         background-size: cover;
         height:100%;
         overflow: hidden;
         position:relative;

        &:after {
             content:'';
             position: absolute;
             bottom:0;
             left:0;
             width:100%;
             height:100%;
             z-index: 3;
             box-shadow: inset 0 -120px 50px -10px rgba(0,0,0, 0.5);
        }
    }

    &__pagination {
         position: absolute;
         width:100%;
         padding-bottom: 20px;
         bottom:0;
         margin-bottom: 30px;
         left:0;
         z-index: 4;
         display: flex;
         justify-content: center;

        @media(--lgMinus) {
            overflow-x: auto;
            bottom:0 !important;
            margin-bottom:0;
            justify-content: space-between;
        }

        &:after {
             content:'';
             position: absolute;
             width:100%;
             height:1px;
             background: #a5a3a5;
             bottom:0;
             left:0;

            @media(--lgMinus) {
                display:none;
            }
        }
    }


    &__link {
         width:auto;
         height:auto;
         border-radius: 0;
         font-family: 'Roboto', sans-serif;
         font-size: 23px;
         font-weight: 300;
         background: transparent;
         color:#ffffff;
         opacity: 1;
         display:block;
         position:relative;

         outline:none;

        @media(--lgMinus) {
            font-size: 17px;
        }
        @media(--sm) {
            font-size: 16px;
        }
        @media(--xs) {
            font-size: 16px;
        }

        &.swiper-pagination-bullet-active {
            color:#a5a3a5;
            &:after {
                 content:'';
                 position: absolute;
                 width:100%;
                 height:3px;
                 bottom:-20px;
                 left:0;
                 background: #ffffff;
            }
        }
    }

}

.furnish-page-components > .swiper-pagination-bullets .swiper-pagination-bullet  {
    margin:0 30px;

    @media(--sm) {
        margin: 0 15px;
    }
    @media(--xs) {
        margin: 0 15px;
    }
}


.furnish-labels {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    @media(--sm) {
        display:none;
    }
    @media(--xs) {
        display:none;
    }

    &__item {
         height:27px;
         width:27px;
         background: url("../img/flats-furnish/plus.svg") no-repeat;
         position: absolute;
         z-index: 10;
         transition: transform 0.2s ease;

        &:hover {
             transform: scale(1.2);
        }
    }

    &__content {
         display: none;

        @media(--sm) {
            margin-top:20px;
            display:block;
        }
        @media(--xs) {
            margin-top:20px;
            display:block;
        }
    }

    &__tooltip {
         max-width:100%;
         background: #ffffff;
    }

    &__row {
         display: flex;
         overflow: hidden;

        & img {
            display: block;
        }
        & p {
            line-height: 1.2;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 15px;
            margin: 2px 0;

            & span {
                  font-weight: 600;
            }
        }

        @media(--sm) {
            flex-wrap:wrap;
        }
        @media(--xs) {
            flex-wrap:wrap;
        }
    }

    &__col {

        @media(--sm) {
            margin-bottom:20px;
        }
        @media(--xs) {
            margin-bottom:20px;
        }


        &:nth-child(2n+1) {
            @media(--sm) {
                width:30%;
            }
            @media(--xs) {
                width:30%;
            }
        }

        &:nth-child(2n) {
            display: flex;
            align-items: center;

            @media(--sm) {
                width:70%;
            }
            @media(--xs) {
                width:70%;
            }
        }


    }

    &__text {
         padding: 20px 60px 20px 20px;

        @media(--sm) {
            padding: 0 0 0 20px;
        }
        @media(--xs) {
            padding: 0 0 0 20px;
        }
    }
}

.tooltip-label {
    padding:0;
    & p {
          line-height: 1.2;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 15px;

    & span {
          font-weight: 600;
      }
    }
}

.furnish-electric {
    align-items: center;
    height: 100%;
    display: flex;

    @media(--sm) {
        display:none;
    }

    @media(--xs) {
        display:none;
    }


    &-inner {
         flex-wrap: wrap;
         background:#ffffff;
         max-width: 945px;
         margin:auto;
         padding:15px 70px;
         display: flex;
         box-shadow: 0px 8px 19px 1px rgba(0,0,0, 0.3);

        @media(--sm) {
            max-width:100%;
            padding:60px 20px 30px;
            box-shadow:none;
        }
        @media(--xs) {
            max-width:100%;
            padding:60px 20px;
            padding:60px 20px 30px;
            box-shadow:none;
        }
    }

    &__item {
         width:50%;
         align-items: center;
         display: flex;
         margin:17px 0;

        &:nth-child(2n) {
             padding-left:15px;

            @media(--sm) {
                padding-left:0;
            }
            @media(--xs) {
                padding-left:0;
            }
        }

        @media(--sm) {
            width:100%;
        }
        @media(--xs) {
            width:100%;
        }
    }

    &__text {
         max-width: 200px;
         padding-left: 30px;

        & p {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            line-height: 1.3;
            font-size: 15px;

            & span {
                  font-weight: 700;
            }
        }
    }
}

.furnish-components-mobile .furnish-labels__content {
    display:block;

}

.furnish-components-mobile.ui-accordion .ui-accordion-content {
    border-top: 0;
    overflow: auto;

    @media(--sm) {
        padding: 0 20px;
    }
    @media(--xs) {
        padding: 0 20px;
    }

}

.furnish-components-mobile {
    display:none;

    &_active {
         display:block;

    }

    @media(--mdPlus) {
        display:none;
    }

    &__title {
         background: #f6f6f6;
         outline: none;
    }

}

.furnish-components-mobile.ui-accordion .ui-accordion-header {
    padding:20px;
    margin: 0;

}

.ui-icon-minus {
    background: url("../img/flats-furnish/minus.svg") no-repeat !important;
    width:27px;
    height:27px;
    margin-right: 15px;
}


.ui-icon-plus {
    background: url("../img/flats-furnish/plus.svg") no-repeat !important;
    width:27px;
    height:27px;
    margin-right: 15px;
}

.ui-icon-pl {
    background: url("../img/flats-furnish/plus.svg") no-repeat !important;
    width:27px;
    height:27px;
    margin-right: 15px;
}

.ui-icon-mn {
    background: url("../img/flats-furnish/minus.svg") no-repeat !important;
    width:27px;
    height:27px;
    margin-right: 15px;
}

.furnish-components-mobile .furnish-electric {
    display:block;
}

