.home-banner {
    height: calc(100vh - 70px);
    position: relative;
    z-index: 9;

    &-list {
        &__item {
            background-size: cover;
            background-position: center center;
            position: relative;
            background-repeat: no-repeat;
            font-size: 18px;
            display: flex;
            align-items: flex-end;
            padding: 0 55px 175px;

            @media(--mdMinus) {
                padding: 0 40px 150px;
            }

            @media(--smMinus) {
                padding: 0 20px 90px;
            }

            @media(--xs) {
                padding: 0 20px 100px;
            }

            &:after {
                 content:'';
                 position: absolute;
                 width:100%;
                 height:100%;
                 left:0;
                 top:0;
                 background: rgba(255,255,255,0);
                 background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(248,80,50,1) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4) 100%);
                 background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(255,255,255,0)), color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,0.4)));
                 background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(248,80,50,1) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4) 100%);
                 background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(248,80,50,1) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4) 100%);
                 background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(248,80,50,1) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4) 100%);
                 background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(248,80,50,1) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4) 100%);
                 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );

            }
        }
    }

    &__sticker {
        position: absolute;
        z-index: 10;
        color: #fff;
        background: #b51827;
        padding: 12px 14px;
        right: 0;
        top: calc(50% * 0.8);
        transform: translateY(-50%);
        border-radius: 30px 0 0 30px;
        display: none;
        @media(--smMinus) {
            display:block;
        }
    }

}


.home-banner .swiper-container {
    width: 100%;
    height: 100%;
}



.home-banner .swiper-container-horizontal>.swiper-scrollbar {
    width: 150px;
    bottom: 115px;
    opacity: 1 !important;
    left: 55px;
    background: transparent;
    height: 50px;
    /*border-bottom: 1px solid #ffffff;*/
    position: relative;
    transition: opacity 0.2s ease;

    @media(--mdMinus) {
        position: absolute;
        bottom: 85px;
        left: 40px;
    }

    @media(-sm) {
        bottom: 50px;
        left: 20px;
    }
    @media(--xs) {
        bottom: 50px;
        left: 20px;
    }

    &_hidden {
         opacity:0 !important;
         transition: opacity 0.2s ease;
    }
}

.home-banner .swiper-container-horizontal>.swiper-scrollbar:hover {
    cursor: pointer;
}



.home-banner .swiper-container-horizontal>.swiper-scrollbar:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #ffffff;
    top: 50%;
    left: 0;
}

.home-banner .swiper-scrollbar-drag {
    background: #b51827;
    height: 3px;
    top: 24px;
    z-index: 10;
}




.home-banner__date {
    position: absolute;
    right: 36px;
    top: 135px;
    background: #b31b2c url("../img/icon-key.svg") no-repeat 21px center;
    padding: 13px 17px 14px 65px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    z-index: 10;
    text-align: right;
    line-height: 1;
    font-size: 15px;
    color: #fff;
    letter-spacing: -0.5px;
    transition: all 0.3s ease;

    @media(--mdMinus) {
        right: 0;
    }

    & span {
        display: block;
        font-weight: 700;
        font-size: 18px;
        color: #fff;
        letter-spacing: normal;
        text-align: right;
    }

    /*&_hidden {
        opacity:0;
        transition: opacity 0.2s ease;
    }*/
}

.timer + .home-banner__date {
    top:180px;
}

.home-banner__discount {
    position: absolute;
    top: 214px;
    right: 25px;
    background: #b51827;
    width: 231px;
    height: 52px;
    padding: 7px 30px 0;
    color: #929292;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    z-index: 10;
    color: #fff;
    border-radius: 26px;
    text-align: right;
    line-height: 1.2;
    font-size: 18px;
    transition: opacity 0.2s ease;

    @media(--mdMinus) {
        right: 0;
        border-radius: 30px 0 0 30px;
    }

    & span {
        display: block;
        font-size: 14px;
        text-align: right;
        color: #fff;
    }
    &Icon {
        position: absolute;
        left: 38px;
        top: 6px;
    }
}



.home-banner-list__text {
    font-family: 'Affect';
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1;
    color: #ffffff;
    position: relative;
    z-index:20;

    @media(--sm) {
        font-size: 28px;
    }

    @media(--xs) {
        font-size: 28px;
    }
    &._link {
         z-index: 22;
    }
}

.home-banner-list__textsmall {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color:#ffffff;
    text-transform: none;
    text-decoration: underline;
}



.home-banner-list__text {
    opacity: 0;
    /*margin-left: 5%;*/
    transform: translateX(2em);
    transition: opacity 1s ease, transform 1s ease;
}

.swiper-slide-active .home-banner-list__text {
    opacity: 1;
    transform: translateX(0);
    transition-delay: .5s;
}

.home-banner__scrolling {
    background: url("../img/icon_scroll.svg") no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -25px;
    z-index: 11;
    transition: opacity 0.2s ease;
    @media(--mdMinus) {
        display: none;
    }

    &_hidden {
        opacity:0;
        transition: opacity 0.2s ease;
    }
}


.btn-border {
    display: block;
    width: 216px;
    height: 70px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;




    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.4s ease, border 0.4s ease;

    @media(--mdMinus) {
        display: none;
    }

    &_dark {
        color: #22282f;
        border-color: #22282f;
    }
}

.btn-border:hover {
    background: #b51827;
    border: 1px solid #b51827;
    color: #fff;
}

.btn-border_arrow:after {
    content: '';
    background: url("../img/arrow_more.svg") no-repeat;
    display: block;
    width: 30px;
    height: 15px;
    margin-left: 20px;
}


.main-about-complex-wrap {
    margin: 0px 0 -40px 0;
    padding: 50px 0;
    background:#f1f1f4;
    overflow: hidden;
    position:relative;

    &:before {
        content: "";
        background: url(../img/index/pattern-furnish.svg) repeat-y;
        width: 130px;
        position: absolute;
        right: 56px;
        top: 0;
        height: 100%;
        transform: scale(1, -1);
        @media(--mdMinus) {
            right:-20px;
        }
    }
    @media(--mdMinus) {
        margin: 0;
    }
}


.main-about-complex {
    padding: 0 85px;
    position:relative;
    @media(--mdMinus) {
        padding: 0 40px;
    }
    @media(--sm) {
        padding: 0;
    }
    @media(--xs) {
        padding: 0;
    }
}



.main-about-complex__title {
    font-family: Affect;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #22282f;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    padding-bottom: 30px;

    @media(--mdMinus) {
        font-size:38px;
    }
    @media(--sm) {
        font-size: 30px;
        padding-bottom: 23px;
    }
    @media(--xs) {
        font-size: 30px;
        padding-bottom: 23px;
    }
}


.main-about-complex__title:after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #b51827;
    position: absolute;
    bottom: 0;
    left: 50%;
    left: 50%;
    margin-left: -25px;
}

.main-about-complex__text {
    color: #22282f;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    max-width: 696px;
    margin:33px auto 0;

    @media(--mdMinus) {
        margin:24px auto 0;
    }

    @media(--sm) {
        margin:23px auto 0;
    }
    @media(--xs) {
        margin:23px auto 0;
    }
}

.main-about-complex__text p {
    margin: 5px 0;
    line-height: 1.5;
}

.main-section {
    margin: 100px 0;

    @media(--mdMinus) {
        margin: 50px 0;
    }

    @media(--xs) {
        margin: 40px 0;
    }

    &:last-child {
        margin-bottom: 80px;
        @media(--mdMinus) {
            margin-bottom: 30px;
        }
    }

    &_full-width {
        padding: 95px 0 60px 0;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;

        @media(--xs) {
            padding: 45px 0 65px 0;
        }
    }

    &_furnish {
        &:before {
            content:'';
            background: url("../img/index/pattern-furnish.svg") repeat-y;
            width:130px;
            position: absolute;
            left:57px;
            top:0;
            height:100%;

            @media(--mdMinus) {
                left:-75px;
            }
            @media(--sm) {
                display:none;
            }
            @media(--xs) {
                display:none;
            }
        }
    }

}

.main-section-title {
    font-family: Affect;
    font-size: 40px;
    text-transform: uppercase;
    color: #b51827;
    position: relative;
    padding-bottom: 23px;
    line-height: 1;


    & span {
        display:block;
        color:#22282f;
    }

    &:before {
         content:'';
         display:block;
         width:40px;
         height:40px;
         background-size: contain;
         background-repeat: no-repeat;
         margin-bottom: 14px;
    }

    @media(--mdMinus) {
        max-width:100%;
    }

    @media(--sm) {
        font-size:30px;
    }
    @media(--xs) {
        font-size:30px;
    }


    &_location {
        max-width:371px;

        &:before {
            background-image: url("../img/index/pattern-location.svg");
        }

        @media(--mdMinus) {
            margin-top: 0px;
            max-width:100%;
        }
        @media(--xs) {

        }
    }
    &_security {
        max-width:323px;
        padding-bottom:36px;

        &:before {
             background-image: url("../img/index/pattern-security.svg");
        }

        @media(--mdMinus) {
            margin-top: 0px;
            max-width:100%;
        }
        @media(--xs) {

        }
    }
    &_design {
         max-width:300px;
         padding-bottom:36px;

        &:before {
            background-image: url("../img/index/pattern-design.svg");
        }

        @media(--mdMinus) {
            margin-top: 0px;
            max-width:100%;
        }
        @media(--xs) {

        }
    }
    &_technology {
         max-width:416px;
         padding-bottom:31px;

        &:before {
            background-image: url("../img/index/pattern-technology.svg");
        }

        @media(--mdMinus) {
            margin-top: 0px;
            max-width:100%;
        }
        @media(--xs) {

        }
    }
    &_furnish {
        font-size:50px;
        margin-left: 71px;
        max-width:283px;
        &:before {
            display:none;
        }
        @media(--mdMinus) {
            margin-left: 0px;
        }
        @media(--sm) {
            font-size:40px;
        }
        @media(--xs) {
            font-size:40px;
        }
    }

    &__textsmall {
        display: inline-block;
        margin-top: 15px;
        font-size: 16px;
        line-height: 1.4;
        color: #fff;
        text-decoration: underline;
        text-transform: none;
        &._prices {
            color: #22282f;
        }
    }


}



.main-section-title_dark:after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #b51827;
    position: absolute;
    bottom: 0;
}

.main-section-title_light {
    color: #ffffff;
}







.main-section__row {
    display: flex;
    flex-wrap: wrap;
}

.main-section__col {
    width: 50%;
    position: relative;

    @media(--mdMinus) {
        width: 100%;
        flex-direction: row;
    }

    &_flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }

    &_first {
        order: 1;
    }

    &_tablet-last {
        @media (--mdMinus) {
            order: 2;
        }
    }

    &_second {
        order: 2;
    }

    &_location {
         display:flex;
         align-items:center;
    }

    &_design {
         display:flex;
         align-items:center;
    }

    &_security {
        padding-left: 100px;
        display:flex;
        align-items:center;

        @media(--mdMinus) {
            padding-left: 0;
        }
    }

    &_tablet-reverse {
        @media (--mdMinus) {
            order: 2;
        }
    }

    &_technology {
        padding-left: 100px;
        display:flex;
        align-items:center;
        @media(--mdMinus) {
            padding-left: 0;
        }
    }

    &_left {
        padding-top: 70px;
    }


    &_furnish {
        padding-left: 100px;

        &:nth-child(2) {
            @media(--mdMinus) {
                padding-left:52px;
            }
            @media(--sm) {
                margin-bottom:0px;
                padding-left:0px;
            }
            @media(--xs) {
                margin-bottom:0px;
                padding-left:0px;
            }
        }

        @media(--mdMinus) {
            padding-left: 0px;
            padding-right: 0px;
            width:50%;
        }

        @media(--sm) {
            width:100%;
        }
        @media(--xs) {
            width:100%;
        }
    }
}





.main-section__text {
    max-width:485px;
    & p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 17px;
        line-height: 1.65;
        color: #19191a;
    }

    &_light {
        & p {
           color: #ffffff;
        }
    }
    &_location {
        margin-top: 19px;
        @media(--mdMinus) {

        }
        @media(--sm) {
            margin-top:0;
        }
        @media(--xs) {
            margin-top:0;
        }

        & p {
              font-family: 'Roboto', sans-serif;
              font-weight: 300;
              color:#313b45;
          }
    }

    &_security {
        margin-top: 25px;
    }

    &_design {
        margin-top: 29px;
        @media(--sm) {
            margin-top:0;
        }
        @media(--xs) {
            margin-top:0;
        }
    }
    &_technology {
         margin-top: 24px;
    }

     @media(--mdMinus) {
         max-width:400px;
     }

     @media(--mdMinus) {
         max-width:100%;
     }
}

.list-wrap {
    margin-top: 30px;
    @media(--mdMinus) {
        margin-top:50px;
    }
}

.list {
    & li {
        list-style: none;
        color: #22282f;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 17px;
        margin-bottom: 10px;
        position: relative;
        line-height: 1.5;
        padding-left: 17px;

        &:last-child {
            margin-bottom:0;
        }
    }
    &_index {
         margin-top:13px;
        & li {
              padding-left: 15px;
              margin-bottom: 10px;
        &:before {
             content:'';
             width: 5px;
             height: 5px;
             background-color: #b51827;
             display:block;
             position: absolute;
             left:0;
             top:10px;
         }
        }
    }

    &_white {
        & li {
            color: #fff;
        }
    }
    &_longreadApps {
        margin-top: 15px;
        & li {
            padding-left: 15px;
            margin-bottom: 5px;
            &:before {
                 content:'';
                 width: 5px;
                 height: 5px;
                 background-color: #b51827;
                 display:block;
                 position: absolute;
                 left:0;
                 top:10px;
            }
        }
    }
}



.list_line li {
    /*padding-left: 50px;*/
    color: #ffffff;


    &:before {
        content: '';
        background: #ffffff;
        position: absolute;
        left: 0px;
        top: 14px;
        width: 10px;
        height: 1px;

    }
}


.list_circle {
    margin-bottom: 15px;
}

.list_circle li {
    /*padding-left: 15px;*/
    @media(--mdMinus) {
        padding-left: 18px;
    }

    &:before {
        content: '';
        background: #b51827;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        position: absolute;
        top: 9px;
        left: -15px;

        @media(--mdMinus) {
            left: 0px;
        }
    }
}


.list_mobile {




    @media(--mdMinus) {
        display: flex;
        flex-wrap: wrap;
    }

    @media(--xs) {
        display: block;
    }

    & li {
          flex-basis: 50%;
    }
}


.list_2col {




    display: flex;
    flex-wrap: wrap;
}

.list_2col li {
    flex-basis: 50%;
}

.main-section-img-wrapper {
    position: relative;
}

.main-section-img {
    height: 546px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;

    @media(--mdMinus) {
        height: 546px;
    }

    @media(--xs) {
        height: 250px;
    }
}


.main-section-img-wrapper_sub-right:after {
    content: "";
    position: absolute;
    bottom: -25px;
    right: -25px;
    top: initial;
    height: 230px;
    width: 230px;
    z-index: 8;
    background: #b51827;

    @media(--mdMinus) {
        display: none;
    }
}


.main-section-img-wrapper_sub-left:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: -25px;
    top: initial;
    height: 230px;
    width: 230px;
    z-index: 8;
    background: #b51827;
}


@media (--mdMinus) {
    .main-section-img-wrapper_sub-left:after {
        display: none;
    }
}



.main-section-img_mobile {
    display: none;
}

@media (--mdMinus) {
    .main-section-img_mobile {
        display: block;
    }
}

@media (--mdMinus) {
    .main-section-img_desktop {
        display: none;
    }
}

.main-section-img_mobile {
    display: none;
}

@media (--mdMinus) {
    .main-section-img_mobile {
        display: block;
    }
}

.main-section__select-room-btn {
    margin: 20px 0 50px 0;
    @media(--sm) {
        order:2;
        margin: 40px 0 10px 0;
        width:100%;
    }
    @media(--xs) {
        order:2;
        margin: 40px 0 10px 0;
        width:100%;
    }
}


.btn-border_select-room {
    max-width: 216px;

    @media(--mdMinus) {
        display: flex;
    }
    @media(--sm) {
        width:100%;
        max-width:280px;
        margin: 0 auto;

    }
    @media(--xs) {
        width:100%;
        max-width:280px;
        margin: 0 auto;
    }
}




.btn-more {
    width: 70px;
    height: 70px;
    background: #22282f;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    margin-top:-35px;
    right: -40px;
    z-index: 50;
    overflow: hidden;

    @media(--mdMinus) {
        width:70px;
        height:70px;
    }

    & span {
        opacity: 0;
        visibility: hidden;
        color: #ffffff;
        display: block;
        width: 0;
        transition: opacity 0.3s;
        transition-delay: 0.3s;
        z-index: 50;
    }

    &:hover {
        width: 215px;
        &:before {
            width: 100%;
        }
        @media(--xs) {
            width: 70px;
        }
    }
    &:active {
       width: 215px;
        &:before {
            width: 100%;
        }
        @media(--xs) {
            width: 70px;
        }
    }
    &.btn-more_hover {
        width: 215px;
        &:after {
           content: '';
           background: url("../img/arrow_more.svg") no-repeat;
           position: absolute;
           top: 50%;
           margin-top: -7.5px;
           right: 20px;
           width: 30px;
           height: 15px;
        }
        &:before {
           content: '';
           background: #b51827;
           position: absolute;
           top: 0;
           right: 0;
           width: 0;
           height: 100%;
           transition: all 0.3s ease;
         }
        @media(--xs) {
            width: 70px;
        }
    }

    &:after {
        content: '';
        background: url("../img/arrow_more.svg") no-repeat;
        position: absolute;
        top: 50%;
        margin-top: -7.5px;
        width: 30px;
        height: 15px;
        right:20px;
        @media(--mdMinus) {
            right:20px;
        }
        @media(--sm) {
            right:20px;
        }
        @media(--xs) {
            right:20px;
        }

    }
    &:before {
       content: '';
       background: #b51827;
       position: absolute;
       top: 0;
       right: 0;
       width: 0;
       height: 100%;
       transition: all 0.3s ease;
    }

}




.btn-more:hover>span,
.btn-more_hover>span {
    opacity: 1;
    visibility: visible;
    width: auto;
    margin-right: 20px;
    @media(--xs) {
        opacity:0;
        visibility:hidden;
    }
}


.btn-more_mobile {
    display: none;
    @media(--mdMinus) {
        display: flex;
        top: -35px;
        right: 40px;
        margin-top:0;
    }
    @media(--sm) {
        right:20px;
    }
    @media(--xs) {
        right:20px;
    }
}

.btn-more_desktop {
    @media (--mdMinus) {
        display: none;
    }
}



.br-mobile {
    display: none;
}

.br-tablet {
    display: none;
}

.br-desktop {
    display: block;
}

@media (--lgMinus) {
    .br-desktop {
        display: none;
    }
}

@media (--lgMinus) {
    .br-tablet {
        display: block;
    }
}



@media (--xs) {
    .br-tablet {
        display: none;
    }

    .br-mobile {
        display: block;
    }
}



@media (--smMinus) {
    .main-section__col_mobile-grid {
        display: flex;
        flex-direction: column;
    }
}



.mobile-order-title {
    @media(--xs) {
        order: 1;
    }

}

@media (--xs) {

    .mobile-order-title2 {
        order: 2;
    }

}

.mobile-order-text {
    @media(--mdMinus) {
        order:2;
    }

    @media(--sm) {
       order: 3;
       margin-top:19px;
    }

    @media(--xs) {
        order: 3;
        margin-top:19px;
    }
}

.mobile-order-text2 {
    @media(--mdMinus) {
        order:2;
    }
    @media(--xs) {
        order: 3;
    }
}

.mobile-order-img {

    @media(--mdMinus) {
        order:3;
        margin-top: 50px;
    }



    & .main-section-img_mobile {
        /*@media(--mdMinus) {*/
            /*margin-top: 50px;*/
        /*}*/
        /*@media(--sm) {*/
            /*margin-top: 50px;*/
        /*}*/
        /*@media(--xs) {*/
            /*margin-top: 50px;*/
        /*}*/
    }
}

.mobile-order-img2 {
    @media(--mdMinus) {
        order:2;
        margin-top: 50px;
    }


    & .main-section-img_mobile {
        @media(--xs) {
            position: relative;
        }
    }
}

.video-about-btn {
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 40px;
    left: 55px;
    z-index: 10;
    display: flex;
    align-items: center;
    outline: none;
    text-shadow: 0 0 5px rgba(0,0,0,.25);

    &:before {
        content: '';
        display: block;
        width: 45px;
        height: 45px;
        background: url("../img/play_shadow.svg") no-repeat;
        margin-right: 10px;
    }

    & span {
        @media(--sm) {
            display: none;
        }
        @media(--xs) {
            display: none;
        }
    }

    @media(--mdMinus) {
        left: 40px;
    }

    @media(--sm) {
        left: 20px;
        top: 50px;
    }
    @media(--xs) {
        left: 20px;
        top: 50px;
    }
}

.live-foto-index {
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 40px;
    left: 283px;
    z-index: 10;
    display: flex;
    align-items: center;
    outline: none;
    text-shadow: 0 0 5px rgba(0,0,0,.25);

    &:before {
         content: '';
         display: block;
         width: 45px;
         height: 45px;
         background: url("../img/icon_live_foto_shadow.svg") no-repeat center;
         margin-right: 10px;
     }

    & span {
        @media(--sm) {
            display: none;
        }
        @media(--xs) {
            display: none;
        }
    }

    @media(--mdMinus) {
        left: 40px;
        top: 96px;
    }

    @media(--sm) {
        left: 20px;
        top: 106px;
    }
    @media(--xs) {
        left: 20px;
        top: 106px;
    }
}


@media (--mdMinus) {
    .video-about-modal-inner {}
}


@media (--xs) {
    .video-about-modal-inner {
        width: 100%;
        height: 250px;
    }
}

@media (--smMinus) AND (orientation: landscape) {
    .video-about-modal-inner {
        width: 65%;
        height: 200px;
    }
}

.close-gallery_video {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    top: 0;
    right: 0px;
    width: auto;
    height: auto;
}

@media (--mdMinus) {
    .close-gallery_video {
        display: none;
    }
}

.video-about-modal__play {
    background: url("../img/play-video.svg") no-repeat center center;
    background-size: contain;
    color: #fff;
    border: none;
    outline: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    width: 100px;
    height: 100px;
    z-index: 100;
}

.video-about-modal__play:hover {
    cursor: pointer;
}

.video-about-modal .fancybox-content {
    height: 450px;
    width: 800px;
    position: relative;

    @media(--sm) {
        height:100%;
        width:100%;
        max-width:100%;
        max-height:100%;
        margin:0;
    }
    @media(--xs) {
        height:100%;
        width:100%;
        max-width:100%;
        max-height:100%;
        margin:0;
    }

}

.timer {
    padding:20px;
    background: #ffffff;
    position: absolute;
    right:35px;
    top:20px;
    z-index: 10;
    border-radius: 4px;
    width: 205px;
    box-shadow: 0px 20px 30px 0px rgba(43, 38, 52, 0.4);
    &:before {
         content:'';
         width: 64px;
         height: 1px;
         background: #f8b470;
         position: absolute;
         bottom:37px;
         left:0;
         display: block;
    }
    @media(--mdMinus) {
        right:20px;
    }
    @media(--xs) {
        right:0px;
        border-radius: 4px 0 0 4px;
    }

    &__row1 {
         font-family: 'Roboto', sans-serif;
         font-size: 14px;
         font-weight: 600;
         color:#120e13;
         text-align: right;
    }

    &__row2 {
         font-family: 'Roboto', sans-serif;
         font-size: 14px;
         font-weight: 400;
         color:#120e13;
         text-align: right;
    }

    &__row3 {
         font-family: 'Playfair Display';
         font-size: 60px;
         color:#120e13;
         font-weight: 900;
         text-align: right;
         margin-top: -20px;
    }

    &__row3 span {
         font-family: 'Roboto', sans-serif;
         font-size: 18px;
         font-weight: 500;
         color:#120e13;
         padding-left: 10px;
    }
    &__link {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
    }
    &__time {
        opacity:0;
    }
}



.home-banner-list__link {
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    z-index: 21;
}

.main-flatsMinPrices {
    margin: 85px 0 15px;
    @media (--mdMinus) {
        margin: 100px 0 -20px;
    }
    @media (--smMinus) {
        margin-top: 65px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        max-width: 1010px;
        width: 100%;
        margin: 0 auto;
        @media (--mdMinus) {
            max-width: 512px;
            flex-flow: row wrap;
        }
        @media (--smMinus) {
            max-width: 200px;
        }

        &Item {
            width: 200px;
            margin-bottom: 45px;
            text-align: center;
            @media (--mdMinus) {
                margin: 0 28px 65px;
            }
            @media (--smMinus) {
                margin: 0 0 55px;
            }
        }

        &ImgBox {
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 38px;
            @media (--smMinus) {
                height: auto;
            }
            & a {
                width: 100%;
                height: 100%;
            }
        }

        &Img {
             max-width: 200px;
             max-height: 200px;
             width: 100%;
             height: 100%;
             object-fit: contain;
         }

        &Name {
             font: 17px/1 'Affect';
             color: #22282f;
             text-transform: uppercase;
             margin-bottom: 24px;
        }

        &Price {
             font: 17px/1 'Proxima Nova Regular';
             color: #22282f;
             margin-bottom: 15px;
        }

        &Sqr {
             font: 300 17px/1 'Proxima';
             color: #171718;
        }
    }

    &__glow {
         font-family: 'Proxima Nova Bold';
         color: #b51826;
    }
}

.main-section-title_flatsMinPrices {
    padding-bottom: 37px;
    margin: 0 60px 63px;
    text-align: center;
    @media (--mdMinus) {
        padding-bottom: 40px;
        margin-bottom: 60px;
    }
    @media (--smMinus) {
        padding-bottom: 30px;
        margin: 0 20px 60px;
        text-align: left;
    }
    &:before {
        display: none;
    }
    &:after {
        left: 50%;
        transform: translateX(-50%);
        @media (--smMinus) {
            left: 0;
            transform: translateX(0);
        }
    }
}

.banner-slide {
    &__content306 {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url('../img/indexSlides/sl1_bg.jpg');
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: auto 82%;
        @media (--lgMinus) {
            background-position: calc(100% + 190px) 100%;
        }
        @media (--mdMinus) {
            background-position: calc(100% + 190px) 100%;
            background-size: auto 65%;
        }
        @media (--smMinus) {
            background-position: calc(100% + 155px) 100%;
        }
    }
    &__bg306-1 {
        position: absolute;
        left: 5%;
        top: 50%;
        max-width: 450px;
        width: 35%;
        @media (--mdMinus) {
            left: 8%;

            max-width: 220px;
            width: 28%;
        }
        @media (--smMinus) {
            left: 3.75%;
            top: 37%;
            max-width: 130px;
            width: 40%;
        }
    }
    &__bg306-2 {
        position: absolute;
        left: 5%;
        top: 20%;
        max-width: 640px;
        width: 50%;
        @media (--mdMinus) {
            left: 8%;
            top: 100px;
            width: 83%;
        }
        @media (--smMinus) {
            left: 3.75%;
        }
    }
}
