.longread-banner {
    min-height: calc(100vh - 70px);;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding:0 55px 160px 55px;
    padding-bottom: 185px;
    position: relative;
    flex-wrap: wrap;
    @media(--mdMinus) {
        padding:0 40px 160px 40px;
        padding-bottom: 165px;
    }

    @media(--sm) {
        padding:0 20px 45px 20px;
    }

    @media(--xs) {
        padding:0 20px 45px 20px;
        padding-bottom: 40px;
    }

    &:before {
        content:'';
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-blend-mode: multiply;
        opacity: 0.6;
        background-image: linear-gradient(to top, #000000, rgba(255, 255, 255, 0));
    }

    &:after {
        content:'';
        background: url("../img/icon_scroll.svg") no-repeat;
        width: 50px;
        height: 50px;
        background-size: contain;
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -25px;
        z-index: 11;
        @media(--mdMinus) {
            display:none;
        }
    }

    &__title {
        font-family: Affect;
        text-transform: uppercase;
        font-size: 40px;
        text-align: center;
        color: #ffffff;
        position: relative;
        z-index: 3;
        @media(--mdMinus) {
            text-align:left;
            line-height: 1;
        }
        @media(--xs) {
            line-height: 1.1;
            font-size:28px;
            text-align:left;
            max-width: 275px;
        }
    }
    &__text {
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        text-align: center;
        color: #ffffff;
        position: relative;
        margin-top: 15px;
        z-index: 3;
        @media(--mdMinus) {
            text-align:left;
        }
        @media(--xs) {
            text-align:left;
        }
    }

    &_live {
         padding:0 55px 184px 55px;
        @media(--mdMinus) {
            padding:0 40px 200px 40px;
        }

        @media(--sm) {
            padding:0 20px 65px 20px;
        }

        @media(--xs) {
            padding:0 20px 65px 20px;
        }
    }
}

.longread-about {
    padding: 0px 0 0;
    background:#f1f1f4;
    overflow: hidden;
    position:relative;

    &:before {
        content: "";
        background: url(../img/index/pattern-furnish.svg) repeat-y;
        width: 130px;
        position: absolute;
        right: 56px;
        top: 0;
        height: 100%;
        transform: scale(1, -1);
        @media(--mdMinus) {
            right:-20px;
        }
    }
    @media(--mdMinus) {
        margin: 0;
    }

    &__inner {
        padding:65px 0 64px;
        position:relative;
        @media(--mdMinus) {
            padding: 44px 0 33px;
        }
        @media(--sm) {
            padding:40px 0 35px;
        }
        @media(--xs) {
            padding:40px 0 35px;
        }
    }

    &__text {
        color: #22282f;
        font-family: Roboto;
        max-width: 775px;
        font-size: 17px;
        font-weight: 400;
        text-align: center;
        margin:0 auto 0;

        @media(--mdMinus) {
            max-width: 100%;
            padding:0 40px;
        }

        @media(--sm) {
            padding:0 20px;
        }

        @media(--xs) {
            padding:0 20px;
        }

        & p {
            margin: 5px 0;
            line-height: 1.5;

            @media(--xs) {
                font-size: 14px;
            }
        }

        &:before {
            content: '';
            display: block;
            width: 50px;
            height: 2px;
            background: #b51827;
            position: relative;
            margin: 0px 0 24px -25px;
            left: 50%;
        }
    }

    &__link {
        width: 245px;
        height: 70px;
        background-color: #b51827;
        color:#ffffff;
        display: flex;
        font-size: 14px;
        text-transform: uppercase;
        margin: 45px auto 0;
        justify-content: center;
        transition: all 0.4s ease;
        align-items: center;

        @media(--sm) {
            max-width: 280px;
            width: 100%
        }
        @media(--xs) {
            max-width: 280px;
            width: 100%
        }
        &:hover {
            background: #e61023;
        }
    }

    &__title {
        font-size: 40px;
        font-family: 'Affect';
        font-weight: bold;
        text-transform: uppercase;
        color: #22282f;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 15px;

        @media (max-width: 575px) {
            font-size: 28px;
        }
    }
}

.longread-section {
    margin: 100px 0;

    @media(--mdMinus) {
        margin: 50px 0 40px;
    }

    @media(--xs) {
        margin: 40px 0;
    }

    &_last {
        margin-bottom: 80px;
        @media(--mdMinus) {
            margin-bottom: 20px;
        }
    }

    &_tablet-no-b-margin {
        @media(--mdMinus) {
            margin-bottom: 0;
        }
    }

    &__content {
        @media(--mdMinus) {
            width:100%;
        }

        &_ornament {
            color: #fff;
            width: 100%;
            background: #b51827 url('../img/longreads/substrate-vertical-repeat.svg') left/138px 113px repeat-y;

            @media (--xlMinus) {
                background-size: 82px 64px;
            }

            @media (--xs) {
                background-image: none;
            }

            &-left {
                padding: 127px 60px 80px 140px;
                background-position-x: -27px;

                @media (--xlMinus) {
                    padding-left: 100px;
                }

                @media (--mdMinus) {
                    padding: 55px;
                    padding-left: 71px;
                    background-size: 152px 120px;
                    background-position-x: -61px;
                }

                @media (--xs) {
                    padding: 40px 10px;
                }
            }

            & .longread-section-title, .longread-section__text p {
                color: #fff
            }

            & .longread-section-title:after {
                background: #fff;
            }

            &-black {
                background-color: #22282f;
            }

            &-right {
                padding: 55px;
                padding-bottom: 40px;
                padding-left: 110px;
                background-size: 144px 110px;
                background-position: -40px;

                @media (--xlMinus) {
                    padding-left: 100px;
                }

                @media (--mdMinus) {
                    padding: 45px;
                    padding-left: 15px;
                    padding-right: 94px;
                    background-position-x: calc(100% + 61px);
                    background-size: 152px 120px;
                }

                @media (--xs) {
                    padding: 40px 7px;
                }
            }
        }
    }

    &_nomargin {
        @media(--mdMinus) {
            margin-bottom:-40px;
        }
    }

    &_full {
        position: relative;
        overflow: hidden;

        @media(--lgMinus) {
            margin-top: 0;
            margin-bottom: 34px;
        }

        @media (--xs) {
            margin-bottom: 43px;
        }

        & .longread-section-title {
            @media (--xs) {
                font-size: 40px;
                margin-bottom: 34px;
            }
        }

        & .longread-section__text {
            & p {
                @media (--xs) {
                    margin-top: 5px;
                }
            }
        }

        &:before {
            content:'';
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-blend-mode: multiply;
            opacity: 0.6;
            background-image: linear-gradient(to top, #000000, rgba(255, 255, 255, 0));
            z-index: 5;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            right: 56px;
            top: -58px;
            bottom: 0;
            width: 141px;
            z-index: 10;
            background: url('../img/longreads/substrate-vertical-repeat.svg') right/141px 116px repeat-y;

            @media (--md) {
                right: 0;
            }

            @media (--xs) {
                right: -70px;
            }
        }

        & .longread-section-title, .longread-section__text p {
            color: #fff;
            z-index: 25;
            font-weight: 500;
            line-height: 1.3;
        }

        & .longread-section-title:after {
            background-color: #fff;
        }

        & .longread-section__content {
            position: relative;
            z-index: 45;
        }
    }

    &_comfort {
        @media(--mdMinus) {
            margin-top: 0;
            margin-bottom: 35px;
        }

        & .main-section__col_left {

            @media (--mdMinus) {
                padding-top: 10px;
            }
        }
    }

    &_tablet-reverse {
        & .main-section__col_first {
            order: 2;
        }
    }

    &__full-img {
        padding: 40px 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        min-height: 463px;
        padding-left: 0;

        & .longread-section__content {
            padding-left: 4%;

            @media (--mdMinus) {
                padding-left: 0;
            }
        }

        @media (--lgMinus) {
            padding-left: 0px;
        }
        @media (--mdMinus) {
            padding-left: 0px;
            padding-right: 30%;
        }

        @media (--xs) {
            padding: 15px;
            padding-right: 10%;
            padding-left: 0;
        }
    }

    &__live {
        max-width:504px;
        margin-top: 50px;
        @media(--mdMinus) {
           max-width:100%;
           margin-top:25px;
        }
        & p {
            font-weight: 300;
            color:#313b45;
        }
        & a {
            font-weight:400;
            color:#3379ca;
        }
    }
}

.longread-section-title {
    font-family: Affect;
    font-size: 40px;
    text-transform: uppercase;
    color: #22282f;
    position: relative;
    padding-bottom: 23px;
    margin-bottom: 17px;
    line-height: 1;

    &:after {
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background: #b51827;
        position: absolute;
        bottom: 0;
    }

    @media(--mdMinus) {
        max-width:100%;
        margin-bottom: 30px;
    }

    @media(--sm) {
        font-size:30px;
    }
    @media(--xs) {
        font-size:29px;
    }

    &_sanpin {
        max-width: 353px;
        @media(--mdMinus) {
            max-width:100%;
        }
    }

    &_slider {
        max-width:1170px;
        margin: 0 auto;

        @media(--mdMinus) {
            max-width:100%;
            padding: 0 40px 23px;
        }
        @media(--sm) {
            padding:0 20px 23px;
        }
        @media(--xs) {
            padding:0 20px 23px;
        }
    }

}

.longread-section__text {
    max-width:485px;
    @media(--mdMinus) {
        max-width:100%;
    }
    & p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 17px;
        line-height: 1.65;
        color: #313b45;
        margin:25px 0;
        @media(--sm) {
            margin: 15px 0;
        }
        @media(--xs) {
            margin: 15px 0;
        }
    }

    & .longread-paragraph {
        font-weight: 500;
    }
    & .longread-paragraph2 {
        font-weight:500;
        @media(--mdMinus) {
            font-weight:400;
        }
    }
}

.longread-section-img-wrapper {
    position: relative;

    &_wave {
        display: flex;
        &:before {
            content: '';
            display: block;
            width: 60px;
            height: 69px;
            background: #fff url('../img/longreads/substrate-wave.svg') center/cover no-repeat;
            flex-shrink: 0;
            @media(--mdMinus) {
                width: 40px;
                height: 50px;
            }

            @media (--xs) {
                width: 20px;
                height: 30px;
            }

        }

        &-reverse {
            flex-direction: row-reverse;
        }
    }

    &_mobile {
        @media(--mdMinus) {
            overflow:hidden;
        }
        &:after {
            content: "";
            display: none;
            position: absolute;
            bottom: -25px;
            top: auto;
            height: 230px;
            width: 230px;
            z-index: 8;
            background-size: contain;
            background: url(../img/longreads/substrate-right.svg) no-repeat;
            @media(--mdMinus) {
                display:block;
            }
        }

        &-bottom {
            padding-bottom: 25px;
        }
    }

    &_desktop {
        @media(--mdMinus) {
            display:none;
        }
    }

    &_tablet {
        display: none;
        @media(--mdMinus) {
            display: flex;
        }
    }

    &_tablet-full {
        @media(--mdMinus) {
            margin-left: -40px;
            margin-right: -40px;
        }

        @media (--xs) {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    &_sub-right_mobile {
        @media(--sm) {
            padding:0 20px 20px 0;
        }
        @media(--xs) {
            padding:0 20px 20px 0;
        }
        &:after {
            right: -25px;
            @media(--sm) {
                right:-20px;
                width:170px;
                height:170px;
            }
            @media(--xs) {
                right:-20px;
                width:170px;
                height:170px;
            }
        }
    }

    &_sub-left_mobile {
        padding:0 0px 25px 25px;
        @media(--sm) {
            padding:0 0px 20px 20px;
        }
        @media(--xs) {
            padding:0 0px 20px 20px;
        }
        &:after {
            left: -25px;
            @media(--sm) {
                left:-20px;
                width:170px;
                height:170px;
            }
            @media(--xs) {
                left:-20px;
                width:170px;
                height:170px;
            }
        }
    }

}

.longread-section-img {
    height: 546px;
    width: 100%;
    background-position: 27%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;

    &_long {
        height: 660px;
    }

    &_bg-right {
        background-position: right;
    }

    @media(--mdMinus) {
        height: 546px;
    }

    @media(--xs) {
        height: 250px;
        background-position: center center;
    }
}

.longread-section-img-wrapper_sub-right:after {
    content: "";
    position: absolute;
    bottom: -25px;
    right: -25px;
    top: initial;
    height: 230px;
    width: 230px;
    z-index: 8;
    background-size: contain;
    background: url("../img/longreads/substrate-right.svg") no-repeat;

    @media(--mdMinus) {
        display: none;
    }
}

.longread-section-img-wrapper_sub-left:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: -25px;
    top: initial;
    height: 230px;
    width: 230px;
    z-index: 8;
    background-size: contain;
    background: url("../img/longreads/substrate-left.svg") no-repeat;

    @media(--mdMinus) {
        display: none;
    }
}

.longread-section-img-wrapper_sub-left-red {
    &:after {
        background-image: none;
        background-color: #b51827;

        @media(--sm) {

        }
    }

    &_reverse {
        padding-left: 25px;
        padding-right: 0;
        &:after {
            right: initial;
            left: -25px;
        }
    }
}

.longread-section-color {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto 64px;

    @media(--sm) {
        margin-bottom:40px;
    }

    @media(--xs) {
        margin-bottom:40px;
    }

    &__col {
        width:50%;

        @media(--mdMinus) {
            width:100%;
        }
    }

    &_tablet-no-b-margin {
        @media(--mdMinus) {
            margin-bottom: 0;
        }
    }

    &__img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height:481px;

        @media(--mdMinus) {
            display:none;
        }

        @media(--sm) {
            height:250px;
        }
        @media(--xs) {
            height:250px;
        }

        &_mobile {
            display:none;
            @media(--mdMinus) {
                display:block;
            }
        }
    }

    &__title {
        font-family: 'Affect';
        text-transform: uppercase;
        font-size: 40px;
        color:#ffffff;
        margin-bottom: 20px;
        line-height: 37px;
        max-width: 360px;
        position: relative;

        @media(--mdMinus) {
            margin:35px 40px 40px;
            max-width: 100%;
        }

        @media(--sm) {
            font-size: 30px;
            margin:37px 20px 34px;
        }

        @media(--xs) {
            font-size: 30px;
            margin:37px 20px 34px;
        }

        &:after {
             content: "";
             background: #ffffff;
             width: 50px;
             height: 2px;
             position: relative;
             display: block;
             left:0;
             bottom:0;
             margin-top: 28px;

        }

    }

    &__descr {
        max-width:485px;

        @media(--mdMinus) {
            margin:30px 40px 40px;
            max-width: 100%;
        }
        @media(--sm) {
            margin:30px 20px 40px;
        }
        @media(--xs) {
            margin:30px 20px 40px;
        }
        & p {
            font-size:17px;
            font-weight:300;
            color:#ffffff;

            @media(--sm) {
                margin-bottom:25px;
            }
            @media(--xs) {
                margin-bottom:25px;
            }
        }

    }

    &__inner {
        background: #22282f;
        padding:60px 0 65px 55px;
        width:100%;
        @media(--mdMinus) {
            padding:50px 40px 35px 40px;
        }
        @media(--sm) {
            padding:50px 20px 35px 20px;
        }
        @media(--xs) {
            padding:50px 20px 35px 20px;
        }

        &_red {
            background: #b51827;
        }

        &_grey-ornament {
            background: url('../img/longreads/substrate-vertical-repeat.svg') left/120px 90px repeat-y;
        }

        &_grey {
            background-color: #eff2f5;

            & .longread-section-color__title, .longread-section-color__descr p {
                color: #22282f;
            }

            & .longread-section-color__title:after {
                background-color: #b51827;
            }
        }

        &_left {
            padding-left: 55px;
            @media(--mdMinus) {
                padding:0;
            }
            @media(--sm) {
            }
            @media(--xs) {
            }
        }
        &_right {
            padding-left: 71px;
            @media(--mdMinus) {
                padding:0px;
            }
            @media(--sm) {
            }
            @media(--xs) {
            }
        }
    }
}

.longread-section-advanatages {
    margin-bottom: 118px;

    @media(--lgMinus) {
        margin-bottom: 30px;
    }

    @media (--xs) {
        margin-bottom: 31px;
    }

    &__head {
        background-color: #22282f;
        padding: 72px 55px;
        padding-top: 59px;
        color: #fff;
        position: relative;

        @media (--lgMinus) {
            padding-left: 0;
            padding-right: 0;
        }

        @media (--mdMinus) {
            padding-bottom: 250px;
        }

        @media (--xs) {
            padding-top: 63px;
            padding-bottom: 150px;
        }
    }

    &__title {
        margin-bottom: 33px;
        &:after {
            background-color: #fff;
        }

        @media (--xs) {
            padding-bottom: 29px;
            margin-bottom: 31px;
        }
    }

    &__content {
        background-color: #eff2f5;
        padding: 66px 55px;
        padding-top: 118px;
        padding-bottom: 44px;

        @media (--xlMinus) {
            padding-left: 0;
            padding-right: 0;
        }
        @media (--mdMinus) {
            padding-top: 275px;
            padding-left: 0;
            padding-right: 0;
        }
        @media (--xs) {
            padding-top: 141px;
            padding-left: 0;
            padding-right: 0;
        }

        &-col {
            width: 50%;
            padding-right: 1px;
            &:first-child {
                padding-right: 107px;
            }
            @media (--mdMinus) {
                width: 100%;
                padding-right: 0;

                &:first-child {
                    padding-right: 0;
                }
            }
        }

        &-row {
            margin-bottom: 44px;
            @media (--mdMinus) {
                margin-bottom: 35px;
            }
        }
    }

    &__desc {
        font-weight: 500;
        min-height: 112px;
        & p {
            color: #fff;
            line-height: 1.65;
        }
    }

    &__head-text {
        max-width: 45%;
        @media (--mdMinus) {
            max-width: 100%;
        }
    }

    &__advant-name {

        text-transform: uppercase;
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 15px;

        @media (--xs) {
            line-height: 1.3;
            margin-bottom: 16px;
        }
    }

    &__advant-text {
        font-weight: 300;
        line-height: 1.65;
    }

    &__brick {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center right;
        background-image: url('../img/longreads/technical/brick.png');
        width: 50%;
        height: 461px;
        position: absolute;
        right: 0;
        top: -26px;
        @media (--mdMinus) {
            width: 100%;
            top: initial;
            bottom: -42%;
            height: 500px;
            background-image: url('../img/longreads/technical/brick-tablet.png');
        }

        @media (--xs) {
            height: 250px;
            bottom: -22%;
        }
    }
}

.longread-section-slider {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width:1280px;
    position: relative;
    margin:30px auto 0;

    &__images {
        width: 64.22%;
        height: 100%;
        position: relative;
        height:463px;

        &._single {
            & .longread-section-slider__nav {
                display: none;
            }
        }

        &:before {
            content:'';
             background: url("../img/slider_weave.svg") repeat-y;
            height:100%;
            background-size: contain;
            position: absolute;
            left:55px;
            top:0;
            width:130px;
            z-index: 5;

            @media(--mdMinus) {
                width:146px;
                left:-40px;
            }

            @media(--sm) {
                width:68px;
                left:-30px;
            }
            @media(--xs) {
                width:68px;
                left:-30px;
            }
        }

        @media(--mdMinus) {
            width: 100%;
            height: 546px;
        }

        @media(--sm) {
            height:250px;
        }

        @media(--xs) {
            height:250px;
        }
    }

    &__text {
        width: 35.78%;
        background: #22282f;
        color:#ffffff;

        padding: 60px 65px 0 63px;

        & p {
            color:#ffffff;
            line-height: 28px;
        }

        & .list {
            margin-top:18px;
        }

        @media(--mdMinus) {
            width: 100%;
            padding:30px 40px 45px;
        }

        @media(--sm) {
            padding:35px 20px 40px;
        }

        @media(--xs) {
            padding:35px 20px 40px;
        }
    }

    &__slide {

    }

    &__img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
    }

    &__nav {
        position: absolute;
        bottom:0;
        right:0;
        display: flex;
        z-index: 1;

        &_left {
            left:0;
            right:initial;
        }
    }

    &-next {
        background:rgba(181,24,39, 1) url("../img/arrow_slide_right.svg") no-repeat center center;
        transition: opacity 0.4s ease;
        width: 70px;
        height: 70px;
        outline:none;
/* 
        &.swiper-button-disabled {
            opacity: 0;
            pointer-events: none;
        } */

        &:hover {
            cursor: pointer;
        }
        @media(--sm) {
            background-color:rgba(34,40,47, 0.6);
        }
        @media(--xs) {
            background-color:rgba(34,40,47, 0.6);
        }
    }

    &-prev {
        background:rgba(181,24,39, 0.5) url("../img/arrow_slide_left.svg") no-repeat center center;
        transition: opacity 0.4s ease;
        width: 70px;
        height: 70px;
        outline:none;

        /* &.swiper-button-disabled {
            opacity: 0;
            pointer-events: none;
        } */

        &:hover {
            cursor: pointer;
        }

        @media(--sm) {
            display:none;
        }

        @media(--xs) {
            display:none;
        }
    }

    &-pagination {
        position: absolute;
        top:20px;
        height:25px;
        z-index: 1;
        padding: 0 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        color:#ffffff;
        text-align: right;

        @media(--mdMinus) {
            padding:0 40px
        }

        @media(--sm) {
            padding:0 20px;
        }

        @media(--xs) {
            padding:0 20px;
        }

        &_left {
            text-align: left;
        }
        & span {
            margin: 0 -4px;
        }
    }

    &_order1 {
        order:1;
    }

    &_order2 {
        order:2;
    }

    &_orderMobile1 {
        @media(--mdMinus) {
            order:1;
        }
    }

    &_orderMobile2 {
        @media(--mdMinus) {
            order:2;
        }
    }
}

.longread-section-slider-full {
    width: 100%;
    height:650px;
    max-width:1280px;
    margin: 30px auto 0;

    &._single {
        pointer-events: none;
        & .longread-section-slider-full__prev, .longread-section-slider-full__next {
            display: none;
        }
    }

    @media(--mdMinus) {
        height:480px;
    }

    @media(--sm) {
        height:250px;
    }

    @media(--xs) {
        height:250px;
    }

    &__next {
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
        width: 125px;
        outline: none;
        z-index: 5;

        @media(--mdMinus) {
            width:70px;
        }

        @media(--sm) {
            width:70px;
            height:70px;
            bottom:0;
            top:initial;
        }
        @media(--xs) {
            width:70px;
            height:70px;
            bottom:0;
            top:initial;
        }
        &:hover {
            cursor: pointer;
            &:before {
                transform: translateX(10px);
                @media(--mdMinus) {
                    transform: translateX(0px);
                }
            }

        }
        &:before {
            content:'';
            width:30px;
            height:16px;
            background: url(../img/arrow_slide_right.svg) no-repeat;
            background-size: contain;
            position: absolute;
            left:40px;
            top:50%;
            margin-top: -8px;
            z-index: 2;
            transition: transform 0.3s ease;

            @media(--mdMinus) {
                left:50%;
                margin-left:-15px;
            }
        }
        &:after {
            content:'';
            width:100%;
            position: absolute;
            left:0;
            right:0;
            height:100%;
            opacity: 0.6;
            background:#22282f;
         }
    }
    &__pagination {
        position: absolute;
        top: 0px;
        z-index: 1;
        padding: 25px 155px 0 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #fff;
        text-align: right;

        @media(--mdMinus) {
            padding: 25px 100px 0 20px;
        }

        @media(--sm) {
            padding: 25px 20px 0 20px;
        }

        @media(--xs) {
            padding: 25px 20px 0 20px;
        }

        & span {
            margin: 0 -4px;
        }
    }
}

.longread-map1 {
    height: 460px;
    background-size: cover;
    margin-bottom: 100px;

    @media (max-width: 1280px) {
        margin-bottom: 30px;
    }
}

.longread-map1-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #f1f1f4;

    &__item {
        display: block;
        height: 70px;
        line-height: 70px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        color: #22282f;
        cursor: pointer;
        padding: 0 25px;

        &:hover {
            text-decoration: underline;
        }

        &._active {
            color: #b51827;
            cursor: text;

            &:hover {
                text-decoration: none;
            }
        }
    }

    @media (max-width: 575px) {
        flex-direction: column;

        .longread-map1-tabs__item {
            width: 100%;
        }
    }
}

.longread-map2 {
    height: 550px;
    margin-top: 30px;
}

.longread-mapInfra {
    height: 540px;
    margin-top: 30px;
}

.longread-mapInfra-container {
    position: relative;
    margin-bottom: 50px;

    @media (max-width: 1280px) {
        margin-bottom: 10px;
    }
}

.longread4-mapPoints {
    display: none;
}

.longread-mapInfra-btns {
    display: none;

    @media (--xs) {
        display: flex;
    }
}

.longread-mapInfra-btns__map {
    background: #e0ded4;
    border:none;
    outline: none;
    font-family: 'Proxima';
    font-size: 15px;
    font-weight: 600;
    padding: 20px 0;
    flex-basis: 35%;
}

.longread-mapInfra-btns__infra {
    background: #f7941e;
    border:none;
    outline: none;
    font-family: 'Proxima';
    font-size: 15px;
    font-weight: 600;
    padding: 20px 0;
    color:#ffffff;
    flex-basis: 75%;
}

.longread4-mapPoints {
    display: none;
}



.longread4-category-links {
    background: #ffffff;
    padding: 15px;
    width: 354px;
    position: absolute;
    bottom: 20px;
    left:20px;
    display: block;
    z-index: 100;

    @media (--xs) {
        display:none;
        width:100%;
        left:0;
        bottom: 58px;
    }
    &_visible {
        display: block;
    }
    &_hidden {
         display: none;
    }
}

.longread4-category-links__title {
    font-family: 'Proxima';
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.longread4-category-links__item {
    display: block;
    position: relative;
    padding: 11px 0 11px 40px;
    font-family: 'Proxima';
    font-size: 15px;
    font-weight: 300;
    color:#616162;
}

.longread4-category-links__item:before {
    content:'';
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
    position: absolute;
    left:0;
    top:5px;
    display: block;
}

.longread4-category-links__item_edu:before {
    background-image: url("../img/longreads/family/icons/univercity.png");
}

.longread4-category-links__item_school:before {
    background-image: url("../img/longreads/family/icons/school.png");
}

.longread4-category-links__item_kindergarten:before {
    background-image: url("../img/longreads/family/icons/kids.png");
}

.longread4-category-links__item_cafe:before {
    background-image: url("../img/longreads/family/icons/cafe.png");
}

.longread4-category-links__item_shops:before {
    background-image: url("../img/longreads/family/icons/shop.png");
}

.longread4-category-links__item_med:before {
    background-image: url("../img/longreads/family/icons/medicine.png");
}

.longread4-category-links__item_park:before {
    background-image: url("../img/longreads/family/icons/park.png");
}

.longread4-category-links__item_sport:before {
    background-image: url("../img/longreads/family/icons/sport.png");
}

.longread4-category-links__item_azs:before {
    background-image: url("../img/longreads/family/icons/azs.png");
}

.longread4-category-links__item:after {
    content:'';
    position: absolute;
    right:0;
    top:6px;
    background: url("../img/longreads/family/icons/plus.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.longread4-category-links__item_off:after {
    background: url("../img/longreads/family/icons/minus.png") no-repeat;
}

.longread4-category-links__show {
    color:#22282f;
    font-family: 'Proxima';
    font-size: 15px;
    font-weight: 400;
    text-decoration: underline;
    margin-right: 20px;
    margin-top: 15px;
    display: inline-block;
}

.longread4-category-links__hide {
    color:#22282f;
    font-family: 'Proxima';
    font-size: 15px;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 15px;
    display: inline-block;
    float: right;
}

.longread-mapInfra-btns {
    display: none;
    @media (--xs) {
        display: flex;
    }
}
.longread-mapInfra-btns__map {
    background: #e0ded4;
    border:none;
    outline: none;
    font-family: 'Proxima';
    font-size: 15px;
    font-weight: 600;
    padding: 20px 0;
    flex-basis: 35%;
}

.longread-mapInfra-btns__infra {
    background: #f7941e;
    border:none;
    outline: none;
    font-family: 'Proxima';
    font-size: 15px;
    font-weight: 600;
    padding: 20px 0;
    color:#ffffff;
    flex-basis: 75%;
}
