.mat-cap {
    &__content {
        @media(--mdMinus) {
            padding:20px 40px;
        }
        @media(--sm) {
            padding:20px 20px;
        }
        @media(--xs) {
            padding:20px 20px;
        }
        p, li {
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            margin: 0;
        }

        p {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        strong {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }
    }

    .page__section {
        &:last-child {
            padding: 65px 0;
        }
    }
}

@media screen and (--smMinus) {
    .mat-cap .page__section:last-child {
        padding: 40px 0;
    }

}
