.mortgage-accomp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.mortgage-accomp__item {
    position: relative;
    width: calc(25% - 30px);
    margin-right: 40px;
    padding-left: 75px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #22282f;

    @media(--mdMinus) {
        padding-left: 0;
        padding-top: 60px;
    }
}

.mortgage-accomp__item:last-child {
    margin-right: 0;
}

.mortgage-accomp__item strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #22282f;
}

.mortgage-accomp__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 36px;
    height: 50px;
    background-color: transparent;
    background-position: 0 0;
    background-size: cover;

    @media(--mdMinus) {
        left: 0;
        top: 0;
    }
}

.mortgage-accomp__item._broker:before {
    background-image: url(../img/mortgage/icon_1.svg);
}

.mortgage-accomp__item._docs:before {
    background-image: url(../img/mortgage/icon_2.svg);
}

.mortgage-accomp__item._decision:before {
    background-image: url(../img/mortgage/icon_3.svg);
}

.mortgage-accomp__item._rate:before {
    background-image: url(../img/mortgage/icon_4.svg);
}

.mortgage-accomp__item:last-child {
    margin-right: 0;
}

.mortgage-banks__col {
    height: 100%;
}

.mortgage-banks__header .mortgage-banks__col {
    color: #6c737a;
    font-size: 13px;
}

.mortgage-banks__header .mortgage-banks__col._sorter {
    position: relative;
    cursor: pointer;
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0px;
        margin-top: -6px;
        display: block;
        opacity: 0.3;
        width: 12px;
        height: 12px;
        background: url("/img/caret-down.svg") center / contain no-repeat!important;
        pointer-events: none;
   }
   &._desc,
   &._asc{
       color: #000;
       &:after {
           display: block;
           transform: scaleY(-1);
           opacity: 1;
       }
   }

   &:hover {
       &:after {
           display: block;
           transform: scaleY(-1);
           opacity:0.5;
       }
   }

   &._desc {
       &:hover {
          &:after {
              opacity:1;
              transform: none;
          }
       }
       &:after {
           transform: none;
       }
   }
   &._asc {
       &:hover {
           &:after {
              opacity:1;
           }
       }
   }
}

.mortgage-banks__body .mortgage-banks__row {
    background-color: #fff;
    position: relative;
    cursor: pointer;
    height: 70px;
}

.mortgage-banks__body .mortgage-banks__col {
    white-space: nowrap;
}

.mortgage-banks__body .mortgage-banks__row:hover {
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.mortgage-banks__body .mortgage-banks__row:nth-child(2n-1) {
    background-color: #eff2f5;
}

.mortgage-banks__row {
    transition: ease .5s all;
    padding: 18px 0;
    min-height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mortgage-banks__col {
    width: 24.5%;
    padding: 0 5%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #22282f;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.mortgage-modal {
    padding: 80px;
    width: calc(100% - 160px);
    margin: 0 auto;
    max-width: 800px;
    background: #fff;
    @media (--smMinus) {
        padding: 40px;
        width: calc(100% - 80px);
    }
   &_top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 47px;
        @media (--mdMinus) {
            flex-diRection: column;
            align-items: flex-start;
            margin-bottom: 20px;
        }
    }
   &_img {
        @media (--mdMinus) {
            margin-bottom: 20px;
        }
        & img {
            max-width: 250px;
        }
   }
   &_license {
        font: 300 15px/25px 'Roboto', sans-serif;
        color: #5a5a5a;
        @media (--smMinus) {
            font-size: 13px;
            line-height: 20px;
        }
   }
   &_btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #b31b2c;
        width: 206px;
        height: 50px;
        margin-top: 25px;
        font: 500 14px/1 'Roboto', sans-serif;
        color: #fff;
        text-transform: uppercase;
        @media (--mdMinus) {
            margin-top: 15px;
        }
        @media (--xs) {
            width: 240px;
            height: 38px;
        }
   }
}

.mortgage-modal h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #22282f;
}

.mortgage-modal p {
    margin-bottom: 15px;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -0.5px;
    color: #000;
    @media (--smMinus) {
        font-size: 15px;
        line-height: 20px;
    }
}

.mortgage-modal ul {
    margin-bottom: 15px;
    list-style: none;
}

.mortgage-modal ul li {
    font:400 17px/25px 'Roboto';
    @media (--smMinus) {
        font-size: 15px;
        line-height: 20px;
    }
}

.mortgage-modal strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.mortgage-modal em {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #b51827;
}

.mortgage-modal p:last-child {
    margin-bottom: 0;
}

.mortgage-banks__row-more {
    padding: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    margin-bottom: 6px;
}

.mortgage-banks__row._active {
    margin-bottom: 0;
    border-bottom: solid 1px #ededed;
}

.mortgage-banks__row._active .mortgage-banks__col:nth-child(2) {
    opacity: 0;
}

.mortgage-modal__inner {
    padding: 20px;
    background-color: #fff;
}

.mortgage-banks__logo {
    max-height: 100%;
    max-width: 100%;
}

.button {
    transition: ease .3s all;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    border: none;
    height: 50px;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.button {
    background-color: #b51827;
    color: #fff;
    border-radius: 0;
}

.button:hover {
    background-color: #e61023;
}

.button:disabled {
    background-color: #ededed;
    cursor: not-allowed;
    color: #fff;
}

.button:disabled:hover {
    background-color: #ededed;
}

.ws-invalid {
    position: relative;
}

.ws-invalid._double .mortgage-form__lbl {
    position: relative;
}

.ws-errorbox {
    position: absolute;
    bottom: 100%;
    right: 0;
}

.ws-errorbox .ws-errormessage {
    padding: 0;
    margin: 0;
    color: #c80a18;
    font-size: 14px;
    line-height: 14px;
}

.ui-widget.slider-range {
    border: none;
    height: 2px;
    border-radius: 0;
    background-color: #fff;
}

.slider-range .ui-slider-handle {
    width: 22px;
    height: 22px;
    border: none;
    background-color: rgba(181, 24, 39, 0.3);
    border-radius: 0;
    top: -10px;

}

.slider-range .ui-slider-handle:before {
    /*transition: ease .3s all;*/
    transform: translate(-50%, -50%);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: #b51827;
    border-radius:0;
}

.slider-range .ui-slider-handle.ui-state-active:before {
    width:10px;
    height:10px;
}


.slider-range .ui-slider-handle:focus {
    outline: none;
}


.slider-range .ui-slider-range {
    background-color: #b51827;
}

@media screen and (--smMinus) {
    .mortgage-banks {
        width: calc(100% + 40px);
        margin-left: -20px;
    }

    .mortgage-banks__col {
        padding: 0 2%;
        text-align: center;
    }

    .mortgage-banks__header {
        border-bottom: 6px solid #EFF2F5;
    }

    

    .mortgage-banks__header .mortgage-banks__col._sorter:after {
        right: 10px;
        opacity: 0.2;
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -6px;
        width: 12px;
        height: 12px;
        display: block;
        background: url(/img/caret-down.svg) 50%/contain no-repeat!important;
        pointer-events: none;
    }


}

@media screen and (--xs) {
    .mortgage-banks {
        background-color: #ededed;
        padding: 0 20px 40px;
    }

    .mortgage-banks__header {
        /* display: none; */
    }

    .mortgage-banks__header .mortgage-banks__col._sorter:after {
        right: 15px;
    }

    .mortgage-banks__col {
        display: none;
        width: 130px;
        padding: 0 15px;
        text-align: left;
    }

    .mortgage-banks__col:first-child {
        display: flex;
        /* width: 150px; */
    }

    .mortgage-banks__col:nth-child(4) {
        display: flex;
        margin-left: auto;
    }

    .mortgage-accomp {
        display: block;
    }

    .mortgage-accomp__item {
        width: 100%;
        padding-top: 0;
        padding-left: 55px;
        min-height: 50px;
        margin-bottom: 30px;
    }

    .mortgage-accomp__item:last-child {
        margin-bottom: 0;
    }

    .mortgage-accomp__item strong {
        display: block;
    }

    .mortgage-banks__row {
        background-color: #fff;
        margin-bottom: 6px;
    }

    .mortgage-banks__body .mortgage-banks__row:hover {
        box-shadow: none;
    }

    .mortgage-banks__row:last-child {
        margin-bottom: 0;
    }

    .mortgage-banks__body .mortgage-banks__row:nth-child(2n-1) {
        background-color: #fff;
    }

    .mortgage-modal h3 {
        font-size: 17px;
        line-height: 27px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        margin-bottom: 25px;
    }
}

.mortgage-modal .fancybox-close-small {
    padding:20px;
    display:flex;
    justify-content:center;
    width:auto;
    height:auto;

    &:after {
        display:none;
    }

    &:before {
        content:'';
        background: url('../img/close-popup-dark.svg') no-repeat center center;
        background-size:contain;
        width:20px;
        height:20px;
        position: static;
    }
}


.btn-call-mortgage .btn-call-inner {
    &:after {
        @media(--xs) {
            background-color: #ededed;
        }
    }
    @media(--xs) {
        background-color: #ededed;
    }
}

.mortgage-btn {
    text-align: center;
    margin-top: 50px;

    .mortgage-btn__item {
        border-radius: 5px;
        padding: 10px 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 400;
        color:#ffffff;
        transition: background-color 0.4s ease;
        background: #b51827;
        &:hover {
             background: #e61023;
         }
        &_desktop {
            @media (--xs)  {
                display:none;
            }
        }

        &_mobile {
             display:none;
            @media (--xs) {
                display:block;
                max-width: 280px;
                margin: 0 auto;

            }
        }
    }
}



.mortgage__credit {
    font-weight:400;
    display: flex;
    justify-content: space-between;
    font-size:17px;
    & span {
        color:#22282f;
        font-weight: 500;
        &:after {
            content: '₽';
            padding-left: 4px;
        }
    }
}