.wrapp {
    height: 100vh;
    position: relative;
    font: 16px/20px Arial;
    color: #000;
    background: #efefef;
}

.topBlock {
    min-height: 355px;
    height: 44%;
    background: #fff;
    position: relative;
}

.topBlock__content,
.bottomBlock {
    max-width: 680px;
    padding: 0 40px;
    margin: 0 auto;
}

.topBlock__content {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    width: 100%;
}

.topBlock__title {
    background: #fff;
    padding-bottom: 15px;
    text-align: center;
    & h1 {
        font-size: 17px;
        text-transform: uppercase;
        font-weight: 400;
    }
}

.bottomBlock {
    padding-top: 20px;
    padding-bottom: 20px;
}

.topBlock__content--logo {
    margin-bottom: 50px;
    line-height: 0;
    font-size: 0;
}

.topBlock__content__address_item {
    float: left;
    padding-right: 40px;
}

.topBlock__content__address_item+.topBlock__content__address_item {
    max-width: 385px;
    border-left: 1px solid #dcdcdc;
    padding: 0 0 0 50px;
}

.topBlock__content__address_item--name {
    display: block;
    color: #999;
    margin-bottom: 8px;
}

.bottomBlock--btn {
    display: block;
    height: 70px;
    padding-left: 120px;
    margin-top: 10px;
    background-position: 30px center;
    background-repeat: no-repeat;
    background-size: 50px;
    background-color: #478dcc;
    border-radius: 4px;
    font-size: 20px;
    line-height: 70px;
    color: #fff;
}

.bottomBlock--btn_yaN {
    background-image: url(../img/contacts/ya-nav.svg);
}

.bottomBlock--btn_yaK {
    background-image: url(../img/contacts/ya-map.svg);
}

.bottomBlock--btn_G {
    background-image: url(../img/contacts/g-map.svg);
}

.bottomBlock--btn_N {
    background-image: url(../img/contacts/04.svg);
}

.bottomBlock--btn--text_mob {
    display: none;
}


@media screen and (max-width:767px) {
    .topBlock__content,
    .bottomBlock {
        max-width: 640px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width:599px) {
    .topBlock {
        min-height: 275px;
    }
    .topBlock__content {
        bottom: 15px;
    }

    .topBlock__content--logo {
        margin-bottom: 30px;
        text-align: center;
    }
    .topBlock__content__address_item {
        float: none;
        padding: 0;
    }
    .topBlock__content__address_item+.topBlock__content__address_item {
        border-left: none;
        padding: 15px 0 0;
        letter-spacing: -0.035em;
    }

    .bottomBlock--btn {
        height: 50px;
        padding-left: 50px;
        background-position: 10px center;
        background-size: 30px;
        font-size: 15px;
        line-height: 50px;
    }
    .bottomBlock--btn--text {
        display: none;
    }
    .bottomBlock--btn--text_mob {
        display: inline-block;
    }
}