.technical-page {

    & .container {
        max-width: 1280px;
    }

    &__longread-list {
        margin-top: 80px;

        @media (--lgMinus) {
            margin-top: 54px;
        }
    }

    &__longread-item {
        margin-bottom: 111px;

        @media (--xlPlus) {
            &--one {
                margin-bottom: 80px;

                & .longread-item__content {
                    padding-left: 100px;
                    padding-top: 36px;
                    padding-right: 43px;
                }
    
                & .longread-item__title {
                    padding-bottom: 27px;
                    margin-bottom: 19px;
                }
    
                & .longread-item__thumb--corner {
                    margin-left: 56px;
                    width: calc(47.7% - 25px);
                }

                & .longread-item__text {

                    & p {
                        line-height: 1.65;
                        margin-bottom: 13px;
                    }
                }


                & .longread-item__btn {
                    max-width: 188px;
                    margin-top: 42px;
                }

            }
    
            &--two {
                margin-bottom: 102px;
                & .longread-item__thumb {
                    width: 46%;
                    margin-right: 4%;
                }
    
                & .longread-item__title {
                    padding-bottom: 27px;
                    margin-bottom: 20px;
                }

                & .longread-item__text {

                    & p {
                        line-height: 1.65;
                        margin-bottom: 10px;
                    }
                }
            }
    
            &--three {
                margin-bottom: 142px;
                & .longread-item__title {
                    padding-bottom: 27px;
                    margin-bottom: 20px;
                }
    
                & .longread-item__text {

                    & p {
                        line-height: 1.65;
                    }
                }

                & .longread-item__thumb {
                    min-height: auto;
                    height: 481px;
                }

                & .longread-item__content {
                    min-height: 426px;
                    margin-bottom: 0%;
                    padding-left: 95px;

                }
            }
    
            &--four {
                margin-bottom: 92px;
                & .longread-item__content {
                    padding-left: 100px;
                    padding-top: 116px;
                    padding-right: 43px;
                }
    
                & .longread-item__title {
                    padding-bottom: 27px;
                    margin-bottom: 19px;
                }
    
                & .longread-item__thumb--corner {
                    margin-left: 56px;
                    width: calc(47.7% - 25px);
                }

                & .longread-item__text {

                    & p {
                        line-height: 1.65;
                        margin-bottom: 13px;
                    }
                }


                & .longread-item__btn {
                    max-width: 188px;
                    margin-top: 42px;
                }
            }
    
            &--five {
                margin-bottom: 146px;
                & .longread-item__thumb {
                    width: 46%;
                    margin-right: 4%;
                    background-position: 72%;
                }
    
                & .longread-item__title {
                    padding-bottom: 27px;
                    margin-bottom: 20px;
                }

                & .longread-item__text {

                    & p {
                        line-height: 1.65;
                        margin-bottom: 10px;
                    }
                }

                & .longread-item__content {
                    padding-top: 79px;
                }
            }

            &--six {
                margin-bottom: 116px;
                & .longread-item__content {
                    margin-bottom: 1%;
                    padding-top: 56px;
                    padding-right: 63px;
                    height: 591px;
                    background-size: 162px;
                    background-position: -85px -69px;

                    & p {
                        line-height: 1.65;
                        margin-bottom: 10px;
                    }

                    & .list li {
                        margin-bottom: 3px;
                    }

                    & .list {
                        margin-bottom: 14px;
                    }
                }

                & .longread-item__title {
                    padding-bottom: 30px;
                    margin-bottom: 21px;
                }

                & .longread-item__thumb {
                    background-position: 2%;
                }
            }

            &--seven {
                margin-bottom: 80px;
                & .longread-item__thumb--corner-right {
                    margin-right: 56px;
                    width: calc(47.7% - 25px);
                }

                & .longread-item__content {
                    padding-top: 135px;
                    padding-left: 57px;
                }

                & .longread-item__title {
                    margin-bottom: 22px;
                    padding-bottom: 29px;
                }

                & .longread-item__text {

                    & p {
                        line-height: 1.65;
                    }
                }
            }
        }

        @media (--lgMinus) {
            margin-bottom: 60px;
        }

        @media (--md) {
            &--one {
                margin-bottom: 56px;
                & .longread-item__content {
                }
    
                & .longread-item__thumb--corner {
                    min-height: 480px;
                }

                & .longread-item__text {
                    padding-top: 28px;
                    & p {
                    }
                }


                & .longread-item__btn {
                    min-width: 280px;
                }

            }
    
            &--two {
                margin-bottom: 53px;
                & .longread-item__text--thumb-bottom {
                    padding-bottom: 25px;
                }
    
                & .longread-item__thumb {
                    min-height: 480px;
                    height: auto;
                }

                & .longread-item__text {
                    padding-top: 28px;
                    & p {
                    }

                    &--thumb-bottom {
                        padding-top: 0px;
                    }
                }
            }
    
            &--three {
                & .longread-item__title {
                    padding-bottom: 26px;
                    margin-bottom: 22px;
                }
    
                & .longread-item__text {

                    & p {
                        line-height: 1.65;
                    }
                }

                & .longread-item__thumb {
                    min-height: 480px;
                    height: auto;
                }

                & .longread-item__content {
                    padding-right: 49px;
                    padding-bottom: 23px;

                }
            }
    
            &--four {
                margin-bottom: 40px;
    
                & .longread-item__thumb--corner {
                    min-height: 480px;
                    height: auto;
                }

                & .longread-item__text {
                    padding-top: 1px;
                    & p {
                        line-height: 1.65;
                        margin-bottom: 10px;
                    }
                }
            }
    
            &--five {
                margin-bottom: 40px;
                & .longread-item__thumb {
                    height: auto;
                    min-height: 480px;
                }
    
                & .longread-item__title {
                }

                & .longread-item__text {
                    padding-top: 22px;
                    & p {
                        line-height: 1.65;
                    }
                }

                & .longread-item__content {
                }
            }

            &--six {
                margin-bottom: 53px;
                & .longread-item__content {

                    & p {
                        line-height: 1.65;
                        margin-bottom: 10px;
                    }
                }

                & .longread-item__thumb {
                    height: auto;
                    min-height: 480px;
                }

                & .longread-item__title {
                }

                & .longread-item__content {
                    padding-top: 45px;
                    padding-left: 70px;
                    padding-right: 65px;
                    padding-bottom: 39px;
                    background-position: -88px -6px;
                }
            }

            &--seven {
                margin-bottom: 29px;

                & .longread-item__thumb {
                    height: auto;
                    min-height: 480px;
                }
            }
        }

        @media (--xs) {
            margin-bottom: 40px;
        }

        @media (--xs) {
            &--one {
                margin-bottom: 54px;

                & .longread-item__text {
                    padding-top: 24px;
                    & p {
                        line-height: 1.65;
                        margin-bottom: 10px;
                    }
                }


                & .longread-item__btn {
                    margin-top: 38px;
                }

            }
    
            &--two {
                margin-bottom: 24px;

                & .longread-item__text {
                    padding-top: 24px;

                    & p {
                        line-height: 1.65;
                    }

                    &--thumb-bottom {
                        padding-top: 0;
                        padding-right: 10px;
                        padding-bottom: 13px;
                    }
                }
            }
    
            &--three {
                & .longread-item__title {
                }
    
                & .longread-item__text {

                    & p {
                        line-height: 1.65;
                    }
                }

                & .longread-item__thumb {
                }

                & .longread-item__content {
                    padding-right: 20px;
                    padding-bottom: 33px;
                }
            }
    
            &--four {
                margin-bottom: 35px;
                & .longread-item__thumb--corner {
                    
                    margin-left: 0;
                    margin-bottom: 0;
                    width: 100%;

                    &:after {
                        display: none;
                    }
                }

                & .longread-item__text {
                    padding-top: 22px;
                    & p {
                        line-height: 1.65;
                    }
                }
            }
    
            &--five {
                & .longread-item__thumb {
                }
    
                & .longread-item__title {
                }

                & .longread-item__text {
                    padding-top: 25px;
                    & p {
                        line-height: 1.65;
                        margin-bottom: 10px;
                    }
                }

                & .longread-item__content {
                }
            }

            &--six {
                margin-bottom: 52px;
                & .longread-item__content {
                    padding: 45px 21px 19px;
                    & p {
                        line-height: 1.65;
                        margin-bottom: 10px;
                    }
                }

                & .longread-item__thumb {
                    background-position: 50%;
                }
            }

            &--seven {
                margin-bottom: 23px;
                & .longread-item__text {
                    padding-top: 27px;
                    p {
                        line-height: 1.65;
                    }
                }
            }
        }

        &--bottom {
            @media (--lgMinus) {
                margin-bottom: 0;
            }
        }
    }
}