.UniqApparts {
    & * {
        outline: none;
    }

    &_header {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("../img/uniqApparts/top.jpg") no-repeat center / cover;
        height: 430px;
        padding: 0 20px;
        position: relative;
        @media (--mdMinus) {
            height: 610px;
        }
        @media (--smMinus) {
            height: 295px;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(59, 59, 72, 0.5);
        }

        &H1 {
            font: bold 40px/1 'Affect';
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
            @media (--smMinus) {
                font-size: 30px;
            }
        }
    }

    &_topTxt {
        background: url("../img/index/pattern-furnish.svg") calc(100% - 56px) top repeat-y #f1f1f1;
        padding: 50px 20px 49px;
        margin-bottom: 35px;
        @media (--mdMinus) {
            background-position: calc(100% + 35px) top;
            padding: 90px 20px 75px;
        }
        @media (--smMinus) {
            background-position: right top;
            padding: 40px 20px;
            margin-bottom: 15px;
        }

        &Inner {
            max-width: 780px;
            margin: 0 auto;
            text-align: center;
            color: #333;
         }
    }

    &_tabs {

        overflow: hidden;
    }

    &Tabs {

        &_ul {
            display: flex;
            justify-content: center;
            @media (--smMinus) {
                width:320px;
                margin: 0 auto 10px;
                flex-wrap: wrap;
            }
            &Wrap {
                overflow: hidden;
                height: 54px;
                border-bottom: 1px solid #eaeaea;
                @media (--smMinus) {
                    height: auto;
                }
            }
        }
        &_li {
            padding: 0 25px;
            margin-bottom: -1px;
            width: auto;

            &.ui-state-active a,
            &.ui-state-hover a {
                color: #000;
            }
            &.ui-state-active a:after,
            &.ui-state-hover a:after {
                width: 100%;
            }
        }
        &_link {
            height: 53px;
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            font-family: 'Roboto';
            color: #777;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                background: #b51827;
                transition: width .3s ease;
                @media (--smMinus) {
                    bottom: 10px;
                }
            }
        }

        &_cont {
            max-width: 1280px;
            margin: 0 auto;
            padding: 95px 57px 0;
            @media (--mdMinus) {
                max-width: 768px;
                margin-bottom: 30px;
                padding: 65px 0 0;
            }
        }

        &_h2 {
            font: bold 40px/1 'Affect';
            color: #000;
            text-align: center;
            text-transform: uppercase;
            max-width: 820px;
            padding: 0 20px 44px;
            margin: 0 auto 25px;
            position: relative;
        }
        &_item {
            margin: 0 0 60px;
            @media (--mdMinus) {
                margin-bottom: 105px;
            }
            @media (--smMinus) {
                margin-bottom: 80px;
            }
            &:last-child {
                @media (--mdMinus) {
                    margin-bottom: 60px;
                }
                @media (--smMinus) {
                    margin-bottom: 20px;
                }
            }
        }
        &_imgBox {
            height: 470px;
            padding: 45px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                display: block;
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
        &_txt {
            padding: 0 55px 55px;
            @media (--mdMinus) {
                padding: 0 30px 45px;
            }
            @media (--smMinus) {
                padding: 0 20px 45px;
            }
            &H3 {
                font-family: 'Affect';
                font-size: 24px;
                text-transform: uppercase;
                max-width: 420px;
            }
            p {
                margin: 17px 0 0;
                font-size: 15px;
                line-height: 24px;
            }
        }
    }
}

.UniqAppart {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    font-family: 'Roboto';
    position: relative;
    @media (--smMinus) {
        flex-direction: column;
    }
    &_name {
        width: 380px;
        font: bold 24px/1 'Affect';
        color: #d2152c;
        text-transform: uppercase;
        display: flex;
        @media (--mdMinus) {
            width: 390px;
            padding: 0 30px 0 85px;
        }
        @media (--smMinus) {
            width: 100%;
            padding: 0 20px;
        }
        &Num {
            font: bold 54px/1 'Roboto';
            margin-right: 15px;
        }
    }
    &_tech {
        display: flex;
        width: calc(100% - 380px);
        padding-top: 4px;
        @media (--mdMinus) {
            flex-direction: column;
            width: 390px;
            padding: 47px 0 40px;
        }
        @media (--smMinus) {
            flex-flow: row wrap;
            width: 200px;
            padding: 44px 0 15px;
            margin: 0 auto;
        }
        &Item {
            display: flex;
            flex-direction: column;
            margin: 0 20px 37px;
            text-align: center;
            @media (--mdMinus) {
                margin: 0 0 29px 85px;
                text-align: left;
            }
            @media (--smMinus) {
                width: 50%;
                margin: 0 0 25px;
                text-align: center;
            }
        }
        &Val {
             font-weight: bold;
             font-size: 24px;
             line-height: 1;
            color: #333;
        }
        &Name {
             font-size: 15px;
             line-height: 1;
            color: #999;
            margin-top: 5px;

        }
    }
    &_plan {
        width: 315px;
        height: 525px;
        margin-right: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (--mdMinus) {
            position: absolute;
            left: 395px;
            top: 0;
            width: 300px;
            height: 380px;
            margin: 0;
        }
        @media (--smMinus) {
            position: relative;
            left: 0;
            width: 240px;
            height: auto;
            margin: 0 auto 50px;
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &_info {
        width: calc(100% - 380px);
        @media (--mdMinus) {
            width: 100%;
        }
        &Img {
            margin-bottom: 40px;
            @media (--smMinus) {
                margin-bottom: 20px;
            }
            & img {
                display: block;
                width: 100%;
            }
        }
        &Txt {
            font-size: 15px;
            line-height: 24px;
            color: #333;
            margin-bottom: 47px;
            @media (--mdMinus) {
                padding: 0 30px;
            }
            @media (--smMinus) {
                padding: 0 20px;
                margin-bottom: 35px;
            }
        }
    }
    &_btn {
        @media (--mdMinus) {
            text-align: center;
        }
    }
}

.btn-call {
    &._uniqAppBtn {
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        padding: 0 27px;
        width: auto;
    }
}