.UniqPlans {
    & * {
        outline: none;
    }

    &-sunnyFlats {
        .UniqPlans_header {
            height: 428px;
            @media (--xlMinus) {
                height: 610px;
            }
            @media (--767) {
                height: 295px;
              }
        }

        .UniqPlans_headerH1 {
            @media (--767) {
                font-size: 30px;
            }
        }

        .UniqPlansTabs_ulWrap1 {
            overflow: hidden;
        }

        .UniqPlans_topTxt {
            position: relative;
            padding-top: 55px;
            padding-bottom: 55px;
            overflow: hidden;
            @media (--xlMinus) {
                padding: 28px;
                padding-top: 99px;
                padding-bottom: 77px;
            }

            @media (--767) {
                padding: 20px;
                padding-top: 40px;
                padding-bottom: 39px;
                margin-bottom: 30px;
            }
            &:before {
                content: '';
                display: block;
                width: 136px;
                height: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 55px;
                background-image: url('../img/longreads/substrate-vertical-repeat.svg');
                background-repeat: repeat-y;

                @media (--xlMinus) {
                    right: -38px;
                    z-index: auto;
                }

                @media (--767) {
                    right: -17px;
                }
            }
        }

        .UniqPlans_topTxtInner {
            max-width: 774px;
            color: #22282f;
            @media (--xlMinus) {
                position: relative;
                z-index: 3;
            }

            p {
                color: #22282f;
            }
        }
    }

    &_header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../img/uniqPlans/top.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 400px;
        padding: 0 20px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,.6);
        }

        &H1 {
            font: bold 40px/1 'Affect';
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
        }
    }

    &_topTxt {
        background: #f1f1f1;
        padding: 34px 20px 36px;
        margin-bottom: 35px;

        &Inner {
            max-width: 780px;
            margin: 0 auto;
            text-align: center;
            color: #333;
         }
    }

    &_tabs {

        overflow: hidden;
    }

    &Tabs {

        &_ul {
            display: flex;
            justify-content: center;
            margin-bottom: 36px;
            @media (--lgMinus) {
                justify-content: flex-start;
            }

            &Wrap {
                overflow: hidden;
                height: 54px;
                border-bottom: 1px solid #eaeaea;
                /*margin-bottom: 90px;
                @media (--smMinus) {
                    margin-bottom: 50px;
                }*/
            }
            &Wrap1 {
                overflow: auto;
            }
        }
        &_li {
            padding: 0 28px;
            margin-bottom: -1px;
            width: auto;

            &.ui-state-active a,
            &.ui-state-hover a {
                color: #000;
            }
            &.ui-state-active a:after,
            &.ui-state-hover a:after {
                width: 100%;
            }
        }
        &_link {
            height: 53px;
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            color: #777;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                background: #b51827;
                transition: width .3s ease;
            }
        }

        &_cont {
            /*max-width: 1600px;
            margin-left: auto;
            margin-right: auto;*/
            margin-bottom: 50px;
            padding-top: 36px;
            @media (--mdMinus) {
                margin-bottom: 30px;
                /*padding-top: 50px;*/
            }
        }

        &_h2 {
            font: bold 40px/1 'Affect';
            color: #000;
            text-align: center;
            text-transform: uppercase;
            max-width: 820px;
            padding: 0 20px 44px;
            margin: 0 auto 25px;
            position: relative;
            @media (--smMinus) {
                font-size: 29px;
            }

            &:after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 50px;
                height: 2px;
                margin-left: -25px;
                background: #b51827;
            }

            &Small {
                display: block;
                margin-top: 12px;
                font-size: 18px;
                font-weight: normal;
                color: #777;
            }
        }

        &_enterTxt {
            max-width: 820px;
            padding: 0 20px;
            margin: 0 auto;
            text-align: center;
        }

        &_list {
            display: flex;
            flex-flow: row wrap;
            margin: 46px 0;
            /*@media (--smMinus) {
                margin-top: 50px;
            }*/
        }
        &_item {
            display: block;
            max-width: calc(33.33% + 1px);
            width: 100%;
            min-height: 470px;
            border: 1px solid #ebebeb;
            margin: 0 -1px -1px 0;
            position: relative;
            transition: box-shadow .3s ease;
            @media (--lgMinus) {
                max-width: calc(50% + 1px);
            }
            @media (--smMinus) {
                max-width: 100%;
                /*min-height: 320px;*/
                margin-right: 0;
                border-left: none;
                border-right: none;
            }
            &:nth-child (3n + 1) {
                 border-left: none;
                @media (--lgMinus) {
                    border-left: 1px solid #ebebeb;
                }
            }

            &:nth-child (2n + 1) {
                @media (--lgMinus) {
                    border-left: none;
                }
            }

            &._4it {
                max-width: calc(25% + 1px);
                @media (--lgMinus) {
                    max-width: calc(50% + 1px);
                }
                @media (--smMinus) {
                    max-width: 100%;
                }
                &:nth-child (1) {
                     border-left: none;
                }
                &:nth-child (2n + 1) {
                    @media (--lgMinus) {
                        border-left: none;
                    }
                }
            }
				&:hover {
					 box-shadow: 0 10px 25px rgba(43, 38, 52, 0.25);
				}
            &._bg {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
					 /*&:hover {
						box-shadow: none;
					 }*/
            }
            &Link {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 2;
            }

        }
        &_imgBox {
            height: 470px;
            padding: 45px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            /*@media (--smMinus) {
					  height: 320px;
                padding: 30px 20px;
            }*/

            & img {
                display: block;
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
        &_txt {
            padding: 0 55px 55px;
            @media (--mdMinus) {
                padding: 0 30px 45px;
            }
            @media (--smMinus) {
                padding: 0 20px 45px;
            }
            &H3 {
                font-family: 'Affect';
                font-size: 24px;
                text-transform: uppercase;
                max-width: 420px;
            }
            p {
                margin: 17px 0 0;
                font-size: 15px;
                line-height: 24px;
            }
        }

        &_btn {
            text-align: center;
        }

    }
}

.btn-call {
    &._uniqBtn {
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        padding: 0 35px;
        width: auto;
    }
}

.UniqPlansTabs_ulWrap {
    & .swiper-button-prev,
    & .swiper-button-next,
    & .swiper-button-disabled {
        display: none;
        top: 0px;
        width: 60px;
        height: 54px;
        margin-top:0;
        @media (--lgMinus) {
            display: block;
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

         }
    }
    & .swiper-button-prev {
        left: 0;
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,.5) 100%);
        &:after {
             background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='19' height='49' viewBox='0 0 19 49'><path fill='none' fill-rule='evenodd' stroke='%237d7e7f' stroke-linecap='square' stroke-width='2' d='M17 47L2 24.5 17 2'/></svg>") 10px center no-repeat;
             background-size: 20px 23px;
        }
    }
    & .swiper-button-next {
        right: 0;
         background:  linear-gradient(to right,  rgba(255,255,255,.5) 0%,rgba(255,255,255,1) 100%);
        &:after {
            background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='19' height='49' viewBox='0 0 19 49'><path fill='none' fill-rule='evenodd' stroke='%237d7e7f' stroke-linecap='square' stroke-width='2' d='M2 47l15-22.5L2 2'/></svg>") calc(100% - 10px) center no-repeat;
            background-size: 20px 23px;
        }
    }

    &-sunnyFlats {
        @media (--xlMinus) {
            padding-left: 53px;
            padding-right: 53px;

            & .UniqPlansTabs_ul {
                justify-content: center;
            }
        }

        @media (--767) {
            padding: 0;
            height: auto;

            & .UniqPlansTabs_ul {
                flex-wrap: wrap;
                margin-bottom: -10px;
                padding: 0 30px;
            }

            & .UniqPlansTabs_li {
                width: 49%;
                margin-bottom: 31px;
                padding: 0;
                text-align: center;
                font-family: Roboto, san-serif;
                font-size: 17px;
            }

            & .UniqPlansTabs_link {
                height: 27px;
                display: inline-block;
            }
          }
    }
}
.UniqPlansTabs_ulWrap .swiper-button-disabled {
    display: none;
}