{% set title = "Пустая страница" %}
{% extends "layout.njk" %}

{% block content %}
<p>Пустая страница - можно использовать как пример для новых страниц.</p>
{% endblock %}


{% block page_bottom %}
{# <script src="js/script_for_this_page.js"></script> #}
{% endblock %}