{% set title = "Калькулятор" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="page-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="/" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item">Как купить</a>
                <a href="mortgage.html" class="breadcrumbs__item">Ипотека</a>
                <a href="calculator.html" class="breadcrumbs__item breadcrumbs__item_active">Калькулятор</a>
            </div>
            <div class="sub-menu">
                <a href="mortgage.html" class="sub-menu__item">Все банки</a>
                <a href="calculator.html" class="sub-menu__item _active"><span>Ипотечный</span> калькулятор</a>
                <a href="#" class="sub-menu__item" data-sidebar-toggle="calculator_order"><span>Оформить заявку</span> <span>заявка</span></a>
            </div>
            <h1 class="title-page">Ипотечный калькулятор</h1>
        </div>
    </section>

    <div class="calculator" data-calculator>
        <header class="calculator-header">
            <div class="container">
                <div class="switch-type" data-switch-type>
                    <label class="switch-type__item" data-switch-type="payment">
                        <input class="switch-type__inp" autocomplete="off" type="radio" name="calc-switch">
                        <span class="switch-type__txt">Ежемесячный платеж</span>
                    </label>
                    <div class="switch-type-slider">
                        <span class="switch-type-slider__point"></span>
                    </div>
                    <label class="switch-type__item _active" data-switch-type="price">
                        <input class="switch-type__inp" autocomplete="off" checked type="radio" name="calc-switch">
                        <span class="switch-type__txt">Сумма <span>кредита</span></span>
                    </label>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="calculator-body">
                <aside class="calculator-aside">
                    <form action="" data-calc-form method="post" class="page-form ws-validate" autocomplete="off">
                        <div class="page-form__step" data-type="payment" style="display: none;">
                            <label class="page-form__lbl">
                                <input id="mortgage-payment-input" type="text" class="page-form__inp _slide _large _active" data-step="0.1" data-max-range="150000" data-input="payment" data-min-range="5800" value="75000" name="mortgage-payment">
                                <em class="page-form__placeholder">Ежемесячный платеж (руб.)</em>
                                <div id="mortgage-payment" class="slider-range" data-slider="payment"></div>
                                <div class="slider-sings">
                                    <div class="slider-sings__item">5.8 тыс</div>
                                    <div class="slider-sings__item">87.5 тыс</div>
                                    <div class="slider-sings__item">175.1 тыс</div>
                                </div>
                            </label>
                        </div>
                        <div class="page-form__step" data-type="price">
                            <label class="page-form__lbl">
                                <input id="mortgage-price-input" data-input="price" type="tel" class="page-form__inp _slide _large _active" data-step="10" data-max-range="17965980" data-min-range="3271482" value="10618731" name="mortgage-summ" />
                                <em class="page-form__placeholder">Стоимость квартиры (руб.)</em>
                                <div id="mortgage-calc-price" class="slider-range" data-slider="price"></div>
                                <div class="slider-sings">
                                    <div class="slider-sings__item">3.3 млн</div>
                                    <div class="slider-sings__item">10.6 млн</div>
                                    <div class="slider-sings__item">18 млн</div>
                                </div>
                            </label>
                        </div>
                        <div class="page-form__step">
                            <label class="page-form__lbl">
                                <input id="mortgage-fee-input" data-input="fee" type="text" class="page-form__inp _slide _large _active" data-step="10" data-max-range="15000000" data-min-range="0" value="7500000" name="mortgage-fee">
                                <em class="page-form__placeholder">Первоначальный взнос (руб.)</em>
                                <div id="mortgage-fee" class="slider-range" data-slider="fee"></div>
                                <div class="slider-sings">
                                    <div class="slider-sings__item">0 тыс</div>
                                    <div class="slider-sings__item">7.5 млн</div>
                                    <div class="slider-sings__item">15 млн</div>
                                </div>
                            </label>
                        </div>
                        <div class="page-form__step">
                            <label class="page-form__lbl">
                                <input id="mortgage-age-input" data-input="age" type="text" class="page-form__inp _slide _large _active _age" data-step="1" data-max-range="30" data-min-range="1" value="30" name="mortgage-term">
                                <em class="page-form__placeholder">Срок кредита</em>
                                <span class="page-form__age">лет</span>
                                <div id="mortgage-age" class="slider-range" data-slider="age"></div>
                                <div class="slider-sings">
                                    <div class="slider-sings__item">1 год</div>
                                    <div class="slider-sings__item">15 лет</div>
                                    <div class="slider-sings__item">30 лет</div>
                                </div>
                            </label>
                        </div>
                        <div class="page-form__step">
                            <div class="mortgage__credit">Сумма кредита <span></span></div>
                        </div>
                        <div class="page-form__step">
                            <input type="submit" data-sidebar-toggle="calculator_order" value="отправить заявку" class="page-form__sbt button _red _fix">
                        </div>
                    </form>
                </aside>

                <div class="calculator-cont">
                    <section class="calculator__section">
                        <h2 class="calculator__tlt">Предложения от банков</h2>

                        <div class="mortgage-banks">
                            <header class="mortgage-banks__header">
                                <div class="mortgage-banks__row">
                                    <div class="mortgage-banks__col">Банк</div>
                                    <div class="mortgage-banks__col">Процентная ставка</div>
                                    <div class="mortgage-banks__col" data-switch-header>Ежемесячный платеж</div>
                                </div>
                            </header>
                            <div class="mortgage-banks__body _loading" data-banks-body>

                            </div>
                        </div>



                        <div class="mortgage-order">
                            <a href="#" class="page-form__sbt button _red _fix" data-sidebar-toggle="calculator_order">отправить заявку</a>
                        </div>
                    </section>
                    <section class="calculator__section">
                        <h2 class="calculator__tlt">Предлагаем квартиры в рассчитанной ценовой категории</h2>

                        <div class="calculator-flats _loading">

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mortgage-modal" style="display: none;"></div>

{% include "includes/blocks/btn-call.njk" %}


{% endblock %}

{% block page_bottom %}
<script>
    const banks = [
        {
            'id'    : 1,
            'image' : 'img/mortgage/banks/01.png',
            'descr' : `
                <h3>Сбербанк предлагает ипотечную программу<br>
                    на приобретение квартир в жилом комплексе «Летний сад».</h3>
                <ul>
                    <li><strong>Первоначальный взнос</strong>&nbsp;&mdash; от 15% от стоимости приобретаемой недвижимости</li>
                    <li><strong>Срок кредитования</strong>&nbsp;&mdash; от 1 до 30 лет.</li>
                    <li><strong>Процентная ставка фиксированная:</strong> до и после оформления прав собственности от 9,5% годовых в рублях</li>
                </ul>
                <p><em>Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос от 30%</em></p>
                <p><strong>Комиссии за рассмотрение заявки</strong> на кредит и за выдачу кредита – отсутствуют.</p>
            `,
            'filterRate'  : 7.4,
            'filterTerms' : 7,
            'filterFee'   : 15
        },
        {
            'id'    : 2,
            'image' : 'img/mortgage/banks/02.png',
            'descr' : `
                <h3>ВТБ24 предлагает ипотечную программу<br>
                    на приобретение квартир в жилом комплексе «Летний сад».</h3>
                <ul>
                    <li><strong>Первоначальный взнос</strong>&nbsp;&mdash; от 15% от стоимости приобретаемой недвижимости</li>
                    <li><strong>Срок кредитования</strong>&nbsp;&mdash; от 1 до 30 лет.</li>
                    <li><strong>Процентная ставка фиксированная:</strong> до и после оформления прав собственности от 9,5% годовых в рублях</li>
                </ul>
                <p><em>Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос от 30%</em></p>
                <p><strong>Комиссии за рассмотрение заявки</strong> на кредит и за выдачу кредита – отсутствуют.</p>
            `,
            'filterRate' : 7.9,
            'filterTerms' : 12,
            'filterFee' : 15
        },
        {
            'id'    : 3,
            'image' : 'img/mortgage/banks/03.png',
            'descr' : `
                <h3>ВТБ24 предлагает ипотечную программу<br>
                    на приобретение квартир в жилом комплексе «Летний сад».</h3>
                <ul>
                    <li><strong>Первоначальный взнос</strong>&nbsp;&mdash; от 15% от стоимости приобретаемой недвижимости</li>
                    <li><strong>Срок кредитования</strong>&nbsp;&mdash; от 1 до 30 лет.</li>
                    <li><strong>Процентная ставка фиксированная:</strong> до и после оформления прав собственности от 9,5% годовых в рублях</li>
                </ul>
                <p><em>Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос от 30%</em></p>
                <p><strong>Комиссии за рассмотрение заявки</strong> на кредит и за выдачу кредита – отсутствуют.</p>
            `,
            'filterRate' : 9.4,
            'filterTerms' : 30,
            'filterFee' : 15
        },
        {
            'id'    : 4,
            'image' : 'img/mortgage/banks/04.png',
            'descr' : `
                <h3>ВТБ24 предлагает ипотечную программу<br>
                    на приобретение квартир в жилом комплексе «Летний сад».</h3>
                <ul>
                    <li><strong>Первоначальный взнос</strong>&nbsp;&mdash; от 15% от стоимости приобретаемой недвижимости</li>
                    <li><strong>Срок кредитования</strong>&nbsp;&mdash; от 1 до 30 лет.</li>
                    <li><strong>Процентная ставка фиксированная:</strong> до и после оформления прав собственности от 9,5% годовых в рублях</li>
                </ul>
                <p><em>Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос от 30%</em></p>
                <p><strong>Комиссии за рассмотрение заявки</strong> на кредит и за выдачу кредита – отсутствуют.</p>
            `,
            'filterRate' : 5.75,
            'filterTerms' : 10,
            'filterFee' : 20
        },
        {
            'id'    : 5,
            'image' : 'img/mortgage/banks/05.png',
            'descr' : `
                <h3>ВТБ24 предлагает ипотечную программу<br>
                    на приобретение квартир в жилом комплексе «Летний сад».</h3>
                <ul>
                    <li><strong>Первоначальный взнос</strong>&nbsp;&mdash; от 15% от стоимости приобретаемой недвижимости</li>
                    <li><strong>Срок кредитования</strong>&nbsp;&mdash; от 1 до 30 лет.</li>
                    <li><strong>Процентная ставка фиксированная:</strong> до и после оформления прав собственности от 9,5% годовых в рублях</li>
                </ul>
                <p><em>Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос от 30%</em></p>
                <p><strong>Комиссии за рассмотрение заявки</strong> на кредит и за выдачу кредита – отсутствуют.</p>
            `,
            'filterRate' : 9.24,
            'filterTerms' : 30,
            'filterFee' : 20
        },
        {
            'id'    : 6,
            'image' : 'img/mortgage/banks/06.png',
            'descr' : `
                <h3>ВТБ24 предлагает ипотечную программу<br>
                    на приобретение квартир в жилом комплексе «Летний сад».</h3>
                <ul>
                    <li><strong>Первоначальный взнос</strong>&nbsp;&mdash; от 15% от стоимости приобретаемой недвижимости</li>
                    <li><strong>Срок кредитования</strong>&nbsp;&mdash; от 1 до 30 лет.</li>
                    <li><strong>Процентная ставка фиксированная:</strong> до и после оформления прав собственности от 9,5% годовых в рублях</li>
                </ul>
                <p><em>Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос от 30%</em></p>
                <p><strong>Комиссии за рассмотрение заявки</strong> на кредит и за выдачу кредита – отсутствуют.</p>
            `,
            'filterRate' : 9.2,
            'filterTerms' : 30,
            'filterFee' : 10
        },
        {
            'id'    : 7,
            'image' : 'img/mortgage/banks/07.png',
            'descr' : `
                <h3>ВТБ24 предлагает ипотечную программу<br>
                    на приобретение квартир в жилом комплексе «Летний сад».</h3>
                <ul>
                    <li><strong>Первоначальный взнос</strong>&nbsp;&mdash; от 15% от стоимости приобретаемой недвижимости</li>
                    <li><strong>Срок кредитования</strong>&nbsp;&mdash; от 1 до 30 лет.</li>
                    <li><strong>Процентная ставка фиксированная:</strong> до и после оформления прав собственности от 9,5% годовых в рублях</li>
                </ul>
                <p><em>Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос от 30%</em></p>
                <p><strong>Комиссии за рассмотрение заявки</strong> на кредит и за выдачу кредита – отсутствуют.</p>
            `,
            'filterRate' : 12.3,
            'filterTerms' : 30,
            'filterFee' : 0
        },
        {
            'id'    : 8,
            'image' : 'img/mortgage/banks/08.png',
            'descr' : `
                <h3>ВТБ24 предлагает ипотечную программу<br>
                    на приобретение квартир в жилом комплексе «Летний сад».</h3>
                <ul>
                    <li><strong>Первоначальный взнос</strong>&nbsp;&mdash; от 15% от стоимости приобретаемой недвижимости</li>
                    <li><strong>Срок кредитования</strong>&nbsp;&mdash; от 1 до 30 лет.</li>
                    <li><strong>Процентная ставка фиксированная:</strong> до и после оформления прав собственности от 9,5% годовых в рублях</li>
                </ul>
                <p><em>Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос от 30%</em></p>
                <p><strong>Комиссии за рассмотрение заявки</strong> на кредит и за выдачу кредита – отсутствуют.</p>
            `,
            'filterRate' : 9,
            'filterTerms' : 30,
            'filterFee' : 20
        },
        {
            'id'    : 9,
            'image' : 'img/mortgage/banks/09.png',
            'descr' : `
                <h3>ВТБ24 предлагает ипотечную программу<br>
                    на приобретение квартир в жилом комплексе «Летний сад».</h3>
                <ul>
                    <li><strong>Первоначальный взнос</strong>&nbsp;&mdash; от 15% от стоимости приобретаемой недвижимости</li>
                    <li><strong>Срок кредитования</strong>&nbsp;&mdash; от 1 до 30 лет.</li>
                    <li><strong>Процентная ставка фиксированная:</strong> до и после оформления прав собственности от 9,5% годовых в рублях</li>
                </ul>
                <p><em>Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос от 30%</em></p>
                <p><strong>Комиссии за рассмотрение заявки</strong> на кредит и за выдачу кредита – отсутствуют.</p>
            `,
            'filterRate' : 8.5,
            'filterTerms' : 30,
            'filterFee' : 20
        },
        {
            'id'    : 10,
            'image' : 'img/mortgage/banks/10.png',
            'descr' : `
                <h3>ВТБ24 предлагает ипотечную программу<br>
                    на приобретение квартир в жилом комплексе «Летний сад».</h3>
                <ul>
                    <li><strong>Первоначальный взнос</strong>&nbsp;&mdash; от 15% от стоимости приобретаемой недвижимости</li>
                    <li><strong>Срок кредитования</strong>&nbsp;&mdash; от 1 до 30 лет.</li>
                    <li><strong>Процентная ставка фиксированная:</strong> до и после оформления прав собственности от 9,5% годовых в рублях</li>
                </ul>
                <p><em>Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос от 30%</em></p>
                <p><strong>Комиссии за рассмотрение заявки</strong> на кредит и за выдачу кредита – отсутствуют.</p>
            `,
            'filterRate' : 9.4,
            'filterTerms' : [3, 30],
            'filterFee' : 10
        },
        {
            'id'    : 11,
            'image' : 'img/mortgage/banks/11.png',
            'descr' : `
                <h3>ВТБ24 предлагает ипотечную программу<br>
                    на приобретение квартир в жилом комплексе «Летний сад».</h3>
                <ul>
                    <li><strong>Первоначальный взнос</strong>&nbsp;&mdash; от 15% от стоимости приобретаемой недвижимости</li>
                    <li><strong>Срок кредитования</strong>&nbsp;&mdash; от 1 до 30 лет.</li>
                    <li><strong>Процентная ставка фиксированная:</strong> до и после оформления прав собственности от 9,5% годовых в рублях</li>
                </ul>
                <p><em>Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос от 30%</em></p>
                <p><strong>Комиссии за рассмотрение заявки</strong> на кредит и за выдачу кредита – отсутствуют.</p>
            `,
            'filterRate' : 9,
            'filterTerms' : 30,
            'filterFee' : 10
        },
        {
            'id'    : 12,
            'image' : 'img/mortgage/banks/12.png',
            'descr' : `
                <h3>ВТБ24 предлагает ипотечную программу<br>
                    на приобретение квартир в жилом комплексе «Летний сад».</h3>
                <ul>
                    <li><strong>Первоначальный взнос</strong>&nbsp;&mdash; от 15% от стоимости приобретаемой недвижимости</li>
                    <li><strong>Срок кредитования</strong>&nbsp;&mdash; от 1 до 30 лет.</li>
                    <li><strong>Процентная ставка фиксированная:</strong> до и после оформления прав собственности от 9,5% годовых в рублях</li>
                </ul>
                <p><em>Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос от 30%</em></p>
                <p><strong>Комиссии за рассмотрение заявки</strong> на кредит и за выдачу кредита – отсутствуют.</p>
            `,
            'filterRate' : 9.5,
            'filterTerms' : 25,
            'filterFee' : 10
        },
        {
            'id'    : 13,
            'image' : 'img/mortgage/banks/13.png',
            'descr' : `
                <h3>ВТБ24 предлагает ипотечную программу<br>
                    на приобретение квартир в жилом комплексе «Летний сад».</h3>
                <ul>
                    <li><strong>Первоначальный взнос</strong>&nbsp;&mdash; от 15% от стоимости приобретаемой недвижимости</li>
                    <li><strong>Срок кредитования</strong>&nbsp;&mdash; от 1 до 30 лет.</li>
                    <li><strong>Процентная ставка фиксированная:</strong> до и после оформления прав собственности от 9,5% годовых в рублях</li>
                </ul>
                <p><em>Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос от 30%</em></p>
                <p><strong>Комиссии за рассмотрение заявки</strong> на кредит и за выдачу кредита – отсутствуют.</p>
            `,
            'filterRate' : 8.5,
            'filterTerms' : 30,
            'filterFee' : 20
        },
        {
            'id'    : 14,
            'image' : 'img/mortgage/banks/14.png',
            'descr' : `
                <h3>ВТБ24 предлагает ипотечную программу<br>
                    на приобретение квартир в жилом комплексе «Летний сад».</h3>
                <ul>
                    <li><strong>Первоначальный взнос</strong>&nbsp;&mdash; от 15% от стоимости приобретаемой недвижимости</li>
                    <li><strong>Срок кредитования</strong>&nbsp;&mdash; от 1 до 30 лет.</li>
                    <li><strong>Процентная ставка фиксированная:</strong> до и после оформления прав собственности от 9,5% годовых в рублях</li>
                </ul>
                <p><em>Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос от 30%</em></p>
                <p><strong>Комиссии за рассмотрение заявки</strong> на кредит и за выдачу кредита – отсутствуют.</p>
            `,
            'filterRate' : 7.4,
            'filterTerms' : 7,
            'filterFee' : 15
        },
        {
            'id'    : 15,
            'image' : 'img/mortgage/banks/15.png',
            'descr' : `
                <h3>ВТБ24 предлагает ипотечную программу<br>
                    на приобретение квартир в жилом комплексе «Летний сад».</h3>
                <ul>
                    <li><strong>Первоначальный взнос</strong>&nbsp;&mdash; от 15% от стоимости приобретаемой недвижимости</li>
                    <li><strong>Срок кредитования</strong>&nbsp;&mdash; от 1 до 30 лет.</li>
                    <li><strong>Процентная ставка фиксированная:</strong> до и после оформления прав собственности от 9,5% годовых в рублях</li>
                </ul>
                <p><em>Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос от 30%</em></p>
                <p><strong>Комиссии за рассмотрение заявки</strong> на кредит и за выдачу кредита – отсутствуют.</p>
            `,
            'filterRate' : 12.3,
            'filterTerms' : 30,
            'filterFee' : 0
        },
        {
            'id'    : 16,
            'image' : 'img/mortgage/banks/16.png',
            'descr' : `
                <h3>ВТБ24 предлагает ипотечную программу<br>
                    на приобретение квартир в жилом комплексе «Летний сад».</h3>
                <ul>
                    <li><strong>Первоначальный взнос</strong>&nbsp;&mdash; от 15% от стоимости приобретаемой недвижимости</li>
                    <li><strong>Срок кредитования</strong>&nbsp;&mdash; от 1 до 30 лет.</li>
                    <li><strong>Процентная ставка фиксированная:</strong> до и после оформления прав собственности от 9,5% годовых в рублях</li>
                </ul>
                <p><em>Возможно рассмотрение заявки на кредит по 2 документам. Первоначальный взнос от 30%</em></p>
                <p><strong>Комиссии за рассмотрение заявки</strong> на кредит и за выдачу кредита – отсутствуют.</p>
            `,
            'filterRate' : 15,
            'filterTerms' : 15,
            'filterFee' : 0
        }
    ];
</script>
<script src="js/calculator.js"></script>
{% include "includes/blocks/calculator-form.njk" %}
{% endblock %}
