{% set title = "Коммерческая недвижимость" %}
{% extends "layout.njk" %}

{% block content %}
<div class="wrapper">
    <section class="CommEstate_header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item breadcrumbs__item_active">Коммерческая недвижимость</a>
            </div>
            <h1 class="title-page">Продажа коммерческой недвижимости</h1>
        </div>
    </section>
    <div class="container">
        <div class="CommEstate_content">
            <div class="estates">
                <div class="estate-container">
                    <p id="title-775" class="estate-container__title">
                        <strong>Корпус 3</strong>
                    </p>
                    <table id="table-1" class="estate-container__table">
                        <thead>
                            <tr>
                                <td class="CommEstate_tdFloor">Этаж</td>
                                <td class="CommEstate_tdType">Тип</td>
                                <td class="CommEstate_tdSq">Площадь</td>
                                <td class="CommEstate_tdPriceM2">Цена за м<sup>2</sup></td>
                                <td class="CommEstate_tdPrice">Цена</td>
                                <td class="CommEstate_download">&nbsp;</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1 этаж</td>
                                <td class="CommEstate_tdType">В-1-2</td>
                                <td>37.37 м<sup>2</sup></td>
                                <td class="CommEstate_tdPriceM2">148 019 р.</td>
                                <td>5 531 479 р.</td>
                                <td><a class="CommEstate_downloadLink" href="#" target="_blank"><span>Загрузить</span></a></td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td class="CommEstate_tdType">В-1-25</td>
                                <td>40.1 м<sup>2</sup></td>
                                <td class="CommEstate_tdPriceM2">149 737 р.</td>
                                <td>6 004 475 р.</td>
                                <td><a class="CommEstate_downloadLink" href="#" target="_blank"><span>Загрузить</span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="estates">
                <div class="estate-container">
                    <p id="title-776" class="estate-container__title">
                        <strong>Корпус 4</strong>
                    </p>
                    <table id="table-1" class="estate-container__table">
                        <thead>
                            <tr>
                                <td class="CommEstate_tdFloor">Этаж</td>
                                <td class="CommEstate_tdType">Тип</td>
                                <td class="CommEstate_tdSq">Площадь</td>
                                <td class="CommEstate_tdPriceM2">Цена за м<sup>2</sup></td>
                                <td class="CommEstate_tdPrice">Цена</td>
                                <td class="CommEstate_download">&nbsp;</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1 этаж</td>
                                <td class="CommEstate_tdType">В-1-1</td>
                                <td>77.95 м<sup>2</sup></td>
                                <td class="CommEstate_tdPriceM2">128 723 р.</td>
                                <td>10 034 032 р.</td>
                                <td><a class="CommEstate_downloadLink" href="#" target="_blank"><span>Загрузить</span></a></td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td class="CommEstate_tdType">В-1-6</td>
                                <td>45.47 м<sup>2</sup></td>
                                <td class="CommEstate_tdPriceM2">131 251 р.</td>
                                <td>5 967 995 р.</td>
                                <td><a class="CommEstate_downloadLink" href="#" target="_blank"><span>Загрузить</span></a></td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td class="CommEstate_tdType">В-1-7</td>
                                <td>71.6 м<sup>2</sup></td>
                                <td class="CommEstate_tdPriceM2">128 837 р.</td>
                                <td>9 224 761 р.</td>
                                <td><a class="CommEstate_downloadLink" href="#" target="_blank"><span>Загрузить</span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="estates">
                <div class="estate-container">
                    <p id="title-777" class="estate-container__title">
                        <strong>Корпус 5</strong>
                    </p>
                    <table id="table-1" class="estate-container__table">
                        <thead>
                            <tr>
                                <td class="CommEstate_tdFloor">Этаж</td>
                                <td class="CommEstate_tdType">Тип</td>
                                <td class="CommEstate_tdSq">Площадь</td>
                                <td class="CommEstate_tdPriceM2">Цена за м<sup>2</sup></td>
                                <td class="CommEstate_tdPrice">Цена</td>
                                <td class="CommEstate_download">&nbsp;</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1 этаж</td>
                                <td class="CommEstate_tdType">В-1-15</td>
                                <td>41.92 м<sup>2</sup></td>
                                <td class="CommEstate_tdPriceM2">130 469 р.</td>
                                <td>5 469 264 р.</td>
                                <td><a class="CommEstate_downloadLink" href="#" target="_blank"><span>Загрузить</span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block page_bottom %}
{# <script src="js/script_for_this_page.js"></script> #}
{% endblock %}