{% set title = "О застройщике" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">

    <section class="company-header">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__item">Главная</a>
            <a href="#" class="breadcrumbs__item">Информация</a>
            <a href="#" class="breadcrumbs__item breadcrumbs__item_active">О застройщике</a>
        </div>
    </section>

    <section class="company-banner">
        <div class="company-banner__content">
            <h1 class="company-banner__title">О застройщике – Группа «Эталон»</h1>
            <div class="company-banner__subtitle">Застройщик с 30-летней историей</div>
            <div class="company-arrow-line">
                <div class="company-arrow-line__inner"></div>
            </div>
        </div>
        <div class="company-banner__arrow">
            <div class="company-banner__arrow_left"></div>
            <div class="company-banner__arrow_right"></div>
        </div>
    </section>

    <div class="container">
        <section class="company-advantages">
            <div class="company-advantages-item company-advantages-item_1">
                <div class="company-advantages-item__toptext">Более</div>
                <div class="company-advantages-item__title">30</div>
                <div class="company-advantages-item__subtitle">Лет</div>
                <div class="company-advantages-item__text">
                    успешной работы на рынке
                    недвижимости России.
                </div>
            </div>
            <div class="company-advantages-item company-advantages-item_2">
                <div class="company-advantages-item__title">5.8 <span>млн<sup>2</sup></span></div>
                <div class="company-advantages-item__subtitle">недвижимости</div>
                <div class="company-advantages-item__text">
                    введено в эксплуатацию
                    с&nbsp;момента создания Группы «Эталон».
                </div>
            </div>
            <div class="company-advantages-item company-advantages-item_3">
                <div class="company-advantages-item__title">22</div>
                <div class="company-advantages-item__subtitle">объекта</div>
                <div class="company-advantages-item__text">
                    в реализации по состоянию
                    на&nbsp;сегодняшний день.
                </div>
            </div>
            <div class="company-advantages-item company-advantages-item_4">
                <div class="company-advantages-item__title">0</div>
                <div class="company-advantages-item__subtitle">просрочек</div>
                <div class="company-advantages-item__text">
                    по сдаче объектов.
                </div>
            </div>
            <div class="company-advantages-item company-advantages-item_5">
                <div class="company-advantages-item__toptext">Более</div>
                <div class="company-advantages-item__title">200 <span>тыс</span></div>
                <div class="company-advantages-item__subtitle">человек</div>
                <div class="company-advantages-item__text">
                    проживает в домах
                    Группы «Эталон».
                </div>
            </div>
            <div class="company-advantages-item company-advantages-item_6">
                <div class="company-advantages-item__title">2.82 <span>млн м<sup>2</sup></span></div>
                <div class="company-advantages-item__subtitle">заявленной недвижимости</div>
                <div class="company-advantages-item__text">
                    на рынке Москвы, Московской области
                    и&nbsp;Санкт-Петербурга*
                </div>
                <div class="company-advantages-item__note">
                    * (по оценке Knight Frank по состоянию на 31.12.17)
                </div>
            </div>
            <div class="company-advantages-item company-advantages-item_7">
                <div class="company-advantages-item__title">52</div>
                <div class="company-advantages-item__subtitle">города россии</div>
                <div class="company-advantages-item__text">
                    охватывает общенациональная сеть  продаж Группы «Эталон»,
                    являющаяся крупнейшей среди сетей продаж российских
                    девелоперских компаний.
                </div>
            </div>
        </section>
    </div>

    <section class="company-descr">
        <div class="container">
            <div class="company-descr__content">
                <p class="company-descr__text company-descr__text_big">Группа «Эталон», основанная в 1987 г. Вячеславом Заренковым, сегодня является одной из крупнейших
                    корпораций в сфере девелопмента и строительства в России.</p>

                <p class="company-descr__text">
                    Компания фокусируется на жилой недвижимости для среднего класса в Санкт-Петербурге, где она представлена
                    брендом «Эталон ЛенСпецСМУ», а так же в Москве и Московской области.
                </p>
                <p class="company-descr__text">Благодаря решительному развитию на протяжении 30 лет сегодня Группа «Эталон» является одним из наиболее
                    успешных игроков на российском рынке недвижимости. С момента создания Компания ввела в эксплуатацию
                    в общей сложности более 5,8 млн м <sup>2</sup> недвижимости: в домах Группы «Эталон» проживает
                    более 200 000 человек.</p>

                <p class="company-descr__text">Надежность Компании обеспечивается строжайшим контролем качества и сроков выполнения работ
                    на всех этапах строительства. Группа «Эталон» обладаетсобственным парком строительной
                    техники, заводами по производству стройматериалов, а также пулом подрядных и генподрядных
                    организаций. Производственных мощностей Группы достаточно не только для реализации собственных
                    проектов, но и для работы навнешнем заказе – Компания оказывает строительные услуги другим игрокам
                    российского рынка недвижимости.</p>

                <p class="company-descr__text">С 2011 года ценные бумаги Группы «Эталон» торгуются на основном рынке Лондонской фондовой биржи.
                    Компания раскрывает показатели бизнеса в соответствии с лучшими мировыми практиками
                    публичных корпораций, укрепляя уверенность клиентов всвоевременном выполнении
                    обязательств перед ними. </p>
            </div>
        </div>
    </section>

    <div class="container">
        <section class="company-timeline">
            <div class="company-timeline__title">
                Исторические факты:
            </div>
            <div class="company-arrow-line company-arrow-line_timeline">
                <div class="company-arrow-line__inner company-arrow-line__inner_timeline"></div>
            </div>
            <div class="company-timeline-list">
                <div class="company-timeline-item">
                    <div class="company-timeline-item__year">С 1987 года</div>
                    <div class="company-timeline-item__text">
                        <p>
                            Группа «Эталон» работает на рынке
                            Санкт-Петербурга, с 2006 – на рынке Москвы.
                        </p>
                    </div>
                    <div class="company-timeline-item__circle"></div>
                </div>
                <div class="company-timeline-item">
                    <div class="company-timeline-item__year">С 1997 года</div>
                    <div class="company-timeline-item__text">
                        <p>Вокруг Компании начинают образовываться дочерние
                            предприятия, каждое из которых специализируется
                            на выполнении отдельных строительных
                            и производственных видов работ.</p>
                    </div>
                    <div class="company-timeline-item__circle"></div>
                </div>
                <div class="company-timeline-item">
                    <div class="company-timeline-item__year">В 1999 году</div>
                    <div class="company-timeline-item__text">
                        <p>
                            Группа «Эталон» получила золотую медаль Ассоциации
                            промышленников Франции «За заслуги в области
                            строительства и использование прогрессивных
                            технологий в практике».
                        </p>
                    </div>
                    <div class="company-timeline-item__circle"></div>
                </div>
                <div class="company-timeline-item">
                    <div class="company-timeline-item__year">В 2006 году</div>
                    <div class="company-timeline-item__text">
                        <p>
                            Группа «Эталон» первой среди всех российских
                            строительных компаний получила кредитный рейтинг
                            от крупнейшего и наиболее консервативного
                            международного рейтингового агентства
                            S&P Global Ratings.</p>
                    </div>
                    <div class="company-timeline-item__circle"></div>
                </div>
                <div class="company-timeline-item">
                    <div class="company-timeline-item__year">В 2009 году</div>
                    <div class="company-timeline-item__text">
                        <p>
                            Компания выходит на рынок Московской области
                            с проектом комплексного освоения территории
                            «Изумрудные холмы».
                        </p>
                    </div>
                    <div class="company-timeline-item__circle"></div>
                </div>
                <div class="company-timeline-item">
                    <div class="company-timeline-item__year">В 2011 году</div>
                    <div class="company-timeline-item__text">
                        <p>
                            Группа «Эталон» проводит первичное размещение
                            ценных бумаг на основном рынке Лондонской
                            фондовой биржи, привлекая более 500 млн долларов
                            США от ведущих международных инвесторов
                            для развития проектов.</p>
                    </div>
                    <div class="company-timeline-item__circle"></div>
                </div>
                <div class="company-timeline-item">
                    <div class="company-timeline-item__year">В 2012 году</div>
                    <div class="company-timeline-item__text">
                        <p>
                            Компания завершила строительство ЖК «Юбилейный
                            квартал» - крупнейшего на тот момент проекта
                            комплексного освоения территорий в Санкт-
                            Петербурге общей площадью 614 тыс. м2</p>
                    </div>
                    <div class="company-timeline-item__circle"></div>
                </div>
                <div class="company-timeline-item">
                    <div class="company-timeline-item__year">В 2013 году</div>
                    <div class="company-timeline-item__text">
                        <p>
                            Группа выводит на рынок Москвы проект «Эталон-Сити»
                            - жилой комплекс в географическом центре
                            «Большой Москвы».</p>
                    </div>
                    <div class="company-timeline-item__circle"></div>
                </div>
                <div class="company-timeline-item">
                    <div class="company-timeline-item__year">В 2014 году</div>
                    <div class="company-timeline-item__text">
                        <p>
                            в Санкт-Петербурге Группа «Эталон» ввела
                            в эксплуатацию крупнейший в Восточной Европе
                            конгрессно-выставочный центр «ЭкспоФорум».
                        </p>
                    </div>
                    <div class="company-timeline-item__circle"></div>
                </div>
                <div class="company-timeline-item">
                    <div class="company-timeline-item__year">В 2015 году</div>
                    <div class="company-timeline-item__text">
                        <p>
                            Начинается строительство третьего московского
                            проекта Компании – жилого комплекса
                            «Золотая звезда».
                        </p>
                    </div>
                    <div class="company-timeline-item__circle"></div>
                </div>

                <div class="company-timeline-item">
                    <div class="company-timeline-item__year">В 2016 году</div>
                    <div class="company-timeline-item__text">
                        <p>Капитализация Группы «Эталон» превысила $1 млрд.</p>
                    </div>
                    <div class="company-timeline-item__circle"></div>
                </div>
                <div class="company-timeline-item">
                    <div class="company-timeline-item__year">В 2017 году</div>
                    <div class="company-timeline-item__text">
                        <p>
                            Соотношение объемов строительства Группы «Эталон»
                            в Москве и Санкт-Петербурге становится равным.
                        </p>
                    </div>
                    <div class="company-timeline-item__circle company-timeline-item__circle_active"></div>
                </div>
            </div>
        </section>
    </div>

</div>

{% include "includes/blocks/btn-call.njk" %}


{% endblock %}
{% block page_bottom %}

{% endblock %}