{% set title = "Контакты" %}
{% extends "layout.njk" %}
{% block content %}
<div class="contacts-page-wrapper">
    <div class="wrapper">
        <div class="contacts-page">
            <div class="contacts-wrap">
                <div id="contacts-map" class="contact-map" data-map="contacts" data-map-init='{"center": [55.882327, 37.684076], "title": "г. Москва, ул. Тайнинская д. 9", "zoom" : 16, "type": "object", "icon" : {"url" : "/img/contacts/object-office.png", "size" : [70, 80.5]}, "controls" : ["zoomControl", "searchControl"]}'></div>
                <div class="contact-offices">
                    <h1 class="contact-offices__title">Офисы продаж</h1>
                    <div class="contact-offices-types">
                        <ul>
                            <li>
                                <a href="#office-object" data-contacts-map='{"center": [55.879114, 37.544560], "title": "г. Москва, Дмитровское шоссе, вл. 107", "zoom" : 16, "icon" : {"url" : "/img/contacts/object-office.png", "size" : [70, 80.5]}}' class="contact-offices-types__link">на объекте</a>
                            </li>
                            <li>
                                <a href="#office-team" class="contact-offices-types__link">Команда проекта</a>
                            </li>
                            <li>
                                <a href="#office-center" data-contacts-map='{"center": [55.772197, 37.622830], "zoom" : 17, "type": "offices"}' class="contact-offices-types__link">центральный</a>
                            </li>
                            <li>
                                <a href="#office-region" data-contacts-map='{"center": [61.484317, 98.179034], "zoom" : 2, "type": "regions"}' class="contact-offices-types__link">региональные</a>
                            </li>
                        </ul>

                        <div id="office-object" class="contact-offices-item contact-offices-item_type">
                            <div class="contact-offices-item__img" style="background-image: url('img/contacts/office-object-img.jpg')"></div>
                            <div class="contact-form-link">
                                <a href="#" data-sidebar-toggle="contact-form">Помогите нам стать лучше</a>
                            </div>
                            <div class="contact-offices-item__text">
                                <p><span class="contact-offices-item__text_bold">Адрес: </span>129345, Москва, ул. Тайнинская д. 9
                                <p><span class="contact-offices-item__text_bold">Телефон: </span>+7 (495) 106-05-58</p>
                                </p>
                                <p><span class="contact-offices-item__text_bold">Режим работы: </span>пн.-вс.— 9:00–21:00 (без перерыва на обед)</p>
                                <p>
                                    <a data-fancybox="true" data-type="iframe" data-src="http://lp2.etalonnormand.ru/panoramas/office/" href="javascript:;" class="routeLink" data-options="{ &quot;type&quot; : &quot;iframe&quot;, &quot;iframe&quot; : { &quot;preload&quot; : true, &quot;css&quot; : { &quot;width&quot; : &quot;960px&quot;, &quot;height&quot; : &quot;800px&quot; } } }">Панорама офиса</a>
                                </p>
                            </div>

                        </div>

                        <div id="office-team" class="contact-offices-item">
                            <div class="contact-team" data-team>
                                {% set users = [
                                    {
                                        name: 'Тютюнников Кирилл',
                                        img:  'no_foto_m.svg',
                                        post: 'Руководитель группы продаж \n ЖК “Летний сад” /  ЖК “Нормандия”'
                                    },
                                    {
                                        name: 'Куренинов Сергей',
                                        img:  'kureninov.jpg',
                                        post: 'Менеджер по продажам' ,
                                        mail: 'Sergey.Kureninov@etalongroup.com'
                                    },
                                    {
                                        name: 'Потапов Юрий',
                                        img:  'potapov.jpg',
                                        post: 'Менеджер по продажам' ,
                                        mail: 'Yuriy.Potapov@etalongroup.com'
                                    },
                                    {
                                        name: 'Якимов Никита',
                                        img:  'yakimov.jpg',
                                        post: 'Менеджер по продажам' ,
                                        mail: 'Nikita.Yakimov@etalongroup.com'
                                    },
                                    {
                                        name: 'Щербаков-Фраерман Никита',
                                        img:  'scherbakov-fraerman.jpg',
                                        post: 'Менеджер по продажам' ,
                                        mail: 'Nikita.Shcherbakov-Fraerman@etalongroup.com'
                                    },
                                    {
                                        name: 'Манахов Андрей',
                                        img:  'manahov.jpg',
                                        post: 'Менеджер по продажам' ,
                                        mail: 'Andrey.Manakhov@etalongroup.com'
                                    },
                                    {
                                        name: 'Молчанова Мария',
                                        img:  'molchanova.jpg',
                                        post: 'Менеджер по продажам' ,
                                        mail: 'Mariya.Molchanova@etalongroup.com'
                                    },
                                    {
                                        name: 'Лужнов Антон',
                                        img:  'no_foto_m.svg',
                                        post: 'Менеджер по продажам' ,
                                        mail: 'Anton.Luzhnov@etalongroup.com'
                                    },
                                    {
                                        name: 'Буйлов Павел',
                                        img:  'buylov.jpg',
                                        post: 'Менеджер по продажам' ,
                                        mail: 'Pavel.Buylov@etalongroup.com'
                                    }
                                ]%}
                                {% for user in users %}
                                    <div class="contact-team-item">
                                        <div class="contact-team-item__img">
                                            <img src="img/team/{{ user.img }}" alt="">
                                        </div>
                                        <div class="contact-team-item__txt">
                                            <div class="contact-team-item__name">{{ user.name }}</div>
                                            {% if user.post !== undefind %}
                                                <div class="contact-team-item__post">{{ user.post | striptags(true) | escape | nl2br }}</div>
                                            {% endif %}
                                            {% if user.mail !== undefind %}
                                                <a href="mailto:{{ user.mail }}" class="contact-team-item__mail">{{ user.mail }}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div id="office-center" class="contact-offices-item">
                            <!--<div class="contact-offices-item__img" style="background-image: url('img/contacts/office-center-img.jpg')"></div>-->
                            <div id="office-1" class="contact-offices-item__type">
                                <div class="contact-form-link">
                                    <a href="#" data-sidebar-toggle="contact-form">Помогите нам стать лучше</a>
                                </div>
                                <div class="contact-offices-item__title contact-offices-item__title_orange">Центральный офис продаж</div>
                                <div class="contact-offices-item__text contact-offices-item__text_noImg">
                                    <p><span class="contact-offices-item__text_bold">Телефон: </span><span class="phone">+7 495 324-44-21</span></p>
                                    <p><span class="contact-offices-item__text_bold">Режим работы: </span>пн.-пт. 9:00–20:00 (без перерыва на обед)
                                        сб., вс. 10:00–17:00
                                    </p>
                                    <p><span class="contact-offices-item__text_bold">Режим работы кассы: </span>пн-пт. 09:00-19:30 (перерыв на обед
                                        с 13-14) сб. 10:00-16:30 (без перерыва на обед) вс. выходной</p>

                                </div>
                            </div>

                            <div id="office-2" class="contact-offices-item__type" style="display: none;">
                                <div class="contact-form-link">
                                    <a href="#" data-sidebar-toggle="contact-form">Помогите нам стать лучше</a>
                                </div>
                                <div class="contact-offices-item__title contact-offices-item__title_green">Отдел оформления и регистрации недвижимого имущества</div>
                                <div class="contact-offices-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span>127051, г. Москва, Цветной бульвар, д. 26</p>
                                    <p><span class="contact-offices-item__text_bold">Метро: </span>ветной бульвар
                                    </p>
                                    <p><span class="contact-offices-item__text_bold">Режим работы: </span>пн.-пт. 09:00-18:00 (перерыв на обед с 13:00-14:00)</p>
                                    <p><span class="contact-offices-item__text_bold">Запись на прием осуществляется по тел.: </span>8 (495) 685-93-06 (консультации по вопросам оформления прав собственности) пн.-пт. 09:00-18:00 (перерыв на обед 13:00-14:00)</p>

                                </div>
                            </div>

                            <div id="office-3" class="contact-offices-item__type" style="display: none;">
                                <div class="contact-form-link">
                                    <a href="#" data-sidebar-toggle="contact-form">Помогите нам стать лучше</a>
                                </div>
                                <div class="contact-offices-item__title contact-offices-item__title_blue">Отдел постпродажного обслуживания</div>
                                <div class="contact-offices-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span>г. Москва, Цветной бульвар 30 стр.1
                                        Деловой центр «Цветной 30» (Группа «Эталон»)</p>
                                    <p><span class="contact-offices-item__text_bold">Режим работы: </span>Пн -пт. 8.30 – 19.00
                                        Суб. 10.00 – 17.00 (без перерыва на обед)
                                    </p>
                                    <p><span class="contact-offices-item__text_bold">Запись на прием осуществляется по тел.: </span>
                                        (495) 378-88-88</p>

                                </div>
                            </div>

                            <div class="office-center-links">
                                <a href="#office-1" class="office-center-links__item" data-office-placemark='{"center": [55.770851, 37.622462], "title": "Центральный офис продаж", "icon" : {"url": "/img/contacts/center-office.png", "size": [60, 69]}, "id" : "office-1"}'>Центральный офис</a>
                                <a href="#office-2" class="office-center-links__item" data-office-placemark='{"center": [55.771305, 37.622914], "title": "Цветной бульвар, д. 26", "icon" : {"url": "/img/contacts/marker-green.png", "size": [60, 69]}, "id" : "office-2"}'>Отдел оформления</a>
                                <a href="#office-3" class="office-center-links__item" data-office-placemark='{"center": [55.772197, 37.622830], "title": "Москва, Цветной бульвар 30 стр.1 Деловой центр «Цветной 30» (Группа «Эталон»)", "icon" : {"url": "/img/contacts/marker-blue.png", "size": [60, 69]}, "id" : "office-3"}'>Отдел постпродажного обслуживания</a>
                            </div>
                        </div>
                        <div id="office-region" class="contact-offices-item">
                            <div class="region-list">
                                <div class="region-list__col">
                                    <a href="" class="region-list__link" data-region-placemark='{"center": [64.546652, 40.519613], "zoom": "17", "title" : "Архангельск", "icon" : {"url": "/img/contacts/marker-purple.png", "size": [40, 46]}, "id": "region-1"}'><span>Архангельск</span></a>
                                    <a href="" class="region-list__link" data-region-placemark='{"center": [43.1182292, 131.888609], "zoom": "17", "title" : "Владивосток", "icon" : {"url": "/img/contacts/marker-purple.png", "size": [40, 46]}, "id": "region-2"}'><span>Владивосток</span></a>
                                    <a href="" class="region-list__link" data-region-placemark='{"center": [56.836222, 60.614485], "zoom": "17", "title" : "Екатеринбург", "icon" : {"url": "/img/contacts/marker-purple.png", "size": [40, 46]}, "id": "region-3"}'><span>Екатеринбург</span></a>
                                    <a href="" class="region-list__link" data-region-placemark='{"center": [52.271471, 104.318589], "zoom": "17", "title" : "Иркутск", "icon" : {"url": "/img/contacts/marker-purple.png", "size": [40, 46]}, "id": "region-4"}'><span>Иркутск</span></a>
                                    <a href="" class="region-list__link" data-region-placemark='{"center": [45.037001, 38.975646], "zoom": "17", "title" : "Краснодар", "icon" : {"url": "/img/contacts/marker-purple.png", "size": [40, 46]}, "id": "region-5"}'><span>Краснодар</span></a>
                                    <a href="" class="region-list__link" data-region-placemark='{"center": [59.567286, 150.809539], "zoom": "17", "title" : "Магадан", "icon" : {"url": "/img/contacts/marker-purple.png", "size": [40, 46]}, "id": "region-6"}'><span>Магадан</span></a>
                                    <a href="" class="region-list__link" data-region-placemark='{"center": [68.969755, 33.072690], "zoom": "17", "title" : "Мурманск", "icon" : {"url": "/img/contacts/marker-purple.png", "size": [40, 46]}, "id": "region-7"}'><span>Мурманск</span></a>
                                    <a href="" class="region-list__link" data-region-placemark='{"center": [60.939928, 76.556283], "zoom": "17", "title" : "Нижневартовск", "icon" : {"url": "/img/contacts/marker-purple.png", "size": [40, 46]}, "id": "region-8"}'><span>Нижневартовск</span></a>

                                </div>
                                <div class="region-list__col">
                                    <a href="" class="region-list__link" data-region-placemark='{"center": [66.084846, 76.660717], "zoom": "17", "title" : "Новый Уренгой", "icon" : {"url": "/img/contacts/marker-purple.png", "size": [40, 46]}, "id": "region-9"}'><span>Новый Уренгой</span></a>
                                    <a href="" class="region-list__link" data-region-placemark='{"center": [69.346190, 88.204679], "zoom": "17", "title" : "Норильск", "icon" : {"url": "/img/contacts/marker-purple.png", "size": [40, 46]}, "id": "region-10"}'><span>Норильск</span></a>
                                    <a href="" class="region-list__link" data-region-placemark='{"center": [53.054338, 158.638777], "zoom": "17", "title" : "Петропавловск-Камчатский", "icon" : {"url": "/img/contacts/marker-purple.png", "size": [40, 46]}, "id": "region-11"}'><span>Петропавловск-Камчатский</span></a>
                                    <a href="" class="region-list__link" data-region-placemark='{"center": [61.254670, 73.386277], "zoom": "17", "title" : "Сургут", "icon" : {"url": "/img/contacts/marker-purple.png", "size": [40, 46]}, "id": "region-12"}'><span>Сургут</span></a>
                                    <a href="" class="region-list__link" data-region-placemark='{"center": [48.468809, 135.063788], "zoom": "17", "title" : "Хабаровск", "icon" : {"url": "/img/contacts/marker-purple.png", "size": [40, 46]}, "id": "region-13"}'><span>Хабаровск</span></a>
                                    <a href="" class="region-list__link" data-region-placemark='{"center": [46.958149, 142.730903], "zoom": "17", "title" : "Южно-Сахалинск", "icon" : {"url": "/img/contacts/marker-purple.png", "size": [40, 46]}, "id": "region-14"}'><span>Южно-Сахалинск</span></a>
                                    <a href="" class="region-list__link" data-region-placemark='{"center": [62.029324, 129.727776], "zoom": "17", "title" : "Якутск", "icon" : {"url": "/img/contacts/marker-purple.png", "size": [40, 46]}, "id": "region-15"}'><span>Якутск</span></a>
                                </div>
                            </div>
                            <div class="region-item" id="region-1">
                                <div class="region-item__title">Архангельск</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="region-2">
                                <div class="region-item__title">Владивосток</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="region-3">
                                <div class="region-item__title">Екатеринбург</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="region-4">
                                <div class="region-item__title">Иркутск</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="region-5">
                                <div class="region-item__title">Краснодар</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="region-6">
                                <div class="region-item__title">Магадан</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="region-7">
                                <div class="region-item__title">Мурманск</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="region-8">
                                <div class="region-item__title">Нижневартовск</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="region-9">
                                <div class="region-item__title">Новый Уренгой</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="region-10">
                                <div class="region-item__title">Норильск</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="region-11">
                                <div class="region-item__title">Петропавловск-Камчатский</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="region-12">
                                <div class="region-item__title">Сургут</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="region-13">
                                <div class="region-item__title">Хабаровск</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="region-14">
                                <div class="region-item__title">Южно-Сахалинск</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="region-15">
                                <div class="region-item__title">Якутск</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="close-region-office"><img src="img/arrow_news_back.svg" alt=""></button>
                </div>
            </div>
            <section class="contacts-header">
                <div class="breadcrumbs">
                    <a href="#" class="breadcrumbs__item">Главная</a>
                    <a href="#" class="breadcrumbs__item">Информация</a>
                    <a href="#" class="breadcrumbs__item breadcrumbs__item_active">Контакты</a>
                </div>
                <div class="contacts-header-inner">
                    <h1 class="title-page">Контакты</h1>
                    <div class="contacts-header-links">
                        <a href="yandexnavi://build_route_on_map?lat_to=55.881409&lon_to=37.683872" class="contacts-header-links__item contacts-header-links__item_ynav">
                            <span class="contacts-header-links__desktop">Маршрут в Яндекс-Навигаторе</span>
                            <span class="contacts-header-links__tablet">Навигатор</span>
                        </a>
                        <a href="https://yandex.ru/maps/?text=55.881409,37.683872" class="contacts-header-links__item contacts-header-links__item_ymap">
                            <span class="contacts-header-links__desktop">Смотреть на Яндекс-Картах</span>
                            <span class="contacts-header-links__tablet">Яндекс-карты</span>
                        </a>
                        <a href="https://maps.google.com/?daddr=55.881409,37.683872" class="contacts-header-links__item contacts-header-links__item_gmap">
                            <span class="contacts-header-links__desktop">Смотреть на Google-Картах</span>
                            <span class="contacts-header-links__tablet">Google-Карты</span>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>

    {% include "includes/blocks/btn-call.njk" %}
</div>

{% endblock %}
{% block page_bottom %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=AI12UVwBAAAA5dcbfQIA1REaro56GW5XUxGMf4L53uWf3YQAAAAAAAAAAACZYjqB842QTM0A2jLc8uxwuOTUDQ==" type="text/javascript"></script>
<script src="js/contacts.js"></script>
{% include "includes/blocks/contact-form.njk" %}
{% endblock %}
