{% set title = "Подбор по параметрам" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
        <div class="timer-date _inner" data-timer="2019,00,12,0,0">
            <div class="timer-date__text">Скидки до 7% <span>До конца акции осталось</span></div>
            <div class="timer-date__date">
                <span class="timer-date__hours"></span>
                <span class="timer-date__date-type"></span>
            </div>
        </div>
        <nav class="TopNav">
            <div class="TopNav_inner">
                <div class="TopNav_leaf"><a href="genplan.html" class="TopNav_link">На генплане</a></div>
                <div class="TopNav_leaf TopNav_leaf-active"><a href="filters.html" class="TopNav_link">По параметрам</a></div>
                {# <div class="TopNav_leaf"><a href="filters-parking.html" class="TopNav_link">Паркинг</a></div>
                <div class="TopNav_leaf"><a href="filters-commercial.html" class="TopNav_link">Нежилые помещения</a></div> #}
            </div>
        </nav>
        <section class="PickupFlatLayout">
            <div class="PickupFlatLayout_inner">
                <aside class="PickupFlatLayout_filter">
                    <form class="FilterForm" id="filterForm" autocomplete="off" method="GET" target="/ajax/get_flats_example.json">

                        <!--  START: только аппартаменты  -->
                        <div class="FilterForm_item">
                            <select name="apts" data-persist-id="apts">
                                <option value="2" selected>Апартаменты: не важно</option>
                                <option value="1">Апартаменты: да</option>
                                <option value="0">Апартаменты: нет</option>
                            </select>
                        </div>
                        <!-- END: только аппартаменты -->

                        <div class="FilterForm_item">
                            <div class="FilterForm_chksGroup">
                                <div class="Multycheckbox">
                                    <input class="Multycheckbox_inp" name="discount" data-persist-id="discount" data-possible-values="[1, 0]" value="0" type="hidden">
                                    <div class="Multycheckbox_ico"></div>
                                    <button class="Multycheckbox_lbl" type="button">Акционные квартиры</button>
                                </div>


                                <div class="Multycheckbox">
                                    <input class="Multycheckbox_inp" name="finish" data-persist-id="finish" data-possible-values="[1, 0]" value="0" type="hidden">
                                    <div class="Multycheckbox_ico"></div>
                                    <button class="Multycheckbox_lbl" type="button">Варианты с отделкой</button>
                                </div>
                            </div>
                        </div>

                        <!--  START: Корпус  -->
                        <div class="FilterForm_item">
                            <div class="FilterForm_label">Корпус</div>
                            <div class="FilterForm_checkboxesRow">
                                {% for bld in [
                                    {label: "2а", id: 1},
                                    {label: "2б", id: 2},
                                    {label: "2в", id: 3},
                                    {label: "2г", id: 4},
                                    {label: "3а", id: 5},
                                    {label: "3б", id: 6},
                                    {label: "3в", id: 22},
                                    {label: "4а", id: 7},
                                    {label: "4б", id: 8}
                                ] %}
                                <div class="BigCheckbox">
                                    <label class="BigCheckbox_label">
                                        <input class="BigCheckbox_input" type="checkbox" name="bld[]" data-persist-id="bld_{{bld.id}}" value="{{bld.id}}"><span class="BigCheckbox_view">{{bld.label}}</span>
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- END: Корпус -->
                        <!--  START: Количество комнат  -->
                        <div class="FilterForm_item">
                            <div class="FilterForm_label">Количество комнат</div>
                            <div class="FilterForm_checkboxesRow">
                                <div class="BigCheckbox">
                                    <label class="BigCheckbox_label">
                                        <input class="BigCheckbox_input" type="checkbox" name="bedrooms[]" data-persist-id="item_0" value="0"><span class="BigCheckbox_view">CТ</span>
                                    </label>
                                </div>
                                <div class="BigCheckbox">
                                    <label class="BigCheckbox_label">
                                        <input class="BigCheckbox_input" type="checkbox" name="bedrooms[]" data-persist-id="item_1" value="1"><span class="BigCheckbox_view">1</span>
                                    </label>
                                </div>
                                <div class="BigCheckbox">
                                    <label class="BigCheckbox_label">
                                        <input class="BigCheckbox_input" type="checkbox" name="bedrooms[]" data-persist-id="item_2" value="2"><span class="BigCheckbox_view">2</span>
                                    </label>
                                </div>
                                <div class="BigCheckbox">
                                    <label class="BigCheckbox_label">
                                        <input class="BigCheckbox_input" type="checkbox" name="bedrooms[]" data-persist-id="item_3" value="3"><span class="BigCheckbox_view">3</span>
                                    </label>
                                </div>
                                <div class="BigCheckbox">
                                    <label class="BigCheckbox_label">
                                        <input class="BigCheckbox_input" type="checkbox" name="bedrooms[]" data-persist-id="item_3" value="4"><span class="BigCheckbox_view">4</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- END: Количество комнат -->
                        <!--  START: Этаж  -->
                        <div class="FilterForm_item">
                            <div class="FilterForm_label">Этаж</div>
                            <div class="RangeSlider" data-slider-opts="{&quot;min&quot;:2, &quot;max&quot;:25}">
                                <div class="RangeSlider_rangeVals">
                                    <div class="RangeSlider_valViewWrap RangeSlider_valViewWrap-min"><span class="RangeSlider_minValViewEl"></span></div>
                                    <div class="RangeSlider_valViewWrap RangeSlider_valViewWrap-max"><span class="RangeSlider_maxValViewEl"></span></div>
                                </div>
                                <input type="hidden" name="floor_from" data-persist-id="floor_from" value="0">
                                <input type="hidden" name="floor_to" data-persist-id="floor_to" value="25">
                            </div>
                        </div>
                        <!-- END: Этаж -->
                        <!--  START: Не первый/последний  -->
                        <div class="FilterForm_item">
                            <div class="FilterForm_chksGroup">
                                <div class="Multycheckbox">
                                    <input class="Multycheckbox_inp" name="middle_floor_only" data-persist-id="middle_floor_only" data-possible-values="[1, 0]" value="0" type="hidden">
                                    <div class="Multycheckbox_ico"></div>
                                    <button class="Multycheckbox_lbl" type="button">Кроме первого и последнего</button>
                                </div>
                            </div>
                        </div>
                        <!-- END: Не первый/последний -->
                        <!--  START: Площадь  -->
                        <div class="FilterForm_item">
                            <div class="FilterForm_label">Площадь, м2</div>
                            <div class="RangeSlider" data-slider-opts="{&quot;min&quot;:22, &quot;max&quot;:115}">
                                <div class="RangeSlider_rangeVals">
                                    <div class="RangeSlider_valViewWrap RangeSlider_valViewWrap-min"><span class="RangeSlider_minValViewEl"></span></div>
                                    <div class="RangeSlider_valViewWrap RangeSlider_valViewWrap-max"><span class="RangeSlider_maxValViewEl"></span></div>
                                </div>
                                <input type="hidden" name="area_from" value="22" data-persist-id="area_from">
                                <input type="hidden" name="area_to" value="115" data-persist-id="area_to">
                            </div>
                        </div>
                        <!-- END: Площадь -->
                        <!--  START: цена  -->
                        <div class="FilterForm_item">
                            <div class="FilterForm_label">Цена, руб.</div>
                            <div class="RangeSlider" data-slider-opts="{&quot;min&quot;:3216798, &quot;max&quot;:17724370, &quot;counterType&quot;:&quot;formatted_num&quot;}">
                                <div class="RangeSlider_rangeVals">
                                    <div class="RangeSlider_valViewWrap RangeSlider_valViewWrap-min"><span class="RangeSlider_minValViewEl"></span></div>
                                    <div class="RangeSlider_valViewWrap RangeSlider_valViewWrap-max"><span class="RangeSlider_maxValViewEl"></span></div>
                                </div>
                                <input type="hidden" name="price_from" value="3216798" data-persist-id="price_from">
                                <input type="hidden" name="price_to" value="17724370" data-persist-id="price_to">
                            </div>
                        </div>
                        <!-- END: цена -->
                        <!--  START: только аппартаменты  -->

                        <!-- END: только аппартаменты -->
                        {# селект "только аппартаменты" был раньше тут! #}
                        <!--  START: только по акции  -->

                        <!-- END: только по акции -->
                        <!--  START: Уникальные планировки  -->
                        <div class="FilterForm_accordion FilterForm_accordion-additionals">
                            <h6 class="FilterForm_groupHead">Уникальные планировки</h6>
                            <div>
                                <div class="FilterForm_item">
                                        <div class="Multycheckbox">
                                            <input class="Multycheckbox_inp" name="window_four" data-persist-id="window_four" data-possible-values="[0, 1]" value="0" type="hidden">
                                            <div class="Multycheckbox_ico"></div>
                                            <button class="Multycheckbox_lbl" type="button">с 4-мя окнами в комнате</button>
                                        </div>


                                        <div class="Multycheckbox">
                                            <input class="Multycheckbox_inp" name="window_wardrobe" data-persist-id="window_wardrobe" data-possible-values="[0, 1]" value="0" type="hidden">
                                            <div class="Multycheckbox_ico"></div>
                                            <button class="Multycheckbox_lbl" type="button">с окнами в гардеробных</button>
                                        </div>
                                        <div class="Multycheckbox">
                                            <input class="Multycheckbox_inp" name="window_bathroom" data-persist-id="window_bathroom" data-possible-values="[0, 1]" value="0" type="hidden">
                                            <div class="Multycheckbox_ico"></div>
                                            <button class="Multycheckbox_lbl" type="button">с окнами в ванных комнатах</button>
                                        </div>


                                        <div class="Multycheckbox">
                                            <input class="Multycheckbox_inp" name="window_three" data-persist-id="window_three" data-possible-values="[0, 1]" value="0" type="hidden">
                                            <div class="Multycheckbox_ico"></div>
                                            <button class="Multycheckbox_lbl" type="button">с окнами на 3 стороны света</button>
                                        </div>
                                        <div class="Multycheckbox">
                                            <input class="Multycheckbox_inp" name="panoram_loggia" data-persist-id="panoram_loggia" data-possible-values="[0, 1]" value="0" type="hidden">
                                            <div class="Multycheckbox_ico"></div>
                                            <button class="Multycheckbox_lbl" type="button">с панорамными лоджиями</button>
                                        </div>


                                        <div class="Multycheckbox">
                                            <input class="Multycheckbox_inp" name="study_2window" data-persist-id="study_2window" data-possible-values="[0, 1]" value="0" type="hidden">
                                            <div class="Multycheckbox_ico"></div>
                                            <button class="Multycheckbox_lbl" type="button">студии с 2 окнами</button>
                                        </div>
                                </div>
                                <div class="FilterForm_item">
                                    <div class="Multycheckbox">
                                            <input class="Multycheckbox_inp" name="master_toilet" data-persist-id="master_toilet" data-possible-values="[0, 1]" value="0" type="hidden">
                                            <div class="Multycheckbox_ico"></div>
                                            <button class="Multycheckbox_lbl" type="button">с мастер-спальнями с санузлами</button>
                                        </div>


                                        <div class="Multycheckbox">
                                            <input class="Multycheckbox_inp" name="master_wardrobe" data-persist-id="master_wardrobe" data-possible-values="[0, 1]" value="0" type="hidden">
                                            <div class="Multycheckbox_ico"></div>
                                            <button class="Multycheckbox_lbl" type="button">с мастер-спальнями с гардеробными</button>
                                        </div>
                                        <div class="Multycheckbox">
                                            <input class="Multycheckbox_inp" name="big_kitchen" data-persist-id="big_kitchen" data-possible-values="[0, 1]" value="0" type="hidden">
                                            <div class="Multycheckbox_ico"></div>
                                            <button class="Multycheckbox_lbl" type="button">с просторными кухнями</button>
                                        </div>


                                        <div class="Multycheckbox">
                                            <input class="Multycheckbox_inp" name="depth_loggia" data-persist-id="depth_loggia" data-possible-values="[0, 1]" value="0" type="hidden">
                                            <div class="Multycheckbox_ico"></div>
                                            <button class="Multycheckbox_lbl" type="button">глубокие лоджии, остекление в пол</button>
                                        </div>
                                        <div class="Multycheckbox">
                                            <input class="Multycheckbox_inp" name="panoram_window" data-persist-id="panoram_window" data-possible-values="[0, 1]" value="0" type="hidden">
                                            <div class="Multycheckbox_ico"></div>
                                            <button class="Multycheckbox_lbl" type="button">с окнами с панорамным остеклением</button>
                                        </div>
                                        <div class="FilterForm_reset FilterForm_reset-additionals"><span>Сбросить параметры</span></div>
                                </div>
                            </div>
                        </div>
                        <!--  END: Уникальные планировки  -->
                        <!--  START: Дополнительные параметры  -->
                        <div class="FilterForm_accordion">
                            <h6 class="FilterForm_groupHead">Дополнительные параметры</h6>
                            <div>
                                <div class="FilterForm_item">
                                    <select name="partitions" data-persist-id="partitions">
                                        <option value="2" selected>Перегородки: не важно</option>
                                        <option value="1">С перегородками</option>
                                        <option value="0">Без перегородок</option>
                                    </select>
                                </div>

                                <div class="FilterForm_item">
                                    <div class="CoolTxtField">
                                        <input class="CoolTxtField_inp" placeholder="№ квартиры" name="flat_num">
                                        <button class="CoolTxtField_reset"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  END: Дополнительные параметры  -->

                        <div class="FilterForm_item FilterForm_item-reset">
                            <div class="FilterForm_reset FilterForm_reset-all FiltersOpts_resetBtn"><span>Сбросить фильтр</span></div>
                        </div>
                    </form>
                </aside>

                <div class="PickupFlatLayout_results">
                    <div class="PickupFlatLayout_progress"></div>
                    <div class="PickupFlatLayout_topRow">
                        <div class="PickupFlatLayout_title">
                            <h4>Найдено: <span id="filteredFlatsCounter">...</span> <span class="hidden-sm hidden-xs">квартир</span><span class="hidden-xxl hidden-xl hidden-lg hidden-md">кв.</span></h4>
                        </div>
                        <div class="PromoActionString" title="Новогодняя скидка при единовременной оплате и ипотеке">
                            <div class="PromoActionString_ico" style="background-image: url('/img/gift.svg')"></div>
                            <div class="PromoActionString_text">Новогодняя акция</div>
                        </div>

                        <div class="PickupFlatLayout_rightCol">
                            <a href="" class="PickupFlatLayout_favorites">Избранное</a>
                            <div class="ViewSwitch">
                                <ul class="ViewSwitch_list">
                                    <a class="ViewSwitch_btn ViewSwitch_btn-active" href="#gridViewResult" title="Вид сеткой">
                                        {% include "includes/svg/grid.svg" %}
                                    </a>
                                    <a class="ViewSwitch_btn" href="#listViewResult" title="Вид списком">
                                        {% include "includes/svg/list.svg" %}
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="Sorter SorterFilters">
                        <div class="SorterFilters_inner">
                            <div class="Sorter_item SorterFilters_item">
                                <button type="button" class="Sorter_lbl" data-val="bld">
                                    <span class="hidden-xs">Корпус</span>
                                    <span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Кор.</span>
                                </button>
                            </div>

                            <div class="Sorter_item SorterFilters_item">
                                <button type="button" class="Sorter_lbl" data-val="section">Секция</button>
                            </div>
                            <div class="Sorter_item SorterFilters_item">
                                <button type="button" class="Sorter_lbl" data-val="floor">
                                    <span class="hidden-xs">Этаж</span>
                                    <span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Эт.</span>
                                </button>
                            </div>
                            <div class="Sorter_item SorterFilters_item">
                                <button type="button" class="Sorter_lbl" data-val="num">№</button>
                            </div>
                            <div class="Sorter_item SorterFilters_item">
                                <button type="button" class="Sorter_lbl" data-val="bedrooms">
                                    <span class="hidden-xs">Комн.</span>
                                    <span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Ком.</span>
                                </button>
                            </div>
                            <div class="Sorter_item SorterFilters_item">
                                <button type="button" class="Sorter_lbl" data-val="area">
                                    <span class="hidden-xs">Площадь</span>
                                    <span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Площ.</span>
                                </button>
                            </div>
                            <div class="Sorter_item SorterFilters_item">
                                <button type="button" class="Sorter_lbl" data-val="price">Цена , руб</button>
                                <input type="hidden" form="filterForm" name="sort" value="">
                                <input type="hidden" form="filterForm" name="sortdir" value="">
                            </div>
                            <div class="Sorter_item SorterFilters_item">
                                <button type="button" class="Sorter_lbl" data-val="finish">Отделка</button>
                            </div>
                        </div>
                    </div>

                    <div id="filterResult" class="PickupFlatLayout_resultsCont">
                        <div style="position: relative; height:calc(100vh - 428px);">
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="PickupFlatLayout_footer">
                <div class="PickupFlatLayout_footerText">
                    <p>Резерв не фиксирует стоимость и условия оплаты. Цена действительна при 100% оплате. Цена с учетом скидки</p>
                </div>
                <div class="PickupFlatLayout_footerPaginationWrap" id="pagerWrap"></div>
            </footer>
        </section>
    </div>
{% include "includes/blocks/btn-call.njk" %} {% endblock %} {% block page_bottom %}

<script src="js/filters.js"></script>
{% endblock %}
