{% set title = "Квартиры с отделкой - современные" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="furnish-page">
        <div class="furnish-page__title"><h1>Отделка квартир в классическом стиле</h1></div>
        <a href="" class="furnish-page__back"><img src="img/arrow_slide_back.svg" alt=""></a>
        <div class="furnish-page-components swiper-container">
            <div class="swiper-wrapper">
                <div data-furnish-title="Гостинная" class="swiper-slide furnish-page-components__item" style="background-image: url('../img/flats-furnish/classic/living-room.jpg');">
                    <div class="furnish-labels">
                        <div class="furnish-labels__item" style="top: 55%; left: 20%;">
                            {% include "includes/blocks/furnish/classic/door-doorknob.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 51%; left: 40%;">
                            {% include "includes/blocks/furnish/classic/wall.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 16%; left: 53%;">
                            {% include "includes/blocks/furnish/classic/ceiling-cornice.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 19%; right: 13%;">
                            {% include "includes/blocks/furnish/classic/windowsill.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="bottom: 26%; left: 66%;">
                            {% include "includes/blocks/furnish/classic/floor-plinth.njk" %}
                        </div>
                    </div>
                </div>
                <div data-furnish-title="Кухня" class="swiper-slide furnish-page-components__item" style="background-image: url('../img/flats-furnish/classic/kitchen.jpg');">
                    <div class="furnish-labels">
                        <div class="furnish-labels__item" style="top: 20%; left: 20%;">
                            {% include "includes/blocks/furnish/classic/wall.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="bottom: 16%; left: 7%;">
                            {% include "includes/blocks/furnish/classic/floor-plinth.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 52%; left: 53%;">
                            {% include "includes/blocks/furnish/classic/windowsill.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 42%; right: 13%;">
                            {% include "includes/blocks/furnish/classic/door-doorknob.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 18%; left: 64%;">
                            {% include "includes/blocks/furnish/classic/ceiling-cornice.njk" %}
                        </div>
                    </div>

                </div>
                <div data-furnish-title="Спальня" class="swiper-slide furnish-page-components__item" style="background-image: url('../img/flats-furnish/classic/bed.jpg');">
                    <div class="furnish-labels">
                        <div class="furnish-labels__item" style="top: 20%;left: 8%;">
                            {% include "includes/blocks/furnish/classic/wall.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="bottom: 14%;left: 17%;">
                            {% include "includes/blocks/furnish/classic/floor-plinth.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 45%;left: 26%;">
                            {% include "includes/blocks/furnish/classic/door-doorknob.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 14%;right: 26%;">
                            {% include "includes/blocks/furnish/classic/ceiling-cornice.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 48%;left: 51%;">
                            {% include "includes/blocks/furnish/classic/windowsill.njk" %}
                        </div>
                    </div>
                </div>
                <div data-furnish-title="Ванная" class="swiper-slide furnish-page-components__item" style="background-image: url('../img/flats-furnish/classic/bath.jpg');">
                    <div class="furnish-labels">
                        <div class="furnish-labels__item" style="bottom: 35%;left: 4%;">
                            {% include "includes/blocks/furnish/classic/towel.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="bottom: 33%;left: 43%;">
                            {% include "includes/blocks/furnish/classic/sink.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 50%;right: 21%;">
                            {% include "includes/blocks/furnish/classic/tap_tub.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 23%;right: 21%;">
                            {% include "includes/blocks/furnish/classic/shower.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 48%;left: 51%;">
                            {% include "includes/blocks/furnish/classic/tap.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="bottom: 12%;right: 10%;">
                            {% include "includes/blocks/furnish/classic/tub.njk" %}
                        </div>
                    </div>
                </div>
                <div data-furnish-title="Санузел" class="swiper-slide furnish-page-components__item" style="background-image: url('../img/flats-furnish/classic/wc.jpg');">
                    <div class="furnish-labels">
                        <div class="furnish-labels__item" style="top: 12%;left: 24%;">
                            {% include "includes/blocks/furnish/classic/door-doorknob_wc.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 29%;left: 18%;">
                            {% include "includes/blocks/furnish/classic/wall_wc2.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 64%;left: 50%;">
                            {% include "includes/blocks/furnish/classic/toilet.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 10%;right: 18%;">
                            {% include "includes/blocks/furnish/classic/ceiling-shine.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="bottom: 12%;left: 40%;">
                            {% include "includes/blocks/furnish/modern/floor_wc.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="bottom: 38%;right: 12%;">
                            {% include "includes/blocks/furnish/classic/wall_wc.njk" %}
                        </div>
                    </div>
                </div>
                <div data-furnish-title="Прихожая" class="swiper-slide furnish-page-components__item" style="background-image: url('../img/flats-furnish/classic/hall.jpg');">
                    <div class="furnish-labels">
                        <div class="furnish-labels__item" style="bottom: 12%;left: 17%;">
                            {% include "includes/blocks/furnish/modern/floor-plinth.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 7%;left: 17%;">
                            {% include "includes/blocks/furnish/modern/ceiling-cornice.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 38%;left: 31%;">
                            {% include "includes/blocks/furnish/classic/door_hall.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 21%;right: 15%;">
                            {% include "includes/blocks/furnish/modern/wall.njk" %}
                        </div>
                    </div>
                </div>
                <div data-furnish-title="Электрика" class="swiper-slide furnish-page-components__item" style=" background-image: url('../img/flats-furnish/classic/electric.jpg');">
                    <div class="furnish-electric">
                        <div class="furnish-electric-inner">
                            <div class="furnish-electric__item">
                                <div class="furnish-electric__img">
                                    <img src="img/flats-furnish/electric/01.jpg" alt="">
                                </div>
                                <div class="furnish-electric__text">
                                    <div class="furnish-electric__text-inner">
                                        <p><span>Розетка электрическая</span></p>
                                        <p>Schneider Electric,
                                            серия Sedna, цвет белый,
                                            скрытая установка.</p>
                                    </div>

                                </div>
                            </div>
                            <div class="furnish-electric__item">
                                <div class="furnish-electric__img">
                                    <img src="img/flats-furnish/electric/04.jpg" alt="">
                                </div>
                                <div class="furnish-electric__text">
                                    <div class="furnish-electric__text-inner">
                                        <p><span>Розетка телефонная</span></p>
                                        <p>Schneider Electric,
                                            серия Sedna, цвет белый,
                                            скрытая установка.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="furnish-electric__item">
                                <div class="furnish-electric__img">
                                    <img src="img/flats-furnish/electric/02.jpg" alt="">
                                </div>
                                <div class="furnish-electric__text">
                                    <div class="furnish-electric__text-inner">
                                        <p><span>Выключатель одноклавишный</span></p>
                                        <p>Schneider Electric,
                                            серия Sedna, цвет белый,
                                            скрытая установка.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="furnish-electric__item">
                                <div class="furnish-electric__img">
                                    <img src="img/flats-furnish/electric/05.jpg" alt="">
                                </div>
                                <div class="furnish-electric__text">
                                    <div class="furnish-electric__text-inner">
                                        <p><span>Розетка TV телевизионная</span></p>
                                        <p>Schneider Electric,
                                            серия Sedna, цвет белый,
                                            скрытая установка.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="furnish-electric__item">
                                <div class="furnish-electric__img">
                                    <img src="img/flats-furnish/electric/03.jpg" alt="">
                                </div>
                                <div class="furnish-electric__text">
                                    <div class="furnish-electric__text-inner">
                                        <p><span>Выключатель двухклавишный</span></p>
                                        <p>Schneider Electric,
                                            серия Sedna, цвет белый,
                                            скрытая установка.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="furnish-electric__item">
                                <div class="furnish-electric__img">
                                    <img src="img/flats-furnish/electric/06.jpg" alt="">
                                </div>
                                <div class="furnish-electric__text">
                                    <div class="furnish-electric__text-inner">
                                        <p><span>Розетка компьютерная (интернет)</span></p>
                                        <p>Schneider Electric,
                                            серия Sedna, цвет белый,
                                            скрытая установка.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="furnish-page-components__pagination"></div>

        </div>
    </section>

    <section data-id-menu="0" class="furnish-components-mobile furnish-components-mobile_active">
        <div class="furnish-components-mobile__title">Отделка полов</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/floor-plinth.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Отделка стен</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/wall.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Двери</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/door-doorknob.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Подоконники</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/windowsill.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Потолок</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/ceiling-cornice.njk" %}
        </div>
    </section>

    <section data-id-menu="1" class="furnish-components-mobile">
        <div class="furnish-components-mobile__title">Отделка полов</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/floor-plinth.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Отделка стен</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/wall.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Двери</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/door-doorknob.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Подоконники</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/windowsill.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Потолок</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/ceiling-cornice.njk" %}
        </div>
    </section>

    <section data-id-menu="2" class="furnish-components-mobile">
        <div class="furnish-components-mobile__title">Отделка полов</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/floor-plinth.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Отделка стен</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/wall.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Двери</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/door-doorknob.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Подоконники</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/windowsill.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Потолок</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/ceiling-cornice.njk" %}
        </div>
    </section>

    <section data-id-menu="3" class="furnish-components-mobile">
        <div class="furnish-components-mobile__title">Полотенцесушитель</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/towel.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Смеситель для раковины</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/tap.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Душ</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/shower.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Ванна</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/tub.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Раковина с тумбой</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/sink.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Смеситель для ванны</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/tap_tub.njk" %}
        </div>
    </section>

    <section data-id-menu="4" class="furnish-components-mobile">
        <div class="furnish-components-mobile__title">Отделка полов</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/floor_wc.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Отделка стен</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/wall_wc.njk" %}
            {% include "includes/blocks/furnish/classic/wall_wc2.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Двери</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/door-doorknob_wc.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Потолок</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/ceiling-shine.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Унитаз</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/toilet.njk" %}
        </div>
    </section>

    <section data-id-menu="5" class="furnish-components-mobile">
        <div class="furnish-components-mobile__title">Отделка полов</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/floor-plinth.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Отделка стен</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/wall.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Двери</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/door_hall.njk" %}
        </div>
        <div class="furnish-components-mobile__title">Потолок</div>
        <div class="furnish-components-mobile__item">
            {% include "includes/blocks/furnish/classic/ceiling-cornice.njk" %}
        </div>
    </section>

    <section data-id-menu="6" class="furnish-components-mobile">
        {% include "includes/blocks/furnish/electric.njk" %}
    </section>

</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}
{% block page_bottom %}

<script src="js/flats-furnish.js"></script>

{% endblock %}