{% set title = "Подбор по параметрам" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <nav class="TopNav">
        <div class="TopNav_inner">
            <div class="TopNav_leaf"><a href="genplan.html" class="TopNav_link">На генплане</a></div>
            <div class="TopNav_leaf TopNav_leaf-active"><a href="filters.html" class="TopNav_link">По параметрам</a></div>
            <div class="TopNav_leaf"><a href="filters-parking.html" class="TopNav_link">Паркинг</a></div>
            <div class="TopNav_leaf"><a href="filters-commercial.html" class="TopNav_link">Нежилые помещения</a></div>
        </div>
    </nav>

    <section class="Flat">
        <div class="Flat_plan">
            <div class="Flat_planInfo">
                <a href="/filters.html" class="Flat_linkBack">
                    <img src="img/flat/arrow_back.svg" class="Flat_linkBackIcon" alt="">
                </a>
                <div class="Flat_planImg _widget" id="plan-widget" data-widget-id="6ff9ff8e28c395ec7b5d4a76303463c9"></div>
                <div class="Flat_planInfoWrapper">


                    <div class="Flat_svgInfoWrapper">
                        <svg width="103px" height="106px" viewBox="0 0 103 106" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                            <title>Group 23 Copy</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Карточка-квартиры" transform="translate(-82.000000, -223.000000)">
                                    <g id="Group-23-Copy" transform="translate(134.369734, 276.365633) rotate(-107.000000) translate(-134.369734, -276.365633) translate(80.869734, 224.365633)">
                                        <g id="Group-21" transform="translate(0.000000, 0.000000)">
                                            <polygon id="Shape" fill="#D7D6D8" fill-rule="nonzero" points="74.8 41 60 44.9 62.6 50.3"></polygon>
                                            <polygon id="Shape" fill="#D7D6D8" fill-rule="nonzero" points="44 30 47.9 44.8 53.3 42.2"></polygon>
                                            <polygon id="Shape" fill="#D7D6D8" fill-rule="nonzero" points="59.7 44.6 65.8 16 53 42.3 57.5 40.1"></polygon>
                                            <polygon id="Shape" fill="#D7D6D8" fill-rule="nonzero" points="64.3 71.8 60.4 57 55 59.6"></polygon>
                                            <polygon id="Shape" fill="#D7D6D8" fill-rule="nonzero" points="32 61.7 47.7 57.4 45.1 52"></polygon>
                                            <polygon id="Shape" fill="#B51827" fill-rule="nonzero" points="64.5 54.5 60 56.7 88.6 62.8 62.3 50"></polygon>
                                            <polygon id="Shape" fill="#D7D6D8" fill-rule="nonzero" points="48.1 57 42 85.6 54.8 59.3 50.3 61.5"></polygon>
                                            <polygon id="Shape" fill="#D7D6D8" fill-rule="nonzero" points="47.6 45.1 19 39 45.3 51.8 43.1 47.3"></polygon>
                                            <rect id="Rectangle-path" fill="#B51827" fill-rule="nonzero" transform="translate(54.011600, 51.011600) rotate(-26.001336) translate(-54.011600, -51.011600) " x="51.011546" y="48.011546" width="6.000108" height="6.000108"></rect>
                                            <text id="Ю" fill="#B8B8BA" transform="translate(9.000000, 35.000000) rotate(107.000000) translate(-9.000000, -35.000000) " font-family="Helvetica" font-size="12" font-weight="normal">
                                                <tspan x="3" y="39">Ю</tspan>
                                            </text>
                                            <text id="В" fill="#B8B8BA" transform="translate(38.500000, 97.000000) rotate(106.000000) translate(-38.500000, -97.000000) " font-family="Helvetica" font-size="12" font-weight="normal">
                                                <tspan x="34" y="101">В</tspan>
                                            </text>
                                            <text id="С" fill="#B8B8BA" transform="translate(98.500000, 68.000000) rotate(-253.000000) translate(-98.500000, -68.000000) " font-family="Helvetica" font-size="12" font-weight="normal">
                                                <tspan x="94" y="72">С</tspan>
                                            </text>
                                            <text id="З" fill="#B8B8BA" transform="translate(69.000000, 6.000000) rotate(105.000000) translate(-69.000000, -6.000000) " font-family="Helvetica" font-size="12" font-weight="normal">
                                                <tspan x="65" y="10">З</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <div class="Flat_sectionPlans">
                            <svg width="185px" height="176px" viewBox="0 0 185 176" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                                <title>Group 26 Copy 2</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Group-26-Copy-2" transform="translate(81.485084, 74.859003) rotate(-51.000000) translate(-81.485084, -74.859003) translate(13.985084, -3.640997)">
                                        <polygon id="Path-3-Copy-2" fill="#D7D6D8" fill-rule="nonzero" points="90 51 90 55.0362186 81 55.0362186 81 64.0362186 100 64.0362186 100 51"></polygon>
                                        <polygon id="Path-3-Copy-3" fill="#D7D6D8" fill-rule="nonzero" points="78 0 78 9.99928403 90 9.99928403 90 13 100 13 100 0"></polygon>
                                        <polygon id="Path-4-Copy" fill="#D7D6D8" fill-rule="nonzero" points="81 55.0251475 67 55 67 56.6363636 67 64 81 64"></polygon>
                                        <polygon id="Path-5-Copy" fill="#D7D6D8" fill-rule="nonzero" points="100 81 100 98 89 98 89 81"></polygon>
                                        <polygon id="Path-6-Copy" fill="#D7D6D8" fill-rule="nonzero" points="57 0 57 8.36845752 46 11 43 4"></polygon>
                                        <polygon id="Path-7-Copy" fill="#D7D6D8" fill-rule="nonzero" points="44 55 44 64 31 64 31 56.0214068 34 55"></polygon>
                                        <polygon id="Path-8-Copy-3" fill="#D7D6D8" fill-rule="nonzero" points="19 64 31 64 31 56 28 56 28 48 19 48"></polygon>
                                        <polygon id="Path-8-Copy-4" fill="#D7D6D8" fill-rule="nonzero" points="19 48 28 48 28 42 28 36 19 36"></polygon>
                                        <polygon id="Path-8-Copy-5" fill="#D7D6D8" fill-rule="nonzero" points="19 36 28 36 28 30 28 24 19 24"></polygon>
                                        <polygon id="Path-9-Copy" fill="#D7D6D8" fill-rule="nonzero" points="19 24 19 13.0585403 31 8 34 15 28 18 28 24"></polygon>
                                        <polygon id="Path-10-Copy" fill="#D7D6D8" fill-rule="nonzero" points="43 4 46 11 34 15 31 8"></polygon>
                                        <polygon id="Path-11-Copy" stroke="#D7D6D8" fill-rule="nonzero" points="10 77 10 119 35 119 35 130 0 130 0 77"></polygon>
                                        <path d="M1,148 L134,148" id="Path-12-Copy-2" stroke="#D7D6D8" fill-rule="nonzero"></path>
                                        <path d="M1,156.25 L134,156.25" id="Path-12-Copy-3" stroke="#D7D6D8" fill-rule="nonzero"></path>
                                        <rect id="Rectangle-19-Copy-2" fill="#D7D6D8" fill-rule="nonzero" x="90" y="13" width="10" height="19"></rect>
                                        <rect id="Rectangle-19-Copy-3" fill="#D7D6D8" fill-rule="nonzero" x="90" y="32" width="10" height="19"></rect>
                                        <text id="Тайнинская-ул.-Copy" font-family="Roboto-Bold, Roboto" font-size="10" font-weight="bold" fill="#909090">
                                            <tspan x="50" y="142">ТАЙНИНСКАЯ УЛ.</tspan>
                                        </text>
                                    </g>
                                </g>
                            </svg>

                        </div>
                    </div>
                    <div class="Flat_planLinksWrapper Flat_planLinksWrapper-desktop">
                        <!--<a data-src="#flat-korp-modal" href="javascript:;" class="Flat_planLink Flat_planLink-korp">-->
                            <!--<img src="img/flat/icon_korp.svg" alt="" class="Flat_planLinkIcon">-->
                            <!--В корпусе-->
                        <!--</a>-->
                        <a data-src="#flat-floor-modal" href="javascript:;" class="Flat_planLink Flat_planLink-floor">
                            <img src="img/flat/icon_floor.svg" alt="" class="Flat_planLinkIcon">
                            На этаже
                        </a>
                    </div>


                </div>
            </div>
        </div>
        <div class="Flat_info">
            <div class="Flat-type_infoHeader">
                <h2 class="Flat-type_title">1 - комнатная квартира № 28</h2>
                <div class="FavoriteIcon FavoriteIcon-descr" data-flat-type-id="100"></div>
            </div>
            <div class="Flat_info-mobile">
                <div class="PromoActionString _flat" title="Новогодняя скидка при единовременной оплате и ипотеке">
                    <div class="PromoActionString_ico" style="background-image: url('/img/gift.svg')"></div>
                    <div class="PromoActionString_text">Новогодняя акция</div>
                </div>
                <p class="Flat_infoText">
                   Акция <img src="img/icon_action_1.svg" alt="" class="Flat_infoActionIcon">
                </p>

                <p class="Flat_infoText Flat_infoText-furnished">
                    Квартира с отделкой
                    <img src="img/icon_finish_black.svg" alt="" class="Flat_infoFurnishIcon">
                </p>

                <p class="Flat_infoText">Сдача: <span class="Flat_infoText-bold"> IV кв 2019 г.</span></p>
            </div>
            {# <img src="img/flat/flat.svg" class="Flat_planImgMobile"/> #}
            <div class="Flat_planImg _mobile _widget" id="plan-widget-mobile" data-widget-id="6ff9ff8e28c395ec7b5d4a76303463c9"></div>
            <div class="Flat_planLinkWrapper Flat_planLinkWrapper-mobile">
                <a href="" class="Flat_planLink Flat_planLink-floor">
                    <img src="img/flat/icon_floor.svg" alt="" class="Flat_planLinkIcon">
                    На этаже
                </a>
                <a href="" class="Flat_planLink Flat_planLink-eye">
                    <img src="img/flat/icon_eye.svg" alt="" class="Flat_planLinkIcon">
                    Виды из окна
                </a>
            </div>
            <div class="Flat_infoTabs">
                <ul class="Flat_infoTabsNav">
                    <li class="Flat_infoTabsNavItem"><a href="#FlatInfoTab-1" class="Flat_infoTabsNavLink">Параметры</a></li>
                    <li class="Flat_infoTabsNavItem"><a href="#FlatInfoTab-2" class="Flat_infoTabsNavLink">Функции</a></li>
                    <li class="Flat_infoTabsNavItem"><a href="#FlatInfoTab-3" class="Flat_infoTabsNavLink">Эволюция пространства</a></li>
                </ul>
                <div id="FlatInfoTab-1" class="Flat_infoTabsContent">
                    <div class="Flat_info-desktop">
                        <div class="PromoActionString _flat" title="Новогодняя скидка при единовременной оплате и ипотеке">
                            <div class="PromoActionString_ico" style="background-image: url('/img/gift.svg')"></div>
                            <div class="PromoActionString_text">Новогодняя акция</div>
				        </div>
                        <p class="Flat_infoText">
                            Акция <img src="img/icon_action_1.svg" alt="" class="Flat_infoActionIcon">
                        </p>

                        <p class="Flat_infoText Flat_infoText-furnished">
                            Квартира с отделкой
                            <img src="img/icon_finish_orange.svg" alt="" class="Flat_infoFurnishIcon">
                        </p>
                        <p class="Flat_infoText">Сдача: <span class="Flat_infoText-bold"> IV кв 2019 г.</span></p>
                    </div>

                    <div class="Flat_generalTable">
                        <div class="Flat_generalRow">
                            <div data-header="Площадь:" class="Flat_generalCell">87.3 м<sup>2</sup></div>
                            <div data-header="Этаж:" class="Flat_generalCell">19</div>
                            <div data-header="Секция:" class="Flat_generalCell">3</div>
                            <div data-header="Корпус:" class="Flat_generalCell">2a</div>
                        </div>
                    </div>
                    
                <div class="Flat_descVariants" data-flat-slider-num="1">
                    <div class="Flat_descVariantsTitle">Для семьи с ребенком 1</div>
                    <p class="Flat_descVariantsText">Главным образом консультация с широким активом требуют от нас анализа существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требуют от нас анализа форм развития.</p>
                </div>
                <div class="Flat_descVariants" data-flat-slider-num="2" style="display: none;">
                    <div class="Flat_descVariantsTitle">Для семьи с ребенком 2</div>
                    <p class="Flat_descVariantsText">Главным образом консультация с широким активом требуют от нас анализа существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требуют от нас анализа форм развития.</p>
                </div>
                <div class="Flat_descVariants" data-flat-slider-num="3" style="display: none;">
                    <div class="Flat_descVariantsTitle">Для семьи с ребенком 3</div>
                    <p class="Flat_descVariantsText">Главным образом консультация с широким активом требуют от нас анализа существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требуют от нас анализа форм развития.</p>
                </div>
                <div class="Flat_descVariants" data-flat-slider-num="4" style="display: none;">
                    <div class="Flat_descVariantsTitle">Для семьи с ребенком 4</div>
                    <p class="Flat_descVariantsText">Главным образом консультация с широким активом требуют от нас анализа существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требуют от нас анализа форм развития.</p>
                </div>
                <div class="Flat_descVariants" data-flat-slider-num="5" style="display: none;">
                    <div class="Flat_descVariantsTitle">Для семьи с ребенком 5</div>
                    <p class="Flat_descVariantsText">Главным образом консультация с широким активом требуют от нас анализа существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требуют от нас анализа форм развития.</p>
                </div>
                <div class="Flat__linksPresentConstructor">
                    <a href="" class="Flat__presentLink"><span>Загрузить презентацию</span></a>
                </div>
                </div>
                <div id="FlatInfoTab-2" class="Flat_infoTabsContent">
                    <div data-flat-slider-num="1" style="display: flex;" class="Flat_specificTable">
                        <div class="Flat_specificCol">
                            <div class="Flat_specificCell">
                                <span class="Flat_specificCellText">1. Прихожая:</span>
                                <span class="Flat_specificCellText _add">4.9 м<sup>2</sup></span>
                                <span class="Flat_specificCellText _add"></span>
                                <span class="Flat_specificCellText _add"></span>
                            </div>
                            <div class="Flat_specificCell">
                                <span class="Flat_specificCellText">2. Гостиная:</span>
                                <span class="Flat_specificCellText _add">16.6 м<sup>2</sup></span>
                                <span class="Flat_specificCellText _add"></span>
                                <span class="Flat_specificCellText _add"></span>
                            </div>
                            <div class="Flat_specificCell">
                                <span class="Flat_specificCellText">3. Кухня:</span>
                                <span class="Flat_specificCellText _add">11.9 м<sup>2</sup></span>
                                <span class="Flat_specificCellText _add"></span>
                                <span class="Flat_specificCellText _add"></span>
                            </div>
                            <div class="Flat_specificCell">
                                <span class="Flat_specificCellText">4. Спальня:</span>
                                <span class="Flat_specificCellText _add">16.6 м<sup>2</sup></span>
                                <span class="Flat_specificCellText _add"></span>
                                <span class="Flat_specificCellText _add"></span>
                            </div>
                            <div class="Flat_specificCell">
                                <span class="Flat_specificCellText">5. Туалет:</span>
                                <span class="Flat_specificCellText _add">11.9 м<sup>2</sup></span>
                                <span class="Flat_specificCellText _add">11.9 м<sup>2</sup></span>
                                <span class="Flat_specificCellText _add"></span>
                            </div>
                            <div class="Flat_specificCell">
                                <span class="Flat_specificCellText">6. Ванна:</span>
                                <span class="Flat_specificCellText _add">3.4 м<sup>2</sup></span>
                                <span class="Flat_specificCellText _add">11.9 м<sup>2</sup></span>
                                <span class="Flat_specificCellText _add">11.9 м<sup>2</sup></span>
                            </div>
                            <div class="Flat_specificCell">
                                <span class="Flat_specificCellText">7. Гардеробная:</span>
                                <span class="Flat_specificCellText _add">16.6 м<sup>2</sup></span>
                                <span class="Flat_specificCellText _add"></span>
                                <span class="Flat_specificCellText _add"></span>
                            </div>
                            <div class="Flat_specificCell">
                                <span class="Flat_specificCellText">8. Комната для отдыха и занятий творчеством:</span>
                                <span class="Flat_specificCellText _add">3.2 м<sup>2</sup></span>
                                <span class="Flat_specificCellText _add"></span>
                                <span class="Flat_specificCellText _add"></span>
                            </div>
                            <div class="Flat_specificCell">
                                <span class="Flat_specificCellText">8. Комната для отдыха и занятий творчеством:</span>
                                <span class="Flat_specificCellText _add">3.2 м<sup>2</sup></span>
                                <span class="Flat_specificCellText _add"></span>
                                <span class="Flat_specificCellText _add"></span>
                            </div>
                        </div>
                    </div>
                    {% for item in [2, 3, 4, 5] %}
                        <div data-flat-slider-num="{{ item }}" style="display: none;" class="Flat_specificTable">
                            <div class="Flat_specificCol">
                                <div class="Flat_specificCell">
                                    <span class="Flat_specificCellText">1. Прихожая:</span>
                                    <span class="Flat_specificCellText _add">4.9 м<sup>2</sup></span>
                                    <span class="Flat_specificCellText _add"></span>
                                    <span class="Flat_specificCellText _add"></span>
                                </div>
                                <div class="Flat_specificCell">
                                    <span class="Flat_specificCellText">2. Гостиная:</span>
                                    <span class="Flat_specificCellText _add">16.6 м<sup>2</sup></span>
                                    <span class="Flat_specificCellText _add"></span>
                                    <span class="Flat_specificCellText _add"></span>
                                </div>
                                <div class="Flat_specificCell">
                                    <span class="Flat_specificCellText">3. Кухня:</span>
                                    <span class="Flat_specificCellText _add">11.9 м<sup>2</sup></span>
                                    <span class="Flat_specificCellText _add"></span>
                                    <span class="Flat_specificCellText _add"></span>
                                </div>
                                <div class="Flat_specificCell">
                                    <span class="Flat_specificCellText">4. Спальня:</span>
                                    <span class="Flat_specificCellText _add">16.6 м<sup>2</sup></span>
                                    <span class="Flat_specificCellText _add"></span>
                                    <span class="Flat_specificCellText _add"></span>
                                </div>
                                <div class="Flat_specificCell">
                                    <span class="Flat_specificCellText">5. Туалет:</span>
                                    <span class="Flat_specificCellText _add">11.9 м<sup>2</sup></span>
                                    <span class="Flat_specificCellText _add">11.9 м<sup>2</sup></span>
                                    <span class="Flat_specificCellText _add"></span>
                                </div>
                                <div class="Flat_specificCell">
                                    <span class="Flat_specificCellText">6. Ванна:</span>
                                    <span class="Flat_specificCellText _add">3.4 м<sup>2</sup></span>
                                    <span class="Flat_specificCellText _add">11.9 м<sup>2</sup></span>
                                    <span class="Flat_specificCellText _add">11.9 м<sup>2</sup></span>
                                </div>
                                <div class="Flat_specificCell">
                                    <span class="Flat_specificCellText">7. Гардеробная:</span>
                                    <span class="Flat_specificCellText _add">16.6 м<sup>2</sup></span>
                                    <span class="Flat_specificCellText _add"></span>
                                    <span class="Flat_specificCellText _add"></span>
                                </div>
                                <div class="Flat_specificCell">
                                    <span class="Flat_specificCellText">8. Комната для отдыха и занятий творчеством:</span>
                                    <span class="Flat_specificCellText _add">3.2 м<sup>2</sup></span>
                                    <span class="Flat_specificCellText _add"></span>
                                    <span class="Flat_specificCellText _add"></span>
                                </div>
                                <div class="Flat_specificCell">
                                    <span class="Flat_specificCellText">8. Комната для отдыха и занятий творчеством:</span>
                                    <span class="Flat_specificCellText _add">3.2 м<sup>2</sup></span>
                                    <span class="Flat_specificCellText _add"></span>
                                    <span class="Flat_specificCellText _add"></span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
                <div id="FlatInfoTab-3" class="Flat_infoTabsContent">
                    <div class="Flat_planSlidesWrapper">
                        <div class="Flat_planImg" style='background-image: url("img/flat/flat.svg"); display: block;' data-flat-slider-num="1"></div>
                        <div class="Flat_planImg" style='background-image: url("img/flat/flat.svg"); display: none;' data-flat-slider-num="2"></div>
                        <div class="Flat_planImg" style='background-image: url("img/flat/flat.svg"); display: none;' data-flat-slider-num="3"></div>
                        <div class="Flat_planImg" style='background-image: url("img/flat/flat.svg"); display: none;' data-flat-slider-num="4"></div>
                        <div class="Flat_planImg" style='background-image: url("img/flat/flat.svg"); display: none;' data-flat-slider-num="5"></div>
                        <!-- Slider main container -->
                        <div class="Flat_planSliderWrapper">
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev">
                                {% include "includes/blocks/SvgIco/angle_left.svg" %}
                            </div>
                            <div class="swiper-button-next">
                                {% include "includes/blocks/SvgIco/angle_right.svg" %}
                            </div>
                            <div class="swiper-container Flat_planSlider" data-flat-slider>
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    <div class="swiper-slide" data-flat-thumb-num="1">
                                        <img src="img/flat/flat.svg" alt="">
                                    </div>
                                    <div class="swiper-slide" data-flat-thumb-num="2">
                                        <img src="img/flat/flat.svg" alt="">
                                    </div>
                                    <div class="swiper-slide" data-flat-thumb-num="3">
                                        <img src="img/flat/flat.svg" alt="">
                                    </div>
                                    <div class="swiper-slide" data-flat-thumb-num="4">
                                        <img src="img/flat/flat.svg" alt="">
                                    </div>
                                    <div class="swiper-slide" data-flat-thumb-num="5">
                                        <img src="img/flat/flat.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="Flat_hr" />

            <div class="Flat_priceWrapper">
                <div class="Flat_salePrices">
					<span class="Flat_price _cross">12 682 449 Р</span>
					<span class="Flat_price _salePrice">12 682 449 Р</span>
				</div>
                <a href="#" data-sidebar-toggle="form-flat" class="Flat_btn _active">Оставить заявку</a>
                <a href="#BookingPopup" data-fancybox class="Flat_btn _transparent">Забронировать</a>
            </div>
            <p class="Flat_details">Резерв не фиксирует стоимость и условия оплаты. Цена с учетом  скидок</p>
            <p class="Flat_details">Квартира располагается над детским садом</p>
        </div>
    </section>
    <section class="FlatsTips">
        <ul class="FlatsTips_tabs">
            {# <li class="FlatsTips_tabsItem"><a href="/mortgage.html" class="FlatsTips_tabsLink">Эта квартира в ипотеку</a></li> #}
            <li class="FlatsTips_tabsItem"><a href="#similarFlatsTab" class="FlatsTips_tabsLink">Похожие квартиры</a></li>
            <li class="FlatsTips_tabsItem"><a href="#viewedFlatsTab" class="FlatsTips_tabsLink">Просмотренные квартиры</a></li>
        </ul>
        <div class="swiper-container FlatsTips_tabsWrapperMobile">
            <div class="swiper-wrapper FlatsTips_tabsItemMobile">
                {# <div class="swiper-slide FlatsTips_tabsItemMobile"><a class="FlatsTips_tabsLinkMobile" href="">Эта квартира в ипотеку</a></div> #}
                <div class="swiper-slide FlatsTips_tabsItemMobile"><span class="FlatsTips_tabsLinkMobile">Похожие квартиры</span></div>
                <div class="swiper-slide FlatsTips_tabsItemMobile"><span class="FlatsTips_tabsLinkMobile">Просмотренные квартиры</span></div>
            </div>
            <button class="FlatsTips_slideBtnMobile FlatsTips_slideBtnMobile-prev swiper-button-prev">
                {% include "includes/blocks/SvgIco/angle_left.svg" %}
            </button>
            <button class="FlatsTips_slideBtnMobile FlatsTips_slideBtnMobile-next swiper-button-next">
                {% include "includes/blocks/SvgIco/angle_right.svg" %}
            </button>
        </div>
        {% for blockID in ["similarFlatsTab", "viewedFlatsTab"] %}
        <div id="{{ blockID }}"{% if not loop.first %} style="display:none;"{% endif %}>
           <div class="FlatsTips_slidersWrapper">
               <div class="FlatsTips_sliderContainer swiper-container">
                   <div class="FlatsTips_sliderWrapper swiper-wrapper">
                   {% for n in [2,4,1,2,4,1,2,4,1,2] %}
                       <a href="/flat.html" class="FlatsTips_slide swiper-slide">
                           <div class="FlatsTips_icons FlatsTips_icons-left">
                               <div class="FlatsTips_iconStar"></div>
                               <div class="FlatsTips_iconFurnish"></div>
                           </div>
                           <img src="img/flat/plan-type-{{n}}.png" alt="" class="FlatsTips_slidePlan">
                           <div class="FlatsTips_slideInfo">
                               <div class="FlatsTips_slideInfoRow">
                                   <p class="FlatsTips_slideInfoText">{{n}}к квартира №13</p>
                                   <p class="FlatsTips_slideInfoText">{{n}}3,4 м<sup>2</sup></p>
                               </div>
                               <div class="FlatsTips_slideInfoRow">
                                   <p class="FlatsTips_slideInfoText">Кор. 2к, сек. 3, эт.10</p>
                                   <p class="FlatsTips_slideInfoText FlatsTips_slideInfoText-price">{{n}} 198 789 ₽</p>
                               </div>
                           </div>
                       </a>
                   {% endfor %}
                   </div>
               </div>
               <button class="FlatsTips_slideBtn FlatsTips_slideBtn-prev swiper-button-prev">
                   {% include "includes/blocks/SvgIco/angle_left.svg" %}
               </button>
               <button class="FlatsTips_slideBtn FlatsTips_slideBtn-next swiper-button-next">
                   {% include "includes/blocks/SvgIco/angle_right.svg" %}
               </button>
           </div>
        </div>

        {% endfor %}
        
    </section>

</div>
<div class="btn-call-inner btn-call-inner-gray">
    <button class="btn-call">Заказать звонок</button>
</div>

<div style="display: none;" id="flat-floor-modal" class="Flat-modal">
    <div class="Flat-modal_img">
        <img src="img/flat/flat-modal.jpg" alt="">
    </div>
    <button data-fancybox-close class="Flat-modal-close">
        <img src="img/close-popup-dark.svg" alt="">
    </button>

</div>

<div style="display: none;" id="flat-korp-modal" class="Flat-modal">
    <div class="Flat-modal_img">
        <img src="img/flat/flat-modal.jpg" alt="">
    </div>
    <button data-fancybox-close class="Flat-modal-close">
        <img src="img/close-popup-dark.svg" alt="">
    </button>

</div>

<div class="booking-popup" id="BookingPopup" style="display: none;">
	<div data-fancybox-close class="booking-popup__close">
		<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M16 1.6L14.4 0L8 6.4L1.6 0L0 1.6L6.4 8L0 14.4L1.6 16L8 9.6L14.4 16L16 14.4L9.6 8L16 1.6Z" fill="white"/>
		</svg>
	</div>
	<div class="booking-popup__title">Бронирование квартиры № 2431</div>
	<div class="booking-popup__desc">Корпус 1а / Секция 2 / Этаж 21</div>
	<form data-booking-form data-action="/ajax/form-response.json" method="get" autocomplete="off" data-utm-save novalidate="novalidate" class="booking-popup__form">
		<div class="booking-popup__inpLabel">
			<input type="text" name="name" required class="booking-popup__inp">
			<label class="booking-popup__placeholder">Имя</label>
		</div>
		<div class="booking-popup__inpLabel">
			<input type="text" name="secondname" required  class="booking-popup__inp">
			<label class="booking-popup__placeholder">Фамилия</label>
		</div>
		<div class="booking-popup__inpLabel">
			<input type="text" name="patronymic" required  class="booking-popup__inp">
			<label class="booking-popup__placeholder">Отчество</label>
		</div>
		<div class="booking-popup__inpLabel">
			<input type="text" name="phone"  class="booking-popup__inp">
			<label class="booking-popup__placeholder">Телефон</label>
		</div>
		<div class="booking-popup__inpLabel">
			<input type="text" name="email"  class="booking-popup__inp">
			<label class="booking-popup__placeholder">Email</label>
		</div>
		<div class="booking-popup__bottom">
			<div class="booking-popup__agree">
				<label class="booking-popup__agreeCheck">
					<input type="checkbox" name="agree" required class="booking-popup__agreeInp">
					<div class="booking-popup__agreeIco"></div>
					Согласие на <a href="#">обработку персональных данных</a>
				</label>
			</div>
			<div class="booking-popup__bottomDesc">Все поля обязательны для заполнения </div>
			<button class="booking-popup__submit" type="submit">Забронировать</button>
		</div>
	</form>
</div>

<div id="form-flat" class="page-sidebar__wrapper">
    <div class="page-sidebar__tlt">Заявка на квартиру <span>Корпус 2а, секция 3, этаж 19, № 28</span></div>

    <form data-action="/ajax/form-response.json" data-form-type="flat" method="GET" class="page-form ws-validate" autocomplete="off">
        <input type="hidden" name="flat" value="Корпус 4, секция 4, этаж 4, № 364">
        <div class="page-form__step">
            <label class="page-form__lbl">
                <input type="text" class="page-form__inp" data-errormessage="Заполните поле" required name="name">
                <em class="page-form__placeholder">Имя</em>
            </label>
        </div>
        <div class="page-form__step">
            <div class="page-form__lbl">
                <label>
                    <input type="tel" class="page-form__inp" data-mask="phone" data-errormessage="Заполните поле" required name="phone">
                    <em class="page-form__placeholder">Телефон</em>
                </label>
            </div>
        </div>
        <div class="page-form__step">
            <div class="SubCheckboxes__item SubCheckboxes__item--form">
                <input data-errormessage="Подтвердите согласие на обработку данных." required type="checkbox" id="privacy-flat" class="SubCheckboxes__input" value=1/>
                <label for="privacy-flat">
                    <span>Даю согласие на <a href="/privacy">обработку</a> персональных данных</span>
                </label>
            </div>
        </div>
        <div class="page-form__step">
            <input type="submit" value="отправить заявку" class="page-form__sbt button _orange">
        </div>
    </form>
</div>

{% endblock %} {% block page_bottom %}
<script src="https://widget.planoplan.com/etc/multiwidget/release/v4/static/js/main.js"></script>
<script src="js/flat.js"></script>
{% endblock %}
