{% set title = "Квартиры с отделкой - современные" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="furnish-page">
        <div class="furnish-page__title"><h1>Отделка квартир в современном стиле</h1></div>
        <a href="" class="furnish-page__back"><img src="img/arrow_slide_back.svg" alt=""></a>
        <div class="furnish-page-components swiper-container">
            <div class="swiper-wrapper">
                <div data-furnish-title="Гостинная" class="swiper-slide furnish-page-components__item" style="background-image: url('../img/flats-furnish/modern/living-room.jpg');">
                    <div class="furnish-labels">
                        <div class="furnish-labels__item" style="top: 22%; left: 19%;">
                            {% include "includes/blocks/furnish/modern/wall.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 54%; left: 47%;">
                            {% include "includes/blocks/furnish/modern/windowsill.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 11%; right: 24%;">
                            {% include "includes/blocks/furnish/modern/ceiling-cornice.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 64%; right: 4%;">
                            {% include "includes/blocks/furnish/modern/door-doorknob.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="bottom: 20%; left: 42%;">
                            {% include "includes/blocks/furnish/modern/floor-plinth.njk" %}
                        </div>
                    </div>
                </div>
                <div data-furnish-title="Кухня" class="swiper-slide furnish-page-components__item" style="background-image: url('../img/flats-furnish/modern/kitchen.jpg');">
                    <div class="furnish-labels">
                        <div class="furnish-labels__item" style="top: 40%;left: 6%;">
                            {% include "includes/blocks/furnish/modern/windowsill.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 26%;left: 52%;">
                            {% include "includes/blocks/furnish/modern/wall.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 20%;right: 34%;">
                            {% include "includes/blocks/furnish/modern/ceiling-cornice.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 48%;right: 4%;">
                            {% include "includes/blocks/furnish/modern/door-doorknob.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="bottom: 14%;left: 23%;">
                            {% include "includes/blocks/furnish/modern/floor-plinth.njk" %}
                        </div>
                    </div>
                </div>
                <div data-furnish-title="Спальня" class="swiper-slide furnish-page-components__item" style="background-image: url('../img/flats-furnish/modern/bed.jpg');">
                    <div class="furnish-labels">
                        <div class="furnish-labels__item" style="top: 19%;left: 2%;">
                            {% include "includes/blocks/furnish/modern/wall.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 43%;left: 19%;">
                            {% include "includes/blocks/furnish/modern/door-doorknob.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 17%;right: 31%;">
                            {% include "includes/blocks/furnish/modern/ceiling-cornice.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 71%;right: 4%;">
                            {% include "includes/blocks/furnish/modern/windowsill.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="bottom: 14%;left: 7%;">
                            {% include "includes/blocks/furnish/modern/floor-plinth.njk" %}
                        </div>
                    </div>
                </div>
                <div data-furnish-title="Ванная" class="swiper-slide furnish-page-components__item" style="background-image: url('../img/flats-furnish/modern/bath.jpg');">
                    <div class="furnish-labels">
                        <div class="furnish-labels__item" style="top: 19%;left: 2%;">
                            {% include "includes/blocks/furnish/modern/towel.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 48%;left: 23%;">
                            {% include "includes/blocks/furnish/modern/tap.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 14%;right: 48%;">
                            {% include "includes/blocks/furnish/modern/shower.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="bottom: 15%;right: 17%;">
                            {% include "includes/blocks/furnish/modern/tub.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="bottom: 38%;left: 34%;">
                            {% include "includes/blocks/furnish/modern/sink.njk" %}
                        </div>
                        <div class="furnish-labels__item" style="top: 48%;right: 48%;"">
                        {% include "includes/blocks/furnish/modern/tap_tub.njk" %}
                    </div>
                </div>
            </div>
            <div data-furnish-title="Санузел" class="swiper-slide furnish-page-components__item" style="background-image: url('../img/flats-furnish/modern/wc.jpg');">
                <div class="furnish-labels">
                    <div class="furnish-labels__item" style="bottom: 23%;left: 5%;">
                        {% include "includes/blocks/furnish/modern/door-doorknob_wc.njk" %}
                    </div>
                    <div class="furnish-labels__item" style="top: 41%;left: 49%;">
                        {% include "includes/blocks/furnish/modern/toilet.njk" %}
                    </div>
                    <div class="furnish-labels__item" style="top: 13%;right: 14%;">
                        {% include "includes/blocks/furnish/modern/ceiling-shine.njk" %}
                    </div>
                    <div class="furnish-labels__item" style="bottom: 42%;right: 14%;">
                        {% include "includes/blocks/furnish/modern/wall_wc.njk" %}
                    </div>
                    <div class="furnish-labels__item" style="bottom: 15%;left: 39%;">
                        {% include "includes/blocks/furnish/modern/floor_wc.njk" %}
                    </div>
                </div>
            </div>
            <div data-furnish-title="Прихожая" class="swiper-slide furnish-page-components__item" style="background-image: url('../img/flats-furnish/modern/hall.jpg');">
                <div class="furnish-labels">
                    <div class="furnish-labels__item" style="top: 10%;left: 29%;">
                        {% include "includes/blocks/furnish/modern/ceiling-cornice.njk" %}
                    </div>
                    <div class="furnish-labels__item" style="top: 19%;left: 41%;">
                        {% include "includes/blocks/furnish/modern/wall.njk" %}
                    </div>
                    <div class="furnish-labels__item" style="top: 39%;right: 38%;">
                        {% include "includes/blocks/furnish/modern/door_hall.njk" %}
                    </div>
                    <div class="furnish-labels__item" style="bottom: 12%;right: 25%;">
                        {% include "includes/blocks/furnish/modern/floor-plinth.njk" %}
                    </div>
                </div>
            </div>
            <div data-furnish-title="Электрика" class="swiper-slide furnish-page-components__item" style="background-image: url('../img/flats-furnish/modern/electric.jpg');">
                {% include "includes/blocks/furnish/electric.njk" %}
            </div>
        </div>
        <div class="furnish-page-components__pagination"></div>
</div>
</section>

<section data-id-menu="0" class="furnish-components-mobile furnish-components-mobile_active">
    <div class="furnish-components-mobile__title">Отделка полов</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/floor-plinth.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Отделка стен</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/wall.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Двери</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/door-doorknob.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Подоконники</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/windowsill.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Потолок</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/ceiling-cornice.njk" %}
    </div>
</section>

<section data-id-menu="1" class="furnish-components-mobile">
    <div class="furnish-components-mobile__title">Отделка полов</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/floor-plinth.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Отделка стен</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/wall.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Двери</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/door-doorknob.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Подоконники</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/windowsill.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Потолок</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/ceiling-cornice.njk" %}
    </div>
</section>

<section data-id-menu="2" class="furnish-components-mobile">
    <div class="furnish-components-mobile__title">Отделка полов</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/floor-plinth.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Отделка стен</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/wall.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Двери</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/door-doorknob.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Подоконники</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/windowsill.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Потолок</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/ceiling-cornice.njk" %}
    </div>
</section>

<section data-id-menu="3" class="furnish-components-mobile">
    <div class="furnish-components-mobile__title">Полотенцесушитель</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/towel.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Смеситель для раковины</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/tap.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Душ</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/shower.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Ванна</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/tub.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Раковина с тумбой</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/sink.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Смеситель для ванны</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/tap_tub.njk" %}
    </div>
</section>

<section data-id-menu="4" class="furnish-components-mobile">
    <div class="furnish-components-mobile__title">Отделка полов</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/floor_wc.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Отделка стен</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/wall_wc.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Двери</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/door-doorknob_wc.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Потолок</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/ceiling-shine.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Унитаз</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/toilet.njk" %}
    </div>
</section>

<section data-id-menu="5" class="furnish-components-mobile">
    <div class="furnish-components-mobile__title">Отделка полов</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/floor-plinth.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Отделка стен</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/wall.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Двери</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/door_hall.njk" %}
    </div>
    <div class="furnish-components-mobile__title">Потолок</div>
    <div class="furnish-components-mobile__item">
        {% include "includes/blocks/furnish/modern/ceiling-cornice.njk" %}
    </div>
</section>

<section data-id-menu="6" class="furnish-components-mobile">
    {% include "includes/blocks/furnish/electric.njk" %}
</section>

</div>


{% include "includes/blocks/btn-call.njk" %}

{% endblock %}
{% block page_bottom %}

<script src="js/flats-furnish.js"></script>

{% endblock %}
