{% set title = "Подбор по параметрам" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="PickupFlatLayout">
        <div class="PickupFlatLayout_inner">
            <aside class="PickupFlatLayout_filter">
                <a href="/filters.html" class="Flat-type_linkBack Flat-type_linkBack-filters">
                    <img src="img/flat/arrow_back.svg" class="Flat-type_linkBackIcon" alt="">
                </a>
                <form class="FilterForm" id="filterForm" autocomplete="off" method="GET" target="/ajax/flats-type.json">
                    <!--  START: Корпус  -->
                    <div class="FilterForm_item">
                        <div class="FilterForm_label">Корпус</div>
                        <div class="FilterForm_checkboxesRow">
                            {% for bld in [
                            {label: "2а", id: 1},
                            {label: "2б", id: 2},
                            {label: "2в", id: 3},
                            {label: "2г", id: 4},
                            {label: "3а", id: 5},
                            {label: "3б", id: 6},
                            {label: "3в", id: 22},
                            {label: "4а", id: 7},
                            {label: "4б", id: 8}
                            ] %}
                            <div class="BigCheckbox">
                                <label class="BigCheckbox_label">
                                    <input class="BigCheckbox_input" type="checkbox" name="bld[]" data-persist-id="bld_{{bld.id}}" value="{{bld.id}}"><span class="BigCheckbox_view">{{bld.label}}</span>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- END: Корпус -->
                    <!--  START: Количество комнат  -->
                    <div class="FilterForm_item FilterForm_item-disabled">
                        <div class="FilterForm_label">Количество комнат</div>
                        <div class="FilterForm_checkboxesRow">
                            <div class="BigCheckbox">
                                <label class="BigCheckbox_label">
                                    <input class="BigCheckbox_input" type="checkbox" name="bedrooms[]" data-persist-id="item_0" value="0"><span class="BigCheckbox_view">CТ</span>
                                </label>
                            </div>
                            <div class="BigCheckbox">
                                <label class="BigCheckbox_label">
                                    <input class="BigCheckbox_input" type="checkbox" name="bedrooms[]" data-persist-id="item_1" value="1"><span class="BigCheckbox_view">1</span>
                                </label>
                            </div>
                            <div class="BigCheckbox">
                                <label class="BigCheckbox_label">
                                    <input class="BigCheckbox_input" type="checkbox" name="bedrooms[]" data-persist-id="item_2" value="2"><span class="BigCheckbox_view">2</span>
                                </label>
                            </div>
                            <div class="BigCheckbox">
                                <label class="BigCheckbox_label">
                                    <input class="BigCheckbox_input" type="checkbox" name="bedrooms[]" data-persist-id="item_3" value="3"><span class="BigCheckbox_view">3</span>
                                </label>
                            </div>
                            <div class="BigCheckbox">
                                <label class="BigCheckbox_label">
                                    <input class="BigCheckbox_input" type="checkbox" name="bedrooms[]" data-persist-id="item_3" value="4"><span class="BigCheckbox_view">4</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- END: Количество комнат -->
                    <!--  START: Этаж  -->
                    <div class="FilterForm_item">
                        <div class="FilterForm_label">Этаж</div>
                        <div class="RangeSlider" data-slider-opts="{&quot;min&quot;:2, &quot;max&quot;:25}">
                            <div class="RangeSlider_rangeVals">
                                <div class="RangeSlider_valViewWrap RangeSlider_valViewWrap-min"><span class="RangeSlider_minValViewEl"></span></div>
                                <div class="RangeSlider_valViewWrap RangeSlider_valViewWrap-max"><span class="RangeSlider_maxValViewEl"></span></div>
                            </div>
                            <input type="hidden" name="floor_from" data-persist-id="floor_from" value="0">
                            <input type="hidden" name="floor_to" data-persist-id="floor_to" value="25">
                        </div>
                    </div>
                    <!-- END: Этаж -->
                    <!--  START: Не первый/последний  -->
                    <div class="FilterForm_item">
                        <div class="FilterForm_chksGroup">
                            <div class="Multycheckbox">
                                <input class="Multycheckbox_inp" name="middle_floor_only" data-persist-id="middle_floor_only" data-possible-values="[1, 0]" value="0" type="hidden">
                                <div class="Multycheckbox_ico"></div>
                                <button class="Multycheckbox_lbl" type="button">Кроме первого и последнего</button>
                            </div>
                        </div>
                    </div>
                    <!-- END: Не первый/последний -->
                    <!--  START: Площадь  -->
                    <div class="FilterForm_item FilterForm_item-disabled">
                        <div class="FilterForm_label">Площадь, м2</div>
                        <div class="RangeSlider" data-slider-opts="{&quot;min&quot;:22, &quot;max&quot;:115}">
                            <div class="RangeSlider_rangeVals">
                                <div class="RangeSlider_valViewWrap RangeSlider_valViewWrap-min"><span class="RangeSlider_minValViewEl"></span></div>
                                <div class="RangeSlider_valViewWrap RangeSlider_valViewWrap-max"><span class="RangeSlider_maxValViewEl"></span></div>
                            </div>
                            <input type="hidden" name="area_from" value="22" data-persist-id="area_from">
                            <input type="hidden" name="area_to" value="115" data-persist-id="area_to">
                        </div>
                    </div>
                    <!-- END: Площадь -->
                    <!--  START: цена  -->
                    <div class="FilterForm_item">
                        <div class="FilterForm_label">Цена, руб.</div>
                        <div class="RangeSlider" data-slider-opts="{&quot;min&quot;:3216798, &quot;max&quot;:17724370, &quot;counterType&quot;:&quot;formatted_num&quot;}">
                            <div class="RangeSlider_rangeVals">
                                <div class="RangeSlider_valViewWrap RangeSlider_valViewWrap-min"><span class="RangeSlider_minValViewEl"></span></div>
                                <div class="RangeSlider_valViewWrap RangeSlider_valViewWrap-max"><span class="RangeSlider_maxValViewEl"></span></div>
                            </div>
                            <input type="hidden" name="price_from" value="3216798" data-persist-id="price_from">
                            <input type="hidden" name="price_to" value="17724370" data-persist-id="price_to">
                        </div>
                    </div>
                    <!-- END: цена -->
                    <!--  START: только аппартаменты  -->
                    <div class="FilterForm_item">
                        <select name="apts" data-persist-id="apts">
                            <option value="2" selected>Апартаменты: не важно</option>
                            <option value="1">Апартаменты: да</option>
                            <option value="0">Апартаменты: нет</option>
                        </select>
                    </div>
                    <!-- END: только аппартаменты -->
                    <!--  START: только по акции  -->
                    <div class="FilterForm_item">
                        <div class="FilterForm_chksGroup">
                            <!--<div class="Multycheckbox">-->
                            <!--<input class="Multycheckbox_inp" name="discount" data-persist-id="discount" data-possible-values="[1, 0]" value="0" type="hidden">-->
                            <!--<div class="Multycheckbox_ico"></div>-->
                            <!--<button class="Multycheckbox_lbl" type="button">Акционные квартиры</button>-->
                            <!--</div>-->

                            <div class="SubCheckboxes">
                                <div class="SubCheckboxes__item">
                                    <input type="checkbox" id="action-item1" class="SubCheckboxes__input" name="promo[]" value=1521/>
                                    <label for="action-item1">Скидка 2% при заключении договора в июне.</label>
                                </div>

                                <div class="SubCheckboxes__item">
                                    <input type="checkbox" id="action-item2" class="SubCheckboxes__input" name="promo[]"/>
                                    <label for="action-item2">Бесплатная регистрация договора.</label>
                                </div>

                                <div class="SubCheckboxes__item">
                                    <input type="checkbox" id="action-item3" class="SubCheckboxes__input" name="promo[]"/>
                                    <label for="action-item3">Рассрочка до 2023 года.</label>
                                </div>

                            </div>

                            <div class="Multycheckbox">
                                <input class="Multycheckbox_inp" name="finish" data-persist-id="finish" data-possible-values="[1, 0]" value="0" type="hidden">
                                <div class="Multycheckbox_ico"></div>
                                <button class="Multycheckbox_lbl" type="button">Варианты с отделкой</button>
                            </div>
                        </div>
                    </div>
                    <!-- END: только по акции -->
                    <!--  START: Дополнительные параметры  -->
                    <div class="FilterForm_accordion">
                        <h6 class="FilterForm_groupHead">Дополнительные параметры</h6>
                        <div>
                            <div class="FilterForm_item">
                                <select name="partitions" data-persist-id="partitions">
                                    <option value="2" selected>Перегородки: не важно</option>
                                    <option value="1">С перегородками</option>
                                    <option value="0">Без перегородок</option>
                                </select>
                            </div>

                            <div class="FilterForm_item">
                                <div class="CoolTxtField">
                                    <input class="CoolTxtField_inp" placeholder="№ квартиры" name="flat_num">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  END: Дополнительные параметры  -->
                </form>
            </aside>
            <div class="Flat-type-wrapper">
                <section class="Flat-type">
                    <div class="Flat-type_plan">
                        <a href="/filters.html" class="Flat-type_linkBack Flat-type_linkBack-flat">
                            <img src="img/flat/arrow_back.svg" class="Flat-type_linkBackIcon" alt="">
                        </a>
                        <div class="Flat-type_planInfo">
                            <div class="Flat-type_planImg" style='background-image: url("img/flat/flat.svg")'></div>
                        </div>
                    </div>
                    <div class="Flat-type_info">
                        <div class="Flat-type_infoHeader">
                            <h2 class="Flat-type_title">Планировка, типовая 7</h2>
                            <div class="FavoriteIcon FavoriteIcon-active"></div>
                        </div>

                        <div class="Flat-type_infoTable">
                            <div class="Flat-type_infoRow">
                                <div class="Flat-type_infoCell">
                                    <span class="Flat-type_infoText">Общая площадь:</span>
                                    <span class="Flat-type_infoText">87.1–87.3 м<sup>2</sup></span>
                                </div>
                            </div>
                            <div class="Flat-type_infoRow">
                                <div class="Flat-type_infoCell">
                                    <span class="Flat-type_infoText">Спален:</span>
                                    <span class="Flat-type_infoText">1</span>
                                </div>
                            </div>
                            <div class="Flat-type_infoRow">
                                <div class="Flat-type_infoCell">
                                    <span class="Flat-type_infoText">Балкон:</span>
                                    <span class="Flat-type_infoText">Есть</span>
                                </div>
                            </div>
                            <div class="Flat-type_infoRow">
                                <div class="Flat-type_infoCell">
                                    <span class="Flat-type_infoText">Отделка:</span>
                                    <span class="Flat-type_infoText"><a href="">Доступна</a></span>
                                </div>
                            </div>
                        </div>

                        <img src="img/flat/flat.svg" class="Flat-type_planImgMobile"/>

                        <hr class="Flat-type_hr" />


                        <div class="Flat-type_specificTable">
                            <div class="Flat-type_specificRow">
                                <div class="Flat-type_specificCell">
                                    <span class="Flat-type_specificCellText">1. Прихожая:</span>
                                    <span class="Flat-type_specificCellText">4.9 м<sup>2</sup></span>
                                </div>
                                <div class="Flat-type_specificCell">
                                    <span class="Flat-type_specificCellText">4. Санузел:</span>
                                    <span class="Flat-type_specificCellText">16.6 м<sup>2</sup></span>
                                </div>
                            </div>
                            <div class="Flat-type_specificRow">
                                <div class="Flat-type_specificCell">
                                    <span class="Flat-type_specificCellText">2. Комната:</span>
                                    <span class="Flat-type_specificCellText">16.6 м<sup>2</sup></span>
                                </div>
                                <div class="Flat-type_specificCell">
                                    <span class="Flat-type_specificCellText">5. Кладовая:</span>
                                    <span class="Flat-type_specificCellText">3.4 м<sup>2</sup></span>
                                </div>
                            </div>
                            <div class="Flat-type_specificRow">
                                <div class="Flat-type_specificCell">
                                    <span class="Flat-type_specificCellText">3. Кухня:</span>
                                    <span class="Flat-type_specificCellText">11.9 м<sup>2</sup></span>
                                </div>
                                <div class="Flat-type_specificCell">
                                    <span class="Flat-type_specificCellText">6. Балкон:</span>
                                    <span class="Flat-type_specificCellText">3.2 м<sup>2</sup></span>
                                </div>
                            </div>
                        </div>

                        <hr class="Flat-type_hr" />

                        <div class="Flat-type_priceWrapper">
                            <span class="Flat-type_price">от 12 682 449 ₽ — до 15 453 500 ₽</span>
                            <a href="#" data-sidebar-toggle class="Flat-type_btn">Оставить заявку</a>
                        </div>

                    </div>
                </section>

                <div class="Flat-type-plans">
                    <ul class="Flat-type-plans__ui">
                        <li><a href="#Flat-type-plan">Планировка, типовая 7</a></li>
                        <li><a href="#Flat-type-advantages">Преимущества</a></li>
                    </ul>
                    <div id="Flat-type-plan">
                        <div class="PickupFlatLayout_results">
                            <div class="PickupFlatLayout_progress"></div>

                            <div class="Sorter Sorter-flatsType">
                                <div class="Sorter_item Sorter_item-type">
                                    <button type="button" class="Sorter_lbl" data-val="num">
                                        <span class="hidden-xs">№</span>
                                    </button>
                                </div>
                                <div class="Sorter_item Sorter_item-type">
                                    <button type="button" class="Sorter_lbl" data-val="bld">
                                        <span class="hidden-xs">Корп.</span>
                                        <span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Кор.</span>
                                    </button>
                                </div>

                                <div class="Sorter_item Sorter_item-type">
                                    <button type="button" class="Sorter_lbl" data-val="section">Секц.</button>
                                </div>
                                <div class="Sorter_item Sorter_item-type">
                                    <button type="button" class="Sorter_lbl" data-val="floor">
                                        <span class="hidden-xs">Этаж</span>
                                        <span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Эт.</span>
                                    </button>
                                </div>
                                <div class="Sorter_item Sorter_item-type">
                                    <button type="button" class="Sorter_lbl" data-val="area">
                                        <span class="hidden-xs">Площадь</span>
                                        <span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Площ.</span>
                                    </button>
                                </div>
                                <div class="Sorter_item Sorter_item-type">
                                    <button type="button" class="Sorter_lbl" data-val="finish">
                                        <span class="hidden-xs">Сдача</span>
                                    </button>
                                </div>
                                <div class="Sorter_item Sorter_item-type">
                                    <button type="button" class="Sorter_lbl" data-val="price">Цена, руб</span></button>
                                    <input type="hidden" form="filterForm" name="sort" value="">
                                    <input type="hidden" form="filterForm" name="sortdir" value="">
                                </div>
                                <div class="Sorter_item Sorter_item-type">
                                    <button type="button" class="Sorter_lbl" data-val="promo">
                                        <span class="hidden-xs">Акция</span>
                                    </button>
                                </div>
                                <div class="Sorter_item Sorter_item-type"></div>
                            </div>

                            <div id="FlatTypeResult" class="PickupFlatLayout_resultsCont">
                                <div style="position: relative; height:calc(100vh - 428px);">
                                    <div class="swiper-lazy-preloader"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Flat-type-advantages">
                        <div class="Flat-type__advantages">
                            <ul class="list list_circle">
                                <li>Оптимальная планировка однокомнатной квартиры с просторной спальней.</li>
                                <li>Большая лоджия на кухне является отдельным преимуществом квартиры.</li>
                                <li>В квартире размещена гардеробная/кладовая, которая позволяет забыть о проблеме хранения сезонных вещей и, например, спортинвентаря.</li>
                                <li>Просторная ванная комната.</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </section>

    <section class="FlatsTips">
        <ul class="FlatsTips_tabs">
            {# <li class="FlatsTips_tabsItem"><a href="/mortgage.html" class="FlatsTips_tabsLink">Эта квартира в ипотеку</a></li> #}
            <li class="FlatsTips_tabsItem"><a href="#similarFlatsTab" class="FlatsTips_tabsLink">Похожие квартиры</a></li>
            <li class="FlatsTips_tabsItem"><a href="#viewedFlatsTab" class="FlatsTips_tabsLink">Просмотренные квартиры</a></li>
        </ul>
        <div class="swiper-container FlatsTips_tabsWrapperMobile">
            <div class="swiper-wrapper FlatsTips_tabsItemMobile">
                {# <div class="swiper-slide FlatsTips_tabsItemMobile"><a class="FlatsTips_tabsLinkMobile" href="">Эта квартира в ипотеку</a></div> #}
                <div class="swiper-slide FlatsTips_tabsItemMobile"><span class="FlatsTips_tabsLinkMobile">Похожие квартиры</span></div>
                <div class="swiper-slide FlatsTips_tabsItemMobile"><span class="FlatsTips_tabsLinkMobile">Просмотренные квартиры</span></div>
            </div>
            <button class="FlatsTips_slideBtnMobile FlatsTips_slideBtnMobile-prev swiper-button-prev">
                {% include "includes/blocks/SvgIco/angle_left.svg" %}
            </button>
            <button class="FlatsTips_slideBtnMobile FlatsTips_slideBtnMobile-next swiper-button-next">
                {% include "includes/blocks/SvgIco/angle_right.svg" %}
            </button>
        </div>
        {% for blockID in ["similarFlatsTab", "viewedFlatsTab"] %}
        <div id="{{ blockID }}"{% if not loop.first %} style="display:none;"{% endif %}>
            <div class="FlatsTips_slidersWrapper">
                <div class="FlatsTips_sliderContainer swiper-container">
                    <div class="FlatsTips_sliderWrapper swiper-wrapper">
                        {% for n in [2,4,1,2,4,1,2,4,1,2] %}
                        <a href="/flat.html" class="FlatsTips_slide swiper-slide">
                            <div class="FlatsTips_icons">
                                <div class="FlatsTips_iconStar"></div>
                                <div class="FlatsTips_iconFurnish"></div>
                            </div>
                            <img src="img/flat/plan-type-{{n}}.png" alt="" class="FlatsTips_slidePlan">
                            <div class="FlatsTips_slideInfo">
                                <div class="FlatsTips_slideInfoRow">
                                    <p class="FlatsTips_slideInfoText">{{n}}к квартира №13</p>
                                    <p class="FlatsTips_slideInfoText">{{n}}3,4 м<sup>2</sup></p>
                                </div>
                                <div class="FlatsTips_slideInfoRow">
                                    <p class="FlatsTips_slideInfoText">Кор. 2к, сек. 3, эт.10</p>
                                    <p class="FlatsTips_slideInfoText FlatsTips_slideInfoText-price">{{n}} 198 789 ₽</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <button class="FlatsTips_slideBtn FlatsTips_slideBtn-prev swiper-button-prev">
                    {% include "includes/blocks/SvgIco/angle_left.svg" %}
                </button>
                <button class="FlatsTips_slideBtn FlatsTips_slideBtn-next swiper-button-next">
                    {% include "includes/blocks/SvgIco/angle_right.svg" %}
                </button>
            </div>
        </div>

        {% endfor %}

    </section>

</div>
<div class="btn-call-inner btn-call-inner-gray">
    <button class="btn-call">Заказать звонок</button>
</div>

<div class="page-sidebar" data-sidebar>
    <div class="page-sidebar__inner">
        <em class="page-sidebar__close"></em>
        <div class="page-sidebar__wrapper">
            <div class="page-sidebar__tlt">Заявка на квартиру <span>Корпус 2а, секция 3, этаж 19, № 28</span></div>

            <form data-action="/ajax/form-response.json" method="GET" class="page-form ws-validate" autocomplete="off">
                <div class="page-form__step">
                    <label class="page-form__lbl">
                        <input type="text" class="page-form__inp" data-errormessage="Заполните поле" required name="flat-order-name">
                        <em class="page-form__placeholder">Имя</em>
                    </label>
                </div>
                <div class="page-form__step">
                    <div class="page-form__lbl">
                        <label>
                            <input type="tel" class="page-form__inp" data-mask="phone" data-errormessage="Заполните поле" required name="flat-order-phone">
                            <em class="page-form__placeholder">Телефон</em>
                        </label>
                    </div>
                </div>
                <div class="page-form__step">
                    <input type="submit" value="отправить заявку" class="page-form__sbt button _orange">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %} {% block page_bottom %}
<script src="js/flat.js"></script>
<script src="js/flat-type.js"></script>
<script src="js/filters-type.js"></script>
{% endblock %}
