{% set title = "Корпус 2а" %}
{% extends "layout.njk" %}

{% block content %}
<div class="floor">
    <nav class="TopNav">
        <div class="TopNav_inner">
            <div class="TopNav_leaf TopNav_leaf-active"><a href="genplan.html" class="TopNav_link">На генплане</a></div>
            <div class="TopNav_leaf"><a href="filters.html" class="TopNav_link">По параметрам</a></div>
            <div class="TopNav_leaf"><a href="filters-parking.html" class="TopNav_link">Паркинг</a></div>
            <div class="TopNav_leaf"><a href="filters-commercial.html" class="TopNav_link">Нежилые помещения</a></div>
        </div>
    </nav>
	<div class="floor__head">
		<a href="floor.html" class="floor__back">
			<div class="floor__back-arrow"></div>
			<span>Вернуться</span>
		</a>
		<div class="floor__title">Корпус <span>2а</span></div>
		<div class="floor__number">Этаж</div>
	</div>
	<div class="floor__main">
		<div class="floor__info">
			<div class="floor__section">
				<a href="#" class="floor__section-link floor__section-link--prev">
					{% include "includes/svg/arrow.svg" %}
				</a>
				<div class="floor__current">
					<span>3</span>
					<div>секция</div>
				</div>
				<a href="#" class="floor__section-link floor__section-link--next">
					{% include "includes/svg/arrow.svg" %}
				</a>
			</div>
			<div class="floor__compass">
				{% include "includes/svg/compass.svg" %}
			</div>
			<div class="floor__scheme">
			    <div class="floor__scheme-text floor__scheme-text--vertical">дмитровское ш.</div>
			    {% include "includes/svg/blds_mini_plan.svg" %}
			    <div class="floor__scheme-text">яхромский пр.</div>
			</div>
		</div>

		<div class="floor__plan">
			<div class="FloorScheme">

					<div class="FloorScheme_inner">
						{% include "includes/svg/floor_scheme.svg" %}
						<img src="/img/floor_scheme_empty.svg" alt="" class="FloorScheme_bg">
					</div>
		

				
			</div>

			
			<script>
				window.floorTolltips = [
					{
						"id": 1,
						"num": 27,
						"rooms": 1,
						"area": '23,4',
						"price": '7 950 000',
					},
					{
						"id": 2,
						"num": 28,
						"rooms": 1,
						"area": '39,7',
						"price": '6 990 000',
					},
					{
						"id": 3,
						"num": 29,
						"rooms": 3,
						"area": '94,3',
						"price": '8 850 000',
					},
					{
						"id": 4,
						"num": 30,
						"rooms": 3,
						"area": '61,5',
						"price": '16 900 000',
					},
					{
						"id": 5,
						"num": 31,
						"rooms": 6,
						"area": '151,5',
						"price": '169 000 000',
					}
				];
			</script>
		</div>

		<div class="floor__select">
			<ul>
				<li class="floor__select-item floor__select-item--more">
					<a href="">21</a>
				</li>
				<li class="floor__select-item floor__select-item--active">
					<a href="">20</a>
				</li>
				<li class="floor__select-item">
					<a href="">19</a>
				</li>
				<li class="floor__select-item">
					<a href="">18</a>
				</li>
				<li class="floor__select-item">
					<a href="">17</a>
				</li>
				<li class="floor__select-item">
					<a href="">16</a>
				</li>
				<li class="floor__select-item">
					<a href="">15</a>
				</li>
				<li class="floor__select-item floor__select-item--more">
					<a href="">14</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="floor__text">Резерв не фиксирует стоимость и условия оплаты. Цена с учетом скидок</div>
</div>
{% endblock %}


{% block page_bottom %}
<script src="js/floor.js"></script>
{% endblock %}