{% set title = "Подбор по параметрам" %}
{% extends "layout.njk" %}
{% block content %}
<style id="styleMask"></style>
<div class="wrapper _GP">
    <div class="timer-date _inner _genplan" data-timer="2019,00,12,0,0">
        <div class="timer-date__text">Скидки до 7% <span>До конца акции осталось</span></div>
        <div class="timer-date__date">
            <span class="timer-date__hours"></span>
            <span class="timer-date__date-type"></span>
        </div>
    </div>
    <nav class="TopNav">
        <div class="TopNav_inner">
            <div class="TopNav_leaf TopNav_leaf-active"><a href="genplan.html" class="TopNav_link">На генплане</a></div>
            <div class="TopNav_leaf"><a href="filters.html" class="TopNav_link">По параметрам</a></div>
            <div class="TopNav_leaf"><a href="filters-parking.html" class="TopNav_link">Паркинг</a></div>
            <div class="TopNav_leaf"><a href="filters-commercial.html" class="TopNav_link">Нежилые помещения</a></div>
        </div>
    </nav>

    <main class="Content">
        <div class="FullScreenContainer">
            <div class="Genplan">
                <div class="Fitblock Fitblock-Scrollable">
                    <div class="Fitblock_inner Fitblock_inner-top"><img class="Fitblock_pusher" src="/img/genplan/genplan.jpg" width="2560" height="1080" alt=""/>
                        <div class="SvgWrap">
                            <svg class="SvgWrap_svg SvgWrap_svg-genplan" xmlns="http://www.w3.org/2000/svg" width="2560" height="1080" viewBox="0 0 2560 1080">
                                <a class="Genplan_poligonLink Genplan_mask-n14" xlink:href="/house_floor_1.html" title="10 квартир в продаже">
                                    <g id="k1_1">
                                        <path class="SvgWrap_genplanPath" d="M1228.818,661.194,1227,662v5l-32,25-4-2-2,1,4.077,104.718L1192,795a7.1,7.1,0,0,0-4-6c-4-2-6,1-6,1l-2-1-3,2-11-7v-3l-21-13v-2l1-1s2-4-1-6-7,0-7,0l-7-101,42-27.5Z" fill="#22282f"/>
                                    </g>
                                </a>
                                <a class="Genplan_poligonLink Genplan_mask-n15" xlink:href="/house_floor_1.html" title="10 квартир в продаже">
                                    <g id="k1_2">
                                        <path class="SvgWrap_genplanPath" d="M1252,825l-3,2v3l-10-6-2,1-5-3v-2l-15-10c0-5-3-4-3-4v-3l-14-9-5,3-1.923-1.282L1189,691l2-1,4,2,32-25v-5l1.818-.806,21.017,11.557Z" fill="#22282f"/>
                                    </g>
                                </a>
                                <a class="Genplan_poligonLink Genplan_mask-n16" xlink:href="/house_floor_1.html" title="10 квартир в продаже">
                                    <g id="k1_3">
                                        <path class="SvgWrap_genplanPath" d="M1358,618v5.5l-3-1.5-36,27-3-1.5-3,1.5-3,208-5,3v2l-40-24c0-2-2-1-2-1-4-5-7-3-7-3l-7-4v-3l3-2-3-211,44-29Z" fill="#22282f"/>
                                    </g>
                                </a>
                                <a class="Genplan_poligonLink Genplan_mask-n17" xlink:href="/house_floor_1.html" title="10 квартир в продаже">
                                    <g id="k1_4">
                                        <path class="SvgWrap_genplanPath" d="M1448,630l-15.776,214.593L1366,898l-39-23s2-3,1-6-4,0-4,0c-1-1-1-1-2-1s-1,4-1,4-2-2-4-2a1.959,1.959,0,0,0-2,2l-5-3v-3l-5-3v-3l5-3,3-208,3-1.5,3,1.5,36-27,3,1.5,5,2,6-5,1,.5,23.381-16.367L1396,606v5l42.5,21,5.5-4Z" fill="#22282f"/>
                                    </g>
                                </a>
                                <a class="Genplan_poligonLink Genplan_mask-n18" xlink:href="/house_floor_1.html" title="10 квартир в продаже">
                                    <g id="k1_5">
                                        <path class="SvgWrap_genplanPath" d="M1518,613v2l-2,2-2,19,1,1v2l-9,7-9,80,8,4v2l-2,2-1,16,1,1v2l-10,8-3,37-57.776,46.593L1448,630l-4-2-5.5,4L1396,611v-5l-2.619-1.367L1420,586v-1l16-11.5,1,.5,24-17,51,25-2,27Z" fill="#22282f"/>
                                    </g>
                                </a>
                                <a class="Genplan_poligonLink Genplan_mask-n19" xlink:href="/house_floor_1.html" title="10 квартир в продаже">
                                    <g id="k2">
                                        <path class="SvgWrap_genplanPath" d="M1625,627l7,3v1.5l-3,2.5-2,17h1v2l-8.5,7-5.5,37.5L1543,755l-10-5v-2h1l2-2,1-2v-2h-3l-1-2h-2l-1-2,1-1s1-2,0-2-3-2-3-2v4l-2-1h-3l-1-1h-1v1h-2l1-3v-5l-2,2-2-1-1-2v-2l-3-1v-2l-1-2-3-2v-1h-3l-2-1,1-1,3-1,1-1-3-1-1-2,1-2-1-2-1-1,1-1v-2l-2-1v-3h-1l-1.034,2.135L1506,646.5l9-7v-2l-1-1,2-19,2-2v-2l-8-4,2-27-6.075-2.978L1506,570.5l-1-.5v-1.5l10-7,4-44,19-13v-1l14-10h1l43-31,51,22Z" fill="#22282f"/>
                                    </g>
                                </a>
                                <a class="Genplan_poligonLink Genplan_mask-n1" xlink:href="/house_floor_1.html" title="10 квартир в продаже">
                                    <g id="k5">
                                        <path class="SvgWrap_genplanPath" d="M1584.5,290.5l-23.307,197.094L1553,493.5h-1l-14,10v1l-19,13-1.955,21.5L1457,511l18-230,33-20Z" fill="#22282f"/>
                                    </g>
                                </a>
                                <a class="Genplan_poligonLink Genplan_mask-n13" xlink:href="/house_floor_1.html" title="10 апартаментов в продаже">
                                    <g id="k4_5">
                                        <path class="SvgWrap_genplanPath" d="M1379,278l-8.991,228.57L1315,542l-38-18.5V429l-7-3.5V424h1V404.5l-1-.5v-2l6-3.5V293l26-13v-3l14-8a43.311,43.311,0,0,1,5,1l16.284-9.089Z" fill="#22282f"/>
                                    </g>
                                </a>
                                <a class="Genplan_poligonLink Genplan_mask-n12" xlink:href="/house_floor_1.html" title="10 апартаментов в продаже">
                                    <g id="k4_4">
                                        <path class="SvgWrap_genplanPath" d="M1448,245.5,1433,466l-62.991,40.57L1379,278l-41.716-17.089L1342,258V230l2-1,5,2,28-14v-3l3-1,67,27v5Z" fill="#22282f"/>
                                    </g>
                                </a>
                                <a class="Genplan_poligonLink Genplan_mask-n11" xlink:href="/house_floor_1.html" title="10 квартир в продаже">
                                    <g id="k4_3">
                                        <path class="SvgWrap_genplanPath" d="M1380,213l-3,1v3l-28,14-5-2-2,1v28l-4.716,2.911L1321,270a43.311,43.311,0,0,0-5-1l-14,8v3l-26,13V398.5l-5.135,3L1270.5,201.5l33.5-17Z" fill="#22282f"/>
                                    </g>
                                </a>
                                <a class="Genplan_poligonLink Genplan_mask-n10" xlink:href="/house_floor_1.html" title="10 квартир в продаже">
                                    <g id="k4_2">
                                        <path class="SvgWrap_genplanPath" d="M1270,404l1,.5V424h-1l-24.535-11.333L1245,368l-38.976-17.222L1201,173.5l3.5-2.5,1.5.5V174l3,1,26-13v-4l2-1,67,27.5-33.5,17,.365,200-.865.5Z" fill="#22282f"/>
                                    </g>
                                </a>
                                <a class="Genplan_poligonLink Genplan_mask-n9" xlink:href="/house_floor_1.html" title="10 квартир в продаже">
                                    <g id="k4_1">
                                        <path class="SvgWrap_genplanPath" d="M1237,157l-2,1v4l-26,13-3-1v-2.5l-1.5-.5-3.5,2.5,5.024,177.278L1202,349l-51,29v4l-5,3,.789,14.064L1128.5,389.5,1126,350l-6-3-1-22,5-3-5.5-96-6.5-3-1-21-1-1v-2l6-2-1-29,69-31Z" fill="#22282f"/>
                                    </g>
                                </a>
                                <a class="Genplan_poligonLink Genplan_mask-n2" xlink:href="/house_floor_1.html" title="10 квартир в продаже">
                                    <g id="k3_1">
                                        <path class="SvgWrap_genplanPath" d="M1251,470v17l1,1v2l-5,3,1,97-56,37-4-124-2-1-5,3-28-14v-6l-2-1V472l-10-5v-2l1-1-1-18-1-.5v-2l9-5-3-53.5,5-3v-4l51-29,43,19,1,96,6,3v2Z" fill="#22282f"/>
                                    </g>
                                </a>
                                <a class="Genplan_poligonLink Genplan_mask-n3" xlink:href="/house_floor_1.html" title="10 квартир в продаже">
                                    <g id="k3_2">
                                        <path class="SvgWrap_genplanPath" d="M1192,627l-11.319,7.724L1173,630.5l-32.2,21.081L1095,626v-2l-6-4v-2l1-.5L1079,494l35.5-21,29.5,15,7-4,2,1v6l28,14,5-3,2,1Z" fill="#22282f"/>
                                    </g>
                                </a>
                                <a class="Genplan_poligonLink Genplan_mask-n4" xlink:href="/house_floor_1.html" title="10 квартир в продаже">
                                    <g id="k3_3">
                                        <path class="SvgWrap_genplanPath" d="M1090,617.5l-1,.5-6-4-4,3-24-14-2,1-6-3.5V599l-2-1v-2l-5-3v-2l-5-3-8-76,2-1,6,3,21-15-.5-4,2.5-1.5,21.913,10.747Z" fill="#22282f"/>
                                    </g>
                                </a>
                                <a class="Genplan_poligonLink Genplan_mask-n5" xlink:href="/house_floor_1.html" title="10 квартир в продаже">
                                    <g id="k3_4">
                                        <path class="SvgWrap_genplanPath" d="M1055.5,495l.5,4-21,15-6-3-2,1,8,76-4,3-39-21-.5-5-2.5-1.5L979,487l2-1,6,3,23-13v-5.5l4-3,16,8.5,2-1,19,9v2l2,1v4l5,2.5Z" fill="#22282f"/>
                                    </g>
                                </a>
                                <a class="Genplan_poligonLink Genplan_mask-n6" xlink:href="/house_floor_1.html" title="10 квартир в продаже">
                                    <g id="k3_5">
                                        <path class="SvgWrap_genplanPath" d="M1014,467.5l-4,3V476l-23,13-6-3-2,1,10,76.5-8-4.5-3,3-42-23L917,416l44-35h3v6l33,11,6.5-5h2.5Z" fill="#22282f"/>
                                    </g>
                                </a>
                                <a class="Genplan_poligonLink Genplan_mask-n7" xlink:href="/house_floor_1.html" title="10 квартир в продаже">
                                    <g id="k3_6">
                                        <path class="SvgWrap_genplanPath" d="M1062,472l-12.956,11.074L1032,475l-2,1-16-8.5-8-74.5h-2.5l-6.5,5-33-11v-6h-3l50.5-40h1.5v6l31,8,4.5-4h1.5Z" fill="#22282f"/>
                                    </g>
                                </a>
                                <a class="Genplan_poligonLink Genplan_mask-n8" xlink:href="/house_floor_1.html" title="10 квартир в продаже">
                                    <g id="k3_7">
                                        <path class="SvgWrap_genplanPath" d="M1101,442l-19,16-3-1-17,15-12-121h-1.5l-4.5,4-31-8v-6h-1.5l-1-12-4.5-1.5v-2l1-.5-2-17.5-1-.5v-2l3-3-5-55,46-34,38,16,7,91,4,2v2l-1,1,1,16,1,1v2l-3,3Z" fill="#22282f"/>
                                    </g>
                                </a>
                            </svg>
                            <div class="Genplan_mask Genplan_mask-n1" style="background-image: url('img/genplan/mask/k5_sec1.png')"></div>

                            <div class="Genplan_mask Genplan_mask-n2" style="background-image: url('img/genplan/mask/k3_sec1.png')"></div>
                            <div class="Genplan_mask Genplan_mask-n3" style="background-image: url('img/genplan/mask/k3_sec2.png')"></div>
                            <div class="Genplan_mask Genplan_mask-n4" style="background-image: url('img/genplan/mask/k3_sec3.png')"></div>
                            <div class="Genplan_mask Genplan_mask-n5" style="background-image: url('img/genplan/mask/k3_sec4.png')"></div>
                            <div class="Genplan_mask Genplan_mask-n6" style="background-image: url('img/genplan/mask/k3_sec5.png')"></div>
                            <div class="Genplan_mask Genplan_mask-n7" style="background-image: url('img/genplan/mask/k3_sec6.png')"></div>
                            <div class="Genplan_mask Genplan_mask-n8" style="background-image: url('img/genplan/mask/k3_sec7.png')"></div>

                            <div class="Genplan_mask Genplan_mask-n9" style="background-image: url('img/genplan/mask/k4_sec1.png')"></div>
                            <div class="Genplan_mask Genplan_mask-n10" style="background-image: url('img/genplan/mask/k4_sec2.png')"></div>
                            <div class="Genplan_mask Genplan_mask-n11" style="background-image: url('img/genplan/mask/k4_sec3.png')"></div>
                            <div class="Genplan_mask Genplan_mask-n12" style="background-image: url('img/genplan/mask/k4_sec4.png')"></div>
                            <div class="Genplan_mask Genplan_mask-n13" style="background-image: url('img/genplan/mask/k4_sec5.png')"></div>

                            <div class="Genplan_mask Genplan_mask-n14" style="background-image: url('img/genplan/mask/k1_sec1.png')"></div>
                            <div class="Genplan_mask Genplan_mask-n15" style="background-image: url('img/genplan/mask/k1_sec2.png')"></div>
                            <div class="Genplan_mask Genplan_mask-n16" style="background-image: url('img/genplan/mask/k1_sec3.png')"></div>
                            <div class="Genplan_mask Genplan_mask-n17" style="background-image: url('img/genplan/mask/k1_sec4.png')"></div>
                            <div class="Genplan_mask Genplan_mask-n18" style="background-image: url('img/genplan/mask/k1_sec5.png')"></div>

                            <div class="Genplan_mask Genplan_mask-n19" style="background-image: url('img/genplan/mask/k2_sec1.png')"></div>



                        </div>
                        <!-- 5 корпус  -->
                        <div class="Genplan_marker Genplan_mask-n1" data-bld="bld5" style="top:24.5%;left:60%;">1</div>
                        <!-- 4 корпус  -->
                        <div class="Genplan_marker Genplan_mask-n13 Genplan_marker-apps" style="top:26%;left:51.2%;">5</div>
                        <div class="Genplan_marker Genplan_mask-n12 Genplan_marker-apps" style="top:19.6%;left:53.5%;">4</div>
                        <div class="Genplan_marker Genplan_mask-n11" data-bld="bld4" style="top:15.5%;left:52%;">3</div>
                        <div class="Genplan_marker Genplan_mask-n10" style="top:13%;left:48%;">2</div>
                        <div class="Genplan_marker Genplan_mask-n9" style="top:13%;left:44.5%;">1</div>
                        <!-- 3 корпус  -->
                        <div class="Genplan_marker Genplan_mask-n2" style="top:32%;left:47.5%;">1</div>
                        <div class="Genplan_marker Genplan_mask-n3" data-bld="bld3" style="top:46%;left:44.5%;">2</div>
                        <div class="Genplan_marker Genplan_mask-n4" style="top:45%;left:41.5%;">3</div>
                        <div class="Genplan_marker Genplan_mask-n5" style="top:43.5%;left:39.5%;">4</div>
                        <div class="Genplan_marker Genplan_mask-n6" style="top:36%;left:37%;">5</div>
                        <div class="Genplan_marker Genplan_mask-n7" style="top:32%;left:39%;">6</div>
                        <div class="Genplan_marker Genplan_mask-n8" style="top:18.5%;left:41%;">7</div>
                        <!-- 1 корпус  -->
                        <div class="Genplan_marker Genplan_mask-n14" style="top:59%;left:46%;">1</div>
                        <div class="Genplan_marker Genplan_mask-n15" style="top:63%;left:48%;">2</div>
                        <div class="Genplan_marker Genplan_mask-n16" data-bld="bld1" style="top:55%;left:50%;">3</div>
                        <div class="Genplan_marker Genplan_mask-n17" style="top:58%;left:53%;">4</div>
                        <div class="Genplan_marker Genplan_mask-n18" style="top:53%;left:57%;">5</div>
                        <!-- 2 корпус  -->
                        <div class="Genplan_marker Genplan_mask-n19" data-bld="bld2" style="top:43%;left:61%;">1</div>
                        <!--<div class="Genplan_marker Genplan_marker-disabled" style="top:39%;left:80%;">-->
                            <!--3 секция-->
                        <!--</div>-->
                        <div class="Genplan_label Genplan_marker-apps" data-bld="bld1" style="top:46%;left:51.2%;">
                            <div class="Genplan_label_line"></div>
                            <span class="Genplan_infoSticker">старт продаж</span>
                            1 корпус
                        </div>
                        <div class="Genplan_label Genplan_marker-apps" data-bld="bld2" style="top:34%;left:62.5%;">
                            <div class="Genplan_label_line"></div>
                            <span class="Genplan_infoSticker">старт продаж</span>
                            2 корпус
                        </div>
                        <div class="Genplan_label _bld3" data-bld="bld3" style="top:37%;left:44%;">
                            <div class="Genplan_label_line"></div>
                            <span class="Genplan_infoSticker">сдан</span>
                            3 корпус
                        </div>
                        <div class="Genplan_label _bld4" data-bld="bld4" style="top:8%;left:49%;">
                            <div class="Genplan_label_line"></div>4 корпус
                        </div>
                        <div class="Genplan_label _build5 " data-bld="bld5" style="top:17.5%;left:61%;">
                            <div class="Genplan_label_line"></div>5 корпус
                        </div>
                        <div class="Genplan_label Genplan_label-ds" style="top:40.3%;left:54.7%;">Детский сад</div>
                        <!-- END: main buildings-->
                    </div>
                </div>
                <div class="Compass"></div><a class="StickyBtn StickyBtn-settings StickyBtn-forGenplan" href="/filters.html" title="Подбор по параметрам"></a>
            </div>
        </div>
    </main>
    <div class="genplan__btn-call btn-call-inner">
        <button class="btn-call" data-sidebar-toggle="order_call">Заказать звонок</button>
    </div>


</div>
{% endblock %} {% block page_bottom %}
<script src="js/genplan.js"></script>
{% endblock %}
