{% set title = "Главная" %}
{% extends "layout.njk" %}
{% block content %}
<div class="wrapper">
    <section class="home-banner">
        <div class="home-banner__sticker">5 фев – выходной в офисе продаж</div>
        <div class="timer-date" data-timer="2019,11,5,14,46">
            <div class="timer-date__text"><span>До повышения цен осталось</span>{#Скидки до 7% <span>До конца акции осталось</span>#}</div>
            <div class="timer-date__date">
                <span class="timer-date__hours"></span>
                <span class="timer-date__date-type"></span>
            </div>
        </div>
        <div class="home-banner-list swiper-container">
            <div class="swiper-wrapper">
                <div class="home-banner-list__item swiper-slide" style="background-image: url('https://etalonnormand.ru/upload/information_system_3/2/8/6/item_2865/item_2865.jpg');">
                    <div class="home-banner-list__text _link">
                        Апартаменты с отделкой<br>
                        <a href="https://etalonnormand.ru/advantages/apartments/" class="home-banner-list__textsmall">Узнайте о преимуществах покупки апартаментов</a>
                    </div>
                    <a href="/choose/?finish=1&bld%5B%5D=29&bld%5B%5D=30&apts=1" class="home-banner-list__link"></a>
                </div>
                <div class="banner-slide swiper-slide">
                    <div class="banner-slide__content306">
                        <div class="banner-slide__bg306-1"><img src="img/indexSlides/sl1_img1.svg" alt=""></div>
                        <div class="banner-slide__bg306-2"><img src="img/indexSlides/sl1_img2.svg" alt=""></div>
                    </div>
                </div>
                <div class="banner-slide swiper-slide">
                    <div class="banner-slide__col">
                        <div class="banner-slide__img">
                            <div class="banner-slide__title">
                                праздник продолжается
                            </div>
                        </div>
                    </div>
                    <div class="banner-slide__col">
                        <div class="banner-slide__content">
                            <div class="banner-slide__title banner-slide__title_dark">
                                <span>скидки</span> продлеваются
                            </div>
                            <div class="banner-slide__subtitle">
                                до 7% на квартиры
                            </div>
                        </div>
                    </div>
                    <a href="#" class="home-banner-list__link"></a>
                </div>
                <div class="home-banner-list__item swiper-slide" style="background-image: url('img/banner1.jpg')">
                    <div class="home-banner-list__text">
                        Расположение
                        <span class="br-desktop"></span>Для ценителей спокойствия
                        <div class="home-banner-list__textsmall">Скидки на квартиры до 7%</div>
                    </div>
                </div>
                <div class="home-banner-list__item swiper-slide" style="background-image: url('img/banner2.jpg')">
                    <div class="home-banner-list__text">
                        Свой парк на территории
                        <span class="br-desktop"></span> и природные зоны в шаговой доступности
                    </div>
                    <!--<div class="home-banner__date">-->
                    <!--Ввод в эксплуатацию-->
                    <!--<span>4 квартал 2018 года</span>-->
                    <!--</div>-->
                </div>
                <div class="home-banner-list__item swiper-slide" style="background-image: url('img/banner3.jpg')">
                    <div class="home-banner-list__text">
                        Подземные паркинги
                        <span class="br-desktop"></span>и безопасные дворы без машин
                    </div>
                    <!--<div class="home-banner__date">-->
                    <!--Ввод в эксплуатацию-->
                    <!--<span>4 квартал 2018 года</span>-->
                    <!--</div>-->
                </div>
                <div class="home-banner-list__item swiper-slide" style="background-image: url('img/banner3.jpg')">
                    <div class="home-banner-list__text">
                        <div class="home-banner-list__text">Не тратьте время на ремонт, выберите любой из двух вариантов отделки</div>
                    </div>
                    <a href="#" class="home-banner-list__link"></a>

                </div>
            </div>
            <div class="swiper-scrollbar"></div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="home-banner__scrolling"></div>

        <a class="video-about-btn" data-fancybox href="https://www.youtube.com/watch?v=7dYHiCKomIY"><span>Видео о проекте</span></a>
        <a class="live-foto-index" href="#" title="Живые фотографии"><span>Живые фотографии</span></a>
        {#<div class="timer" data-until="1529020800000">
            <div class="timer__row1">До повышения цен</div>
            <div class="timer__row2">осталось</div>
            <div class="timer__row3">
                <div class="timer__time">3 <span>дня</span></div>
            </div>
            <a href="" class="timer__link"></a>
        </div>#}
        <div class="home-banner__date" data-home-banner-date>
            Ввод в эксплуатацию
            <span>1 квартал 2020 года</span>
        </div>
        <div class="home-banner__discount">
            Скидка 2%
            <span>до конца июня</span>
            <div class="home-banner__discountIcon">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                    <g fill="#FFF" fill-rule="evenodd">
                        <path fill-rule="nonzero" d="M16.259.196a.663.663 0 0 0-.682-.161L4.654 3.675 1.269.29a.667.667 0 0 0-.943.943l3.385 3.385L.07 15.541a.668.668 0 0 0 .161.682l23.57 23.57c.26.26.683.26.943 0L39.83 24.709a.666.666 0 0 0 0-.942L16.26.196zm8.014 38.184L1.464 15.572l3.3-9.9 2.585 2.585a3.333 3.333 0 1 0 .942-.943L5.708 4.73l9.9-3.3 22.807 22.806L24.273 38.38zM9.66 10.566a.667.667 0 0 0 .942-.943L9.275 8.295a1.978 1.978 0 0 1 2.27.384 2.007 2.007 0 1 1-3.214.557l1.329 1.33z"/>
                        <text font-family="Roboto-Regular, Roboto" font-size="18">
                            <tspan x="14" y="27">%</tspan>
                        </text>
                    </g>
                </svg>
            </div>
        </div>
    </section>
    <section class="main-about-complex-wrap">
        <div class="container">
            <div class="main-about-complex">
                <h1 class="main-about-complex__title">
                    Жилой комплекс «Нормандия»
                </h1>
                <div class="main-about-complex__text">
                    <p>«Нормандия» — это жилой комплекс европейского уровня на северо-востоке Москвы.
                        Мы продумали его архитектуру, интерьеры, планировки и расположение и создали
                        по-настоящему здоровую среду для взрослых и маленьких жителей.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="main-section">
        <div class="container container_index">
            <div class="main-section__row">
                <div class="main-section__col main-section__col_first main-section__col_mobile-grid main-section__col_location">
                    <div class="main-section__content">
                        <div class="container-mobile mobile-order-title">
                            <div class="main-section-title main-section-title_dark main-section-title_location">
                                Расположение
                                <span>для тех, кто знает цену времени </span>
                            </div>
                        </div>
                        <div class="container-mobile mobile-order-text">
                            <div class="main-section__text main-section__text_location">
                                <p>Жилой комплекс «Нормандия» расположен на Тайнинской улице. Это давно заселенный
                                    и один из самых «зеленых» районов Москвы — Лосиноостровский. Комплекс
                                    обладает высокой транспортной доступностью:</p>
                                <ul class="list list_index">
                                    <li>Ст. метро «Медведково» находится в 20 мин. пешком</li>
                                    <li>Центр города — в 25-30 мин. на автомобиле</li>
                                    <li>До набережной реки Яузы — 2 мин. пешком
                                        по собственному спуску</li>
                                    <li>До 4 парков — 5-10 мин. пешком или на автомобиле</li>
                                </ul>
                            </div>
                        </div>
                        <div class="main-section-img-wrapper mobile-order-img">
                            <div class="main-section-img main-section-img_mobile" style="background-image: url('img/index/mobile/section-location.jpg')"></div>
                            <a href="" class="btn-more btn-more_mobile">
                                <span>Подробнее</span>
                            </a>
                            <a href="#" class="main-section__link"></a>
                        </div>
                        <a href="" class="btn-more btn-more_desktop">
                            <span>Подробнее</span>
                        </a>
                    </div>
                </div>
                <div class="main-section__col main-section__col_second">
                    <div class="main-section-img-wrapper main-section-img-wrapper_sub-right">
                        <div class="main-section-img main-section-img_desktop" style="background-image: url('img/index/section-location.jpg')"></div>

                    </div>
                    <a href="#" class="main-section__link"></a>
                </div>
            </div>
        </div>
    </section>

    <section class="main-section">
        <div class="container container_index">
            <div class="main-section__row">
                <div class="main-section__col main-section__col_second main-section__col_security main-section__col_mobile-grid">
                    <div class="main-section__content">
                        <div class="container-mobile mobile-order-title2">
                            <div class="main-section-title main-section-title_dark main-section-title_security">
                                Территория
                                <span>для тех, кто&nbsp;ценит спокойствие</span>
                            </div>
                        </div>
                        <div class="main-section-img-wrapper mobile-order-img2">
                            <div class="main-section-img main-section-img_mobile" style="background-image: url('img/index/mobile/section-security.jpg')"></div>
                            <a href="" class="btn-more btn-more_mobile">
                                <span>Подробнее</span>
                            </a>
                            <a href="#" class="main-section__link"></a>
                        </div>
                        <div class="container-mobile mobile-order-text2">
                            <div class="main-section__text main-section__text_security">
                                <p>За 31 год работы Группа «Эталон» накопила большой опыт комплексного развития
                                    территорий. Закрытые дворы комплекса позволят вам избежать малейшего
                                    беспокойства и проводить время с удовольствием. Здесь есть все, что требуется
                                    современному человеку:</p>
                                <ul class="list list_index">
                                   <li>Собственный детский сад</li>
                                   <li>Оборудованные детские и спортивные площадки</li>
                                   <li>Система охраны и видеонаблюдения</li>
                                   <li>Магазины, пекарни, салоны красоты и т. д.
                                       на первых этажах</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-section__col main-section__col_first">
                    <div class="main-section-img-wrapper">
                        <div class="main-section-img main-section-img_desktop" style="background-image: url('img/index/section-security.jpg')"></div>
                    </div>
                    <a href="" class="btn-more btn-more_desktop">
                        <span>Подробнее</span>
                    </a>
                    <a href="#" class="main-section__link"></a>
                </div>
            </div>
        </div>
    </section>

    <section class="main-section main-section_full-width main-section_furnish" style="background-image: url('img/index/section-furnish.jpg')">
        <div class="container">
            <div class="main-section__row">
                <div class="main-section__col main-section__col_flex main-section__col_furnish">
                    <div class="main-section-title main-section-title_light main-section-title_furnish">
                        КВАРТИРЫ И&nbsp;АПАРТАМЕНТЫ
                        <br>
                        <a href="https://etalonnormand.ru/advantages/apartments/" class="main-section-title__textsmall">Узнайте о преимуществах покупки апартаментов</a>
                    </div>
                </div>
                <div class="main-section__col main-section__col_flex main-section__col_furnish main-section__col_content">
                    <div class="main-section__select-room-btn">
                        <a href="" class="btn-border btn-border_select-room">
                            <span>Выбрать квартиру</span>
                        </a>
                    </div>
                    <ul class="list list_line">
                        <li>Удобные планировки</li>
                        <li>Лоджии в каждой квартире</li>
                        <li>Вместительные гардеробные</li>
                        <li>Свободные планировки</li>
                        <li>Квартиры с отделкой и без</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="main-section">
        <div class="container container_index">
            <div class="main-section__row">
                <div class="main-section__col main-section__col_first main-section__col_mobile-grid main-section__col_design">
                    <div class="main-section__content">
                        <div class="container-mobile mobile-order-title">
                            <div class="main-section-title main-section-title_dark main-section-title_design">
                                Архитектура и&nbsp;дизайн
                                <span>для ценителей прекрасного</span>
                            </div>
                        </div>
                        <div class="container-mobile mobile-order-text">
                            <div class="main-section__text main-section__text_design">
                                <p>«Нормандия» — это современный дизайнерский жилой комплекс.
                                    В его архитектуре воплощены в реальность самые современные
                                    и смелые идеи. В новом доме вас встретят:</p>
                                <ul class="list list_index">
                                    <li>Навесные вентилируемые фасады</li>
                                    <li>Просторные светлые холлы из экологичных материалов</li>
                                    <li>Ландшафтный дизайн с дорожками для прогулок,
                                        изящными скамейками и местами для отдыха</li>
                                </ul>
                            </div>
                        </div>
                        <div class="main-section-img-wrapper mobile-order-img">
                            <div class="main-section-img main-section-img_mobile" style="background-image: url('img/index/mobile/section-design.jpg')"></div>
                            <a href="" class="btn-more btn-more_mobile">
                                <span>Подробнее</span>
                            </a>
                            <a href="#" class="main-section__link"></a>
                        </div>
                        <a href="" class="btn-more btn-more_desktop">
                            <span>Подробнее</span>
                        </a>
                    </div>

                </div>
                <div class="main-section__col main-section__col_second">
                    <div class="main-section-img-wrapper">
                        <div class="main-section-img main-section-img_desktop" style="background-image: url('img/index/section-design.jpg')"></div>
                    </div>
                    <a href="#" class="main-section__link"></a>
                </div>
            </div>
        </div>
    </section>


    <section class="main-section">
        <div class="container container_index">
            <div class="main-section__row">
                <div class="main-section__col main-section__col_second main-section__col_technology main-section__col_mobile-grid main-section__col_technology">
                    <div class="main-section__content">
                        <div class="container-mobile mobile-order-title2">
                            <div class="main-section-title main-section-title_dark main-section-title_technology">
                                Технологии
                                <span>для максимального комфорта</span>
                            </div>
                        </div>
                        <div class="main-section-img-wrapper mobile-order-img2">
                            <div class="main-section-img main-section-img_mobile" style="background-image: url('img/index/mobile/section-technology.jpg')"></div>
                            <a href="" class="btn-more btn-more_mobile">
                                <span>Подробнее</span>
                            </a>
                            <a href="#" class="main-section__link"></a>
                        </div>
                        <div class="container-mobile mobile-order-text2">
                            <div class="main-section__text main-section__text_technology">
                                <p>Каждая деталь комплекса тщательно продумана, а надежность работы всех
                                    систем многократно подтверждалась жителями уже заселенных комплексов ГК «Эталон». </p>
                                <ul class="list list_index">
                                    <li>Инженерные системы независимы и управляются
                                        с диспетчерского пункта</li>
                                    <li>Скоростные лифты “Otis” экономят время
                                        и обладают бесшумным ходом</li>
                                    <li>Подземный паркинг позволяет хранить автомобиль
                                        в тепле и чистоте</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="main-section__col main-section__col_first">
                    <div class="main-section-img-wrapper main-section-img-wrapper_sub-left">
                        <div class="main-section-img main-section-img_desktop" style="background-image: url('img/index/section-technology.jpg')"></div>
                    </div>
                    <a href="" class="btn-more btn-more_desktop">
                        <span>Подробнее</span>
                    </a>
                    <a href="#" class="main-section__link"></a>
                </div>
            </div>
        </div>
    </section>

    <section class="main-flatsMinPrices">
        <div class="main-section-title main-section-title_dark main-section-title_flatsMinPrices">
            <span>Квартиры и апартаменты</span>
            <a href="https://etalonnormand.ru/advantages/apartments/" class="main-section-title__textsmall _prices">Узнайте о преимуществах покупки апартаментов</a>
        </div>
        <div class="main-flatsMinPrices__list">
            <div class="main-flatsMinPrices__listItem">
                <div class="main-flatsMinPrices__listImgBox">
                    <a href="#">
                        <img src="https://etalonnormand.ru/upload/information_system_2/2/0/0/item_2000/information_items_property_2938.png" alt="" class="main-flatsMinPrices__listImg">
                    </a>
                </div>
                <div class="main-flatsMinPrices__listName">однокомнатные</div>
                <div class="main-flatsMinPrices__listPrice">от <span class="main-flatsMinPrices__glow">2,6 млн</span> руб.</div>
                <div class="main-flatsMinPrices__listSqr">21,8 – 50,9 м&sup2;</div>
            </div>
            <div class="main-flatsMinPrices__listItem">
                <div class="main-flatsMinPrices__listImgBox">
                    <a href="">
                        <img src="https://etalonnormand.ru/upload/information_system_2/1/8/3/item_1839/information_items_property_2865.png" alt="" class="main-flatsMinPrices__listImg">
                    </a>
                </div>
                <div class="main-flatsMinPrices__listName">двухкомнатные</div>
                <div class="main-flatsMinPrices__listPrice">от <span class="main-flatsMinPrices__glow">4,6 млн</span> руб.</div>
                <div class="main-flatsMinPrices__listSqr">71,8 – 90,9 м&sup2;</div>
            </div>
            <div class="main-flatsMinPrices__listItem">
                <div class="main-flatsMinPrices__listImgBox">
                    <a href="">
                        <img src="https://etalonnormand.ru/upload/information_system_2/1/9/7/item_1977/information_items_property_2925.png" alt="" class="main-flatsMinPrices__listImg">
                    </a>
                </div>
                <div class="main-flatsMinPrices__listName">трехкомнатные</div>
                <div class="main-flatsMinPrices__listPrice">от <span class="main-flatsMinPrices__glow">5,6 млн</span> руб.</div>
                <div class="main-flatsMinPrices__listSqr">91,8 – 150,9 м&sup2;</div>
            </div>
            <div class="main-flatsMinPrices__listItem main-flatsMinPrices__listItem_centered">
                <div class="main-flatsMinPrices__listImgBox">
                    <a href="">
                        <img src="https://etalonnormand.ru/upload/information_system_2/1/8/5/item_1858/information_items_property_2873.png" alt="" class="main-flatsMinPrices__listImg">
                    </a>
                </div>
                <div class="main-flatsMinPrices__listName">четырехкомнатные</div>
                <div class="main-flatsMinPrices__listPrice">от <span class="main-flatsMinPrices__glow">6,6 млн</span> руб.</div>
                <div class="main-flatsMinPrices__listSqr">121,8 – 150,9 м&sup2;</div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;" id="video-about-modal" class="video-about-modal">
    <div class="video-about-modal-wrapper">
        <div class="video-about-modal-inner">
            <iframe id="video-about" width="100%" height="100%" src="https://www.youtube.com/embed/7dYHiCKomIY" frameborder="0" controls="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <button data-fancybox-close class="close-gallery close-gallery_video"><img src="img/close-popup-dark.svg" alt=""></button>
            <!--<button class="video-about-modal__play">Play</button>-->
        </div>
    </div>
    <button data-fancybox-close class="close-gallery close-gallery_mobile"><img src="img/arrow_slide_back.svg" alt=""></button>
</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}

{% block page_bottom %}

{#<div style="display: none;" class="modal-banner" id="bn1">
     <div class="modal-banner-inner">
        <div class="modal-banner__bg" style="background-image: url('/img/banners/banner-bg-desktop.png')"></div>
        <div class="modal-banner__content">
            <div class="modal-banner__title">Берите выше!</div>
            <div class="modal-banner__text">Дополнительная
                <br> скидка 3%</div>
            <div class="modal-banner__subtext">Только в январе!</div>
            <p><a class="modal-banner__btn">Подробнее</a></p>
            <button data-fancybox-close="" class="modal-banner__close"><img src="/img/close-popup-light.svg" alt=""></button>
        </div>
    </div>


</div>#}

<div id="bn1" data-banner="1">
    <a href="https://etalonsad.ru/choose/?discount=1">
        <img src="/img/banners/d1.jpg" alt="" class="hidden-xs hidden-sm" style="max-width:100%;height:auto;" />
        <img src="/img/banners/m1.jpg" alt="" class="hidden-md hidden-lg hidden-xl hidden-xxl" style="max-width:100%;height:auto;max-height: 90vh;" />
    </a>
</div>

<div id="mail-banner" data-banner="0">
    <div class="mail-banner">
        <div class="mail-banner__inner">
            <div class="mail-banner__tlt">ХОТИТЕ ЗНАТЬ БОЛЬШЕ О ЖК «НОРМАНДИЯ»?</div>
            <p>В наших письмах — самая полная информация, которая поможет сделать правильный выбор.</p>
            <form id="mail-banner-form" action="/ajax/form-response.json" data-action="/ajax/form-response.json" method="get" class="page-form _mail ws-validate">
                <div class="page-form__step">
                    <label class="page-form__lbl">
                        <input type="email" class="page-form__inp" required>
                        <em class="page-form__placeholder">Ваш E-mail</em>
                    </label>
                    <input type="submit" class="button _orange" value="подписаться">
                </div>
                <div class="page-form__step">
                    <label class="page-form__lbl checkbox">
                        <input data-errormessage="Пожалуйста, подтвердите согласие на обработку данных." type="checkbox" name="email-agreement" checked required class="checkbox__inp">
                        <div class="checkbox__txt">Я даю согласие на обработку своих <a href="">персональных данных</a></div>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="mail-bannerV2" data-banner="3" style="display: none; padding: 0px;">
    <div class="mail-bannerV2">
        <div class="mail-bannerV2__inner">
            <div class="mail-bannerV2__tlt">Все детали о комплексе на&nbsp;вашу почту</div>
            <p>Планировки, инфраструктура, преимущества района, способы покупки</p>
            <form id="mail-bannerV2-form" action="/" method="post" class="page-form _mail ws-validate">
                <div class="page-form__step">
                    <label class="page-form__lbl">
                        <input type="email" class="page-form__inp" required data-errormessage="неверный формат email" placeholder="Ваш E-mail">
                    </label>
                    <button type="submit" class="button _orange _icon" value=""><span>подписаться</span></button>
                </div>
                <div class="page-form__step">
                    <label class="page-form__lbl checkbox">
                        <input data-errormessage="Пожалуйста, подтвердите согласие на обработку данных." type="checkbox" name="email-agreement" checked required class="checkbox__inp">
                        <div class="checkbox__txt checkbox__txt_v2">Я даю согласие не обработку своих <a href="">персональных данных</a></div>
                    </label>
                </div>
            </form>
        </div>
        <div class="mail-banner-close" data-fancybox-close="" title="Close">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>

<script src="js/index.js"></script>

{% endblock %}
