<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="header__burger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <header class="header">
        <div class="header-container">
            <a href="/" class="header__logo"><img src="img/logo.svg" alt=""></a>
            <nav class="header-menu">
                <div class="header-menu__item ">
                    <a href="javascript:;" class="header-menu__link ">Преимущества</a>
                    <div class="header-submenu">
                        <a href="/advantages/location/" class="header-submenu__link ">Расположение</a>
                        <a href="/advantages/apartments/" class="header-submenu__link ">Апартаменты</a>
                        <a href="/advantages/comfort/" class="header-submenu__link ">Комфорт</a>
                        <a href="/advantages/architecture/" class="header-submenu__link ">Архитектура</a>
                        <a href="/advantages/technologies/" class="header-submenu__link ">Технологии</a>
                    </div>
                </div>
                <div class="header-menu__item ">
                    <a href="javascript:;" class="header-menu__link ">Информация</a>
                    <div class="header-submenu">
                        <a href="/about/gallery/" class="header-submenu__link ">Галерея</a>
                        <a href="/finish/" class="header-submenu__link ">Квартиры с отделкой</a>
                        <a href="/showroom/" class="header-submenu__link ">Шоурум</a>
                        <a href="/about/diary/" class="header-submenu__link ">Ход строительства</a>
                        <a href="/about/developer/" class="header-submenu__link ">О застройщике</a>
                        <a href="http://ls-rielty.ru" class="header-submenu__link " target="_blank">Документы</a>
                        <a href="http://www.etalon-invest.com/how_to_buy/help/" class="header-submenu__link " target="_blank">Купившим</a>
                        <a href="/payment/" class="header-submenu__link ">Онлайн-оплата</a>
                        <a href="/about/news/" class="header-submenu__link ">Новости</a>
                        <a href="/contacts/" class="header-submenu__link header-submenu__link_contacts">Контакты</a>
                    </div>
                </div>
                <div class="header-menu__item ">
                    <a href="/genplan/" class="header-menu__link ">Сделай выбор</a>
                    <div class="header-submenu">
                        <a href="#" class="header-submenu__link ">Выбрать квартиру</a>
                        <a href="#" class="header-submenu__link ">Выбрать апартамент</a>
                    </div>
                </div>
                <div class="header-menu__item header-menu__item_commercial">
                    <a href="javascript:;" class="header-menu__link ">Нежилые помещения</a>
                    <div class="header-submenu">
                        <a href="/parking/" class="header-submenu__link ">Паркинг</a>
                        <a href="/commercial/" class="header-submenu__link ">Коммерческая недвижимость</a>
                    </div>
                </div>
                <div class="header-menu__item ">
                    <a href="/buy/" class="header-menu__link ">Как купить</a>
                    <div class="header-submenu">
                        <a href="/buy/mortgage/" class="header-submenu__link">Ипотека от 8,5%</a>
                        <a href="/buy/mortgage/calculator/" class="header-submenu__link">Ипотечный калькулятор</a>
                        <a href="/buy/trade-in/" class="header-submenu__link">Trade-In</a>
                        <a href="/buy/installment/" class="header-submenu__link">Рассрочка</a>
                        <a href="/buy/maternity-capital/" class="header-submenu__link">Материнский капитал</a>
                        <a href="/buy/semejnaya-ipoteka/" class="header-submenu__link">Семейная ипотека</a>
                    </div>
                </div>
                <div class="header-menu__item ">
                    <a href="/actions/" class="header-menu__link ">Акции</a>
                </div>
                <div class="header-menu__item header-menu__item_contacts">
                    <a href="/contacts/" class="header-menu__link ">Контакты</a>
                    <span class="header-menu__sticker">5 фев – выходной в офисе продаж</span>
                </div>
            </nav>
            <a href="#" class="LKEnter _header">
                <span class="LKEnter_icon">{% include "includes/svg/icon_lk.svg" %}</span>
            </a>
            <div class="header__phoneLinks">
                <div class="header__phone">
                    <a href="tel:74953244421">
                        +7 495 324-44-21
                        {#<img src="img/icon_phone-black.svg" alt="">
                        <span>+7 495 324-44-21</span>#}
                    </a>
                </div>
                <a href="" class="header__callMe">Заказать звонок</a>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
    <div id="order_call" class="page-sidebar__wrapper">
        <div class="page-sidebar__tlt">Заказать звонок</div>

        <form data-action="/ajax/form-response.json" method="GET" data-form-type="callback" class="page-form ws-validate" autocomplete="off">
            <div class="page-form__step">
                <label class="page-form__lbl">
                    <input type="text" class="page-form__inp" data-errormessage="Заполните поле" required name="name">
                    <em class="page-form__placeholder">Имя</em>
                </label>
            </div>
            <div class="page-form__step">
                <div class="page-form__lbl">
                    <label>
                        <input type="tel" class="page-form__inp" data-mask="phone" data-errormessage="Заполните поле" required name="phone">
                        <em class="page-form__placeholder">Телефон</em>
                    </label>
                </div>
            </div>
            <div class="page-form__step">
                <div class="SubCheckboxes__item SubCheckboxes__item--form">
                    <input data-errormessage="Подтвердите согласие на обработку данных." required type="checkbox" id="privacy-call" class="SubCheckboxes__input" name="privacy-call" value="1"/>
                    <label for="privacy-call">
                        <span>Даю согласие на <a href="/privacy">обработку</a> персональных данных</span>
                    </label>
                </div>
            </div>
            <div class="page-form__step">
                <input type="submit" value="отправить заявку" class="page-form__sbt button _red">
            </div>
        </form>
    </div>
    <footer class="footer">
        <div class="footer-bottom">
            <div class="footer-info">
                <div class="footer-copyright">© 2018 ГРУППА ЭТАЛОН</div>
                <div class="footer-text">Любая информация, размещенная на сайте, не&nbsp;является публичной офетой</div>
            </div>
            <div class="footer-socials">
                <a href="https://www.facebook.com/etalonsad" target="_blank" class="footer-socials__item footer-socials__item_fb _dark"></a>
                <a href="https://vk.com/etalonsad" target="_blank" class="footer-socials__item footer-socials__item_vk _dark"></a>
                <a href="https://www.instagram.com/etalonsad/" target="_blank" class="footer-socials__item footer-socials__item_insta _dark"></a>
                <a href="https://www.youtube.com/channel/UCeZOtpDYrBl42sYuL0zxR8Q" target="_blank" class="footer-socials__item footer-socials__item_yt _dark"></a>
                <a href="https://telegram.me/EtalonInvest" target="_blank" class="footer-socials__item footer-socials__item_tlg _dark"></a>
            </div>
            <div class="footer__contacts">
                <div class="footer__phone">
                    <a href="tel:+74951323350" class="phone3"><img src="/img/icon_phone-ft.svg" alt="">      <span>+7 (495) 132-33-50</span></a>
                </div>
                <div class="footer-subscribe">
                    <a href="#" class="footer-subscribe__link">Подписаться на рассылку</a>
                    <form action="" class="footer-subscribe__form" data-action="/ajax/form-subscribe/">
                        <div class="styled-input">
                            <input class="footer-subscribe__input" type="email" name="email" required="">
                            <label class="footer-subscribe__label">Электронная почта</label>
                            <button class="footer-subscribe__submit" type="submit">Подписаться</button>
                        </div>
                    </form>
                </div>
                <a href="#" class="LKEnter _footer">
                    <span class="LKEnter_txt">Личный кабинет</span>
                </a>
            </div>
        </div>
    </footer>
    <div class="full-menu-overlay"></div>
    <div id="full-menu-popup" class="full-menu-popup">
        <nav class="full-menu">
            <div class="full-menu-col">
                <a href="#" class="full-menu-link full-menu-link_disable">
                <span>Преимущества</span>
            </a>
                <div class="full-menu_submenu">
                    <a href="#" class="full-menu-sublink">
                    <span>Район для семьи</span>
                </a>
                    <a href="#" class="full-menu-sublink">
                    <span>Территория комфорта</span>
                </a>
                    <a href="#" class="full-menu-sublink">
                    <span>Архитектура</span>
                </a>
                    <a href="#" class="full-menu-sublink">
                    <span>Технологии</span>
                </a>
                </div>
            </div>
            <div class="full-menu-col">
                <a href="#" class="full-menu-link full-menu-link_disable">
                    <span>Информация</span>
                </a>
                <div class="full-menu_submenu">
                    <a href="#" class="full-menu-sublink">
                        <span>Галерея</span>
                    </a>
                    <a href="#" class="full-menu-sublink">
                        <span>Квартиры с отделкой</span>
                    </a>
                    <a href="#" class="full-menu-sublink">
                        <span>Шоурум</span>
                    </a>
                    <a href="#" class="full-menu-sublink">
                        <span>Ход строительства</span>
                    </a>
                    <a href="#" class="full-menu-sublink">
                        <span>О застройщике</span>
                    </a>
                    <a href="http://yk-dmitrovskaya.ru/" target="_blank" class="full-menu-sublink">
                        <span>Документы</span>
                    </a>
                    <a href="news.html" class="full-menu-sublink">
                        <span>Новости</span>
                    </a>

                </div>
            </div>
            <div class="full-menu-col">
                <a href="#" class="full-menu-link full-menu-link_disable">
                    <span>Как купить</span>
                </a>
                <div class="full-menu_submenu">
                    <a href="#" class="full-menu-sublink">
                        <span>Ипотека</span>
                    </a>
                    <a href="#" class="full-menu-sublink">
                        <span>Семейная ипотека 6%</span>
                    </a>
                    <a href="#" class="full-menu-sublink">
                        <span>Рассрочка</span>
                    </a>
                    <a href="#" class="full-menu-sublink">
                        <span>Trade-in</span>
                    </a>
                    <a href="http://yk-dmitrovskaya.ru/" target="_blank" class="full-menu-sublink">
                        <span>Материнский капитал</span>
                    </a>
                </div>
            </div>
            <div class="full-menu-col">
                <a href="filters.html" class="full-menu-link full-menu-link_select-flat full-menu-link_active">
                    <span>Выбор квартиры</span>
                </a>
                <a href="#" class="full-menu-link">
                    <span>Паркинг</span>
                </a>
                <a href="#" class="full-menu-link">
                    <span>Коммерческая недвижимость</span>
                </a>
                <a href="#" class="full-menu-link">
                    <span>Акции</span>
                </a>
                <a href="#" class="full-menu-link">
                    <span>Квартиры с отделкой</span>
                </a>
                <a href="contacts.html" class="full-menu-link">
                    <span>Контакты</span>
                </a>
                <a href="#" class="LKEnter _dropMenu">
                    <span class="LKEnter_icon">{% include "includes/svg/icon_lk.svg" %}</span>
                    <span class="LKEnter_txt">Личный кабинет</span>
                </a>
            </div>
        </nav>
    </div>
    <div style="display: none;" class="modal-banner">
        <div class="modal-banner-inner">
            <div class="modal-banner__bg"></div>
            <div class="modal-banner__content">
                <div class="modal-banner__title">Берите выше!</div>
                <div class="modal-banner__text">Дополнительная
                    <br> скидка 3%</div>
                <div class="modal-banner__subtext">Только в январе!</div>
                <a href="#" class="modal-banner__btn">Подробнее</a>
                <button data-fancybox-close class="modal-banner__close">
                    <img src="img/close-popup-light.svg" alt="">
                </button>
            </div>
        </div>
    </div>
    <div class="page-sidebar" data-sidebar>
        <div class="page-sidebar__inner">
            <em class="page-sidebar__close"></em>
        </div>
    </div>

    <div class="CookiesAgree _hide" data-cookiesagree>
        <div class="CookiesAgree_txt">
            Информируем вас о сборе метаданных (cookie, ip-адрес и местоположение) для корректного функционирования сайта.<br>Если вы согласны с нашими способами использования файлов cookie, просто продолжайте пользоваться сайтом.
        </div>
        <button class="CookiesAgree_btn" data-cookiesagree-btn>Соглашаюсь</button>
    </div>

    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyDBqPR8jwGmoDlyjXVR8Q8pEQYOJ0Aeo4s"></script>
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
    {% block page_bottom %}{% endblock %}
</body>

</html>
