{% set title = "Главная" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="longread-banner" style="background-image: url('img/longreads/apps/banner.jpg')">
        <h1 class="longread-banner__title">Апартаменты в&nbsp;ЖК «Нормандия»</h1>
        <div class="longread-banner__text">Выгодное решение для жизни и бизнеса</div>
    </section>
    <section class="longread-about">
        <div class="longread-about__inner">
            <div class="longread-about__text">
                <p>Апартаменты в ЖК «Нормандия» — это уникальная возможность приобрести помещение
                    в&nbsp;жилом комплексе комфорт-класса для себя или для сдачи в аренду дешевле рыночной
                    стоимости квартиры. Покупка апартаментов обладает рядом значительных преимуществ.</p>
            </div>
            <a href="/" class="longread-about__link">Выбрать аппартаменты</a>
        </div>
    </section>

    <section class="longread-section">
        <div class="container container_longread">
            <div class="main-section__row">
                <div class="main-section__col main-section__col_first main-section__col_mobile-grid main-section__col_location">
                    <div class="longread-section__content">
                        <div class="container-mobile mobile-order-title">
                            <div class="longread-section-title">
                                Низкая ставка за&nbsp;м<sup>2</sup>
                            </div>
                        </div>
                        <div class="container-mobile mobile-order-text">
                            <div class="longread-section__text">
                                <p>Стоимость апартаментов в среднем на 15-20% ниже стоимости квартир. Например, 2-комнатная
                                    квартира площадью 50 м2 в ЖК «Нормандия» стоит 7,25 млн рублей, а аналогичный
                                    апартамент — 6,2 млн рублей. При этом, вы получаете те же возможности по использованию
                                    рассрочки и ипотеки, что и покупатели квартир.</p>
                            </div>
                        </div>
                        <div class="longread-section-img-wrapper longread-section-img-wrapper_mobile longread-section-img-wrapper_sub-right_mobile mobile-order-img">
                            <div class="longread-section-img main-section-img_mobile" style="background-image: url('img/longreads/apps/mobile/1.jpg')"></div>
                        </div>
                    </div>
                </div>
                <div class="main-section__col main-section__col_second">
                    <div class="longread-section-img-wrapper longread-section-img-wrapper_sub-right">
                        <div class="longread-section-img main-section-img_desktop" style="background-image: url('img/longreads/apps/1.jpg')"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="container container_longread">
            <div class="main-section__row">
                <div class="main-section__col main-section__col_second main-section__col_security main-section__col_mobile-grid">
                    <div class="longread-section__content">
                        <div class="container-mobile mobile-order-title2">
                            <div class="longread-section-title">
                                Низкая кадастровая стоимость
                            </div>
                        </div>
                        <div class="main-section-img-wrapper mobile-order-img2">
                            <div class="main-section-img main-section-img_mobile" style="background-image: url('img/longreads/apps/mobile/2.jpg')"></div>

                        </div>
                        <div class="container-mobile mobile-order-text2">
                            <div class="longread-section__text">
                               <p>Налог на квартиру и апартаменты рассчитывается исходя из кадастровой стоимости
                                   помещения. И, хотя сама ставка налога выше для апартаментов, чем для квартир,
                                   кадастровая стоимость апартаментов значительно ниже. Кроме того, для апартаментов
                                   действует единая налоговая ставка для любых площадей, в то время как для квартир она
                                   будет выше при увеличении стоимости объекта. </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-section__col main-section__col_first">
                    <div class="longread-section-img-wrapper">
                        <div class="longread-section-img main-section-img_desktop" style="background-image: url('img/longreads/apps/2.jpg')"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="longread-section">
        <div class="longread-section-color">
            <div class="longread-section-color__col furnish-content__col_text">
                <div class="longread-section-color__inner longread-section-color__inner_left">
                    <div class="longread-section-color__title">Простота перепланировок</div>
                    <div class="longread-section-color__img longread-section-color__img_mobile" style="background-image: url('img/longreads/apps/mobile/3.jpg')"></div>
                    <div class="longread-section-color__descr">
                        <p>Перепланировка квартиры должна согласовываться в соответствующих органах,
                            что далеко не всегда оказывается просто и быстро. Владельцы апартаментов
                            полностью избавлены от такого беспокойства. Даже перенос «мокрых зон» они
                            могут осуществлять по собственному желанию.</p>
                    </div>
                </div>
            </div>
            <div class="longread-section-color__col">
                <div class="longread-section-color__img" style="background-image: url('img/longreads/apps/mobile/3.jpg')"></div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="container container_longread">
            <div class="main-section__row">
                <div class="main-section__col main-section__col_second main-section__col_technology main-section__col_mobile-grid main-section__col_technology">
                    <div class="longread-section__content">
                        <div class="container-mobile mobile-order-title">
                            <div class="longread-section-title">
                                Более выгодная аренда
                            </div>
                        </div>
                        <div class="container-mobile mobile-order-text">
                            <div class="longread-section__text">
                                <p>Если вы собираетесь приобрести недвижимость для сдачи в аренду, апартаменты — это
                                    идеальное решение. Ведь они дешевле, а значит, вы сможете быстрее окупить свои
                                    расходы. А возможность создания полностью уникальной планировки позволит вам
                                    повысить ставку аренды. </p>

                                <p class="longread-paragraph2">
                                    Еще несколько лет назад приобретение апартаментов порождало ряд сложностей
                                        для собственников. Но сейчас все существовавшие ранее проблемы решены.
                                </p>
                            </div>
                        </div>
                        <div class="longread-section-img-wrapper longread-section-img-wrapper_mobile longread-section-img-wrapper_sub-left_mobile mobile-order-img">
                            <div class="longread-section-img main-section-img_mobile" style="background-image: url('img/longreads/apps/mobile/4.jpg')"></div>
                        </div>
                    </div>

                </div>
                <div class="main-section__col main-section__col_first">
                    <div class="longread-section-img-wrapper longread-section-img-wrapper_sub-left">
                        <div class="longread-section-img main-section-img_desktop" style="background-image: url('img/longreads/apps/4.jpg')"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section longread-section_nomargin">
        <div class="container container_longread">
            <div class="main-section__row">
                <div class="main-section__col main-section__col_first main-section__col_mobile-grid main-section__col_location">
                    <div class="longread-section__content">
                        <div class="container-mobile mobile-order-title">
                            <div class="longread-section-title">
                                Все возможности регистрации
                            </div>
                        </div>
                        <div class="container-mobile mobile-order-text">
                            <div class="longread-section__text">
                                <p class="longread-paragraph">
                                    В апартаментах можно оформить временную регистрацию сроком на 5 лет с
                                        последующим продлением.
                                </p>
                                <p>Это предоставит вам все возможности использовать местную инфраструктуру:</p>

                                <ul class="list list_longreadApps">
                                    <li>Поликлиники</li>
                                    <li>Больницы</li>
                                    <li>Школы</li>
                                    <li>Детские сады</li>
                                </ul>
                                <p>Все это будет в вашем полном распоряжении. Кроме того, в ЖК «Нормандия» будет
                                    построен собственный детский сад для жителей.</p>

                            </div>
                        </div>
                        <div class="longread-section-img-wrapper mobile-order-img">
                            <div class="longread-section-img main-section-img_mobile" style="background-image: url('img/longreads/apps/mobile/5.jpg')"></div>
                        </div>
                    </div>
                </div>
                <div class="main-section__col main-section__col_second">
                    <div class="longread-section-img-wrapper">
                        <div class="longread-section-img main-section-img_desktop" style="background-image: url('img/longreads/apps/5.jpg')"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section-color">
            <div class="longread-section-color__col">
                <div class="longread-section-color__img" style="background-image: url('img/longreads/apps/mobile/6.jpg')"></div>
            </div>
            <div class="longread-section-color__col furnish-content__col_text">
                <div class="longread-section-color__inner longread-section-color__inner_red longread-section-color__inner_right">
                    <div class="longread-section-color__title">Отсутствие роста ставок ЖКХ</div>
                    <div class="longread-section-color__img longread-section-color__img_mobile" style="background-image: url('img/longreads/apps/mobile/6.jpg')"></div>
                    <div class="longread-section-color__descr">
                        <p>Разница ставок на услуги ЖКХ для владельцев апартаментов и квартир с каждым годом
                            уменьшается. Дело в том, что ставки для квартир растут, а для апартаментов — остаются на
                            прежнем уровне. Высока вероятность того, что уже через несколько лет владельцам квартир
                            придется платить больше.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="container container_longread">
            <div class="main-section__row">
                <div class="main-section__col main-section__col_first main-section__col_mobile-grid main-section__col_location">
                    <div class="longread-section__content">
                        <div class="container-mobile mobile-order-title">
                            <div class="longread-section-title longread-section-title_sanpin">
                                100% соблюдение СанПинов
                            </div>
                        </div>
                        <div class="container-mobile mobile-order-text">
                            <div class="longread-section__text">
                                <p>Юридически застройщик не обязан соблюдать СанПины* при сдаче апартаментов.
                                    Но Группа «Эталон», обладающая 30-летним опытом строительства объектов комфорт- и
                                    бизнес-класса, неукоснительно придерживается правила: все наши жильцы равны в своих
                                    правах. Поэтому в апартаментах соблюдаются те же нормы, что и в квартирах.</p>

                                <p style="color:#6c737a; font-size:13px;">* нормативные акты, устанавливающие критерии безопасности и безвредности для человека
                                    факторов окружающей его среды и требования к обеспечению благоприятных
                                    условий его жизнедеятельности.</p>
                            </div>
                        </div>
                        <div class="longread-section-img-wrapper longread-section-img-wrapper_mobile longread-section-img-wrapper_sub-right_mobile mobile-order-img">
                            <div class="longread-section-img main-section-img_mobile" style="background-image: url('img/longreads/apps/mobile/7.jpg')"></div>
                        </div>
                    </div>
                </div>
                <div class="main-section__col main-section__col_second">
                    <div class="longread-section-img-wrapper">
                        <div class="longread-section-img main-section-img_desktop" style="background-image: url('img/longreads/apps/7.jpg')"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section longread-section_last">
        <div class="container container_longread">
            <div class="main-section__row">
                <div class="main-section__col main-section__col_second main-section__col_technology main-section__col_mobile-grid main-section__col_technology">
                    <div class="longread-section__content">
                        <div class="container-mobile mobile-order-title">
                            <div class="longread-section-title">
                                Возможность перерегистрации
                            </div>
                        </div>
                        <div class="container-mobile mobile-order-text">
                            <div class="longread-section__text">
                                <p>Существует мнение, что в скором времени апартаменты юридически приравняют
                                    к жилым помещениям. Более того, есть прецеденты, когда собственники сами
                                    добивались этого уже после приобретения апартаментов. В таком случае вы просто
                                    сможете получить квартиру с абсолютно свободной планировкой на 15-20% дешевле!</p>

                                <p class="longread-paragraph hidden-md hidden-sm hidden-xs">
                                    Чтобы узнать обо всех возможностях, которые открываются перед
                                        собственниками апартаментов, просто свяжитесь с нашими менеджерами
                                        для консультации.
                                </p>
                            </div>
                        </div>
                        <div class="longread-section-img-wrapper mobile-order-img">
                            <div class="longread-section-img main-section-img_mobile" style="background-image: url('img/longreads/apps/mobile/8.jpg')"></div>
                        </div>

                        <div class="hidden-xxl hidden-xl hidden-lg">
                            <div class="container-mobile longread-section__text">
                                <p class="longread-paragraph">
                                    Чтобы узнать обо всех возможностях, которые открываются перед
                                    собственниками апартаментов, просто свяжитесь с нашими менеджерами
                                    для консультации.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="main-section__col main-section__col_first">
                    <div class="longread-section-img-wrapper">
                        <div class="longread-section-img main-section-img_desktop" style="background-image: url('img/longreads/apps/8.jpg')"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "includes/blocks/btn-call.njk" %}

</div>
{% endblock %}


{% block page_bottom %}

<script src="js/longread.js"></script>

{% endblock %}