{% set title = "Главная" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <div class="technical-page">
        <section class="longread-banner" style="background-image: url('img/longreads/technical/banner.jpg')">
            <div class="longread-banner__title"> Жить <br class="br-mobile">в технологически совершенном доме</div>
        </section>
        <section class="longread-about">
            <div class="longread-about__inner">
                <div class="longread-about__text">
                    <p>Уже более 30 лет ГК «Эталон» создает современные жилые комплексы, тщательно анализируя появляющиеся на рынке технологии и внедряя лучшие из них. При проектировании жилого комплекса «Нормандия» мы использовали весь накопленный за это время опыт, чтобы сделать ваш новый дом еще более комфортным и «умным». </p>
                </div>
            </div>
        </section>

        <div class="technical-page__longread-list">

            <section class="technical-page__longread-item technical-page__longread-item--one longread-item">
                <div class="container container--longread-item">
                    <div class="longread-item__block">
                        <div class="longread-item__thumb longread-item__thumb--corner" style="background-image: url('img/longreads/technical/1.jpg')"></div>
                        <div class="longread-item__content">
                            <div class="longread-title longread-item__title">Подземный паркинг</div>
                            <div class="longread-item__thumb longread-item__thumb--mobile longread-item__thumb--corner" style="background-image: url('img/longreads/technical/1.jpg')"></div>
                            <div class="longread-text longread-item__text">
                                <p>Вопрос «где припарковаться» в «Нормандии» решен на 100%. Подземный отапливаемый паркинг на 449 машиномест, оборудованный собственной системой видеонаблюдения, навсегда подарит вам уверенность в сохранности вашего автомобиля.</p>
                                <p><strong>Высота въезда позволит оставить здесь даже очень большой внедорожник (до 1,97 м в высоту). А удобные лифты предоставят возможность спускаться к автомобилю прямо от квартиры.</strong></p>

                                <a href="/parking.html" class="btn-border btn-border_select-room btn-border_dark longread-item__btn">
                                    <span>Выбрать место</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="technical-page__longread-item technical-page__longread-item--two longread-item longread-item--reverse">
                <div class="container container--longread-item">
                    <div class="longread-item__block">
                        <div class="longread-item__thumb" style="background-image: url('img/longreads/technical/2.jpg')"></div>
                        <div class="longread-item__content">
                            <div class="longread-title longread-item__title longread-item__title--small-margin">BIM-технологии</div>
                            <div class="longread-text longread-item__text longread-item__text--thumb-bottom">
                                <p><strong>На настоящий момент технология информационного моделирования зданий или BIM-технология, представляет собой наиболее надежный способ гарантировать точное соблюдение сроков строительства и качество объекта.</strong></p>
                            </div>
                            <div class="longread-item__thumb longread-item__thumb--mobile" style="background-image: url('img/longreads/technical/2.jpg')"></div>
                            <div class="longread-text longread-item__text">
                                <p>Ее использование подразумевает разработку компьютерной модели всего комплекса и тщательную проработку каждого этапа строительства. BIM-технология — это чертеж эпохи виртуальной реальности, благодаря которому мы можем просчитать все этапы ремонта на годы вперед и всегда держать свое слово перед клиентами. В частности благодаря BIM, Группа «Эталон» никогда не допускала просрочек при сдаче жилых комплексов.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="technical-page__longread-item technical-page__longread-item--three technical-page__longread-item--bottom longread-item longread-item--ornament longread-item--grey longread-item--ornament-bg">
                <div class="container container--longread-item">
                    <div class="longread-item__block">
                        <div class="longread-item__thumb longread-item__thumb--bg-right" style="background-image: url('img/longreads/technical/3.jpg')"></div>
                        <div class="longread-item__content">
                            <div class="longread-title longread-item__title">Материалы</div>
                            <div class="longread-text longread-item__text">
                                <p><strong>При строительстве микрорайона используются только экологически безопасные материалы, не просто соответствующие установленным законом нормам, но значительно превосходящие их. Бетон и кирпич ведущих российских производителей, негорючий утеплитель — все, что мы делаем, мы делаем с заботой о вас и окружающей среде. </strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="longread-section-advanatages">
                <div class="longread-section-advanatages__head">
                    <div class="container">
                        <div class="longread-section-advanatages__head-text">
                            <div class="longread-section-advanatages__title longread-title">
                                Фасады
                            </div>
                            <div class="longread-section-advanatages__desc">
                                <p>Навесные вентилируемые фасады всех корпусов ЖК «Нормандия», выполненные из высококачественного керамогранита отвечают трем важным условиям: красоте, экологичности и экономичности.</p>
                            </div>

                        </div>
                    </div>
                    <div class="longread-section-advanatages__brick"></div>
                </div>
                <div class="longread-section-advanatages__content">
                    <div class="container container--longread-advant">
                        <div class="longread-section-advanatages__content-col">
                            <div class="longread-section-advanatages__content-row">
                                <div class="longread-section-advanatages__advant-name">Красота</div>
                                <p class="longread-section-advanatages__advant-text">Яркие и изящные образы, тщательно продуманный дизайн, декоративная подсветка — все это призвано подарить жителям комплекса «Нормандия» радость от каждой проведенной дома минуты.</p>
                            </div>
                            <div class="longread-section-advanatages__content-row">
                                <div class="longread-section-advanatages__advant-name">Экологичность</div>
                                <p class="longread-section-advanatages__advant-text">Фасады выполнены исключительно из экологически чистых материалов, не несущих никакого вреда здоровью людей и окружающей среде.</p>
                            </div>
                        </div>
                        <div class="longread-section-advanatages__content-col">
                            <div class="longread-section-advanatages__content-row">
                                <div class="longread-section-advanatages__advant-name">Экономичность <br class="br-mobile">и теплосбережение</div>
                                <p class="longread-section-advanatages__advant-text">Технология монолитно-кирпичного строительства с навесными вентилируемыми фасадами реализуется следующим образом. К несущей поверхности стены или к монолитному перекрытию здания прикреплен металлокаркас, на который крепятся облицовочные плиты. Между наружной стеной и плитой остается небольшое пространство для циркуляции воздуха. Кроме того, здесь используется жесткий минераловатный утеплитель. Такая система позволяет избежать образования «точек росы», часто появляющихся в других домах, и обеспечивает теплоизоляцию, что позволяет уменьшить расходы на обогрев дома.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="technical-page__longread-item technical-page__longread-item--four longread-item">
                <div class="container container--longread-item">
                    <div class="longread-item__block">
                        <div class="longread-item__thumb longread-item__thumb--corner" style="background-image: url('img/longreads/technical/4.jpg')"></div>
                        <div class="longread-item__content">
                            <div class="longread-title longread-item__title">Лифты Otis</div>
                            <div class="longread-item__thumb longread-item__thumb--corner longread-item__thumb--mobile" style="background-image: url('img/longreads/technical/4.jpg')"></div>
                            <div class="longread-text longread-item__text">
                                <p><strong>Лифты Otis — это современное, скоростное и изящное решение для домов комфорт-класса.</strong></p>
                                <p>Они развивают скорость 1,6 м/с, имеют режим перевозки пожарных подразделений и возможность перевозки лиц с ограниченными двигательными возможностями. Они будут одинаково удобны для всех жителей комплекса. Кроме того, они двигаются практически бесшумно.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="technical-page__longread-item technical-page__longread-item--five longread-item longread-item--reverse">
                <div class="container container--longread-item">
                    <div class="longread-item__block">
                        <div class="longread-item__thumb" style="background-image: url('img/longreads/technical/5.jpg')"></div>
                        <div class="longread-item__content">
                            <div class="longread-title longread-item__title">Система <br class="br-desktop"/>водоснабжения</div>
                            <div class="longread-item__thumb longread-item__thumb--mobile" style="background-image: url('img/longreads/technical/5.jpg')"></div>
                            <div class="longread-text longread-item__text">
                                <p>Жители старых домов знают, что разница давления в трубах ГВС и ХВС может быстро приводить к выходу сантехники из строя. В «Нормандии» реализовано двухзонное водоснабжение с насосами “Grundfos” и стабилизаторами давления. Такая система позволяет долго сохранить сантехническое оборудование исправным.</p>
                                <p><strong>Система полностью независима, так что вы не столкнетесь с плановыми или внеплановыми случаями отключения горячей воды.</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="technical-page__longread-item technical-page__longread-item--six longread-item longread-item--ornament longread-item--red longread-item--white-text">
                <div class="container container--longread-item">
                    <div class="longread-item__block">
                        <div class="longread-item__thumb" style="background-image: url('img/longreads/technical/6.jpg')"></div>
                        <div class="longread-item__content">
                            <div class="longread-title longread-item__title">Система отопления</div>
                            <div class="longread-text longread-item__text">
                                <p><strong>Система теплоснабжения реализована таким образом, чтобы оптимально сочетать эффективность, экономичность и эстетику. Трубы проложены под стяжкой пола и не занимают место в квартире. </strong></p>
                                <p>Температурный режим батарей вы сможете регулировать самостоятельно в зависимости от погодных условий. Это позволяет, во-первых, добиваться идеального микроклимата, а во-вторых, экономить на коммунальных платежах, не платя за тепло, которое вы не используете в настоящий момент.</p>
                                <p>Коммерческие помещения снабжены отдельными счетчиками, так что вам не придется платить за тепло, которое получили не вы.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="technical-page__longread-item technical-page__longread-item--seven longread-item longread-item--reverse">
                <div class="container container--longread-item">
                    <div class="longread-item__block">
                        <div class="longread-item__thumb longread-item__thumb--corner longread-item__thumb--corner-right longread-item__thumb--bg-right" style="background-image: url('img/longreads/technical/7.jpg')"></div>
                        <div class="longread-item__content">
                            <div class="longread-title longread-item__title">Система вентиляции</div>
                            <div class="longread-item__thumb longread-item__thumb--bg-right longread-item__thumb--corner longread-item__thumb--corner-right longread-item__thumb--mobile" style="background-image: url('img/longreads/technical/7.jpg')"></div>
                            <div class="longread-text longread-item__text">
                                <p>Когда за окном расположены 4 парка, хочется, чтобы все помещения дома были наполнены свежим воздухом. Установленная во всех домах ЖК «Нормандия» система естественной и вытяжной вентиляции вместе с шумозащитными клапанами Air-Box в окнах квартир обеспечивает постоянное проветривание всех корпусов.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>
    

    {% include "includes/blocks/btn-call.njk" %}

</div>


<script src="js/longread.js"></script>

{% endblock %}