{% set title = "Жить, наслаждаясь красотой" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
	<section class="longread-banner longread-banner_live" style="background-image: url('img/longreads/family/banner.jpg')">
		<h1 class="longread-banner__title">Жить в идеальном для семьи районе</h1>
		<div class="longread-banner__text">ЖК&nbsp;&laquo;Нормандия&raquo; расположен в&nbsp;СВАО г. Москвы по&nbsp;адресу: ул. Тайнинская вл. 9-11.</div>
	</section>

	<section class="longread-about">
		<div class="longread-about__inner">
			<div class="longread-about__title">Расположение</div>
			<div class="longread-about__text">
				<p>Транспортная доступность комплекса позволит вам тратить на&nbsp;дорогу минимум времени.</p>
			</div>
		</div>
	</section>

	<div class="technical-page__longread-list">

		<section class="technical-page__longread-item longread-item">
			<div class="container container--longread-item">
				<div class="longread-item__block">
					<div class="longread-item__thumb longread-item__thumb--corner" style="background-image: url('img/longreads/family/longread-1.jpg')"></div>
					<div class="longread-item__content">
						<div class="longread-title longread-item__title">НА&nbsp;АВТОМОБИЛЕ&nbsp;&mdash; БЫСТРО</div>
						<div class="longread-item__thumb longread-item__thumb--corner longread-item__thumb--mobile" style="background-image: url('img/longreads/family/longread-1.jpg')"></div>
						<div class="longread-text longread-item__text">
							<p>Откройте любую карту Москвы, и&nbsp;вы&nbsp;убедитесь, что:</p>
							<ul class="list list_index">
								<li>Дорога до&nbsp;центра города займет всего 30&nbsp;минут</li>
								<li>Выезды на&nbsp;МКАД, Ярославское и&nbsp;Осташковское шоссе находятся в&nbsp;10&nbsp;минутах</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="technical-page__longread-item longread-item longread-item--reverse">
			<div class="container container--longread-item">
				<div class="longread-item__block">
					<div class="longread-item__thumb" style="background-image: url('img/longreads/family/longread-2.jpg')"></div>
					<div class="longread-item__content">
						<div class="longread-title longread-item__title">ОБЩЕСТВЕННЫМ ТРАНСПОРТОМ&nbsp;&mdash; УДОБНО</div>
						<div class="longread-item__thumb longread-item__thumb--mobile" style="background-image: url('img/longreads/family/longread-2.jpg')"></div>
						<div class="longread-text longread-item__text">
							<p>Дорога до&nbsp;станции метро &laquo;Медведково&raquo; займет <strong>20&nbsp;минут пешком</strong>.</p>
							<p>До&nbsp;ст.&nbsp;м. &laquo;Бабушкинская&raquo; и&nbsp;ж/д станций &laquo;Лосиноостровская&raquo; и&nbsp;&laquo;Лось&raquo; можно быстро доехать на&nbsp;автобусе, ведь остановки находятся в&nbsp;2&nbsp;минутах пешком от&nbsp;вашего подъезда.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<section class="longread-map1-tabs" data-map-switch>
		<div class="longread-map1-tabs__item _active" data-lat="55.868536" data-lng="37.662950">метро «Бабушкинская»</div>
		<div class="longread-map1-tabs__item" data-lat="55.862100" data-lng="37.682016">ж/д станция «Лосиноостровская»</div>
		<div class="longread-map1-tabs__item" data-lat="55.880502" data-lng="37.711033">ж/д станция «Лось»</div>
	</section>

	<section class="longread-map1" id="normand-rail" data-map="normand-rail" data-map-init='{"center": [55.882315, 37.684119], "title": "г. Москва, Дмитровское шоссе, вл. 107", "zoom" : 11, "icon" : {"url" : "/img/marker-object.png", "size" : [60, 69]}, "controls" : ["zoomControl", "searchControl"], "type": "route", "switchable": true, "route": {"start": [55.868536, 37.662950], "end": [55.882315, 37.684119], "endIco": "/img/marker-object.png"}}'></section>

	<section class="longread-item">
		<div class="container container--longread-item">
			<div class="longread-item__block _wide">
				<div class="longread-title longread-item__title">ПОД ЗАЩИТОЙ ПРИРОДЫ</div>
				<div class="longread-text longread-item__text">
					<p>ЖК&nbsp;&laquo;Нормандия&raquo; надежно закрыт от&nbsp;городского шума, окружен парками и&nbsp;скверами, соседствует с&nbsp;набережной реки Яузы и&nbsp;прудами.</p>
				</div>
			</div>
		</div>
		<section class="longread-map2" id="normand-parks" data-map="normand-parks" data-map-init='{"icon" : {"url" : "/img/marker-object.png", "size" : [60, 69]}, "center": [55.879115, 37.684119], "controls" : ["zoomControl", "searchControl"], "zoom" : 14, "parks": [{"title": "Бабушкинский парк", "center": [55.867511, 37.682711], "icon": {"url": "/img/longreads/family/map-park_babush.png", "size": [197, 35]}}, {"center": [55.889398, 37.696192], "title": "Джамгаровский парк", "icon": {"url": "/img/longreads/family/map-park_djam.png", "size": [212, 35]}}, {"center": [55.881925, 37.700315], "title": "Таежный парк", "icon": {"url": "/img/longreads/family/map-park_taej.png", "size": [177, 35]}}, {"center": [55.875096, 37.684902], "title": "Парк Торфянка", "icon": {"url": "/img/longreads/family/map-park_torf.png", "size": [175, 35]}}]}'></section>
	</section>

	<div class="technical-page__longread-list">
		<section class="technical-page__longread-item longread-item longread-item--reverse">
			<div class="container container--longread-item">
				<div class="longread-item__block">
					<div class="longread-item__thumb longread-item__thumb--corner longread-item__thumb--corner-right longread-item__thumb--bg-right" style="background-image: url('img/longreads/family/longread-3.jpg')"></div>
					<div class="longread-item__content">
						<div class="longread-title longread-item__title">В&nbsp;ОКРУЖЕНИИ ПАРКОВ</div>
						<div class="longread-item__thumb longread-item__thumb--bg-right longread-item__thumb--corner longread-item__thumb--corner-right longread-item__thumb--mobile" style="background-image: url('img/longreads/family/longread-3.jpg')"></div>
						<div class="longread-text longread-item__text">
							<ul class="list list_index">
								<li>До&nbsp;парка &laquo;Торфянка&raquo; с&nbsp;небольшим водоемом отсюда всего 490&nbsp;метров.</li>
								<li>До&nbsp;Джамгаровского пруда, где можно не&nbsp;только с&nbsp;удовольствием прогуливаться, но&nbsp;и&nbsp;загорать в&nbsp;летний период&nbsp;&mdash; 710&nbsp;метров.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="technical-page__longread-item longread-item">
			<div class="container container--longread-item">
				<div class="longread-item__block">
					<div class="longread-item__thumb" style="background-image: url('img/longreads/family/longread-5.jpg')"></div>
					<div class="longread-item__content">
						<div class="longread-title longread-item__title _hidden">&nbsp;</div>
						<div class="longread-item__thumb longread-item__thumb--mobile" style="background-image: url('img/longreads/family/longread-5.jpg')"></div>
						<div class="longread-text longread-item__text">
							<ul class="list list_index">
								<li>Недавно обновленный Бабушкинский парк
								с&nbsp;комфортными дорожками для прогулок,
								аттракционами виртуальной реальности,
								батутными комплексами, горками для тьюбинга
								и&nbsp;уютным кафе находится в&nbsp;9&nbsp;минутах
								на&nbsp;автомобиле.</li>
								<li>А&nbsp;в&nbsp;10&nbsp;минутах езды расположен национальный
								парк &laquo;Лосиный остров&raquo;, посетить который будет
								так интересно детям. Ведь теперь здесь
								функционирует &laquo;лосиная биостанция&raquo;,
								на&nbsp;которой можно увидеть и&nbsp;даже потрогать
								живых лосей, вышка для наблюдения за&nbsp;птицами
								и&nbsp;музей русского быта.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="technical-page__longread-item longread-item longread-item--reverse">
			<div class="container container--longread-item">
				<div class="longread-item__block">
					<div class="longread-item__thumb" style="background-image: url('img/longreads/family/longread-4.jpg')"></div>
					<div class="longread-item__content">
						<div class="longread-title longread-item__title">СВОЙ СПУСК К&nbsp;НАБЕРЕЖНОЙ</div>
						<div class="longread-item__thumb longread-item__thumb--mobile" style="background-image: url('img/longreads/family/longread-4.jpg')"></div>
						<div class="longread-text longread-item__text">
							<p>Построенный специально для жильцов спуск соединит комплекс и&nbsp;набережную реки Яузы. Здесь вы&nbsp;сможете не&nbsp;только с&nbsp;удовольствием погулять по&nbsp;тенистым аллеям или отдохнуть с&nbsp;друзьями, но&nbsp;и&nbsp;поиграть с&nbsp;детьми на&nbsp;оборудованных площадках или покормить уток прямо с&nbsp;берега.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="longread-item">
			<div class="container container--longread-item">
				<div class="longread-title longread-item__title _center">Окружение жк «Нормандия»</div>
				<div class="longread-video" data-video>
					<div class="longread-video__bg" style="background-image: url('img/longreads/family/video-preview.jpg')"></div>
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/HOGMn84884g?" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</section>
	</div>

	<section class="longread-mapInfra-container">
		<div class="container container--longread-item">
			<div class="longread-item__block _wide">
				<div class="longread-title longread-item__title">Район с развитой инфраструктурой</div>
			</div>
		</div>

		<div id="location-infrastructure" data-url="/ajax/map-infra.json" class="longread-mapInfra" data-map="location-infrastructure" data-map-init='{"center": [55.879114, 37.544560], "zoom" : 13, "controls" : [], "type": "infra"}'></div>

		<div class="longread4-category-links">
			<div class="longread4-category-links__title">Инфраструктура ЖК</div>
			<a href="" class="longread4-category-links__item longread4-category-links__item_cafe" data-category="cafe">Кафе, рестораны</a>
			<a href="" class="longread4-category-links__item longread4-category-links__item_sport" data-category="sport">Спортивные объекты</a>
			<a href="" class="longread4-category-links__item longread4-category-links__item_school" data-category="azs">АЗС</a>
			<a href="" class="longread4-category-links__item longread4-category-links__item_med" data-category="med">Объекты здравохранения</a>
			<a href="" class="longread4-category-links__item longread4-category-links__item_shops" data-category="shops">Магазины, гипермаркеты, ТЦ</a>
			<a href="" class="longread4-category-links__item longread4-category-links__item_park" data-category="park">Парки</a>
			<a href="" class="longread4-category-links__item longread4-category-links__item_edu" data-category="edu">ВУЗы, техникумы</a>
			<a href="" class="longread4-category-links__item longread4-category-links__item_kindergarten" data-category="kindergarten">Детские сады</a>
			<a href="" class="longread4-category-links__item longread4-category-links__item_school" data-category="school">Школы</a>

			<a href="" class="longread4-category-links__show" data-infra-show>Показать все</a>
			<a href="" class="longread4-category-links__hide" data-infra-hide>Скрыть все</a>
		</div>
		<div class="longread-mapInfra-btns">
			<button class="longread-mapInfra-btns__map">Карта</button>
			<button class="longread-mapInfra-btns__infra">Инфраструктура ЖК</button>
		</div>
	</section>

	<section class="longread-item">
		<div class="container container--longread-item">
			<div class="longread-text longread-item__text">
				<p>Комплекс &laquo;Нормандия&raquo; расположен в&nbsp;обжитом Лосиноостровском район &nbsp;г. Москвы с&nbsp;полностью сложившейся инфраструктурой. Недалеко от&nbsp;комплекса находятся многочисленные продуктовые магазины, супермаркеты и&nbsp;крупные торговые центры. Просто взгляните на&nbsp;эту карту, и&nbsp;вы&nbsp;убедитесь в&nbsp;том, что здесь вам не&nbsp;придется беспокоиться о&nbsp;том, в&nbsp;какую школу отдать ребенка, где купить продукты и&nbsp;одежду и&nbsp;как отдохнуть в&nbsp;выходной день.</p>
			</div>
			<div class="longread-item__block _custom">
				<div class="longread-item__thumb" style="background-image: url('img/longreads/family/longread-6.jpg')"></div>
				<div class="longread-item__content">
					<div class="longread-title longread-item__title"><span>Рядом с ЖК «Нормандия»</span> расположены</div>
					<div class="longread-text longread-item__text">
						<ul class="list list_index">
							<li>12&nbsp;фитнес-центров</li>
							<li>8&nbsp;больниц и&nbsp;поликлиник</li>
							<li>10&nbsp;государственных и&nbsp;10&nbsp;частных детских садов</li>
							<li>16&nbsp;школ, в&nbsp;том числе 2&nbsp;с углубленным изучением английского языка</li>
							<li>Десятки магазинов, кафе и&nbsp;ресторанов</li>
						</ul>
						<p>Кроме того, этот район просто создан для того, чтобы отлично проводить время с&nbsp;детьми. Ведь совсем рядом находятся: Московский новый театр кукол, современный батутный парк, детский бассейн с&nbsp;морской водой &laquo;Море детям&raquo; и&nbsp;многочисленные спортивные секции.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include "includes/blocks/btn-call.njk" %}
</div>

{% endblock %}


{% block page_bottom %}

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=AI12UVwBAAAA5dcbfQIA1REaro56GW5XUxGMf4L53uWf3YQAAAAAAAAAAACZYjqB842QTM0A2jLc8uxwuOTUDQ==" type="text/javascript"></script>
<script src="js/longread.js"></script>

{% endblock %}
