{% set title = "Главная" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <div class="comfort-page">

        <section class="longread-banner" style="background-image: url('img/longreads/comfort/banner.jpg')">
            <h1 class="longread-banner__title">Жить <br class="br-mobile">на территории европейского комфорта</h1>
        </section>

    <div class="comfort-page__longread-list">


        <section class="comfort-page__longread-item comfort-page__longread-item--one longread-item longread-item--ornament-reverse longread-item--ornament longread-item--red longread-item--white-text">
            <div class="container container--longread-item">
                <div class="longread-item__block">
                    <div class="longread-item__thumb" style="background-image: url('img/longreads/comfort/1.jpg')"></div>
                    <div class="longread-item__content">
                        <div class="longread-title longread-item__title">Безопасность, <br class="br-tablet br-desktop"/>гарантированная <br class="br-desktop"/>опытом</div>
                        <div class="longread-text longread-item__text">
                            <p><strong/>Закрытая территория, система видеонаблюдения, охрана, домофоны и консьержи в каждом подъезде — в «Нормандии» созданы все условия, чтобы дома вы могли просто отдыхать<strong/></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="comfort-page__longread-item comfort-page__longread-item--two longread-item">
            <div class="container container--longread-item">
                <div class="longread-item__block">
                    <div class="longread-item__thumb longread-item__thumb--flag" style="background-image: url('img/longreads/comfort/2.jpg')"></div>
                    <div class="longread-item__content">
                        <div class="longread-title longread-item__title">Двор<br class="br-mobile"/> для прогулок <br class="br-desktop"/><br class="br-mobile"/> и игр</div>
                        <div class="longread-item__thumb longread-item__thumb--flag longread-item__thumb--mobile" style="background-image: url('img/longreads/comfort/2.jpg')"></div>
                        <div class="longread-text longread-item__text">
                            <p><strong>Ваш двор должен принадлежать вам, а не превращаться в стихийную стоянку для автомобилей.</strong></p>
                            <p>Поэтому в ЖК «Нормандия» реализована концепция «двор без машин», которую ГК «Эталон» уже много лет успешно использует в своих жилых комплексах. А внутренняя территория «Нормандии» отражает самые современные тенденции ландшафтного дизайна: с посаженными деревьями, клумбами и выделенными местами для спокойного и активного отдыха. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="longread-section longread-section_full">
            <div class="longread-section__full-img" style="background-image: url('img/longreads/comfort/full.jpg')">
                <div class="container container_longread container_longread-full container--longread-item">
                    <div class="longread-section__content">
                        <div class="container-mobile mobile-order-title2">
                            <div class="longread-section-title">
                                парковки
                            </div>
                        </div>
                        <div class="container-mobile mobile-order-text2">
                            <div class="longread-section__text">
                                <p>Гостевые парковки расположены по периметру участка. Вашим гостям не придется беспокоиться за сохранность автомобилей.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="comfort-page__longread-item comfort-page__longread-item--three longread-item">
            <div class="container container--longread-item">
                <div class="longread-item__block">
                    <div class="longread-item__thumb longread-item__thumb--corner" style="background-image: url('img/longreads/comfort/3.jpg')"></div>
                    <div class="longread-item__content">
                        <div class="longread-title longread-item__title">Территория <br class="br-desktop br-tablet"/><br class="br-mobile"/>для радостного <br class="br-desktop"/><br class="br-mobile"/>детства</div>
                        <div class="longread-text longread-item__text longread-item__text--thumb-bottom">
                            <p>В безопасных охраняемых дворах предусмотрены современные детские площадки с песочницами, горками, качелями и целыми игровыми комплексами.  Подростки найдут для себя много интересного на спортивных площадках. Резиновое наземное покрытие позволяет играть в любую погоду, сохраняя одежду и обувь в чистоте.</p>
                        </div>

                        <div class="longread-item__thumb longread-item__thumb--mobile longread-item__thumb--corner" style="background-image: url('img/longreads/comfort/3.jpg')"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="comfort-page__longread-item comfort-page__longread-item--four longread-item longread-item--reverse">
            <div class="container container--longread-item">
                <div class="longread-item__block">
                    <div class="longread-item__thumb longread-item__thumb--flag longread-item__thumb--flag-trees longread-item__thumb--flag-right" style="background-image: url('img/longreads/comfort/4.jpg')"></div>
                    <div class="longread-item__content">
                        <div class="longread-title longread-item__title">Инфраструктура <br class="br-desktop br-tablet"/>для гармоничного <br class="br-desktop"/>развития</div>
                        <div class="longread-item__thumb longread-item__thumb--mobile longread-item__thumb--flag longread-item__thumb--flag-trees longread-item__thumb--flag-right" style="background-image: url('img/longreads/comfort/4.jpg')"></div>
                        <div class="longread-text longread-item__text">
                            <p><strong>Собственный детский сад непосредственно на территории комплекса сэкономит время, которое иначе вы тратили бы на дорогу.</strong></p>
                            <p>А наличие рядом с комплексом учебных заведений, включая известную среднеобразовательную школу № 1955 с углубленным изучением иностранных языков, подарит вам и вашим детям дополнительное время для сна. Ведь она расположена ровно в 3 минутах пешком.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="comfort-page__longread-item comfort-page__longread-item--five longread-item longread-item--ornament longread-item--black longread-item--white-text">
            <div class="container container--longread-item">
                <div class="longread-item__block">
                    <div class="longread-item__thumb" style="background-image: url('img/longreads/comfort/5.jpg')"></div>
                    <div class="longread-item__content">
                        <div class="longread-title longread-item__title">Все необходимое — <br class="br-desktop"/>в минуте<br class="br-tablet"/> пешком <br class="br-desktop"/><br class="br-mobile"/> от подъезда</div>
                        <div class="longread-text longread-item__text">
                            <p><strong>На первых этажах ЖК «Нормандия» будут расположены только помещения коммерческого использования. И здесь будет все, что необходимо для повседневной жизни высокого класса:</strong></p>
                            <ul class="list list_index list_white">
                                <li>Кафе</li>
                                <li>Салоны красоты</li>
                                <li>Аптека</li>
                                <li>Детский досуговый центр</li>
                            </ul>
                            <p>И много другое.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

    </div>

    

    {% include "includes/blocks/btn-call.njk" %}

</div>


<script src="js/longread.js"></script>

{% endblock %}