{% set title = "Жить, наслаждаясь красотой" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="longread-banner longread-banner_live" style="background-image: url('img/longreads/live/banner.jpg')">
        <h1 class="longread-banner__title">Жить, наслаждаясь красотой</h1>
    </section>

    <section class="longread-section">
        <div class="longread-section-title longread-section-title_slider">Европейская архитектура</div>
        <div class="container">
            <div class="hidden-xxl hidden-xl hidden-lg">
                <div class="longread-section__live">
                    <p>Группа «Эталон» по праву гордится тем, что строит дизайнерские жилые комплексы. 200 000 человек,
                        проживающих в возведенных компанией домах, подтвердят это. Проверить это просто — посмотрите на уже
                        сданные нами объекты на сайте: <a target="_blank" href="www.etalon-invest.com">www.etalon-invest.com</a> </p>
                </div>
            </div>
        </div>
        <div class="longread-section-slider-full swiper-container">
            <div class="swiper-wrapper">
                <div class="longread-section-slider-full__slide swiper-slide">
                    <div class="longread-section-slider__img" style="background-image: url('img/longreads/live/slide.jpg')"></div>
                </div>
                <div class="longread-section-slider-full__slide swiper-slide">
                    <div class="longread-section-slider__img" style="background-image: url('img/longreads/live/slide.jpg')"></div>
                </div>
            </div>
            <div class="longread-section-slider-full__pagination"></div>

            <div class="longread-section-slider-full__prev"></div>
            <div class="longread-section-slider-full__next"></div>
        </div>
        <div class="container">
            <div class="main-section__row">
                <div class="main-section__col">
                    <div class="hidden-md hidden-sm hidden-xs">
                        <div class="longread-section__live">
                            <p>Группа «Эталон» по праву гордится тем, что строит дизайнерские жилые комплексы. 200 000 человек,
                                проживающих в возведенных компанией домах, подтвердят это. Проверить это просто — посмотрите на уже
                                сданные нами объекты на сайте: <a target="_blank" href="www.etalon-invest.com">www.etalon-invest.com</a> </p>
                        </div>
                    </div>
                </div>
                <div class="main-section__col">
                    <div class="longread-section__live">
                        <p>«Нормандия» — комплекс для тех, кому важна эстетика. Фасады, выполненные по принципу
                            «европейского квартала», оригинальность застройки, аристократичные цвета и большие
                            окна — все это призвано сделать жилой комплекс главной архитектурной доминантой района.
                            Кроме того, каждый корпус комплекса имеет собственный неповторимый образ. На фасадах
                            предусмотрены места для внешних блоков кондиционеров и сплит-систем.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="longread-section">
        <div class="longread-section-title longread-section-title_slider">Дизайнерские холлы</div>
        <div class="longread-section-slider">
            <div class="longread-section-slider__images swiper-container longread-section-slider_order1">
                <div class="swiper-wrapper">
                    <div class="longread-section-slider__slide swiper-slide">
                        <div class="longread-section-slider__img" style="background-image: url('img/longreads/live/slide2.jpg')"></div>
                    </div>
                    {# <div class="longread-section-slider__slide swiper-slide">
                        <div class="longread-section-slider__img" style="background-image: url('img/longreads/live/slide2.jpg')"></div>
                    </div> #}
                </div>
                <div class="longread-section-slider__nav">
                    <div class="longread-section-slider-prev"></div>
                    <div class="longread-section-slider-next"></div>
                </div>
                <div class="longread-section-slider-pagination"></div>
            </div>
            <div class="longread-section-slider__text longread-section-slider_order2">
                <p>Холлы и зоны лобби всех корпусов выполнены таким
                    образом, чтобы предоставить жильцам максимальную
                    пользу и, при этом, радовать глаз эстетичными
                    решениями. При входе в новый дом вас встретят:</p>
                <ul class="list list_index list_white">
                    <li>потолки высотой 3,95 м</li>
                    <li>окна с панорамным остеклением</li>
                    <li>мебель, тщательно подобранная дизайнерами</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="longread-section">
        <div class="container container_longread">
            <div class="main-section__row">
                <div class="main-section__col main-section__col_first main-section__col_mobile-grid main-section__col_location">
                    <div class="longread-section__content">
                        <div class="container-mobile mobile-order-title">
                            <div class="longread-section-title longread-section-title_sanpin">
                                Функциональное пространство
                            </div>
                        </div>
                        <div class="container-mobile mobile-order-text">
                            <div class="longread-section__text">
                                <ul class="list list_index">
                                    <li>Колясочные</li>
                                    <li>Помещения для консьержа</li>
                                    <li>Двусторонние входы</li>
                                    <li>Система видеонаблюдения</li>
                                </ul>
                                <p>А отсутствие ступеней оценят и мамы с колясками, и жители с ограниченными возможностями.</p>
                            </div>
                        </div>
                        <div class="longread-section-img-wrapper longread-section-img-wrapper_mobile longread-section-img-wrapper_sub-right_mobile mobile-order-img longread-section-img-wrapper_sub-left-red">
                            <div class="longread-section-img main-section-img_mobile" style="background-image: url('img/longreads/live/mobile/func.jpg')"></div>
                        </div>
                    </div>
                </div>
                <div class="main-section__col main-section__col_second">
                    <div class="longread-section-img-wrapper main-section-img-wrapper_sub-right">
                        <div class="longread-section-img main-section-img_desktop" style="background-image: url('img/longreads/live/func.jpg')"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section longread-section_last">
        <div class="container container_longread">
            <div class="main-section__row">
                <div class="main-section__col main-section__col_second main-section__col_technology main-section__col_mobile-grid main-section__col_technology">
                    <div class="longread-section__content">
                        <div class="container-mobile mobile-order-title">
                            <div class="longread-section-title longread-section-title_sanpin">
                                Ландшафтный дизайн
                            </div>
                        </div>
                        <div class="container-mobile mobile-order-text">
                            <div class="longread-section__text">
                                <p>На территории комплекса будет реализована индивидуальная концепция ландшафтного дизайна.</p>

                                <ul class="list list_index">
                                    <li>Детские и спортивные площадки</li>
                                    <li>Зеленые насаждения</li>
                                    <li>Прогулочная зона</li>
                                </ul>

                                <p>Все это позволит вам каждый день наслаждаться
                                    красотой, не спеша прогуливаясь с семьей и детьми.</p>
                            </div>
                        </div>
                        <div class="longread-section-img-wrapper mobile-order-img">
                            <div class="longread-section-img main-section-img_mobile" style="background-image: url('img/longreads/live/mobile/design.jpg')"></div>
                        </div>
                    </div>

                </div>
                <div class="main-section__col main-section__col_first">
                    <div class="longread-section-img-wrapper">
                        <div class="longread-section-img main-section-img_desktop" style="background-image: url('img/longreads/live/design.jpg')"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "includes/blocks/btn-call.njk" %}
</div>

{% endblock %}


{% block page_bottom %}

<script src="js/longread.js"></script>

{% endblock %}