{% set title = "Паркинг" %}
{% extends "layout.njk" %}

{% block content %}

<div class="wrapper">
    <nav class="TopNav">
        <div class="TopNav_inner">
            <div class="TopNav_leaf"><a href="genplan.html" class="TopNav_link">На генплане</a></div>
            <div class="TopNav_leaf"><a href="filters.html" class="TopNav_link">По параметрам</a></div>
            <div class="TopNav_leaf TopNav_leaf-active"><a href="parking.html" class="TopNav_link">Паркинг</a></div>
            <div class="TopNav_leaf"><a href="filters-commercial.html" class="TopNav_link">Нежилые помещения</a></div>
        </div>
    </nav>
    <section class="parking">
        <div class="container">
            <form id="parkingFilter" class="parking-form" autocomplete="off" method="GET" target="/ajax/parking.json">
                <div class="parking-sorter">
                    <div class="parking-sorter__item">
                        <button type="button" class="Sorter_lbl" data-val="bld">
                            <span class="hidden-xs">Корпус</span>
                        </button>
                    </div>

                    <div class="parking-sorter__item">
                        <button type="button" class="Sorter_lbl" data-val="section">Номер</button>
                    </div>
                    <div class="parking-sorter__item">
                        <button type="button" class="Sorter_lbl" data-val="floor">
                            <span class="hidden-xs">Этаж</span>
                        </button>
                    </div>
                    <div class="parking-sorter__item">
                        <button type="button" class="Sorter_lbl" data-val="price">Цена , руб</button>
                        <input type="hidden" form="parkingFilter" name="sort" value="">
                        <input type="hidden" form="parkingFilter" name="sortdir" value="">
                    </div>
                    <div class="parking-sorter__item">
                        <button type="button" class="Sorter_lbl">Поэтажный план</button>
                    </div>
                </div>

                <div class="parking-preloader">
                    <div class="parking-preloader__ring">
                        <div></div><div></div>
                    </div>
                </div>
                <div id="parkingResult" class="parking-result">

                </div>
                <div class="parking-pagination"></div>
            </form>
        </div>
    </section>
</div>

<div class="page-sidebar" data-sidebar>
    <div class="page-sidebar__inner">
        <em class="page-sidebar__close"></em>
        <div id="parking" class="page-sidebar__wrapper">
            <div class="page-sidebar__tlt">Заявка на паркинг</div>

            <form data-action="/ajax/form-response.json" method="GET" class="page-form ws-validate" autocomplete="off">
                <div class="page-form__step">
                    <label class="page-form__lbl">
                        <input type="text" class="page-form__inp" data-errormessage="Заполните поле" required name="parking-name">
                        <em class="page-form__placeholder">Имя</em>
                    </label>
                </div>
                <div class="page-form__step">
                    <div class="page-form__lbl">
                        <label>
                            <input type="tel" class="page-form__inp" data-mask="phone" data-errormessage="Заполните поле" required name="parking-phone">
                            <em class="page-form__placeholder">Телефон</em>
                        </label>
                    </div>
                </div>
                <div class="page-form__step">
                    <div class="page-form__stepTitle">Корпус</div>
                    <div class="parkingCheckboxes">
                        <div class="FilterForm_checkboxesRow">
                            {% for bld in [
                            {label: "2а", id: 1},
                            {label: "2б", id: 2},
                            {label: "2в", id: 3},
                            {label: "2г", id: 4},
                            {label: "3а", id: 5},
                            {label: "3б", id: 6},
                            {label: "3в", id: 22},
                            {label: "4а", id: 7},
                            {label: "4б", id: 8}
                            ] %}
                            <div class="BigCheckbox">
                                <label class="BigCheckbox_label">
                                    <input class="BigCheckbox_input" type="checkbox" name="bld[]" data-persist-id="bld_{{bld.id}}" value="{{bld.id}}"><span class="BigCheckbox_view BigCheckbox_view-light">{{bld.label}}</span>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="page-form__step">
                    <input type="submit" value="отправить" class="page-form__sbt button _orange">
                </div>
            </form>
        </div>
    </div>
</div>
{% include "includes/blocks/btn-call.njk" %}
{% endblock %}

{% block page_bottom %}
<script src="js/parking.js"></script>
{% endblock %}