{% set title = "Главная" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="gallery-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item">Информация</a>
                <a href="#" class="breadcrumbs__item breadcrumbs__item_active">Шоурум</a>
            </div>
            <div class="title-page">Шоурум</div>
        </div>
    </section>

    <div class="container">
        <div class="showroom">
            {#<div class="showroom__title"> Прогулка по шоуруму </div>#}
            <div class="showroom__main">
                <div class="showroom__overlay">
                    <div class="showroom__zoom">
                        {% include "includes/svg/zoom.svg" %}
                        <div class="showroom__zoomDesc">На весь экран</div>
                    </div>
                </div>
                <div class="showroom__thumb"></div>
            </div>
        </div>
    </div>
</div>

<div data-frame="https://www.novostroy-m.ru/files/novos/virtual_tour/msk/jk_normandiya_2_showroom/" class="showroom-fullFrame">
    <img src="./img/close_frame.svg" class="showroom-fullFrame__close"/>
    {# <iframe class="showroom-fullFrame__iframe" src="https://www.novostroy-m.ru/files/novos/virtual_tour/msk/jk_normandiya_2_showroom/"></iframe> #}
</div>

{% include "includes/blocks/call-form.njk" %}

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}

{% block page_bottom %}

{% endblock %}