{% set title = "Sunny Flats" %}
{% extends "layout.njk" %}

{% block content %}
<div class="wrapper">
    <section class="UniqPlans UniqPlans-sunnyFlats">
        <section class="UniqPlans_header" style="background-image: url('./img/sunny_flats/SunnyFlatsMain.jpg')">
            <h1 class="UniqPlans_headerH1">Sunny flats</h1>
        </section>
        <section class="UniqPlans_topTxt">
            <div class="UniqPlans_topTxtInner">
                <p>Sunny Flats – это квартиры и апартаменты, в которых оконые проемы занимают всю стену, а иногда и две. Такое решение создает особую легкость в помещении и дарит невероятный панорамный вид на город и парковую зону. Разнообразные конфигурации и количество комнат позволят подобрать подходящую квартиру или апартаменты для семей с самыми разными предпочтениями. Вы можете выбрать планировку с таким остеклением в гостиной, спальне или на кухне. </p>
            </div>
        </section>
        <section class="UniqPlans_tabs">
            <div id="UniqPlansTabs">
                <div class="UniqPlansTabs_ulWrap UniqPlansTabs_ulWrap-sunnyFlats">
                    <div class="UniqPlansTabs_ulWrap1">
                        <ul class="UniqPlansTabs_ul">
                            <li class="UniqPlansTabs_li"><a href="#UniqPlansTabs-1" class="UniqPlansTabs_link">1-комнатные</a></li>
                            <li class="UniqPlansTabs_li"><a href="#UniqPlansTabs-2" class="UniqPlansTabs_link">2-комнатные</a></li>
                            <li class="UniqPlansTabs_li"><a href="#UniqPlansTabs-3" class="UniqPlansTabs_link">3-комнатные</a></li>
                            <li class="UniqPlansTabs_li"><a href="#UniqPlansTabs-4" class="UniqPlansTabs_link">4-комнатные</a></li>
                        </ul>
                    </div>
                </div>
                <div id="UniqPlansTabs-1" data-hash="UniqPlan-1" class="UniqPlansTabs_cont">
                    <ul class ="SunnyFlats">
                        <li class="SunnyFlats_item">
                            <div class="SunnyFlats_itemLeft">
                                <div class="SunnyFlats_itemLeftHead">
                                    <div class="SunnyFlats_flatType"><span class="SunnyFlats_flatTypeNum">1 </span>комнатная<br>квартира</div>
                                    <div class="SunnyFlats_flatDesc">Увеличенные оконные проёмы, на 8 см шире относительно стандартных ЖК. Стена с витражным остеклением Sunny.</div>

                                    <div class="SunnyFlats_flatInfo SunnyFlats_flatInfo-tablet">
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">107.69 м<sup>2</sup></span>
                                            <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">3</span>
                                            <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">1</span>
                                            <span class="SunnyFlats_flatInfoDesc">секция</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">8-9</span>
                                            <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                        </div>
                                    </div>
                                </div>
                                <img src="./tmp/plans/sunny_plan.jpg" alt="" class="SunnyFlats_flatThumb">
                            </div>
                            <div class="SunnyFlats_itemRight">
                                <div class="SunnyFlats_flatInfo">
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">107.69 м</span>
                                        <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">3</span>
                                        <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">1</span>
                                        <span class="SunnyFlats_flatInfoDesc">секция</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">8-9</span>
                                        <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                    </div>
                                </div>

                                <div class="SunnyFlats_angles SunnyFlats_angles-desktop swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="SunnyFlats_angleCol">
                                            <div class="SunnyFlats_angle SunnyFlats_angle-vertical swiper-slide">
                                                <img src="./tmp/sunny_angle-vertical.jpg" alt="" class="SunnyFlats_angleImg">
                                                <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                            </div>
                                        </div>
                                        <div class="SunnyFlats_angleCol">
                                            <div class="SunnyFlats_angle swiper-slide">
                                                <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                                <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                            </div>
                                            <div class="SunnyFlats_angle swiper-slide">
                                                <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                                <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                            </div>
                                            <div class="SunnyFlats_angle swiper-slide">
                                                <img src="./tmp/sunny_angle2.jpg" alt="" class="SunnyFlats_angleImg">
                                                <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                    <div class="swiper-pagination"></div>
                                </div>

                                <div class="SunnyFlats_angles SunnyFlats_angles-mobile swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="SunnyFlats_angle SunnyFlats_angle-vertical swiper-slide">
                                            <img src="./tmp/sunny_angle-vertical.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle2.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                    </div>
                                    
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                    <div class="swiper-pagination"></div>
                                </div>

                                <div class="SunnyFlats_itemDesc">Очень просторная трехкомнатная квартира. Благодаря увеличенному остеклению, в спальне и гостиной всегда будет очень светло и бесконечно уютно. А в большой кухне можно не только с удовольствием готовить, но и собираться с семьей и друзьями за ужином.</div>
                                <a href="#" class="SunnyFlats_btn btn-call">Подобрать квартиру</a>
                            </div>
                        </li>
                        <li class="SunnyFlats_item">
                            <div class="SunnyFlats_itemLeft">
                                <div class="SunnyFlats_itemLeftHead">
                                    <div class="SunnyFlats_flatType"><span class="SunnyFlats_flatTypeNum">1 </span>комнатная<br>квартира</div>
                                    <div class="SunnyFlats_flatDesc">Увеличенные оконные проёмы, на 8 см шире относительно стандартных ЖК. Стена с витражным остеклением Sunny.</div>

                                    <div class="SunnyFlats_flatInfo SunnyFlats_flatInfo-tablet">
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">107.69 м<sup>2</sup></span>
                                            <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">3</span>
                                            <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">1</span>
                                            <span class="SunnyFlats_flatInfoDesc">секция</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">8-9</span>
                                            <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                        </div>
                                    </div>
                                </div>
                                <img src="./tmp/plans/sunny_plan.jpg" alt="" class="SunnyFlats_flatThumb">
                            </div>
                            <div class="SunnyFlats_itemRight">
                                <div class="SunnyFlats_flatInfo">
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">107.69 м</span>
                                        <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">3</span>
                                        <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">1</span>
                                        <span class="SunnyFlats_flatInfoDesc">секция</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">8-9</span>
                                        <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                    </div>
                                </div>

                                <div class="SunnyFlats_angles swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="SunnyFlats_angle SunnyFlats_angle-fullImg swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                    <div class="swiper-pagination"></div>
                                </div>

                                <div class="SunnyFlats_itemDesc">Очень просторная трехкомнатная квартира. Благодаря увеличенному остеклению, в спальне и гостиной всегда будет очень светло и бесконечно уютно. А в большой кухне можно не только с удовольствием готовить, но и собираться с семьей и друзьями за ужином.</div>
                                <a href="#" class="SunnyFlats_btn btn-call">Подобрать квартиру</a>
                            </div>
                        </li>
                        <li class="SunnyFlats_item">
                            <div class="SunnyFlats_itemLeft">
                                <div class="SunnyFlats_itemLeftHead">
                                    <div class="SunnyFlats_flatType"><span class="SunnyFlats_flatTypeNum">1 </span>комнатная<br>квартира</div>
                                    <div class="SunnyFlats_flatDesc">Увеличенные оконные проёмы, на 8 см шире относительно стандартных ЖК. Стена с витражным остеклением Sunny.</div>

                                    <div class="SunnyFlats_flatInfo SunnyFlats_flatInfo-tablet">
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">107.69 м<sup>2</sup></span>
                                            <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">3</span>
                                            <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">1</span>
                                            <span class="SunnyFlats_flatInfoDesc">секция</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">8-9</span>
                                            <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                        </div>
                                    </div>
                                </div>
                                <img src="./tmp/plans/sunny_plan.jpg" alt="" class="SunnyFlats_flatThumb">
                            </div>
                            <div class="SunnyFlats_itemRight">
                                <div class="SunnyFlats_flatInfo">
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">107.69 м</span>
                                        <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">3</span>
                                        <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">1</span>
                                        <span class="SunnyFlats_flatInfoDesc">секция</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">8-9</span>
                                        <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                    </div>
                                </div>

                                <div class="SunnyFlats_angles swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                    <div class="swiper-pagination"></div>
                                </div>

                                <div class="SunnyFlats_itemDesc">Очень просторная трехкомнатная квартира. Благодаря увеличенному остеклению, в спальне и гостиной всегда будет очень светло и бесконечно уютно. А в большой кухне можно не только с удовольствием готовить, но и собираться с семьей и друзьями за ужином.</div>
                                <a href="#" class="SunnyFlats_btn btn-call">Подобрать квартиру</a>
                            </div>
                        </li>
                    <ul/>
                </div>
                <div id="UniqPlansTabs-2" data-hash="UniqPlan-2" class="UniqPlansTabs_cont">
                        <ul class ="SunnyFlats">
                        <li class="SunnyFlats_item">
                            <div class="SunnyFlats_itemLeft">
                                <div class="SunnyFlats_itemLeftHead">
                                    <div class="SunnyFlats_flatType"><span class="SunnyFlats_flatTypeNum">2 </span>комнатная<br>квартира</div>
                                    <div class="SunnyFlats_flatDesc">Увеличенные оконные проёмы, на 8 см шире относительно стандартных ЖК. Стена с витражным остеклением Sunny.</div>

                                    <div class="SunnyFlats_flatInfo SunnyFlats_flatInfo-tablet">
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">107.69 м<sup>2</sup></span>
                                            <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">3</span>
                                            <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">1</span>
                                            <span class="SunnyFlats_flatInfoDesc">секция</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">8-9</span>
                                            <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                        </div>
                                    </div>
                                </div>
                                <img src="./tmp/plans/sunny_plan.jpg" alt="" class="SunnyFlats_flatThumb">
                            </div>
                            <div class="SunnyFlats_itemRight">
                                <div class="SunnyFlats_flatInfo">
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">107.69 м</span>
                                        <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">3</span>
                                        <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">1</span>
                                        <span class="SunnyFlats_flatInfoDesc">секция</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">8-9</span>
                                        <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                    </div>
                                </div>

                                <div class="SunnyFlats_angles swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                    </div>
                                    
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                    <div class="swiper-pagination"></div>
                                </div>

                                <div class="SunnyFlats_itemDesc">Очень просторная трехкомнатная квартира. Благодаря увеличенному остеклению, в спальне и гостиной всегда будет очень светло и бесконечно уютно. А в большой кухне можно не только с удовольствием готовить, но и собираться с семьей и друзьями за ужином.</div>
                                <a href="#" class="SunnyFlats_btn btn-call">Подобрать квартиру</a>
                            </div>
                        </li>
                        <li class="SunnyFlats_item">
                            <div class="SunnyFlats_itemLeft">
                                <div class="SunnyFlats_itemLeftHead">
                                    <div class="SunnyFlats_flatType"><span class="SunnyFlats_flatTypeNum">2 </span>комнатная<br>квартира</div>
                                    <div class="SunnyFlats_flatDesc">Увеличенные оконные проёмы, на 8 см шире относительно стандартных ЖК. Стена с витражным остеклением Sunny.</div>

                                    <div class="SunnyFlats_flatInfo SunnyFlats_flatInfo-tablet">
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">107.69 м<sup>2</sup></span>
                                            <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">3</span>
                                            <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">1</span>
                                            <span class="SunnyFlats_flatInfoDesc">секция</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">8-9</span>
                                            <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                        </div>
                                    </div>
                                </div>
                                <img src="./tmp/plans/sunny_plan.jpg" alt="" class="SunnyFlats_flatThumb">
                            </div>
                            <div class="SunnyFlats_itemRight">
                                <div class="SunnyFlats_flatInfo">
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">107.69 м</span>
                                        <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">3</span>
                                        <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">1</span>
                                        <span class="SunnyFlats_flatInfoDesc">секция</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">8-9</span>
                                        <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                    </div>
                                </div>

                                <div class="SunnyFlats_angles swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                    <div class="swiper-pagination"></div>
                                </div>

                                <div class="SunnyFlats_itemDesc">Очень просторная трехкомнатная квартира. Благодаря увеличенному остеклению, в спальне и гостиной всегда будет очень светло и бесконечно уютно. А в большой кухне можно не только с удовольствием готовить, но и собираться с семьей и друзьями за ужином.</div>
                                <a href="#" class="SunnyFlats_btn btn-call">Подобрать квартиру</a>
                            </div>
                        </li>
                        <li class="SunnyFlats_item">
                            <div class="SunnyFlats_itemLeft">
                                <div class="SunnyFlats_itemLeftHead">
                                    <div class="SunnyFlats_flatType"><span class="SunnyFlats_flatTypeNum">2 </span>комнатная<br>квартира</div>
                                    <div class="SunnyFlats_flatDesc">Увеличенные оконные проёмы, на 8 см шире относительно стандартных ЖК. Стена с витражным остеклением Sunny.</div>

                                    <div class="SunnyFlats_flatInfo SunnyFlats_flatInfo-tablet">
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">107.69 м<sup>2</sup></span>
                                            <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">3</span>
                                            <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">1</span>
                                            <span class="SunnyFlats_flatInfoDesc">секция</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">8-9</span>
                                            <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                        </div>
                                    </div>
                                </div>
                                <img src="./tmp/plans/sunny_plan.jpg" alt="" class="SunnyFlats_flatThumb">
                            </div>
                            <div class="SunnyFlats_itemRight">
                                <div class="SunnyFlats_flatInfo">
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">107.69 м</span>
                                        <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">3</span>
                                        <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">1</span>
                                        <span class="SunnyFlats_flatInfoDesc">секция</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">8-9</span>
                                        <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                    </div>
                                </div>

                                <div class="SunnyFlats_angles swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                    <div class="swiper-pagination"></div>
                                </div>

                                <div class="SunnyFlats_itemDesc">Очень просторная трехкомнатная квартира. Благодаря увеличенному остеклению, в спальне и гостиной всегда будет очень светло и бесконечно уютно. А в большой кухне можно не только с удовольствием готовить, но и собираться с семьей и друзьями за ужином.</div>
                                <a href="#" class="SunnyFlats_btn btn-call">Подобрать квартиру</a>
                            </div>
                        </li>
                    <ul/>
                </div>
                <div id="UniqPlansTabs-3" data-hash="UniqPlan-3" class="UniqPlansTabs_cont">
                    <ul class ="SunnyFlats">
                        <li class="SunnyFlats_item">
                            <div class="SunnyFlats_itemLeft">
                                <div class="SunnyFlats_itemLeftHead">
                                    <div class="SunnyFlats_flatType"><span class="SunnyFlats_flatTypeNum">3 </span>комнатная<br>квартира</div>
                                    <div class="SunnyFlats_flatDesc">Увеличенные оконные проёмы, на 8 см шире относительно стандартных ЖК. Стена с витражным остеклением Sunny.</div>

                                    <div class="SunnyFlats_flatInfo SunnyFlats_flatInfo-tablet">
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">107.69 м<sup>2</sup></span>
                                            <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">3</span>
                                            <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">1</span>
                                            <span class="SunnyFlats_flatInfoDesc">секция</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">8-9</span>
                                            <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                        </div>
                                    </div>
                                </div>
                                <img src="./tmp/plans/sunny_plan.jpg" alt="" class="SunnyFlats_flatThumb">
                            </div>
                            <div class="SunnyFlats_itemRight">
                                <div class="SunnyFlats_flatInfo">
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">107.69 м</span>
                                        <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">3</span>
                                        <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">1</span>
                                        <span class="SunnyFlats_flatInfoDesc">секция</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">8-9</span>
                                        <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                    </div>
                                </div>

                                <div class="SunnyFlats_angles swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                    </div>
                                    
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                    <div class="swiper-pagination"></div>
                                </div>

                                <div class="SunnyFlats_itemDesc">Очень просторная трехкомнатная квартира. Благодаря увеличенному остеклению, в спальне и гостиной всегда будет очень светло и бесконечно уютно. А в большой кухне можно не только с удовольствием готовить, но и собираться с семьей и друзьями за ужином.</div>
                                <a href="#" class="SunnyFlats_btn btn-call">Подобрать квартиру</a>
                            </div>
                        </li>
                        <li class="SunnyFlats_item">
                            <div class="SunnyFlats_itemLeft">
                                <div class="SunnyFlats_itemLeftHead">
                                    <div class="SunnyFlats_flatType"><span class="SunnyFlats_flatTypeNum">3 </span>комнатная<br>квартира</div>
                                    <div class="SunnyFlats_flatDesc">Увеличенные оконные проёмы, на 8 см шире относительно стандартных ЖК. Стена с витражным остеклением Sunny.</div>

                                    <div class="SunnyFlats_flatInfo SunnyFlats_flatInfo-tablet">
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">107.69 м<sup>2</sup></span>
                                            <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">3</span>
                                            <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">1</span>
                                            <span class="SunnyFlats_flatInfoDesc">секция</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">8-9</span>
                                            <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                        </div>
                                    </div>
                                </div>
                                <img src="./tmp/plans/sunny_plan.jpg" alt="" class="SunnyFlats_flatThumb">
                            </div>
                            <div class="SunnyFlats_itemRight">
                                <div class="SunnyFlats_flatInfo">
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">107.69 м</span>
                                        <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">3</span>
                                        <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">1</span>
                                        <span class="SunnyFlats_flatInfoDesc">секция</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">8-9</span>
                                        <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                    </div>
                                </div>

                                <div class="SunnyFlats_angles swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                    <div class="swiper-pagination"></div>
                                </div>

                                <div class="SunnyFlats_itemDesc">Очень просторная трехкомнатная квартира. Благодаря увеличенному остеклению, в спальне и гостиной всегда будет очень светло и бесконечно уютно. А в большой кухне можно не только с удовольствием готовить, но и собираться с семьей и друзьями за ужином.</div>
                                <a href="#" class="SunnyFlats_btn btn-call">Подобрать квартиру</a>
                            </div>
                        </li>
                        <li class="SunnyFlats_item">
                            <div class="SunnyFlats_itemLeft">
                                <div class="SunnyFlats_itemLeftHead">
                                    <div class="SunnyFlats_flatType"><span class="SunnyFlats_flatTypeNum">3 </span>комнатная<br>квартира</div>
                                    <div class="SunnyFlats_flatDesc">Увеличенные оконные проёмы, на 8 см шире относительно стандартных ЖК. Стена с витражным остеклением Sunny.</div>

                                    <div class="SunnyFlats_flatInfo SunnyFlats_flatInfo-tablet">
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">107.69 м<sup>2</sup></span>
                                            <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">3</span>
                                            <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">1</span>
                                            <span class="SunnyFlats_flatInfoDesc">секция</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">8-9</span>
                                            <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                        </div>
                                    </div>
                                </div>
                                <img src="./tmp/plans/sunny_plan.jpg" alt="" class="SunnyFlats_flatThumb">
                            </div>
                            <div class="SunnyFlats_itemRight">
                                <div class="SunnyFlats_flatInfo">
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">107.69 м</span>
                                        <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">3</span>
                                        <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">1</span>
                                        <span class="SunnyFlats_flatInfoDesc">секция</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">8-9</span>
                                        <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                    </div>
                                </div>

                                <div class="SunnyFlats_angles swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                    <div class="swiper-pagination"></div>
                                </div>

                                <div class="SunnyFlats_itemDesc">Очень просторная трехкомнатная квартира. Благодаря увеличенному остеклению, в спальне и гостиной всегда будет очень светло и бесконечно уютно. А в большой кухне можно не только с удовольствием готовить, но и собираться с семьей и друзьями за ужином.</div>
                                <a href="#" class="SunnyFlats_btn btn-call">Подобрать квартиру</a>
                            </div>
                        </li>
                    <ul/>
                </div>
                <div id="UniqPlansTabs-4" data-hash="UniqPlan-4" class="UniqPlansTabs_cont">
                    <ul class ="SunnyFlats">
                        <li class="SunnyFlats_item">
                            <div class="SunnyFlats_itemLeft">
                                <div class="SunnyFlats_itemLeftHead">
                                    <div class="SunnyFlats_flatType"><span class="SunnyFlats_flatTypeNum">4 </span>комнатная<br>квартира</div>
                                    <div class="SunnyFlats_flatDesc">Увеличенные оконные проёмы, на 8 см шире относительно стандартных ЖК. Стена с витражным остеклением Sunny.</div>

                                    <div class="SunnyFlats_flatInfo SunnyFlats_flatInfo-tablet">
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">107.69 м<sup>2</sup></span>
                                            <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">3</span>
                                            <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">1</span>
                                            <span class="SunnyFlats_flatInfoDesc">секция</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">8-9</span>
                                            <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                        </div>
                                    </div>
                                </div>
                                <img src="./tmp/plans/sunny_plan.jpg" alt="" class="SunnyFlats_flatThumb">
                            </div>
                            <div class="SunnyFlats_itemRight">
                                <div class="SunnyFlats_flatInfo">
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">107.69 м</span>
                                        <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">3</span>
                                        <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">1</span>
                                        <span class="SunnyFlats_flatInfoDesc">секция</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">8-9</span>
                                        <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                    </div>
                                </div>

                                <div class="SunnyFlats_angles swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                    </div>
                                    
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                    <div class="swiper-pagination"></div>
                                </div>

                                <div class="SunnyFlats_itemDesc">Очень просторная трехкомнатная квартира. Благодаря увеличенному остеклению, в спальне и гостиной всегда будет очень светло и бесконечно уютно. А в большой кухне можно не только с удовольствием готовить, но и собираться с семьей и друзьями за ужином.</div>
                                <a href="#" class="SunnyFlats_btn btn-call">Подобрать квартиру</a>
                            </div>
                        </li>
                        <li class="SunnyFlats_item">
                            <div class="SunnyFlats_itemLeft">
                                <div class="SunnyFlats_itemLeftHead">
                                    <div class="SunnyFlats_flatType"><span class="SunnyFlats_flatTypeNum">4 </span>комнатная<br>квартира</div>
                                    <div class="SunnyFlats_flatDesc">Увеличенные оконные проёмы, на 8 см шире относительно стандартных ЖК. Стена с витражным остеклением Sunny.</div>

                                    <div class="SunnyFlats_flatInfo SunnyFlats_flatInfo-tablet">
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">107.69 м<sup>2</sup></span>
                                            <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">3</span>
                                            <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">1</span>
                                            <span class="SunnyFlats_flatInfoDesc">секция</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">8-9</span>
                                            <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                        </div>
                                    </div>
                                </div>
                                <img src="./tmp/plans/sunny_plan.jpg" alt="" class="SunnyFlats_flatThumb">
                            </div>
                            <div class="SunnyFlats_itemRight">
                                <div class="SunnyFlats_flatInfo">
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">107.69 м</span>
                                        <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">3</span>
                                        <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">1</span>
                                        <span class="SunnyFlats_flatInfoDesc">секция</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">8-9</span>
                                        <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                    </div>
                                </div>

                                <div class="SunnyFlats_angles swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                    <div class="swiper-pagination"></div>
                                </div>

                                <div class="SunnyFlats_itemDesc">Очень просторная трехкомнатная квартира. Благодаря увеличенному остеклению, в спальне и гостиной всегда будет очень светло и бесконечно уютно. А в большой кухне можно не только с удовольствием готовить, но и собираться с семьей и друзьями за ужином.</div>
                                <a href="#" class="SunnyFlats_btn btn-call">Подобрать квартиру</a>
                            </div>
                        </li>
                        <li class="SunnyFlats_item">
                            <div class="SunnyFlats_itemLeft">
                                <div class="SunnyFlats_itemLeftHead">
                                    <div class="SunnyFlats_flatType"><span class="SunnyFlats_flatTypeNum">4 </span>комнатная<br>квартира</div>
                                    <div class="SunnyFlats_flatDesc">Увеличенные оконные проёмы, на 8 см шире относительно стандартных ЖК. Стена с витражным остеклением Sunny.</div>

                                    <div class="SunnyFlats_flatInfo SunnyFlats_flatInfo-tablet">
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">107.69 м<sup>2</sup></span>
                                            <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">3</span>
                                            <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">1</span>
                                            <span class="SunnyFlats_flatInfoDesc">секция</span>
                                        </div>
                                        <div class="SunnyFlats_flatInfoItem">
                                            <span class="SunnyFlats_flatInfoNum">8-9</span>
                                            <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                        </div>
                                    </div>
                                </div>
                                <img src="./tmp/plans/sunny_plan.jpg" alt="" class="SunnyFlats_flatThumb">
                            </div>
                            <div class="SunnyFlats_itemRight">
                                <div class="SunnyFlats_flatInfo">
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">107.69 м</span>
                                        <span class="SunnyFlats_flatInfoDesc">площадь</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">3</span>
                                        <span class="SunnyFlats_flatInfoDesc">корпус</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">1</span>
                                        <span class="SunnyFlats_flatInfoDesc">секция</span>
                                    </div>
                                    <div class="SunnyFlats_flatInfoItem">
                                        <span class="SunnyFlats_flatInfoNum">8-9</span>
                                        <span class="SunnyFlats_flatInfoDesc">этаж</span>
                                    </div>
                                </div>

                                <div class="SunnyFlats_angles swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                        <div class="SunnyFlats_angle swiper-slide">
                                            <img src="./tmp/sunny_angle.jpg" alt="" class="SunnyFlats_angleImg">
                                            <div class="SunnyFlats_angleDesc">Ракурс №1</div>
                                        </div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                    <div class="swiper-pagination"></div>
                                </div>

                                <div class="SunnyFlats_itemDesc">Очень просторная трехкомнатная квартира. Благодаря увеличенному остеклению, в спальне и гостиной всегда будет очень светло и бесконечно уютно. А в большой кухне можно не только с удовольствием готовить, но и собираться с семьей и друзьями за ужином.</div>
                                <a href="#" class="SunnyFlats_btn btn-call">Подобрать квартиру</a>
                            </div>
                        </li>
                    <ul/>
                </div>
            </div>
        </section>
    </section>
</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}


{% block page_bottom %}
<script src="js/sunny_flats.js"></script>
{% endblock %}