{% set title = "Уникальные планировки" %}
{% extends "layout.njk" %}

{% block content %}
<div class="wrapper">
    <section class="UniqApparts">
        <section class="UniqApparts_header">
            <h1 class="UniqApparts_headerH1">Апартаменты с уникальными планировками</h1>
        </section>
        <section class="UniqApparts_topTxt">
            <div class="UniqApparts_topTxtInner">
                <p>Уникальные апартаменты – это квартиры и апартаменты, в которых оконые проемы занимают всю стену, а иногда и две. Такое решение создает особую легкость в помещении и дарит невероятный панорамный вид на город и парковую зону. Разнообразные конфигурации и количество комнат позволят подобрать подходящую квартиру или апартаменты для семей с самыми разными предпочтениями. Вы можете выбрать планировку с таким остеклением в гостиной, спальне или на кухне.</p>
            </div>
        </section>
        <section class="UniqApparts_tabs">
            <div id="UniqPlansTabs">
                <div class="UniqAppartsTabs_ulWrap">
                    <ul class="UniqAppartsTabs_ul">
                        <li class="UniqAppartsTabs_li"><a href="#UniqAppartsTabs-1" class="UniqAppartsTabs_link">1-комнатные</a></li>
                        <li class="UniqAppartsTabs_li"><a href="#UniqAppartsTabs-2" class="UniqAppartsTabs_link">2-комнатные</a></li>
                        <li class="UniqAppartsTabs_li"><a href="#UniqAppartsTabs-3" class="UniqAppartsTabs_link">3-комнатные</a></li>
                        <li class="UniqAppartsTabs_li"><a href="#UniqAppartsTabs-4" class="UniqAppartsTabs_link">4-комнатные</a></li>
                    </ul>
                </div>
                <div id="UniqAppartsTabs-1" data-hash="UniqAppart-1" class="UniqAppartsTabs_cont">
                    <div class="UniqAppartsTabs_item UniqAppart">
                        <div class="UniqAppart_name">Студия-апартамент</div>
                        <div class="UniqAppart_tech">
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">31,17 м&sup2;</span>
                                <span class="UniqAppart_techName">площадь</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">2</span>
                                <span class="UniqAppart_techName">корпус</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">1</span>
                                <span class="UniqAppart_techName">секция</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">18</span>
                                <span class="UniqAppart_techName">этаж</span>
                            </div>
                        </div>
                        <div class="UniqAppart_plan">
                            <img src="https://etalonnormand.ru/upload/information_system_2/2/4/5/item_2455/information_items_property_6096.svg" alt="">
                        </div>
                        <div class="UniqAppart_info">
                            <div class="UniqAppart_infoImg"><img src="img/uniqApparts/01_1.jpg" alt=""></div>
                            <div class="UniqAppart_infoTxt">Эта уютная студия создана для тех, кто хочет жить в комфорте. Наличие двух окон подарит вам множество светлых мгновений. Эргономичная планировка позволяет разделить апартамент на зоны для готовки и отдыха, выделив спальню. В прихожей достаточно места для шкафа и гардеробной.</div>
                            <div class="UniqAppart_btn">
                                <a href="" class="btn-call _uniqAppBtn">Подобрать апартамент</a>
                            </div>
                        </div>
                    </div>
                    <div class="UniqAppartsTabs_item UniqAppart">
                        <div class="UniqAppart_name">
                            <span class="UniqAppart_nameNum">1</span>
                            <span>комнатный<br>апартамент</span>
                        </div>
                        <div class="UniqAppart_tech">
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">38,83 м&sup2;</span>
                                <span class="UniqAppart_techName">площадь</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">4</span>
                                <span class="UniqAppart_techName">корпус</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">4</span>
                                <span class="UniqAppart_techName">секция</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">10</span>
                                <span class="UniqAppart_techName">этаж</span>
                            </div>
                        </div>
                        <div class="UniqAppart_plan">
                            <img src="https://etalonnormand.ru/upload/information_system_2/1/9/8/item_1983/information_items_property_2929.png" alt="">
                        </div>
                        <div class="UniqAppart_info">
                            <div class="UniqAppart_infoImg"><img src="img/uniqApparts/01_2.jpg" alt=""></div>
                            <div class="UniqAppart_infoTxt">Однокомнатный апартамент с очень удобной распашной планировкой, в которой каждый квадратный метр площади тщательно продуман. В спальне хватит места для зоны отдыха и небольшой рабочей зоны. Очень просторная кухня предоставит все возможности для готовки и семейных обедов. А в коридоре вы сможете с комфортом разместить шкаф, комод и другую необходимую мебель.</div>
                            <div class="UniqAppart_btn">
                                <a href="" class="btn-call _uniqAppBtn">Подобрать апартамент</a>
                            </div>
                        </div>
                    </div>
                    <div class="UniqAppartsTabs_item UniqAppart">
                        <div class="UniqAppart_name">
                            <span class="UniqAppart_nameNum">1</span>
                            <span>комнатный<br>апартамент</span>
                        </div>
                        <div class="UniqAppart_tech">
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">42,51 м&sup2;</span>
                                <span class="UniqAppart_techName">площадь</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">2</span>
                                <span class="UniqAppart_techName">корпус</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">1</span>
                                <span class="UniqAppart_techName">секция</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">8</span>
                                <span class="UniqAppart_techName">этаж</span>
                            </div>
                        </div>
                        <div class="UniqAppart_plan">
                            <img src="https://etalonnormand.ru/upload/information_system_2/2/4/6/item_2460/information_items_property_6101.svg" alt="">
                        </div>
                        <div class="UniqAppart_info">
                            <div class="UniqAppart_infoImg"><img src="img/uniqApparts/01_3.jpg" alt=""></div>
                            <div class="UniqAppart_infoTxt">Этот однокомнатный апартамент подарит вам возможность вовсю наслаждаться солнечным светом. Окна спальни выходят на две стороны света, а в просторном санузле есть еще одно окно. В просторном холле достаточно места для вместительного шкафа-купе.</div>
                            <div class="UniqAppart_btn">
                                <a href="" class="btn-call _uniqAppBtn">Подобрать апартамент</a>
                            </div>
                        </div>
                    </div>
                    <div class="UniqAppartsTabs_item UniqAppart">
                        <div class="UniqAppart_name">
                            <span class="UniqAppart_nameNum">1</span>
                            <span>комнатный<br>апартамент</span>
                        </div>
                        <div class="UniqAppart_tech">
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">43,43 м&sup2;</span>
                                <span class="UniqAppart_techName">площадь</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">4</span>
                                <span class="UniqAppart_techName">корпус</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">4</span>
                                <span class="UniqAppart_techName">секция</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">19</span>
                                <span class="UniqAppart_techName">этаж</span>
                            </div>
                        </div>
                        <div class="UniqAppart_plan">
                            <img src="https://etalonnormand.ru/upload/information_system_2/1/9/8/item_1980/information_items_property_2931.png" alt="">
                        </div>
                        <div class="UniqAppart_info">
                            <div class="UniqAppart_infoImg"><img src="img/uniqApparts/01_4.jpg" alt=""></div>
                            <div class="UniqAppart_infoTxt">Этот однокомнатный апартамент с большой лоджией буквально создан для тех, кто ценит свободное пространство. В очень просторной кухне вы сможете организовать комфортную обеденную зону. А если захотите, ее легко объединить с уютной спальней и создать уникальную студию с большой гардеробной.</div>
                            <div class="UniqAppart_btn">
                                <a href="" class="btn-call _uniqAppBtn">Подобрать апартамент</a>
                            </div>
                        </div>
                    </div>
                    <div class="UniqAppartsTabs_item UniqAppart">
                        <div class="UniqAppart_name">
                            <span class="UniqAppart_nameNum">1</span>
                            <span>комнатный<br>апартамент</span>
                        </div>
                        <div class="UniqAppart_tech">
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">49,63 м&sup2;</span>
                                <span class="UniqAppart_techName">площадь</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">2</span>
                                <span class="UniqAppart_techName">корпус</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">1</span>
                                <span class="UniqAppart_techName">секция</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">10</span>
                                <span class="UniqAppart_techName">этаж</span>
                            </div>
                        </div>
                        <div class="UniqAppart_plan">
                            <img src="https://etalonnormand.ru/upload/information_system_2/2/4/5/item_2458/information_items_property_6099.svg" alt="">
                        </div>
                        <div class="UniqAppart_info">
                            <div class="UniqAppart_infoImg"><img src="img/uniqApparts/01_4.jpg" alt=""></div>
                            <div class="UniqAppart_infoTxt">Идеальный однокомнатный апартамент для настоящей леди. В нем предусмотрена гардеробная площадью 6 м2, в которой есть окно на улицу. Представьте себе, насколько комфортно одеваться и примерять наряды при естественном освещении! А в просторной спальне можно с легкостью создать изящный будуар.</div>
                            <div class="UniqAppart_btn">
                                <a href="" class="btn-call _uniqAppBtn">Подобрать апартамент</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="UniqAppartsTabs-2" data-hash="UniqAppart-2" class="UniqAppartsTabs_cont">
                    <div class="UniqAppartsTabs_item UniqAppart">
                        <div class="UniqAppart_name">
                            <span class="UniqAppart_nameNum">2</span>
                            <span>комнатный<br>апартамент</span>
                        </div>
                        <div class="UniqAppart_tech">
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">69,26 м&sup2;</span>
                                <span class="UniqAppart_techName">площадь</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">2</span>
                                <span class="UniqAppart_techName">корпус</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">1</span>
                                <span class="UniqAppart_techName">секция</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">10</span>
                                <span class="UniqAppart_techName">этаж</span>
                            </div>
                        </div>
                        <div class="UniqAppart_plan">
                            <img src="https://etalonnormand.ru/upload/information_system_2/2/4/8/item_2482/information_items_property_6123.svg" alt="">
                        </div>
                        <div class="UniqAppart_info">
                            <div class="UniqAppart_infoImg"><img src="img/uniqApparts/01_4.jpg" alt=""></div>
                            <div class="UniqAppart_infoTxt">Этот апартамент Sunny Flat всегда будет наполнен естественным солнечным светом. Витражное остекление в комнате площадью 28 м&sup2;, угловое остекление кухни, а также окно в гардеробной подарят вам множество светлых мгновений.</div>
                            <div class="UniqAppart_btn">
                                <a href="" class="btn-call _uniqAppBtn">Подобрать апартамент</a>
                            </div>
                        </div>
                    </div>
                    <div class="UniqAppartsTabs_item UniqAppart">
                        <div class="UniqAppart_name">
                            <span class="UniqAppart_nameNum">2</span>
                            <span>комнатный<br>апартамент</span>
                        </div>
                        <div class="UniqAppart_tech">
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">69,26 м&sup2;</span>
                                <span class="UniqAppart_techName">площадь</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">4</span>
                                <span class="UniqAppart_techName">корпус</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">5</span>
                                <span class="UniqAppart_techName">секция</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">10</span>
                                <span class="UniqAppart_techName">этаж</span>
                            </div>
                        </div>
                        <div class="UniqAppart_plan">
                            <img src="https://etalonnormand.ru/upload/information_system_2/2/0/1/item_2017/information_items_property_3083.png" alt="">
                        </div>
                        <div class="UniqAppart_info">
                            <div class="UniqAppart_infoImg"><img src="img/uniqApparts/01_4.jpg" alt=""></div>
                            <div class="UniqAppart_infoTxt">Этот очень просторный двухкомнатный апартамент выходит на три стороны света, причем окна каждой спальни выходят сразу на две! Чтобы вы могли полностью насладиться простором, мы максимально увеличили пространство комнат и кухни и уменьшили коридорную зону. Но в прихожей все равно более чем достаточно места, чтобы установить в ней вместительный шкаф в специально предусмотренной нише.</div>
                            <div class="UniqAppart_btn">
                                <a href="" class="btn-call _uniqAppBtn">Подобрать апартамент</a>
                            </div>
                        </div>
                    </div>
                    <div class="UniqAppartsTabs_item UniqAppart">
                        <div class="UniqAppart_name">
                            <span class="UniqAppart_nameNum">2</span>
                            <span>комнатный<br>апартамент</span>
                        </div>
                        <div class="UniqAppart_tech">
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">84,54 м&sup2;</span>
                                <span class="UniqAppart_techName">площадь</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">4</span>
                                <span class="UniqAppart_techName">корпус</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">5</span>
                                <span class="UniqAppart_techName">секция</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">13</span>
                                <span class="UniqAppart_techName">этаж</span>
                            </div>
                        </div>
                        <div class="UniqAppart_plan">
                            <img src="https://etalonnormand.ru/upload/information_system_2/2/0/1/item_2018/information_items_property_3084.png" alt="">
                        </div>
                        <div class="UniqAppart_info">
                            <div class="UniqAppart_infoImg"><img src="img/uniqApparts/01_4.jpg" alt=""></div>
                            <div class="UniqAppart_infoTxt">Великолепный двухкомнатный апартамент, наполненные светом. Окна просторной спальни выходят на две стороны. Небольшое пространство коридоров позволило максимально увеличить полезную площадь. К кухне примыкает уютная лоджия, на которой приятно выпить чашку кофе на рассвете.</div>
                            <div class="UniqAppart_btn">
                                <a href="" class="btn-call _uniqAppBtn">Подобрать апартамент</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="UniqAppartsTabs-3" data-hash="UniqAppart-3" class="UniqAppartsTabs_cont">
                    <div class="UniqAppartsTabs_item UniqAppart">
                        <div class="UniqAppart_name">
                            <span class="UniqAppart_nameNum">3</span>
                            <span>комнатный<br>апартамент</span>
                        </div>
                        <div class="UniqAppart_tech">
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">84,12 м&sup2;</span>
                                <span class="UniqAppart_techName">площадь</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">2</span>
                                <span class="UniqAppart_techName">корпус</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">1</span>
                                <span class="UniqAppart_techName">секция</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">14</span>
                                <span class="UniqAppart_techName">этаж</span>
                            </div>
                        </div>
                        <div class="UniqAppart_plan">
                            <img src="https://etalonnormand.ru/upload/information_system_2/2/4/8/item_2485/information_items_property_6126.svg" alt="">
                        </div>
                        <div class="UniqAppart_info">
                            <div class="UniqAppart_infoImg"><img src="img/uniqApparts/01_4.jpg" alt=""></div>
                            <div class="UniqAppart_infoTxt">Этот апартамент — один из самых роскошных Sunny Flats в комплексе. Витражное остекление в просторной гостиной и увеличенное остекление в спальне буквально наполняют его солнечным светом. А просторная площадь позволяет оптимально организовать пространство и реализовать любые дизайнерские решения.</div>
                            <div class="UniqAppart_btn">
                                <a href="" class="btn-call _uniqAppBtn">Подобрать апартамент</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="UniqAppartsTabs-4" data-hash="UniqAppart-4" class="UniqAppartsTabs_cont">
                    <div class="UniqAppartsTabs_item UniqAppart">
                        <div class="UniqAppart_name">
                            <span class="UniqAppart_nameNum">4</span>
                            <span>комнатный<br>апартамент</span>
                        </div>
                        <div class="UniqAppart_tech">
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">97,49 м&sup2;</span>
                                <span class="UniqAppart_techName">площадь</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">4</span>
                                <span class="UniqAppart_techName">корпус</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">4</span>
                                <span class="UniqAppart_techName">секция</span>
                            </div>
                            <div class="UniqAppart_techItem">
                                <span class="UniqAppart_techVal">4</span>
                                <span class="UniqAppart_techName">этаж</span>
                            </div>
                        </div>
                        <div class="UniqAppart_plan">
                            <img src="https://etalonnormand.ru/upload/information_system_2/1/9/7/item_1978/information_items_property_3068.png" alt="">
                        </div>
                        <div class="UniqAppart_info">
                            <div class="UniqAppart_infoImg"><img src="img/uniqApparts/01_4.jpg" alt=""></div>
                            <div class="UniqAppart_infoTxt">Невероятно просторный четырехкомнатный апартамент для большой и дружной семьи. Просторная планировка подразумевает отсутствие лишних коридоров и позволяет вам использовать всю площадь так, как вам угодно. При желании вы сможете функционально отделить приватную зону с тремя спальнями и собственной ванной комнатой от гостевой.</div>
                            <div class="UniqAppart_btn">
                                <a href="" class="btn-call _uniqAppBtn">Подобрать апартамент</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}


{% block page_bottom %}
<script src="js/uniq-plans.js"></script>
{% endblock %}