{% set title = "Уникальные планировки" %}
{% extends "layout.njk" %}

{% block content %}
<div class="wrapper">
    <section class="UniqPlans">
        <section class="UniqPlans_header">
            <h1 class="UniqPlans_headerH1">Квартиры с уникальными планировками</h1>
        </section>
        <section class="UniqPlans_topTxt">
            <div class="UniqPlans_topTxtInner">
                <p>В «Нормандии» представлен широкий выбор планировок, и каждый обязательно найдет среди них свой идеал. Здесь есть классические квартиры, евроквартиры и самые яркие жемчужины комплекса — Sunny Flats. Это квартиры с витражным остеклением, выходящие на две или три стороны света. Такое остекление позволяет пропускать больше света в квартиру и способствует визуальному увеличению внутреннего пространства.<br>Но главное — какую бы планировку вы ни выбрали, можете быть уверены в том, что каждый метр вашей будущей квартиры будет на 100% функционален.</p>
            </div>
        </section>
        <section class="UniqPlans_tabs">
            <div id="UniqPlansTabs">
                <div class="UniqPlansTabs_ulWrap">
                    <div class="UniqPlansTabs_ulWrap1 swiper-container">
                        <ul class="UniqPlansTabs_ul swiper-wrapper">
                            <li class="UniqPlansTabs_li swiper-slide"><a href="#UniqPlansTabs-1" class="UniqPlansTabs_link">Sunny Flats</a></li>
                            <li class="UniqPlansTabs_li swiper-slide"><a href="#UniqPlansTabs-2" class="UniqPlansTabs_link">Много света</a></li>
                            <li class="UniqPlansTabs_li swiper-slide"><a href="#UniqPlansTabs-3" class="UniqPlansTabs_link">Тихие спальни</a></li>
                            <li class="UniqPlansTabs_li swiper-slide"><a href="#UniqPlansTabs-4" class="UniqPlansTabs_link">Просторные кухни</a></li>
                            <li class="UniqPlansTabs_li swiper-slide"><a href="#UniqPlansTabs-5" class="UniqPlansTabs_link">Места для хранения</a></li>
                            <li class="UniqPlansTabs_li swiper-slide"><a href="#UniqPlansTabs-6" class="UniqPlansTabs_link">Просторные балконы</a></li>
                            <li class="UniqPlansTabs_li swiper-slide"><a href="#UniqPlansTabs-7" class="UniqPlansTabs_link">Апартаменты</a></li>
                        </ul>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div id="UniqPlansTabs-1" data-hash="UniqPlan-1" class="UniqPlansTabs_cont">
                    <h2 class="UniqPlansTabs_h2">
                        Sunny flats
                        <span class="UniqPlansTabs_h2Small">Квартиры с витражным угловым остеклением</span>
                    </h2>
                    <div class="UniqPlansTabs_enterTxt">
                        <p>Sunny Flats – это квартиры и апартаменты, в которых оконые проемы занимают всю стену, а иногда и две. Такое решение создает особую легкость в помещении и дарит невероятный панорамный вид на город и парковую зону. Разнообразные конфигурации и количество комнат позволят подобрать подходящую квартиру или апартаменты для семей с самыми разными предпочтениями. Вы можете выбрать планировку с таким остеклением в гостиной, спальне или на кухне.</p>
                    </div>
                    <div class="UniqPlansTabs_list">
                        <div class="UniqPlansTabs_item _bg" style="background-image: url('img/uniqPlans/tab_1_1.jpg')">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                        </div>
                        <div class="UniqPlansTabs_item">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_1_2.jpg" alt=""></div>
                        </div>
                        <div class="UniqPlansTabs_item">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_1_3.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="UniqPlansTabs_btn">
                        <a href="" class="btn-call _uniqBtn">Подробнее про Sunny flats</a>
                    </div>
                </div>
                <div id="UniqPlansTabs-2" data-hash="UniqPlan-2" class="UniqPlansTabs_cont">
                    <h2 class="UniqPlansTabs_h2">
                        Очень много света в&nbsp;квартирах и апартаментах
                    </h2>
                    <div class="UniqPlansTabs_enterTxt">
                        <p>В ЖК «Нормандия» вы найдете множество необычных решений, которые позволяют создать неповторимую атмосферу в доме. Четыре окна в гостиной, окна в ванных комнатах и гардеробных, панорамные виды на две и даже три стороны света – такие планировки достойны особого внимания.</p>
                    </div>
                    <div class="UniqPlansTabs_list">
                        <div class="UniqPlansTabs_item">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_2_1.jpg" alt=""></div>
                            <div class="UniqPlansTabs_txt">
                                <h3 class="UniqPlansTabs_txtH3">Апартаменты и квартиры с&nbsp;четырьмя окнами в комнате</h3>
                                <p>В таком просторном светлом помещении можно устроить библиотеку, кинотеатр или музыкальную комнату.</p>
                            </div>
                        </div>
                        <div class="UniqPlansTabs_item">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_2_2.jpg" alt=""></div>
                            <div class="UniqPlansTabs_txt">
                                <h3 class="UniqPlansTabs_txtH3">Апартаменты и квартиры с&nbsp;окнами в гардеробных</h3>
                                <p>Эта опция добавит освещения и позволит организовать удобное пространство для настоящих модников.</p>
                            </div>
                        </div>
                        <div class="UniqPlansTabs_item _bg" style="background-image: url('img/uniqPlans/tab_2_3.jpg')">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                        </div>
                        <div class="UniqPlansTabs_item">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_2_4.jpg" alt=""></div>
                            <div class="UniqPlansTabs_txt">
                                <h3 class="UniqPlansTabs_txtH3">Апартаменты и квартиры с&nbsp;окнами на три стороны света</h3>
                                <p>Эти планировки для тех, кто любит встречать рассветы, провожать закаты и не хочет упускать ни одного лучика солнца.</p>
                            </div>
                        </div>
                        <div class="UniqPlansTabs_item">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_2_5.jpg" alt=""></div>
                            <div class="UniqPlansTabs_txt">
                                <h3 class="UniqPlansTabs_txtH3">Апартаменты и квартиры с&nbsp;панорамными лоджиями</h3>
                                <p>Глубина некоторых лоджий достигает 1,5 метров. В них легко обустроить зону отдыха, летний сад или кабинет.</p>
                            </div>
                        </div>
                        <div class="UniqPlansTabs_item">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_2_6.jpg" alt=""></div>
                            <div class="UniqPlansTabs_txt">
                                <h3 class="UniqPlansTabs_txtH3">Апартаменты и квартиры с&nbsp;окнами в ваных комнатах</h3>
                                <p>Это решение вы найдете как в 3-комнатных, так и в компактных 1-комнатных квартирах и семейных 2-комнатных апартаментах. Теперь можно устроить настоящее SPA у себя дома.</p>
                            </div>
                        </div>
                    </div>
                    <div class="UniqPlansTabs_btn">
                        <a href="" class="btn-call _uniqBtn">Смотреть все планировки</a>
                    </div>
                </div>
                <div id="UniqPlansTabs-3" data-hash="UniqPlan-3" class="UniqPlansTabs_cont">
                    <h2 class="UniqPlansTabs_h2">
                        Тихие спальни
                    </h2>
                    <div class="UniqPlansTabs_enterTxt">
                        <p>Мастер-спальни в больших квартирах дополнены санузлами и гардеробными, удалены от общих пространств и не граничат с лестничными клетками. Здесь все предусмотрено для того, чтобы вы могли полноценно отдохнуть.</p>
                    </div>
                    <div class="UniqPlansTabs_list">
                        <div class="UniqPlansTabs_item">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_3_1.jpg" alt=""></div>
                            <div class="UniqPlansTabs_txt">
                                <h3 class="UniqPlansTabs_txtH3">мастер-спальня с гардеробной</h3>
                            </div>
                        </div>
                        <div class="UniqPlansTabs_item _bg" style="background-image: url('img/uniqPlans/tab_3_2.jpg')">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                        </div>
                        <div class="UniqPlansTabs_item">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_3_3.jpg" alt=""></div>
                            <div class="UniqPlansTabs_txt">
                                <h3 class="UniqPlansTabs_txtH3">мастер-спальня с санузлом</h3>
                            </div>
                        </div>
                    </div>
                    <div class="UniqPlansTabs_btn">
                        <a href="" class="btn-call _uniqBtn">Смотреть все планировки</a>
                    </div>
                </div>
                <div id="UniqPlansTabs-4" data-hash="UniqPlan-4" class="UniqPlansTabs_cont">
                    <h2 class="UniqPlansTabs_h2">
                        Просторные кухни
                    </h2>
                    <div class="UniqPlansTabs_enterTxt">
                        <p>В них будет комфортно проводить время всем членам семьи. В более компактных кухнях предусмотрены ниши для размещения гарнитура и техники. В более просторных – достаточно места для «острова» или барной стойки, а также просторной зоны отдыха.</p>
                    </div>
                    <div class="UniqPlansTabs_list">
                        <div class="UniqPlansTabs_item _bg" style="background-image: url('img/uniqPlans/tab_4_1.jpg')">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                        </div>
                        <div class="UniqPlansTabs_item">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_4_2.jpg" alt=""></div>
                            <div class="UniqPlansTabs_txt">
                                <h3 class="UniqPlansTabs_txtH3">Кухни-гостиные до 27 м&sup2;</h3>
                                <p>В них достаточно места и для зоны готовки, и для большого дивана.</p>
                            </div>
                        </div>
                        <div class="UniqPlansTabs_item">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_4_3.jpg" alt=""></div>
                            <div class="UniqPlansTabs_txt">
                                <h3 class="UniqPlansTabs_txtH3">Кухни с нишами для гарнитура</h3>
                                <p>Такое решение позволяет использовать пространство с максимальной пользой.</p>
                            </div>
                        </div>
                    </div>
                    <div class="UniqPlansTabs_btn">
                        <a href="" class="btn-call _uniqBtn">Смотреть все планировки</a>
                    </div>
                </div>
                <div id="UniqPlansTabs-5" data-hash="UniqPlan-5" class="UniqPlansTabs_cont">
                    <h2 class="UniqPlansTabs_h2">
                        Места для хранения
                    </h2>
                    <div class="UniqPlansTabs_enterTxt">
                        <p>В холлах студий, однокомнатных квартир и апартаментов предусмотрены специальные ниши для размещения гардероба. А в более просторных вариантах планировок – уже готовые гардеробные или альковы для встроенных гардеробных. В них легко разместятся вещи всех членов семьи.</p>
                    </div>
                    <div class="UniqPlansTabs_list">
                        <div class="UniqPlansTabs_item">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_5_1.jpg" alt=""></div>
                            <div class="UniqPlansTabs_txt">
                                <h3 class="UniqPlansTabs_txtH3">альковы для гардеробных</h3>
                            </div>
                        </div>
                        <div class="UniqPlansTabs_item">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_5_2.jpg" alt=""></div>
                            <div class="UniqPlansTabs_txt">
                                <h3 class="UniqPlansTabs_txtH3">Ниши для шкафов при входе</h3>
                            </div>
                        </div>
                        <div class="UniqPlansTabs_item">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_5_3.jpg" alt=""></div>
                            <div class="UniqPlansTabs_txt">
                                <h3 class="UniqPlansTabs_txtH3">Окна в гардеробных</h3>
                            </div>
                        </div>
                    </div>
                    <div class="UniqPlansTabs_btn">
                        <a href="" class="btn-call _uniqBtn">Смотреть все планировки</a>
                    </div>
                </div>
                <div id="UniqPlansTabs-6" data-hash="UniqPlan-6" class="UniqPlansTabs_cont">
                    <h2 class="UniqPlansTabs_h2">
                        Просторные балконы с&nbsp;видом на парк
                    </h2>
                    <div class="UniqPlansTabs_enterTxt">
                        <p>Большая часть квартир и апартаментов имеет балконы или лоджии глубиной до 1,5 метров. Используйте это помещение, чтобы заниматься любимым хобби, или обустройте оранжерею – места достаточно.</p>
                    </div>
                    <div class="UniqPlansTabs_list">
                        <div class="UniqPlansTabs_item">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_6_1.jpg" alt=""></div>
                            <div class="UniqPlansTabs_txt">
                                <h3 class="UniqPlansTabs_txtH3">глубокие лоджии с&nbsp;панорамными окнами</h3>
                            </div>
                        </div>
                        <div class="UniqPlansTabs_item">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_6_2.jpg" alt=""></div>
                            <div class="UniqPlansTabs_txt">
                                <h3 class="UniqPlansTabs_txtH3">балконами с&nbsp;панорамным остеклением</h3>
                            </div>
                        </div>
                        <div class="UniqPlansTabs_item _bg" style="background-image: url('img/uniqPlans/tab_6_3.jpg')">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                        </div>
                    </div>
                    <div class="UniqPlansTabs_btn">
                        <a href="" class="btn-call _uniqBtn">Смотреть все планировки</a>
                    </div>
                </div>
                <div id="UniqPlansTabs-7" data-hash="UniqPlan-7" class="UniqPlansTabs_cont">
                    <h2 class="UniqPlansTabs_h2">
                        Апартаменты с уникальными планировками
                    </h2>
                    <div class="UniqPlansTabs_list">
                        <div class="UniqPlansTabs_item _4it">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_7_1.jpg" alt=""></div>
                            <div class="UniqPlansTabs_txt">
                                <h3 class="UniqPlansTabs_txtH3">1-комнатные апартаменты</h3>
                            </div>
                        </div>
                        <div class="UniqPlansTabs_item _4it">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_7_2.jpg" alt=""></div>
                            <div class="UniqPlansTabs_txt">
                                <h3 class="UniqPlansTabs_txtH3">2-комнатные апартаменты</h3>
                            </div>
                        </div>
                        <div class="UniqPlansTabs_item _4it">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_7_3.jpg" alt=""></div>
                            <div class="UniqPlansTabs_txt">
                                <h3 class="UniqPlansTabs_txtH3">3-комнатные апартаменты</h3>
                            </div>
                        </div>
                        <div class="UniqPlansTabs_item _4it">
                            <a href="" class="UniqPlansTabs_itemLink"></a>
                            <div class="UniqPlansTabs_imgBox"><img src="img/uniqPlans/tab_7_4.jpg" alt=""></div>
                            <div class="UniqPlansTabs_txt">
                                <h3 class="UniqPlansTabs_txtH3">4-комнатные апартаменты</h3>
                            </div>
                        </div>
                    </div>
                    <div class="UniqPlansTabs_btn">
                        <a href="" class="btn-call _uniqBtn">Все уникальные апартаменты</a>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}


{% block page_bottom %}
<script src="js/uniq-plans.js"></script>
{% endblock %}