@font-face {
    font-family: 'Proxima Nova Thin';
    src: url('../fonts/ProximaNova/ProximaNovaThin/ProximaNovaT-Thin.eot');
    src: url('../fonts/ProximaNova/ProximaNovaThin/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova/ProximaNovaThin/ProximaNovaT-Thin.woff') format('woff'),
    url('../fonts/ProximaNova/ProximaNovaThin/ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../fonts/ProximaNova/ProximaNovaLight/ProximaNova-Light.eot');
    src: url('../fonts/ProximaNova/ProximaNovaLight/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova/ProximaNovaLight/ProximaNova-Light.woff') format('woff'),
    url('../fonts/ProximaNova/ProximaNovaLight/ProximaNova-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/ProximaNova/ProximaNovaRegular/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova/ProximaNovaRegular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova/ProximaNovaRegular/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova/ProximaNovaRegular/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../fonts/ProximaNova/ProximaNovaSemibold/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova/ProximaNovaSemibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova/ProximaNovaSemibold/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova/ProximaNovaSemibold/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/ProximaNova/ProximaNovaBold/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova/ProximaNovaBold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova/ProximaNovaBold/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova/ProximaNovaBold/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




/*----*/

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/ProximaNova/ProximaNovaThin/ProximaNovaT-Thin.eot');
    src: url('../fonts/ProximaNova/ProximaNovaThin/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova/ProximaNovaThin/ProximaNovaT-Thin.woff') format('woff'),
    url('../fonts/ProximaNova/ProximaNovaThin/ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/ProximaNova/ProximaNovaLight/ProximaNova-Light.eot');
    src: url('../fonts/ProximaNova/ProximaNovaLight/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova/ProximaNovaLight/ProximaNova-Light.woff') format('woff'),
    url('../fonts/ProximaNova/ProximaNovaLight/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/ProximaNova/ProximaNovaRegular/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova/ProximaNovaRegular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova/ProximaNovaRegular/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova/ProximaNovaRegular/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/ProximaNova/ProximaNovaSemibold/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova/ProximaNovaSemibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova/ProximaNovaSemibold/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova/ProximaNovaSemibold/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/ProximaNova/ProximaNovaBold/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova/ProximaNovaBold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova/ProximaNovaBold/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova/ProximaNovaBold/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/*----*/



@font-face {
    font-family: 'BodoniBold';
    src: url('../fonts/Bodoni/BodoniBold/BodoniBoldCyrillic.eot');
    src: url('../fonts/Bodoni/BodoniBold/BodoniBoldCyrillic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Bodoni/BodoniBold/BodoniBoldCyrillic.woff') format('woff'),
    url('../fonts/Bodoni/BodoniBold/BodoniBoldCyrillic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria/GeometriaThin/Geometria-Thin.eot');
    src: url('../fonts/Geometria/GeometriaThin/Geometria-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria/GeometriaThin/Geometria-Thin.woff') format('woff'),
    url('../fonts/Geometria/GeometriaThin/Geometria-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria/GeometriaLight/Geometria-Light.eot');
    src: url('../fonts/Geometria/GeometriaLight/Geometria-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria/GeometriaLight/Geometria-Light.woff') format('woff'),
    url('../fonts/Geometria/GeometriaLight/Geometria-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria/GeometriaRegular/Geometria.eot');
    src: url('../fonts/Geometria/GeometriaRegular/Geometria.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria/GeometriaRegular/Geometria.woff') format('woff'),
    url('../fonts/Geometria/GeometriaRegular/Geometria.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria/GeometriaMedium/Geometria-Medium.eot');
    src: url('../fonts/Geometria/GeometriaMedium/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria/GeometriaMedium/Geometria-Medium.woff') format('woff'),
    url('../fonts/Geometria/GeometriaMedium/Geometria-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria/GeometriaHeavy/Geometria-Heavy.eot');
    src: url('../fonts/Geometria/GeometriaHeavy/Geometria-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria/GeometriaHeavy/Geometria-Heavy.woff') format('woff'),
    url('../fonts/Geometria/GeometriaHeavy/Geometria-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Affect';
    src: url('../fonts/Affect/Affect-Bold.eot');
    src: url('../fonts/Affect/Affect-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Affect/Affect-Bold.woff') format('woff'),
    url('../fonts/Affect/Affect-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


