* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;

    display: flex;
    flex-direction: column;
    width: 100%;
}

img {
    max-width: 100%;
}

a {
    color:#19191a;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.wrapper {
    flex-grow: 1;
    margin-top: 70px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    z-index: 100007;
    background: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.header-container {
    display: flex;
    align-items: stretch;
    padding: 0 55px;
    width: 100%;
    @media(--mdMinus) {
        padding: 0 40px;
    }
    @media(--sm) {
        padding: 0 20px;
    }
    @media(--xs) {
        padding: 0 20px;
    }
}


.header__burger {
    width: 24px;
    height: 70px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    position: fixed;
    top: 0px;
    left: 55px;
    z-index: 100009;
    @media(--lgMinus) {
        order:3;
        padding-left: 20px;
        right: 55px;
        left: initial;
        padding-right: 0;
    }
    @media(--mdMinus) {
        right:40px;
    }
    @media(--sm) {
        right:20px;
    }
    @media(--xs) {
        right:20px;
    }

    & span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #000000;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 27px;
            transform-origin: left center;
        }
        &:nth-child(2) {
            top: 33px;
            transform-origin: left center;
            width: 75%;
            right: 0;
            left: initial;
        }
        &:nth-child(3) {
            top: 39px;
            transform-origin: left center;
        }
    }
    &.open span {
        @media(--lgMinus) {
            background: #ffffff;
        }
        &:nth-child(1) {
            transform: rotate(45deg);
            top: 22px;
            left: 0px;
        }

        &:nth-child(2) {
            width: 0%;
            opacity: 0;
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
            top: 39px;
            left: 0px;
        }
    }
}

.header__logo {
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-left: 30px;
    @media(--lgMinus) {
        padding-left: 0;
        flex-grow: 1;
        margin-left: 0;
    }
}

.header-menu {
    padding-left: 90px;
    flex-grow: 1;
    display: flex;

    &__sticker {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -15px);
        background-color: #b60f0f;
        color: #fff;
        font-size: 15px;
        line-height: 27px;
        padding: 0 15px;
        white-space: nowrap;
        border-radius: 1px;
        font-family: 'Proxima Nova Regular';
        font-weight: 300;
        pointer-events: none;

        &:before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -4.5px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 4.5px 8px 4.5px;
            border-color: transparent transparent #b60f0f transparent;
        }
    }

    @media(--lgMinus) {
        display: none;
    }
}

.header-menu__item {
    position: relative;
    &_contacts {
        @media (max-width: 1340px) {
            display:none;
        }
    }
    &_commercial {
        @media (max-width: 1549px) {
            display:none;
        }
    }
}

.header-menu__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22282f;
    padding: 22px 15px 0 15px;
    text-decoration: none;
    position: relative;
    display: block;
    height: 100%;

    &_action {
        color:#b51827;
    }
}

.header-menu__link:after {
    content: '';
    background: #b51827;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 22px;
    left: 15px;
    transition: width 0.2s ease-in-out;
}

.header-menu__link:hover::after {
    width: calc(100% - 30px);
    transition-delay: .2s;
}

.header-submenu {
    position: absolute;
    left: 50%;
    background: #22282f;
    display: block;
    padding: 40px 0px;
    top: 71px;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -20px);
    transition: all 0.3s ease-in-out;
}

.header-submenu__link {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 5px 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    white-space: nowrap;
    transition: color 0.4s ease;

    &:hover {
         color: #ffffff;
    }

    &_contacts {
        display:none;
        @media (max-width:1340px) {
            display:block;
        }
    }

    &_color {
        color:#909396;
    }


}


.header-menu__item:hover>.header-submenu {
    opacity: 1;
    visibility: visible;
    transition-delay: .2s;
    transform: translate(-50%, -1px);
}

.header-menu__item:hover>.header-submenu:before {
    opacity: 1;
    visibility: visible;
}

.header-submenu:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -16px;
    z-index: 12;
    margin-left: -8px;
    border: 8px solid transparent;
    border-bottom: 8px solid #22282f;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.header-menu__item:hover:before {
    opacity: 1;
}

.header {
    &__phoneLinks {
        display: flex;
        justify-content: center;
        flex-direction: column;
        @media(--lgMinus) {
            padding-right: 20px;
            margin-right: 44px;
        }
        @media(--smMinus) {
            padding-top: 0;
        }
    }
    &__callMe {
        height: 27px;
        font-size: 13px;
        font-weight: 400;
        color: #8e8e8e;
        text-align: right;
        position: relative;
        top: -2px;
        transition: color .3s ease;
        @media(--smMinus) {
            display: none
        }
        &:hover {
             color: #b51827;
        }
    }
}

.header__phone {
   display: flex;
   align-items: center;
}


.header__phone a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #19191a;
    text-decoration: none;
    /*background: url("../img/icon_phone-black.svg") no-repeat left center;*/
    padding-left: 25px;
    padding-top: 17px;
    transition: opacity 0.2s;
    flex-shrink: 0;
    position: relative;
    @media(--smMinus) {
        font-size: 0;
        line-height: 0;
        padding-top: 0;
        min-height: 25px;
    }
    &:hover {
        opacity: 0.7;
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 21px;
        width: 15px;
        height: 15px;
        background: url("../img/icon_phone-black.svg") no-repeat left center;
        @media(--smMinus) {
            top: 3px;
            left: 20px;
        }
		}
		& img {
			display: none;
		}
    /*& span {
        padding-left: 5px;

        @media(--sm) {
            display: none;
        }
        @media(--xs) {
            display: none;
        }
    }
    & img {
        position: relative;
        top: 1px;
        @media(--smMinus) {
            top: 0;
        }
    }*/
}


.container {

    max-width: 1170px;
    margin: auto;


    @media(--lgMinus) {
        padding: 0 55px;
    }

    @media(--mdMinus) {
        max-width: 100%;
        padding: 0 40px;
        margin: auto;
    }

    @media(--sm) {
        max-width: 100%;
        padding: 0 20px;
    }

    @media(--xs) {
        max-width: 100%;
        padding: 0 20px;
    }

    &_index {
        @media(--lgMinus) {
            padding:0 55px;
        }
        @media(--mdMinus) {
            max-width:100%;
            width:100%;
            padding:0;
        }
    }

    &_infrastructure {
        @media(--xs) {
            padding:0;
        }
    }

    &_longread {
        padding: 0;
        @media(--lgMinus) {
            padding: 0 55px;
        }
        @media(--mdMinus) {
            padding:0;
        }
    }

    &_longread-full {
        display: flex;
        align-items: flex-end;
        height: 402px;
        padding-left: 53px;
    }

    &--longread-item {

        padding: 0;
        @media (--lgMinus) {
            padding: 0;
        }
    }

    &--longread-advant {
        display: flex;
        @media (--mdMinus) {
            flex-wrap: wrap;
        }
    }

}







.container-full {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

@media (--mdMinus) {
    .container-mobile {
        padding: 0 40px;
    }
}

@media (--xs) {
    .container-mobile {
        padding: 0 20px;
    }
}

.col-6 {
    width: 50%;
    /*position: relative;*/
}

.col-7 {
    width: 58.3333333%;
    /*position: relative;*/
}

.col-5 {
    width: 41.6666667%;
    /*position: relative;*/
}

.main-section__img-wrap {
    position: relative;
    display: flex;
}

.main-section__img {
    height: 587px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;
}

.btn-more:hover,
.btn-more:active,
.btn-more_hover {
    width: 215px;
}

.main-section__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 22;
}

.main-section__img_sec6 {
    height: 390px;
}

.main-section__img_sec6_seconadary {
    margin-top: 30px;
}

.main-section__img_sub1-left {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 587px;
    width: 100%;
    z-index: 9;
    opacity: 0.1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section__img_sub2-left {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 587px;
    width: 100%;
    z-index: 8;
    opacity: 0.2;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section__img_sub1-right {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 587px;
    width: 100%;
    z-index: 8;
    opacity: 0.1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section__img_sub2-right {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 587px;
    width: 100%;
    z-index: 9;
    opacity: 0.2;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section__img_sec6-sub1-left {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 8;
    height: 390px;
    width: 100%;
    opacity: 0.2;
}

.main-section__img_sec6-sub2-left {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9;
    height: 390px;
    width: 100%;
    opacity: 0.1;
}

.main-section__img_sec6-sub1-right {
    content: '';
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 8;
    height: 390px;
    width: calc(100% - 10px);
    opacity: 0.2;
}

.main-section__img_sec6-sub2-right {
    content: '';
    position: absolute;
    top: 50px;
    left: 20px;
    z-index: 9;
    height: 390px;
    width: calc(100% - 20px);
    opacity: 0.1;
}



.main-section__fraction {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 1;
    color: #aaaaaa;
    position: relative;
    z-index: 20;
}

.main-section__fraction_sec1 {
    margin-top: 130px;
}

.main-section__fraction_sec2 {
    margin-top: 115px;
}

.main-section__fraction_sec4 {
    margin-top: 60px;
}

.main-section__fraction_sec5 {
    margin-top: 90px;
}

.main-section__fraction_sec6 {
    margin-top: -240px;
}

.main-section__title {
    font-family: 'BodoniBold';
    font-size: 60px;
    line-height: 60px;
    color: #19191a;
    position: relative;
    z-index: 20;
}

.main-section__title_sec1 {
    margin-top: 40px;
    max-width: 250px;
}

.main-section__title_sec1:before {
    content: '';
    width: 75px;
    height: 1px;
    background: #f8b470;
    position: absolute;
    left: 0px;
    bottom: -18px;
}

.main-section__title_sec2 {
    margin-top: 50px;
    max-width: 360px;
}

.main-section__title_sec2:before {
    content: '';
    width: 170px;
    height: 1px;
    background: #f8b470;
    position: absolute;
    right: -129px;
    bottom: 15px;
}

.main-section__title_sec3 {
    margin-top: 30px;
    max-width: 240px;
}

.main-section__title_sec4 {
    margin-top: 40px;
}

.main-section__title_sec5 {
    margin-top: 30px;
    padding: 50px 0 50px 195px;
    background: #ffffff;
    position: absolute;
    bottom: 30px;
    left: -195px;
}

.main-section__title_sec5:before {
    content: '';
    width: 75px;
    height: 1px;
    background: #f8b470;
    position: absolute;
    left: 292px;
    top: 0;
}

.main-section__title_sec6 {
    margin-top: 50px;
    color: #ffffff;
    padding-bottom: 170px;
}

.main-section__title_sec6:before {
    content: '';
    width: 75px;
    height: 1px;
    background: #f8b470;
    position: absolute;
    left: 0px;
    bottom: 0;
}

.main-content-img__text {
    padding: 50px 35px;
    font-size: 17px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    opacity: 0.5;
    position: relative;
    z-index: 11;
}

.main-section-loc-list li {
    list-style: none;
    position: relative;
    margin-bottom: 23px;
}

.main-section-loc-time {
    margin-left: auto;
}

.main-section-loc-time__number {
    font-family: 'Playfair Display';
    font-size: 50px;
    color: #fd7b23;
    padding-bottom: 10px;
    position: relative;
    padding-right: 97px;
}

.main-section-loc-time__number:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: #fd7b23;
}

.main-section-loc-time__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #fd7b23;
    display: block;
    padding-top: 10px;
    max-width: 80px;
}

.list_sec6 {
    width: 50%;
}

.list_sec3 {
    margin-top: 50px;
}

.btn-call-inner {
    text-align: center;
    position: relative;
    padding: 40px 0;
    &-gray {
        background: #F6F6F6;
    }
}

.btn-call-inner-gray:after {
    background: #F6F6F6 !important;
}

.btn-call-inner:before {
    content: '';
    background: #b51827;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 40;
}

.btn-call {
    background: #22282f;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 14px;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    height: 50px;
    width: 206px;
    position: relative;
    z-index: 50;
}

.btn-call:before {
    content: '';
    background: #b51827;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    transition: all 0.3s ease;
    z-index: -1;
}

.btn-call:hover,
.btn-call:active {
    color: #ffffff;
}

.btn-call:hover::before,
.btn-call:active::before {
    height: 100%;
}

.btn-call-inner:after {
    content: '';
    background: #ffffff;
    width: 246px;
    height: 50px;
    position: absolute;
    z-index: 10;
    left: 50%;
    margin-left: -123px;
    top: 50%;
    margin-top: -25px;
    z-index: 41;
}

.btn-call:hover {
    cursor: pointer;
}

.footer {
    @media(--mdMinus) {
        background: #22282f;
        padding: 155px 0 0;
        position: relative;
    }
}

.footer-menu {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 55px 40px;
    border-bottom: 1px solid #403b48;

    @media screen and (--mdMinus) {
        flex-wrap: wrap;
    }

    @media(--sm) {
        padding: 0;
    }
    @media(--xs) {
        padding: 0;
    }
}

.footer-menu-col-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 55%;

    &:last-child {
        justify-content: center;
        width: 45%;

        .footer-menu-col {
            &:first-child {
                margin: 0 auto;
                /*flex-grow: 0;*/
            }
        }
    }

    &:first-child {
        flex-wrap: wrap;
    }

    @media screen and (--mdMinus) {
        width: 100%;
        flex-wrap: nowrap;

        &:last-child {
            width: 100%;
            flex-direction: column;

            .footer-menu-col {
                &:first-child {
                    margin: 0;
                    flex-grow: 1;
                }
            }
        }

        &:first-child {
            margin-bottom: 20px;
        }
    }
}

.footer-menu-col {
    margin-right: 20px;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 170px;

    &_subscribe-wrap {
        margin-right: 0;
        display:flex;
        flex-wrap: wrap;
        max-width:215px;
        @media(--lgMinus) {
            flex-basis:100%;
            max-width:100%;
            width:100%;
            flex-direction:column;
            align-items:center;
        }
    }

    @media screen and (--lgMinus) {
        &:last-child {
            margin-right: 0;
        }
    }

    &__subInner {
        margin-left:auto;
        @media(--lgMinus) {
            margin-left:0;
        }
    }
}

.footer-menu-link {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: block;
    text-decoration: none;
    padding-bottom: 15px;
    /*-webkit-transition: color 0.2s ease-in-out;*/
    /*-moz-transition: color 0.2s ease-in-out;*/
    /*-ms-transition: color 0.2s ease-in-out;*/
    /*-o-transition: color 0.2s ease-in-out;*/
    /*transition: color 0.2s ease-in-out;*/
    max-width: 250px;
}

.footer-menu-sublink {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;
    color: #ffffff;
    opacity:0.5;
    display: block;
    text-decoration: none;
    padding-bottom: 5px;
    /*-webkit-transition: color 0.2s ease-in-out;*/
    /*-moz-transition: color 0.2s ease-in-out;*/
    /*-ms-transition: color 0.2s ease-in-out;*/
    /*-o-transition: color 0.2s ease-in-out;*/
    /*transition: color 0.2s ease-in-out;*/
}

.footer-menu-link:hover,
.footer-menu-sublink:hover,
.footer-menu-other-link:hover {
    color: #ffffff;
    opacity:1;
}

.footer-menu-other-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 20px;
    display: block;
    text-decoration: none;
    /*-webkit-transition: color 0.2s ease-in-out;*/
    /*-moz-transition: color 0.2s ease-in-out;*/
    /*-ms-transition: color 0.2s ease-in-out;*/
    /*-o-transition: color 0.2s ease-in-out;*/
    /*transition: color 0.2s ease-in-out;*/
}

.footer-bottom {
    height: 90px;
    padding: 0 55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media(--mdMinus) {
        height: auto;
        border-top: 1px solid #403b48;
        padding: 22px 40px;
    }
    @media(--smMinus) {
        border-top: none;
        padding: 12px 20px 77px;
        align-items: center;
    }
}

.footer-copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    opacity: 1;
    text-transform: uppercase;
    @media(--smMinus) {
        text-align: center;
    }
}

.footer-text {
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    margin-top:4px;
}

.footer-info {
    max-width: 250px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #22282f;
    opacity: 1;
    @media(--mdMinus) {
        max-width: 100%;
        color: #fff;
    }
}

.footer__contacts {
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media(--mdMinus) {
        position: absolute;
        left: 50%;
        top: 35px;
        transform: translateX(-50%);
        align-items: center;
    }
    @media(--smMinus) {
        top: 25px;
    }
}

.footer__phone {
    /*margin-top: 65px;*/
    transition: transform 0.4s ease;
    transition-delay: 0.7s;
}

.footer__phone a {
    text-decoration: none;
    color: #22282f;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;
    @media(--mdMinus) {
        color: #fff;
        background: url('../img/icon_phone_white.svg') no-repeat left center;
    }
    & img {
        @media(--mdMinus) {
            opacity: 0;
        }
    }
}

.footer__phone a span {
    padding-left: 7px;
}

.footer-subscribe {
    margin: 13px 0 0;
    @media(--mdMinus) {
        margin: 20px 0 0;
    }
    @media(--smMinus) {
        margin: 41px 0 0;
    }
    & .styled-input {
        @media(--mdMinus) {
            border: none;
        }
    }
}

.footer-subscribe__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #b51827;
    transition: opacity 0.4s ease;
}

.footer-socials {
    display: flex;
    align-items: center;
    margin: 4px 0 0;
    @media(--smMinus) {
        position: absolute;
        left: 50%;
        top: 56px;
        transform: translateX(-50%);
        margin: 0;
    }
}

.footer-socials__item {
    display: block;
    width: 32px;
    height: 32px;
    background-position: center center;
    transition: background 0.2s;
    margin-right: 10px;
    position: relative;
}

.footer-socials__item:after {
    opacity: 0;
    transition: opacity 0.4s ease;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
}

.footer-socials__item:hover:after {
    opacity: 1;
}

.footer-socials__item_fb {
    background: url("../img/socials/icon_facebook.svg") no-repeat;
    &._dark {
        background-image: url("../img/socials/icon_facebook_dark.svg");
        @media(--mdMinus) {
            background-image: url("../img/socials/icon_facebook.svg");
        }
    }
}

.footer-socials__item_fb:after {
    background: url("../img/socials/icon_facebook_hover.svg") no-repeat;
}

.footer-socials__item_vk {
    background: url("../img/socials/icon_vk.svg") no-repeat;
    &._dark {
        background-image: url("../img/socials/icon_vk_dark.svg");
        @media(--mdMinus) {
            background-image: url("../img/socials/icon_vk.svg");
        }
    }

}

.footer-socials__item_vk:after {
    background: url("../img/socials/icon_vk_hover.svg") no-repeat;
}

.footer-socials__item_insta {
    background: url("../img/socials/icon_insta.svg") no-repeat;
    &._dark {
        background-image: url("../img/socials/icon_insta_dark.svg");
        @media(--mdMinus) {
            background-image: url("../img/socials/icon_insta.svg");
        }
    }
}

.footer-socials__item_insta:after {
    background: url("../img/socials/icon_insta_hover.svg") no-repeat;
}

.footer-socials__item_yt {
    background: url("../img/socials/icon_youtube.svg") no-repeat;
    &._dark {
        background-image: url("../img/socials/icon_youtube_dark.svg");
        @media(--mdMinus) {
            background-image: url("../img/socials/icon_youtube.svg");
        }
    }
}

.footer-socials__item_yt:after {
    background: url("../img/socials/icon_youtube_hover.svg") no-repeat;
}

.footer-socials__item_tlg {
    background: url("../img/socials/icon_telegram.svg") no-repeat;
    &._dark {
        background-image: url("../img/socials/icon_telegram_dark.svg");
        @media(--mdMinus) {
            background-image: url("../img/socials/icon_telegram.svg");
        }
    }
}

.footer-socials__item_tlg:after {
    background: url("../img/socials/icon_telegram_hover.svg") no-repeat;
}

.footer-socials__item_ggl {
    background: url("../img/socials/icon_google.svg") no-repeat;
    &._dark {
        background-image: url("../img/socials/icon_google_dark.svg");
        @media(--mdMinus) {
            background-image: url("../img/socials/icon_google.svg");
        }
    }
}

.footer-socials__item_ggl:after {
    background: url("../img/socials/icon_google_hover.svg") no-repeat;
}

.full-menu-popup {
    position: fixed;
    z-index: 100007;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    margin: 0;
    padding: 0 55px;
    display: none;
    transition: top 0.4s, visibility 0.4s;
    overflow-y: auto;
    visibility: hidden;

    @media(--lgMinus) {
        background: #22282f;
        height: 100%;
    }

    &_open {
       z-index: 100008;
       opacity: 1;
       visibility: visible;
    }

}


.full-menu {
    display: flex;
    padding: 60px 0 60px 97px;
    @media(--lgMinus) {
        display: block;
        text-align: center;
        padding: 50px 0 25px 0;
    }
}

.full-menu-col {
    width: 25%;
    max-width: 330px;
    display: flex;
    flex-direction: column;

    @media(--lgMinus) {
        max-width: 100%;
    }
}

.full-menu-link {
    text-decoration: none;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22282f;
    padding-bottom: 15px;
    transition: color 0.2s ease-in-out;

    @media(--lgMinus) {
        color:#ffffff;
        padding: 15px 0;
        position: relative;
    }
    &:hover {
        @media(--lgMinus) {
            color:#ffffff;
        }
    }
    & span {
        @media(--lgMinus) {
            position: relative;
        }
    }
    &_active {
        & span {
            &:after {
                @media(--lgMinus) {
                    content: '';
                    background: #b51827;
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    transition: width 0.2s ease-in-out;
                }
            }
        }
    }
}

.full-menu-sublink {
    text-decoration: none;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    padding: 8px 0;
    color: #22282f;

    @media(--lgMinus) {
        font-size: 14px;
        color:#ffffff;
        padding: 8px 0;
        opacity:0.5;
    }
    &:hover {
        @media(--lgMinus) {
            color:#a7a6a8;
        }
    }
}

.full-menu-sublink span {
    position: relative;
}

.full-menu-link:hover,
.full-menu-sublink:hover {
    color: #b51827;
    opacity: 1;
    @media(--lgMinus) {
        color: #ffffff;
    }
}

.footer-menu-other-link-wrap {
    flex-grow: 1;
}

.footer-subscribe__form {
    display: flex;
    align-items: flex-end;
    display: none;
    margin-top: -29px;
}

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    max-width: 230px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 10px 0;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-appearance: none;
    /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #696969;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #a7a6a8;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}


/* Yoshiko */

.input__field--yoshiko {
    width: 100%;
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    transition: background-color 0.25s, border-color 0.25s;
}

.input__label--yoshiko {
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 100%;
    pointer-events: none;
    overflow: hidden;
    padding: 0;
    transform: translate3d(0, 30px, 0);
    transition: transform 0.25s;
    transition-timing-function: ease-in-out;
}

.input__label-content--yoshiko {
    color: #8B8C8B;
    padding: 0.25em 0;
    transition: transform 0.25s;
    transition-timing-function: ease-in-out;
}

.input__label-content--yoshiko::after {
    content: attr(data-content);
    position: absolute;
    bottom: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    font-size: 14px;
}

.input__field--yoshiko:focus+.input__label--yoshiko,
.input--filled .input__label--yoshiko {
    transform: translate3d(0, 0, 0);
}

.input__field--yoshiko:focus+.input__label--yoshiko .input__label-content--yoshiko,
.input--filled .input__label-content--yoshiko {
    transform: translate3d(0, 100%, 0);
}

.input__field--yoshiko:focus+.input__field--yoshiko,
.input--filled .input__field--yoshiko {
    background-color: transparent;
}

.full-menu-other-link-wrap {
    display: none;
}

.full-menu-other-link span {
    position: relative;
}

.full-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    /*
    -webkit-animation-name: overlay-bg;
    animation-name: overlay-bg;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    */
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.4);
    transition: all .4s ease;
}

.full-menu-overlay.active {
    visibility: visible;
    opacity: 1;
}

@keyframes overlay-bg {
    from {
        background: transparent
    }
    to {
        background: rgba(0, 0, 0, 0.4)
    }
}

.footer-subscribe__input:focus~.footer-subscribe__label,
.footer-subscribe__input:valid~.footer-subscribe__label {
    font-size: 12px;
    color: #a7a6a8;
    top: -9px;
    transition: all 0.4s cubic-bezier(0.2, 0, 0.03, 1);
}

.styled-input {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.footer-subscribe__label {
    color: #a7a6a8;
    position: absolute;
    top: 9px;
    left: 0;
    transition: all 0.4s cubic-bezier(0.2, 0, 0.03, 1);
    pointer-events: none;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.footer-subscribe__input:focus {
    outline: 0;
    border-color: #b51827;
}

.footer-subscribe__input {
    width: 100%;
    height: 30px;
    position: relative;
    display: block;
    /*margin-bottom: 10px;
    width: 230px;*/
    border: none;
    border-bottom: 2px solid #a7a6a8;
    border-radius: 0;
    background: transparent;
    color: #22282f;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-appearance: none;
    @media (--mdMinus) {
        width: calc(100% - 35px);
    }
}

.not-empty {
    font-size: 12px;
    color: #a7a6a8;
    top: -9px;
    transition: all 0.4s cubic-bezier(0.2, 0, 0.03, 1);
}

.footer-subscribe__link_hidden {
    opacity: 0;
    visibility: hidden;
}

/*.footer__phone_translate {
    transform: translateY(25px);
}*/

.modal-banner {
    padding: 0;
    width: 960px;
    margin: 70px 0 0;
}

.modal-banner-inner {
    background: #2b2634;
    display: flex;
    flex-wrap: wrap;
    height: 525px;
    overflow: hidden;
}

@media (--mdMinus) {
    .modal-banner {
        width: 688px;
        max-width: 100%;
    }

    .modal-banner-inner {
        height: 378px;
    }
}

@media (--smMinus) {
    .modal-banner {
        width: 100%;
        max-width: 485px;
    }

    .modal-banner-inner {
        height: 265px;
    }
}

@media (--xs) {
    .modal-banner {
        /*width: calc(100% - 40px);*/
        max-width: 283px;
        width: 100%;
    }

    .modal-banner-inner {
        height: auto;
    }
}

.modal-banner__bg {
    background: center no-repeat;
    background-size: cover;
    /*width:378px;*/
    width: 40%;
    height: 100%;
}

@media (--mdMinus) {
    .modal-banner__bg {
        width: 40%;
        background-size: contain;
    }
}

@media (--xs) {
    .modal-banner__bg {
        width: 100%;
        height: 136px;
        background: url("../img/banners/banner-bg-mobile.jpg") no-repeat center bottom;
        background-size: cover;
    }
}

.modal-banner__content {
    padding: 80px 80px 80px 70px;
    /*width: 582px;*/
    width: 60%;
}

@media (--mdMinus) {
    .modal-banner__content {
        width: 60%;
        padding: 50px 50px 50px 40px;
    }
}

@media (--smMinus) {
    .modal-banner__content {
        padding: 30px 30px 30px 20px;
    }
}

@media (--xs) {
    .modal-banner__content {
        padding: 40px 40px 50px 30px;
        width: 100%;
    }
}

.modal-banner__title {
    font-family: 'GeometriaHeavy';
    font-size: 55px;
    color: #f7941e;
    text-align: center;
}

@media (--mdMinus) {
    .modal-banner__title {
        font-size: 40px;
    }
}

@media (--smMinus) {
    .modal-banner__title {
        font-size: 25px;
    }
}

@media (--xs) {
    .modal-banner__title {
        font-size: 25px;
    }
}

.modal-banner__text {
    font-family: 'GeometriaLight';
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}

@media (--mdMinus) {
    .modal-banner__text {
        font-size: 28px;
        margin-top: 15px;
    }
}

@media (--smMinus) {
    .modal-banner__text {
        font-size: 20px;
        margin-top: 15px;
    }
}

@media (--xs) {
    .modal-banner__text {
        font-size: 20px;
    }
}

.modal-banner__subtext {
    font-family: 'GeometriaMedium';
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}

@media (--mdMinus) {
    .modal-banner__subtext {
        margin-top: 15px;
    }
}

@media (--xs) {
    .modal-banner__subtext {
        font-size: 17px;
        margin-top: 25px;
    }
}

.modal-banner__btn {
    text-decoration: none;
    border: 1px solid #f7941e;
    background: transparent;
    color: #f7941e;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    outline: none;
    width: 240px;
    padding: 15px 0;
    text-align: center;
    transition: background 0.4s ease, color 0.4s ease;
    height: 50px;
    margin: 60px auto 0;
    display: block;
}

.modal-banner__btn:hover {
    cursor: pointer;
    color: #ffffff;
    background: #f7941e;
}

@media (--mdMinus) {
    .modal-banner__btn {
        margin: 55px auto 0;
    }
}

@media (--mdMinus) {
    .modal-banner__btn {
        margin: 20px auto 0;
    }
}

@media (--xs) {
    .modal-banner__btn {
        max-width: 240px;
        width: 100%;
        margin-top: 25px;
    }
}

.modal-banner__close {
    background: transparent;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    border: none;
    transition: opacity 0.4s ease;
}

.modal-banner__close:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media (--smMinus) {
    .modal-banner__close {
        padding: 10px;
    }
}

@media (--xs) {
    .modal-banner__close {
        /*display: none;*/
    }
}

body.modal-banner-scrolling {
    overflow: auto;
}

body.overflow_hidden {
    overflow: hidden;
}

.fancybox-container{
    top: 70px;
    height: calc(100% - 70px);
}

.fancybox-bg {
    background: #000000;
}

.fancybox-is-open .fancybox-bg {
    opacity: 0.6;
}

.title-page {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 40px;
    position: relative;
    margin-top: 20px;
    display: inline-block;

    @media(--sm) {
        display: block;
        margin-top: 0;
        font-size: 29px;
    }
    @media(--xs) {
        display: block;
        margin-top: 0;
        font-size: 29px;
    }
}




.close-gallery {
    position: absolute;
    top:35px;
    right:55px;
    background: transparent;
    outline: none;
    border:none;
    z-index: 100;
    width: 32px;
    height: 16px;
}

@media (--mdMinus) {
    .close-gallery {
        right:40px;
    }
}

@media (--smMinus) {
    .close-gallery {
        right:20px;
    }
}

.close-gallery:hover {
    cursor: pointer;
}


p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color:#2a2633;
    line-height: 1.5;
    margin: 5px 0;
}

.footer-subscribe__submit {
    border: none;
    outline: none;
    /*width: 30px;
    height: 15px;
    margin-bottom: 8px;
    flex-shrink: 0;
    background: url("../img/arrow_more.svg") no-repeat center center;*/
    transition: all 0.2s;
    margin-left: 10px;
    height: 30px;
    background: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #b51827;
    @media (--mdMinus) {
        width: 25px;
        height: 25px;
        background: #b51827 url("../img/arrow_more.svg") no-repeat center / 15px auto;
        border-radius: 50%;
        font-size: 0;
        line-height: 0;
    }
}

.footer-subscribe__submit:hover {
    cursor: pointer;
    /*transform: translateX(10px);*/
}

.footer-subscribe__reset {
    border: none;
    outline: none;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: #ffffff url("../img/close-popup-dark.svg") no-repeat center center;
    transition: background 0.2s;
    margin-left: 10px;
    display: none;
}

@media (--smMinus) {
    .footer-subscribe__reset {
        display: block;
    }
}

.footer-subscribe__form .Form_hint-error {
    display: none !important;
}

.footer-subscribe__input.error {
    border-bottom:2px solid #ff0000;
}


.footer-subscribe__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/*input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}*/
input, textarea, select, button {
    appearance: none !important
}


.FavoriteIcon_header {
    display: flex;
    align-items: center;
    height: 100%;
    @media(--lgMinus) {
        order:2;
    }
}