@media (--lgMinus) {


    .full-menu-sublink_active span:after {
        content: '';
        background: #c0bec2;
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: width 0.2s ease-in-out;
    }

    .full-menu-other-link_active span:after {
        content: '';
        background: #f7941e;
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: width 0.2s ease-in-out;
    }

    .full-menu-link_active:active span::after,
    .full-menu-link_active:hover span::after {
        width: 100%;
    }

    .full-menu_submenu {
        /*display: none;*/
    }


    .full-menu-col {
        width: auto;
    }


    .full-menu-link_select-flat {
        color:#ffffff;
        text-transform: uppercase;
        font-family: 'Proxima Nova Semibold';
    }


    .full-menu-link_select-flat:hover {
        color:#ffffff;
    }

    .full-menu-other-link-wrap {
        display: block;
        margin-top: 70px;
        margin-bottom: 50px;
    }

    .full-menu-other-link {
        font-size: 14px;
        font-family: 'Proxima Nova Regular';
        color: #f7941e;
        text-transform: uppercase;
        line-height: 2.5;
        text-decoration: none;
        margin: 0 18px;
    }

    .col-md-12 {
        width: 100%;
    }

    .main-section__img {
        height: 360px;
    }



    .main-section__img_sec6_seconadary {
        display: none;
    }

    .main-section__img_sub1-left,
    .main-section__img_sub2-left,
    .main-section__img_sub1-right,
    .main-section__img_sub2-right,
    .main-section__img_sec6-sub1-left,
    .main-section__img_sec6-sub2-left,
    .main-section__img_sec6-sub1-right,
    .main-section__img_sec6-sub2-right {
        display: none;
    }

    .main-section__fraction_sec1,
    .main-section__fraction_sec2,
    .main-section__fraction_sec3,
    .main-section__fraction_sec4,
    .main-section__fraction_sec5,
    .main-section__fraction_sec6 {
        flex-grow: 1;
        width: 100%;
        margin-top: 40px;
    }

    .main-section__fraction_sec3 {
        margin-top: 70px;
    }

    .list_sec3 {
        margin-top: 70px;
        max-width: 330px;
    }

    .list_sec3 li {
        display: flex;
    }

    .main-section__title_sec1 {
        margin-right: 65px;
    }

    .main-section__title_sec1:before {
        content: '';
        width: 75px;
        height: 1px;
        background: #f8b470;
        position: absolute;
        right: -140px;
        top: 28px;
        left: inherit;
    }

    .main-section__text_sec2 {
        order:3;
    }

    .main-section__title_sec2 {
        margin-right: 65px;
        margin-bottom: 70px;
    }

    .main-section__title_sec2:before {
        content: '';
        width: 170px;
        height: 1px;
        background: #f8b470;
        position: absolute;
        right: -235px;
        top: -50px;
    }



    .main-section-loc-time {
        order: 4;
        margin-left: inherit;
        position: relative;
        top: 40px;
        z-index: 20;
        margin-bottom: -100px;
    }

    .main-section__text_sec4 {
        order:3;
        width: 100%;
        margin-top: 40px;
    }

    .main-section__fraction_sec4 {
        order:1;
    }

    .main-section__title_sec4 {
        order:2;
        width: 100%;
    }

    .main-content-img__text {
        opacity: 1;
        padding: 200px 380px 0 130px;
    }

    .main-section__title_sec5 {
        position: relative;
        left:0;
        top:0;
        bottom: inherit;
        background: transparent;
        padding: 30px 0 0 0;
    }

    .main-section__text_sec5 {
        width: 100%;
    }

    .main-section__title_sec5:before {
        content: '';
        width: 75px;
        height: 1px;
        background: #f8b470;
        position: absolute;
        top: 0;
        left: 0;
    }


    .main-section__title_sec6 {
        width: 100%;
        color:#19191a;
        margin-top: 40px;
        padding-bottom: 30px;
    }

    .main-section__text_sec6 {
        width: 100%;
    }

    .footer-menu {
        padding-bottom: 20px;
    }

    .footer-menu-other-link-wrap {
        display: none;
    }

    .left-container {
        width: 50%;
        padding-right: 20px;
        padding-left: 127px;
    }

    .right-container {
        width: 50%;
    }
}

@media screen and (--mdMinus) {


    .main-section__title_sec2 {
        margin-right: 20px;
    }

    .main-content-img__text {
        opacity: 1;
        padding: 370px 200px 0 40px;
    }

    .left-container {
        padding-left: 0;
    }

    .main-section__title_sec2:before {
        left: calc(100% + 20px);
    }


    .footer-socials__item {
        /*margin-right: 0;*/
        /*margin: 0 10px;*/
    }

    .footer-socials__item:after {
        display: none;
    }

}

@media screen and (--smMinus) {

    .home-banner-list__text {
        font-size: 30px;
        line-height: 30px;
    }

    .full-menu-popup {
        padding: 0 20px;
    }

    .full-menu-other-link {
        margin: 0 3px;
        font-size: 12px;
    }

    .full-menu-link {
        font-size: 16px;
        padding: 10px 0;
    }


    .footer-socials_mobile {
        width: 100%;
        justify-content: center;
    }


    .footer-info {
        opacity: 1;
    }

    .footer-text {
        text-align: center;
        color:#a7a6a8;
    }


    .footer__phone {
        text-align: center;
        margin-bottom: 15px;
        margin-top: 0;
    }

    .footer__phone a {
        padding-left: 0;
    }

    .full-menu-popup .fancybox-close-small {
        top:20px;
        right: 15px;
    }

    .main-section__title_sec1,
    .main-section__title_sec2 {
        margin-right: 0;
        margin-bottom: 0;
    }


    .left-container {
        width: 100%;
    }

    .right-container {
        width: 100%;
    }

    .main-section__title_sec2:before {
        left:0;
        top:inherit;
        bottom:-20px;
    }

    .main-section__text_sec2 {
        margin-top: 40px;
    }

    .list_sec6 {
        width: 100%;
    }

    .list li span {
        margin-right: 10px;
    }

    .col-12_order-first {
        order:1;
    }

    .col-12_order-second {
        order:2;
    }

    .main-section__fraction_sec2,
    .main-section__fraction_sec4,
    .main-section__fraction_sec6 {
        text-align: right;
    }

    .main-content-img__text_sec4:before {
        content: '';
        width: 75px;
        height: 1px;
        background: #f8b470;
        position: absolute;
        left:0;
        bottom: -20px;
    }

    .btn-call-inner {
        padding: 50px 0 50px;
    }

}
