<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/classic/shower.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Душевой гарнитур</span></p>
                <p>Grohe, Tempresta,</p>
                <p>27598000</p>

            </div>
        </div>
    </div>
</div>