<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/classic/tap.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Смеситель для раковины</span></p>
                <p>Grohe, Euroeco,</p>
                <p>32734000</p>
            </div>
        </div>

    </div>
</div>