<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/classic/wall-wc.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Стены</span></p>
                <p><span>Керамическая плитка</span></p>
                <p>производитель Керамин,</p>
                <p>коллекция Форум, 3.</p>
                <p>Размер: 400х275мм</p>
            </div>
        </div>
    </div>
</div>