<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/classic/wall.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Стены</span></p>
                <p><span>Обои под покраску</span></p>
                <p>Артекс, арт. 50001.</p>
                <p><span>Покраска:</span></p>
                <p>Цвет: бежевый.</p>
            </div>
        </div>
    </div>
</div>