<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/modern/door-hall.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Входная дверь металлическая</span></p>
                <p>Оптим, Кобра,</p>
                <p>Black Wave</p>
            </div>
        </div>

    </div>
</div>