<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/classic/floor-wc.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Пол</span></p>
                <p>Керамическая плитка: Kerama Marazzi,</p>
                <p>Гармония, Цвет бежевый.</p>
                <p>Размер: 300x300 мм</p>
            </div>
        </div>
    </div>
</div>