<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/modern/wall-wc.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Стены</span></p>
                <p>Керамическая плитка:</p>
                <p>Керамин, Ирис, 7С,</p>
                <p>Размер: 500х200мм</p>
            </div>
        </div>
    </div>
</div>