.BigCheckbox {
    user-select: none;
}

.BigCheckbox_input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.BigCheckbox_view {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #eaeaeb;
    width: 40px;
    height: 40px;
    overflow: hidden;
    color: #19191a;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s;

    &-light {
        border: 1px solid rgba(255, 255, 255, 0.2);
        color:#ffffff;
    }
    &:hover {
        border: solid 1px #caccd3;
    }
}

.BigCheckbox_input:checked+.BigCheckbox_view {
    background: #b51827;
    border-color: #b51827;
    color: #fff;
}

.BigCheckbox_input:focus+.BigCheckbox_view {
    box-shadow: 0 0 0 1px rgba(247, 148, 30, 0.3);
}