.CardList {
    display: grid;
    &-flats {
        @media (--xs) {
            grid-template-columns: 1fr;
        }

        @media (--sm) {
            grid-template-columns: 1fr 1fr;
        }

        @media (--mdPlus) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media (--xxl) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}