.ComercialPremisesList {
    width: 100%;
    max-width: 1170px;
    margin: 40px auto 20px auto;

    @media(--lgMinus) {
        padding:0 55px;
    }

    @media(--mdMinus) {
        padding:0;
    }


    &__title {
        font-family: 'Proxima';
        font-weight: 300;
        font-size: 26px;
        margin-bottom: 20px;
        @media(--mdMinus) {
            padding:0 40px;
        }
        @media(--smMinus) {
            padding:0 20px;
        }
    }
    &--flat {
        margin: 0 auto 0;
    }
}