.CookiesAgree {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 14px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #21272F;
    font: 14px/18px 'Roboto';
    color: #B2B2B2;
    z-index: 1001;
    transition: all .3s ease;
    @media (--lgMinus) {
        padding: 15px 40px 17px;
    }
    @media (--smMinus) {
        flex-direction: column;
        padding: 18px 20px 32px;
    }
    &_txt {
        padding: 3px 50px 3px 0;
        @media (--smMinus) {
            padding: 0;
        }
    }
    &_btn {
        min-width: 206px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #AF2032;
        border: none;
        font: 15px/18px 'Roboto';
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        outline: none;
        transition: background .5s ease;
        @media (--smMinus) {
            min-width: 280px;
            height: 40px;
            margin-top: 20px;
        }
        &:hover {
             background: #e61023;
        }
    }
    &._hide {
         opacity: 0;
         visibility: hidden;
         z-index: -1001;
     }
}