.CoolTxtField {
    padding: 0 34px 0 9px;
    &_inp {
        font-size: 14px !important;
        border: 0;
        background: none;
        padding: 7px 0;
        color: #6c737a !important;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        border-bottom: 1px solid #d0d0d0;
        outline: none;
    }
    &_reset {
        background: transparent url("../img/filter_input_reset.svg") no-repeat;
        background-size: contain;
        width:25px;
        height:25px;
        margin-left: 5px;
        position: relative;
        top: 10px;
        outline: none;
        transition: opacity 0.4s ease;
        border:none;
        &:hover {
            opacity: 0.7;
            cursor:pointer;
        }
    }
}