.FavoriteIcon {
    display: block;
    display: none;
    width: 19px;
    height: 19px;
    background: url("../img/favorite-icon.svg") no-repeat no-repeat;
    background-size: contain;
    transition: background 0.2s ease;
    margin-left: 15px;

    &:hover {
         cursor: pointer;
         background: url("../img/favorite-icon-active.svg") no-repeat no-repeat;
    }

    &-active {
         background: url("../img/favorite-icon-active.svg") no-repeat no-repeat;
    }

    &-table {
         margin:0;
         display: inline-block;
    }
    &-header {
         text-align: center;
         color:#ffffff;
         font-size: 10px;
         font-weight: 300;
         display: flex;
         opacity: 0;
         visibility: hidden;
         align-items: center;
         justify-content: center;
         transition: opacity 0.4s ease;
         font-family: 'Proxima';
         padding-top: 1px;

        &--visible {
             opacity:1;
             visibility: visible;
        }
    }

    &-compare {
         position: absolute;
         left:10px;
         top:15px;
         margin-left:0;
    }
}