.FilterForm {
    padding: 22px 0 0;
    @media (--mdMinus){
        border-top: 1px solid #fff;
    }
    @media (--md){
        display: flex;
        flex-wrap: wrap;
    }

    @media (--lg){
        display: flex;
        flex-wrap: wrap;
    }
    @media (--lgPlus) {
        /* position: sticky;
        top: 70px; */
    }
    &_item {
        padding: 0 45px 24px 45px;
        @media (--md){
            order: -1;
            width: 50%;
        }
        @media (--lg){
            order: -1;
            width: 50%;
        }
        @media(--lgMinus) {
            padding: 0 40px 24px 40px;
        }
        @media(--sm) {
            padding: 0 20px 24px 20px;
        }
        @media(--xs) {
            padding: 0 20px 24px 20px;
        }
        &-disabled {
             user-select: none;
             pointer-events: none;
             opacity: 0.5;
             filter: grayscale(100%);
        }
        &-reset {
            @media(--lgMinus) {
                order:2;
            }
        }
    }

    &_label {
        color: #22282f;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        display: block;
        padding-bottom: 9px;
    }

    &_checkboxesRow {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: -10px;
        &>.BigCheckbox {
            margin-right: 10px;
            margin-top: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &_select {
        background: transparent!important;
        border-radius: 2px;
        font-size: 14px;
        display: block;
        width: 100%!important;
        padding: 10px;
        border:1px solid #eaeaeb!important;

        &.ui-selectmenu-button-open {

            background: #fff!important;
        }
        &>.ui-selectmenu-text {
            font-family: Roboto,sans-serif;
            font-weight: 300;
            color: #22282f;
        }

        &>.ui-selectmenu-icon {
            background: url("/img/caret-down.svg") center / contain no-repeat!important;
            opacity: 0.5;
        }

        &.ui-selectmenu-button-open>.ui-selectmenu-icon {
            transform: scaleY(-1);
        }
    }

    &_selectlistMenu {
        box-shadow: 0 3px 5px rgba(208, 208, 208, 0.5);
        border-radius: 2px;
        &>.ui-menu {
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            border-color: #d0d0d0;
            &>.ui-menu-item {
                font-size: 14px !important;
                font-family: Roboto,sans-serif;
                font-weight: 300;
                padding-left:0;
                line-height: 1.5;
                background: #ffffff;
                &>.ui-menu-item-wrapper {
                    padding:5px 10px;
                    &.ui-state-active {
                        background-color: rgba(181,24,39,.3);
                        border-top-color: rgba(181,24,39,.3);
                        border-bottom-color: rgba(181,24,39,.3);
                        color: #22282f;
                    }
                }
            }
        }
    }

    &_groupHead {
        color: #22282f;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        background: none!important;
        border: 0!important;
        outline: none;
        padding: 12px 45px 12px 45px !important;
        @media(--lgMinus) {
            padding: 12px 40px 12px 40px !important;
        }
        @media(--sm) {
            padding: 12px 20px 12px 20px !important;
        }
        @media(--xs) {
            padding: 12px 20px 12px 20px !important;
        }
        &>.ui-accordion-header-icon {
            position: absolute;
            right: 19px;
            top: 50%;
            margin-top: -7px;
            background: url("caret-down.svg?datauri") center / contain no-repeat!important;
            opacity: 0.5;
        }

        &.ui-accordion-header-active>.ui-accordion-header-icon {
            transform: scaleY(-1);
        }
    }

    &_collapsibleGroup {
        padding: 10px 0!important;
        border: 0 !important;
        background: none;
        overflow: hidden !important;
    }


    &_accordion {
        width: 100%;
        background-color: #f2f3f7;

        &-additionals {
            background-color: #fff;

            & .FilterForm_groupHead {
                background-color: #f2f3f7 !important;
            }

            & .Multycheckbox_lbl {
                color: #22282f;
                display: block;
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
                text-align: left;
            }

            & .FilterForm_item {
                padding-top: 0;
                padding-right: 20px;
                padding-bottom: 0;
                @media (--xlMinus) {
                    width: 50%;
                }
                @media (--smMinus) {
                    width: 100%;
                    padding-right: 15px;
                }
            }

            & .FilterForm_collapsibleGroup {
                padding-top: 14px !important;

                @media (--xlMinus) {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                }

                @media (--smMinus) {
                    flex-direction: column;
                    justify-content: flex-start;
                }
            }
        }
    }

    &_reset {
        color:#22282f;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-top: 20px;
        display: flex;
        align-items: center;
        position: relative;

        &:after {
            content:'';
            background: url("../img/filter_reset.svg") no-repeat;
            background-size: contain;
            width: 22px;
            height: 16px;
            margin-left: 14px;
            transition: transform 0.3s ease;
        }

        &:hover {
            cursor: pointer;
            &:after {
                transform: rotate(180deg);
            }
        }

        &-additionals {
            color: #6c737a;
            font-size: 14px;
            margin-top: 5px;
        }

    }

}
