
.Fitblock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    &_inner {
        position: absolute;
        top: 50%;
        left: 50%;
        visibility: hidden;
        overflow: hidden;
        &-top {
             margin-top: 0 !important;
             top:0 !important;
        }
    }
    &_pusher {
        display: block;
        pointer-events: none;
        max-width: unset;
    }
}



.Fitblock-Scrollable {
    @media(max-width: 767px) {
        overflow-x: scroll;
    }
}

.Fitblock-Scrollable>.Fitblock_inner {
    @media(max-width: 767px) {
        margin-left: 0 !important;
        left: 0;
    }
}