.Flat {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #22282f;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 55px 55px 60px;
    @media (--xlMinus) {
        justify-content: flex-start;
        padding: 40px 40px;
    }
    @media (--sm) {
        padding-left: 35px;
        padding-right: 35px;
    }
    @media (--smMinus) {
        flex-wrap: wrap;
        padding: 25px 25px;
    }
    &_info,
    &_plan {
        flex-basis: 50%;
        @media (--smMinus) {
            padding: 0 0 !important;
            flex-basis: 100%;
        }
    }
    &_plan {
        padding-right: 28px;
        @media (--xlMinus) {
            flex-basis: 40%;
            width: 40%;
        }
        @media (--sm) {
            display: flex;
            flex-flow: row wrap;
        }
        @media (--smMinus) {
            padding-right: 35px;
        }
    }
    &_salePrices {
        
        @media (--lgMinus) {
            flex-basis: 100%;
        }
        & span {
            display: block;
            line-height: 1;
        }
    }
    
    &_info {
        padding-left: 28px;
        @media (--smMinus) {
            padding-left: 35px;
        }
        @media (--xlMinus) {
            flex-basis: 60%;
            width: 60%;
        }
        @media (--smMinus) {
            width: 100%;
            flex-basis: 100%;
            padding-top: 70px !important;
        }
        &-mobile {
            display:none;
            @media(--sm) {
                display:block;
            }
            @media(--xs) {
                display:block;
            }
        }
        &-desktop {
            display:block;
            margin-bottom:25px;
            @media(--sm) {
                display:none;
            }
            @media(--xs) {
                display:none;
            }
        }
    }
    &_linkBack {
        display: inline-block;
        margin-bottom: 80px;
        order: 1;
        position: absolute;
        top: 0;
        left: 0;
        @media (--xlMinus) {
            margin-bottom: 40px;
        }
        @media (--smMinus) {
            width: 32px;
            height: 16px;
            display: block;
            top: 10px;
            &~* {
                display: none !important;
            }
        }
    }
    &_planInfo {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        height: 100%;
        position: relative;
        padding-top: 65px;
        @media (--xlMinus) {
            display: block;
        }
        @media (--smMinus) {
            padding-top: 0;
        }
    }

    &_planSlidesWrapper {
        order: 3;
        width: 333px;
        height: 546px;
        position: relative;
        margin: 0 auto;
        @media (--xlMinus) {
            width: 249px;
            height: auto;
        }
        @media (--smMinus) {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            width: 222px;
            height: 375px;
            margin: 30px auto;
            margin-bottom: 15px;
        & .Flat_planImg {
              height: 285px;
          }
        }
        &._widget {
            margin-bottom: 20px;
        }

        &._mobile {
            display: none;
            @media (--smMinus) {
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-between;
                width: 222px;
                height: 375px;
                margin: 30px auto;
                margin-bottom: 15px;
                & .Flat_planImg {
                    height: 285px;
                }
            }
        }
    }
    &_planSliderWrapper {
        position: absolute;
        bottom: 0;
        width: 333px;
        @media (--lgMinus) {
            position: relative;
            bottom: auto;
            width: 100%;
        }

        & .swiper-button-next, .swiper-button-prev {
            background: none;
            width: 11px;
            height: 20px;
            outline: none;

            & svg {
                width: 11px;
                height: auto;
            }
        }

        & .swiper-button-prev {
            left: -26px;
        }

        & .swiper-button-next {
            right: -26px;
        }
    }
    &_planSlider {
        width: 100%;
        margin-top: 19px;
        & .swiper-slide {
            opacity: 0.5;
            cursor: pointer;
            display: flex;
            max-height: 100px;
            margin: auto;
            & img {
                object-fit: contain;
            }
        }
        & .swiper-slide-active {
            opacity: 1;
        }

        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            width: 56px;
            height: 100%;
            background: linear-gradient(270deg,#fff 0%,rgba(255,255,255,0) 100%);
            z-index: 2;
            display: block;
        }

        &:before {
            left: 0;
            transform: rotate(180deg);
        }

        &:after {
            right: 0;
        }
    }
    &_descVariants {
        margin-bottom: 21px;
        & p {
            font-size: 14px;
            color: #22282F;
        }
    }
    &_descVariantsTitle {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    &_planInfoWrapper {
        order: 2;
        @media (--xlPlus) {
            padding-top: 100px;
        }
    }
    &_compass {
        display: block;
        @media (--mdPlus) {
            margin-bottom: 90px;
        }
        @media (--xlMinus) {
            margin-right: 20px;
            margin-bottom: 0;
            width: 100px;
            height: 100px;
        }
    }
    &_sectionPlans {

        @media (--mdPlus) {
            margin: 30px 0;
        }
        @media (--xlMinus) {
            margin-left: 20px;
            margin-bottom: 0;
        }
        @media (--sm) {
            position: relative;
            left: 13px;
        }
    }
    &_sectionPlans+&_planLink {
        margin-bottom: 20px;
    }
    &_planImg {
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        flex: 1;
        order: 3;
        height: 428px;
        @media (--xlMinus) {
            width: 100%;
            height: 320px;
            margin-left: 0;
        }
        @media (--sm) {
            margin-bottom: 50px;
        }
        @media(--xxl){
            align-self: flex-start;
            height: 428px;
        }
        &._mobile {
            display: none;
            @media (--smMinus) {
                display: block;
            }
        }
        &._widget {
            height: 546px;
            @media (--xlMinus) {
                height: 320px;
            }
        }
    }
    &_planImgMobile {
        display: none;
        width: 80%;
        margin: 0 auto 60px;
        @media (--smMinus) {
            display: block;
        }
    }
    &_svgInfoWrapper {
        @media (--xlMinus) {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin-bottom: 40px;
        }
    }
    &_planLinkWrapper-mobile {
        display: none;
        @media (--smMinus) {
            display: flex;
            align-items: center;
            height: 60px;
            /* border-top: 1px solid #eaeaeb; */
            justify-content: space-between;
        }
    }
    &_planLinkWrapper-mobile &_planLink {

    }
    &_planLinksWrapper {
        @media (--xlMinus) {
            display: flex;
            justify-content: center;
        }
    }
    &_planLink {
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-weight: 400;
        margin: 0 16px;
        @media (--xlMinus) {
            margin-bottom: 0 !important;
        }
        @media (--sm) {
            margin: 0 !important;
        }
        @media (--xs) {
            margin: 0 !important;
        }
    }
    &_planLink-floor {
        @media (--mdPlus) {
            margin-bottom: 20px;
        }
    }
    &_planLink-eye {}
    &_planLinkIcon {
        margin-right: 15px;
    }
    &_infoHeader {
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 35px;
        @media (--xlMinus) {
            font-size: 20px;
        }
        @media (--smMinus) {
            font-size: 20px;
            white-space: nowrap;
            margin-bottom: 25px;
        }
    }
    &_infoText {
        font-size: 14px;
        font-weight: 300;
        display: flex;
        align-items: flex-start;
    }
    &_infoText-furnished {
        margin-bottom: 7px;
        display: block;
    }

    &_infoFurnishIcon {
        margin-left: 6px;
    }
    &_infoActionIcon {
        margin-left: 8px;
    }
    &_infoText-bold {
        font-weight: 500;
    }
    &_infoTabsNav {
         margin-bottom: 25px;
         list-style: none;
         display: flex;
         flex-wrap: wrap;
         padding-bottom: 5px;
         border-bottom: 1px solid #ededed;
     }
    &_infoTabsNavItem {
        font-weight: 500;
        margin-bottom: 10px;
        position: relative;
        outline: none;
        @media (--smMinus) {
            margin-bottom: 30px;
        }
        & a {
            outline: none;
            color: #22282F;
        }
        &:not(:last-of-type) {
             margin-right: 20px;
         }
        &-active {
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                bottom: -17px;
                background-color: #b51827;
                height: 3px;
            }
        }
    }
    &_infoTabsNavLink {
         font-size: 16px;
         font-family: 'Roboto', sans-serif;
         font-weight: 500;
    }
    &_infoTabsContent {
         font-family: 'Roboto', sans-serif;
         font-weight: 400;
         position: relative;
         & .ps__rail-x, .ps__rail-y {
            opacity: 1;
            background-color: #EAEAEB;
            height: 3px;
        }
        & .ps__thumb-x, .ps__thumb-y {
            background-color: #B51827;
            height: 3px;
        }
        & .ps__rail-x, .ps__rail-y {
          opacity: 1;
          bottom: 30px !important;
        }
    }
    &_generalTable {
        margin-top: 15px;
        margin-bottom: 32px;
        padding-top: 18px;
        @media (--smMinus) {
            padding-right: 11px;
            width: 280px;
        }
    }
    &_generalHeader {
        font-weight: 400;
        text-align: left;
        &:not(:first-of-type) {
            padding-left: 50px;
        }
        @media (--smMinus) {
            font-size: 11px;
            padding-left: 0 !important;
        }
    }
    &_generalRow {
        @media (--smMinus) {
            display: flex;
            justify-content: space-between;
        }
    }
    &_generalCell {
        font-size: 30px;
        font-weight: 600;
        white-space: nowrap;
        display: inline-flex;
        position: relative;
        &:not(:first-of-type) {
            margin-left: 50px;
        }
        &:last-of-type {
            margin-left: 68px;
        }
        &:before {
            content: attr(data-header);
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            position: absolute;
            left: 0;
            top: -20px;
            @media (--smMinus) {
                font-size: 10px;
            }
        }
        @media (--smMinus) {
            font-size: 30px;
            margin-left: 0 !important;
        }
    }
    &_hr {
        width: 100%;
        height: 1px;
        background: #eaeaeb;
        border: none;
        margin-bottom: 30px;
        &:last-of-type {
            margin-bottom: 40px;
            @media(--sm) {
                margin-bottom: 30px;
            }
            @media(--xs) {
                margin-bottom: 30px;
            }
        }
    }
    &_specificTable {
        display: flex;
        margin-bottom: 25px;
        position: relative;
        padding-top: 4px;
        
        @media (--smMinus) {
            width: 320px;
            padding-bottom: 20px;
        }
        @media (--xlMinus) {
            width: 100%;
            margin-bottom: 55px;
        }
    }
    &_specificCol {
        max-width: 300px;

        @media(--sm) {
            /* max-width: 100%; */
        }
        @media(--xs) {
            /* max-width: 100%; */
        }

        &._single {
            max-width: 67px;
            margin-left: 15px;
            & .Flat_specificCell:nth-child(n) {
                width: 50px;
            }
        }

        &:nth-child(1) {
            margin-right: 0;
            @media(--mdMinus) {
               margin-right: 0px;
            }

        }
        &:nth-child(2) {
           @media(--mdMinus) {
               /* margin-left: auto */
           }
        }
    }
    &_specificRow {
        display: table-row;
        @media (--mdMinus) {
            display: flex;
            justify-content: space-between;
        }
        @media (--smMinus) {
            display: block;
        }
    }
    &_specificCell:not(:last-child) {
        padding-bottom: 10px;
        white-space: nowrap;
        @media (--smMinus) {
            padding-bottom: 0;
        }
    }
    &_specificCell {
        white-space: nowrap;
        display: table-cell;
        justify-content: space-between;
        /* height: 30px; */
        @media (--mdPlus) {
            display: inline-flex;
        }
        &:nth-child(1n) {
            @media (--mdPlus) {
                width: auto;
                height: auto;

            }
        }
        @media (--smMinus) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 7px;
        }
    }
    &_specificCellText {
        width: 150px;
        flex-shrink: 0;
        height: auto;
        white-space: normal;
        &_first-of-type {
            float: left;
        }
        &:last-of-type {
            font-weight: 600;
            float: right;
            margin-left: 15px;
            position: relative;
            top: -3px;
        }
        &._add {
            font-weight: 600;
            float: right;
            margin-left: 15px;
            position: relative;
            top: -3px;
            width: 70px;
            flex-shrink: 0;
            height: auto;
        }
    }
    &_specificDesc {
        font-weight: 400;
        margin-bottom: 40px;

        & ul {
              margin: 20px 0;
              list-style: none;
          }
        & ul li {
            padding-left: 24px;
            position: relative;
            &:not(:last-of-type) {
                 margin-bottom: 15px;
             }
            &:before {
                 content: '';
                 display: block;
                 width: 7px;
                 height: 7px;
                 background-color: #b51827;
                 border-radius: 50%;
                 position: absolute;
                 left: 0;
                 top: 3px;
             }
        }
    }
    &_actionWrapper {
        width: 460px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        @media (--smMinus) {
            width: 100%;
            display: block;
            white-space: nowrap;
        }
        @media (--smMinus) {
            width: 380px;
        }
        @media (--xlMinus) {
            width: 100%;
        }
    }
    &_actionOption {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    &_actionOption-pdf {
        @media (--smMinus) {

            float: right;
        }
    }
    &_actionText {
        line-height: 14px;
        font-weight: 400;
        margin-left: 13px;
        text-decoration: none;
        color: inherit;
        @media (--xlMinus) {
            font-size: 12px;
        }
    }
    &_priceWrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin-bottom: 35px;
        @media (--xlMinus) {
            flex-wrap: wrap;
        }
    }
    &_price {
        font-weight: 400;
        font-size: 30px;
        line-height: 50px;
        color: #22282f;
        white-space: nowrap;
        @media (--xlMinus) {
            flex-basis: 100%;
            margin-bottom: 12px;
        }
        &._cross {
            color: #22282F;
            font-size: 14px;
            text-decoration: line-through;
            flex-shrink: 0;
            margin-bottom: 9px;
        }
        &._salePrice {
            font-weight: 500;
            font-size: 30px;
            color: #B51827;
            a {
                color: #B51827;
            }
        }
    }
    &_btn {
        width: 174px;
        height: 50px;
        background: #b51827;
        color: white;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 45px;
        transition: 0.3s ease;
        &._transparent {
            background-color: transparent;
            color: #b51827;
            border: 1px solid #b51827;
            margin-left: 10px;
        }
        &:hover {
            background: #bf1828;
            color: white;
        }
        @media (--smMinus) {
            width: 100%;
            &._transparent {
                margin-left: 0;
                margin-top: 10px;
            }
        }
        @media (--xlMinus) {
            margin-left: 0;
        }
    }
    &_details {
        color: #22282F;
        font-weight: 300;
        font-size:17px;
    }

    &__linksPresentConstructor {
         display: flex;
         margin-bottom: 30px;
     }

    &__presentLink {
         display:flex;
         align-items:center;
         font-family: 'Roboto', sans-serif;
         font-weight: 500;
         font-size:14px;
         margin-right:35px;
         color: #22282F;

        &:before {
             content:'';
             width: 17px;
             height: 25px;
             background: url("../img/flat/icon-present.svg") no-repeat;
             margin-right:12px;
             background-size: contain;
        }

        &-br {
            @media(--sm) {
                display:block;
            }
            @media(--xs) {
                display:block;
            }
        }
    }

    &-modal {
        width: 100%;
        /*max-width: 960px;*/
        /*height: 525px;*/
        max-width: 450px;
        height: 300px;
        padding: 38px;
        margin-top:0;
        @media (--mdMinus) {
            max-width: calc(100% - 80px);
        }
        @media (--smMinus) {
            max-width: 100%;
            height:calc(100vh - 70px);
            margin-bottom:0;
        }
        &_img {
            text-align: center;
            display:flex;
            align-items: center;
            height: 100%;
            justify-content: center;
            background: #fff;
            padding: 40px;
            & img {
                max-height: 100%;
            }
         }
        &-close {
            background: transparent;
            outline: none;
            position: absolute;
            top: 0;
            right: 0;
            padding: 20px;
            border: none;
            transition: opacity 0.4s ease;
            &:hover {
                 cursor: pointer;
                 opacity: 0.5;
             }
            @media (--smMinus) {
                top:10px;
            }
        }
    }

    &_planLink {
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-weight: 400;
        margin: 0 16px;
        outline:none;

     }
    &_planLink-floor {
        margin-bottom: 20px;
        @media (--smMinus) {
            margin-bottom: 0px;
        }

    }
    &_planLink-korp {
        @media (--mdPlus) {
            margin-bottom: 20px;
        }
        @media (--mdMinus) {
            margin-left:0;
        }

    }
    &_planLink-eye {}
    &_planLinkIcon {
         margin-right: 15px;
    }



}

/* START: temp */

.Flat_planLink-eye  {
    visibility: hidden!important;
}

.FlatsTips_iconStar{
    display: none!important;
}

.actionIcon {
     background-size: cover;
     background-repeat: no-repeat;
     width: 19px;
     height: 19px;
     margin-right: 20px;
     position:relative;

     &:hover {
        cursor: pointer;
     }

    &_red {
         background-image: url("../img/icon_action_1.svg");
    }
    &_orange {
         background-image: url("../img/icon_action_2.svg");
    }
    &_blue {
         background-image: url("../img/icon_action_3.svg");
    }
    @media(--xs) {
        /*width:13px;*/
        /*height:13px;*/
        margin-right:8px;
    }
}

.brushIcon {
    background: url("../img/flat/icon_brush.svg") no-repeat;
    background-size: cover;
    width: 19px;
    height: 19px;
    margin-right: 20px;
}

.actionIconTooltip {
    padding: 10px 20px;
    box-shadow: 0px 20px 25px 0px rgba(43, 38, 52, 0.25);
    font-family: 'Proxima';
    font-size: 12px;
    border: none !important;
}

/* END: temp */
