.FlatTypeCard {
    width:100%;
    padding:20px 0;
    display:none;

    @media(--sm) {
        display:block;
    }

    @media(--xs) {
        display:block;
    }

    &__item {
        padding: 25px 25px;
        position: relative;

        &:after {
            content: "";
            background: #eaeaeb;
            height: 1px;
            display: block;
            width: calc(100% - 40px);
            bottom: 0;
            left: 20px;
            position: absolute;
        }

        &:focus {
             background: #eaeaeb;
        }

        &:last-child {
            &:after {
                display:none;
            }
        }
    }

    &__row {
        display: flex;
        margin-bottom: 20px;
        position:relative;
        justify-content: space-between;
        z-index:3;

        &:first-child {
            margin-bottom:30px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__col {
        font-size:12px;
        color:#22282f;
        font-weight:400;

        &-1of6 {
            width: 50%;
        }

        &-1of3 {
            width: 33.3%;
        }

        & span {
            display: block;
            font-size: 15px;
            padding-top: 3px;
        }
    }

    &__actWrap {
        display: flex;
        justify-content: flex-end;

        & .FavoriteIcon {
            margin-left: 15px;
            position: relative;
            z-index: 10;
        }

    }

    & .brushIcon-type {
        width:19px;
        height:19px;
    }

    &__link {
        position: absolute;
        width: 100%;
        height:100%;
        left:0;
        top:0;
        z-index: 2;

        &:focus {
            background: #e9e9ea;
        }
    }
}