.FormSuccess {
  text-align: center;
  color: #000;
  @media (--767) {
    margin-top: 10px;
  }
  &_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px;
  }
  &_text {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 24px;
  }
  &_btn {
    text-transform: uppercase;
    width: 320px;
    height: 50px;
    color: #fff;
    background: #bf1828;
    cursor: pointer;
    outline: none;
    border: none;
    @media (--767) {
      width: 100%;
    }
  }
}