
.FullScreenContainer {
    position: relative;
    height: calc(100vh - 120px);
    &-fullWidth {
        margin-right: 0;
        margin-left: 0;
    }
    &.hover-out {
        transition: 0.2s ease-in;
    }
    &.hover-in {
        transition: 0.2s ease-in;
    }
    &_title {
        position: absolute;
        top: 30px;
        left: 248px;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        line-height: 1.2;
        z-index: 60;
        @media (--mdMinus) {
            font-size: 20px;
            top: 45px;
            left: 350px;
        }
        @media (--xs) {
            left: 130px;
        }
    }
}






