.Genplan {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    &_marker {
        position: absolute;
        width: 30px;
        height:30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        /*pointer-events: none;*/
        color: #ffffff;
        font-weight: 500;
        font-size: 13px;
        background: #22282f;
        z-index: 32;

        @media(--sm) {
            font-size:9px;
        }

        @media(--xs) {
            font-size:9px;
            width:20px;
            height:20px;
        }

        &:after {
             content:'';
             width: 0;
             height: 0;
             border-style: solid;
             border-width: 4px 2px 0 2px;
             border-color: #22282f transparent transparent transparent;
             position: absolute;
             left:50%;
             bottom:-4px;
             margin-left: -2px;
        }
        &:hover {
            &:not(._disabled) {
                cursor: pointer;
            }
        }
        &-apps {
            &:before {
                content:'Апартаменты';
                font-family: 'Roboto', sans-serif;
                font-size: 11px;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                background: #707981;
                position: absolute;
                top:0;
                left: 100%;
                padding: 0 7px;
                height: 30px;

                @media(--smMinus) {
                    font-size:9px;
                    /*left: 50%;
                    transform: translateX(-50%);*/
                }

                @media(--xs) {
                    /*font-size:9px;
                    left: 50%;
                    transform: translateX(-50%);*/
                    height: 20px;
                }
            }
            &:after {
                border-color: #22282f transparent transparent;
            }
        }
        & span {
            @media(--sm) {
                display:none;
            }
            @media(--xs) {
                display:none;
            }
        }
    }
    &_countFlats {
        padding: 7px 12px;
        box-shadow: 0px 20px 25px 0px rgba(43, 38, 52, 0.25);
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color:#22282f;
        font-size: 11px;
        border: none !important;
    }
    &_mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
         background-color:rgba(40,40,40,0.25);
         background-size: cover;
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
         z-index: 2222;
        transition: all 0.3s ease 0s;
        &-active {
             visibility: visible;
             opacity: 1;
        }
    }
    &_label {
        position: absolute;
        background: #ffffff;
        font-weight: 500;
        color:#22282f;
        font-size: 14px;
        padding: 0 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        z-index: 30;
        transform-origin: top center;
        transform: translate(-50%, -50%) translateZ(0);
        @media(--xs) {
            font-size:11px;
        }
        &:after {
             /*content: "";*/
             position: absolute;
             width: 1px;
             height: 50px;
             background: #fff;
             top: 30px;
             left: 50%;
             margin-left: -0.5px;
        }

        &_line {
            display: block;
            position: absolute;
            top: 30px;
            left: 50%;
            width: 1px;
            transform: translateX(-50%);
            height: 50px;
            z-index: 100;
            background: #ffffff;
        }

        &._build5 {
             top: 19.5% !important;
             left: 61.4% !important;
         }

        &-start {
            &:after {
                margin-left:0;
                right:0;
                left: initial;
            }
            &:before {
                content: 'Старт продаж';
                position: absolute;
                right:0;
                top:0;
                transform: translateX(100%);
                background: #cd1026;
                font-family: Roboto,sans-serif;
                font-size: 11px;
                font-weight: 500;
                color:#ffffff;
                padding: 0 7px;
                width: 75px;
                height:100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &-ds {
            background: #707981;
            padding: 0 22px;
            font-size: 11px;
            color: #fff;
            @media(--xs) {
                height: 22px;
                padding: 0 10px;
                font-size: 10px;
            }
            &:after {
                content: "";
                position: absolute;
                width: auto;
                height: auto;
                background: none;
                top: 100%;
                left: 50%;
                margin-left: -3px;
                border: 6px solid transparent;
                border-top: 6px solid #707981;
            }
        }
    }
    &_infoSticker {
         display: block;
         position: absolute;
         z-index: 100;
         /*top: 100%;*/
         bottom: 100%;
         left: 0;
         width: 100%;
         font-size: 10px;
         line-height: 16px;
         color: #fff;
         background-color: #b51827;
         text-align: center;
         font-weight: 400;
    }

}

a.Genplan_marker {
    cursor: pointer;
}


.genplan__btn-call {
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     z-index: 30;
     padding: 0;
     margin: 0 0 40px 0;
    @media (--sm) {
        margin: 0 0 30px 0;
    }
    @media (--xs) {
        margin: 0 0 30px 0;
    }

    &:before {
         width: calc(50% - 124px);
    }

    &:after {
         content: "";
         background: #b51827;
         height: 1px;
         width: calc(50% - 124px);
         position: absolute;
         left: auto;
         top: 50%;
         right: 0;
         z-index: 40;
         margin-left: 0;
         margin-top: 0;
    }
}

.wrapper._GP {
    position: relative;
    & .FullScreenContainer {
         min-height: 750px;
    }
}

