.longread-video {
    padding-top: 55.6%;
    position: relative;
    max-height: 650px;

    iframe,
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__bg {
        z-index: 10;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        cursor: pointer;

        &:before {
            transition: ease .3s all;
            content: '';
            width: 80px;
            height: 80px;
            background: transparent url('/img/longreads/family/play.svg') 0 0 no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -40px 0 0 -40px;
        }

        &:hover {
            &:before {
                transform: scale(.9);
            }
        }
    }
}

.longread-title {
    font-family: 'Affect';
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 30px;
    margin-bottom: 20px;
    position: relative;
    line-height: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 2px;
        background-color: #b51827;
    }

    &._center {
        text-align: center;

        &:after {
            left: 50%;
            margin-left: -25px;
        }
    }

    @media (max-width: 1280px) {
        padding-left: 40px;

        + .longread-text {
            padding-top: 0;
        }
    }

    @media (--xs) {
        padding-left: 20px;
        font-size: 28px;
    }
}

.longread-text {
    font-size: 17px;
    line-height: 1.65;

    & p {
        margin-bottom: 15px;
        font-weight: 300;
    }

    & strong {
        font-weight: 400;
    }
}

.longread-item {
    margin-bottom: 100px !important;

    @media (max-width: 1280px) {
        margin-bottom: 30px !important;
    }

    & p,
    & li {
        font-size: 17px;
        line-height: 28px;
        margin-bottom: 15px;
        font-weight: 300 !important;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__block {
        display: flex;
        align-items: center;

        @media (--lgMinus) {
            flex-wrap: wrap;
        }

        &._custom {
            height: 660px;
            width: calc(100% + 80px);
            margin-left: -40px;
            margin-top: 45px;

            .longread-item__thumb,
            .longread-item__content {
                height: 100%;
            }

            .longread-item__content {
                background-color: #22282f;
                background-image: url(../img/longreads/substrate-vertical-repeat.svg);
                background-repeat: repeat-y;
                background-size: 162px;
                background-position: -92px -69px;
                padding: 65px 45px 55px 95px;

                @media (max-width: 1279px) {
                    order: -1;
                }

                @media (max-width: 640px) {
                    padding: 30px 10px 55px 50px;
                    background-position: -100px -69px;
                }
            }

            .longread-title {
                color: #fff;
                letter-spacing: -.5px;

                span {
                    white-space: nowrap;
                }

                &:after {
                    background-color: #fff;
                }

                @media (max-width: 640px) {
                    font-size: 28px;

                    span {
                        white-space: normal;
                    }
                }
            }

            .list_index {
                margin-bottom: 30px;

                li {
                    color: #fff;
                }
            }

            p {
                color: #fff;
            }

            @media (max-width: 1279px) {
                width: 100%;
                margin: 0;
                height: auto;
                margin-top: 65px;

                .longread-item__thumb {
                    display: block;
                    background-size: cover;
                    margin-top: 0;
                }
            }
        }

        &._wide {
            display: block;
        }
    }

    &__thumb {
        width: 50%;
        min-height: 546px;
        background-repeat: no-repeat;
        background-position: 30%;
        background-size: cover;

        @media (--lgMinus) {
            width: 100%;
            background-position: right bottom;
            display: none;
        }

        @media (--xs) {
            min-height: 250px;
            margin-top: 40px;
        }

        &--mobile {
            display: none;
            @media (--lgMinus) {
                display: block;
            }
        }

        &--bg-right {
            background-position: center right;
        }

        &--corner {
            margin-left: 25px;
            margin-bottom: 25px;
            position: relative;
            width: calc(50% - 25px);

            @media (--lgMinus) {
                width: calc(100% - 25px);
            }

            @media (--xs) {
                width: calc(100% - 20px);
                margin-left: 20px;
                margin-bottom: 20px;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: -25px;
                bottom: -25px;
                z-index: -2;
                width: 230px;
                height: 230px;
                background-color: #b51827;

                @media (--xs) {
                    left: -20px;
                    bottom: -20px;
                    width: 150px;
                    height: 150px;
                }
            }

            &-right {
                margin-left: 0;
                margin-right: 25px;
                width: calc(50% - 25px);

            @media (--lgMinus) {
                width: calc(100% - 25px);
            }

            @media (--xs) {
                width: calc(100% - 20px);
                margin-left: 0;
                margin-right: 20px;
                margin-bottom: 20px;
            }

            &:after {
                left: initial;
                right: -25px;

                @media (--xs) {
                    right: -20px;
                }
            }
            }

        }

        &--flag {
            margin-left: 56px;
            position: relative;
            width: calc(50% - 56px);

            @media (--lgMinus) {
                width: calc(100% - 40px);
                margin-left: 40px;
            }

            @media (--xs) {
                width: calc(100% - 20px);
                margin-left: 20px;
            }

            &:after {
                content: '';
                display: block;
                width: 56px;
                height: 70px;
                background-image: url('../img/longreads/substrate-wave.svg');
                position: absolute;
                left: -56px;
                top: 0;

                @media (--lgMinus) {
                    width: 40px;
                    height: 52px;
                    left: -40px;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                @media (--xs) {
                    width: 20px;
                    height: 35px;
                    left: -20px;
                }


            }

            &-trees {
                &:after {
                    background-image: url('../img/longreads/substrate-trees.svg');
                }
            }

            &-right {
                margin-left: 0;
                margin-right: 56px;

                @media (--lgMinus) {
                    margin-right: 40px;
                }

                @media (--xs) {
                    margin-right: 20px;
                }

                &:after {
                    left: initial;
                    right: -56px;

                    @media (--lgMinus) {
                        right: -40px;
                    }

                    @media (--xs) {
                        right: -20px;
                    }
                }
            }
        }
    }

    &__btn {
        margin-top: 35px;

        @media (--lgMinus) {
            margin-top: 40px;
        }
    }

    &__content {
        width: 50%;
        padding: 25px;
        padding-left: 110px;

        @media (--lgMinus) {
            width: 100%;
            padding: 0;
        }
    }

    &__title {
        &:after {
            @media (--lgMinus) {
                margin-left: 40px;
            }

            @media (--xs) {
                margin-left: 20px;
            }
        }

        &--small-margin {
            @media (--lgMinus) {
                margin-bottom: 20px;
            }
        }

        &._hidden {
            @media (max-width: 1280px) {
                display: none;
            }
        }
    }

    &__text {
        @media (--lgMinus) {
            padding: 40px;
            padding-bottom: 0;
            padding-top: 30px;
        }

        @media (--xs) {
            padding-left: 20px;
            padding-right: 20px;
        }



        &--thumb-bottom {
            @media (--lgMinus) {
                padding-top: 0;
                padding-bottom: 40px;
            }

            @media (--xs) {
                padding-bottom: 20px;
            }
        }

        @media (max-width: 640px) {
            padding: 10px 10px 0 20px;
        }
    }

    &--reverse {

        & .longread-item__block {
            flex-direction: row-reverse;
        }

        & .longread-item__content {
            padding-left: 0;
            padding-right: 110px;

            @media (--lgMinus) {
                padding: 0;
            }
        }
    }

    &--white-text {

        & .longread-item__text {
            & p, ul, li, strong {
                color: #fff;
            }
        }

        & .longread-item__title {
            color: #fff;

            &:after {
                background-color: #fff;
            }
        }
    }

    &--red {

        & .longread-item__content {
            background-color: #b51827;
        }
    }

    &--grey {
        & .longread-item__content {
            background-color: #eff2f5;
        }
    }

    &--ornament {

        & .longread-item__content {
            background-image: url('../img/longreads/substrate-vertical-repeat.svg');
            /* background-size: 203px 118px; */
            background-repeat: repeat-y;
            background-position: -40px -59px;
            background-size: 145px;
            padding: 60px;
            padding-left: 100px;

            @media (--lgMinus) {
                order: -1;
                padding: 45px 149px 57px 41px;
                background-position: calc(100% + 78px) 20px;
            }

            @media (--xs) {
                background-image: none;
                padding: 40px 36px 40px 21px;
            }
        }

        & .longread-item__thumb {
            height: 660px;

            @media (--lgMinus) {
                height: 480px;
                display: block;
            }

            @media (--xs) {
                height: 250px;
            }
        }

        & .longread-item__block {
            align-items: center;
        }



        & .longread-item__title {
            @media (--lgMinus) {
                padding: 0;
                margin-bottom: 20px;
                padding-bottom: 30px;
            }

            &:after {
                @media (--lgMinus) {
                    margin-left: 0;
                }
            }
        }

        & .longread-item__text {
            @media (--lgMinus) {
                padding: 0;
            }
        }


        &-reverse {

            & .longread-item__content {
                padding: 130px 65px;
                padding-left: 148px;
                margin-bottom: 2%;

                @media (--lgMinus) {
                    margin-bottom: 0;
                    padding: 59px 64px 74px 70px;
                    background-position: -87px -5px;
                }

                @media (--xs) {
                    padding: 45px 29px 44px 21px;
                }
            }

            & .longread-item__block {
                flex-direction: row-reverse;
            }
        }

        &-bg {
            & .longread-item__content {
                background-position: 0 2px;

                @media (--xs) {
                    background-image: url('../img/longreads/substrate-vertical-repeat.svg');
                }
            }

            & .longread-item__thumb {
                height: 481px;

                @media (--xs) {
                    height: 250px;
                }
            }
        }
    }

    &--black {

        & .longread-item__content {
            background-color: #22282f;
            background-image: url('../img/longreads/substrate-vertical-repeat_black.svg');
            @media (--xs) {
                background-image: none;
            }
        }
    }

    +.btn-call-inner {
        margin-top: 60px;
    }
}
