.simple-pagination ul {
    text-align: center;
    padding: 0 0 20px;
    display: flex;
    justify-content: center;

    &>li {
        margin: 0 5px;
        display:block;

        &>.page-link,
        &>.next,
        &>.prev,
        &>.current {
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            text-align: center;
            line-height: 50px;
            vertical-align: middle;
            position: relative;
            text-decoration: none;
            color: #2a2633!important;
            height: 50px;
            width: 50px;
            display: block;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid #b51827;
                opacity: 0;
                transition: opacity .2s ease;
            }

            &:hover:after {
                opacity: 1;
            }
        }




        &>.current {
            background: #f2f3f7;
            pointer-events: none;
        }
        &>.prev {
            background: url("../img/arrow_page_left.svg") no-repeat center / 9px 16px;
        }

        &>.next {
            background: url("../img/arrow_page_right.svg") no-repeat center / 9px 16px;
        }

        &>.prev,
        &>.next {
            &.current {
                opacity: 0.2;
            }
        }
    }
}