.parking {
    padding-top: 25px;

    @media(--sm) {
        padding-top: 30px;
    }
    @media(--xs) {
        padding-top: 30px;
    }

    &-pagination {
        margin-top: 40px;
        @media(--sm) {
            margin-top: 20px;
        }
        @media(--xs) {
            margin-top: 20px;
        }
    }

    .parking-sorter {
        display: flex;
        width: 100%;
        align-items: center;
        font-size: 14px;
        height: 62px;
        border-bottom: 1px solid #eaeaeb;
        color: hsla(240, 2%, 10%, 0.5);
        font-family: 'Roboto', sans-serif;
        font-weight:400;

        &__item {
             width:20%;
             text-align: center;
        }
        @media(--sm) {
            display:none;
        }
        @media(--xs) {
            display:none;
        }
    }

    &-plan {
        align-items: center;
        justify-content: center;
        display: flex;
        color:#22282f;
        opacity:0.7;
        transition: all 0.3s ease;

        &:hover {
            text-decoration: underline;
             opacity:1;
        }

        &_disabled {
            opacity:0;
            visibility: hidden;
        }

        &:after {
            content:'';
            width: 24px;
            height:26px;
            background: url("../img/icon-pdf.svg") no-repeat;
            background-size: contain;
            margin-left: 8px;
            @media(--sm) {
                order:1;
            }
            @media(--xs) {
                order:1;
            }
        }
        & span {
            @media(--sm) {
                order:2;
                margin-top:4px;
            }
            @media(--xs) {
                order:2;
                margin-top:4px;
            }
        }
        @media(--sm) {
            font-size:12px;
            flex-direction:column;
        }
        @media(--xs) {
            font-size:12px;
            flex-direction:column;
        }
    }

    &-mobile {
        display:none;
        width: calc(100% + 40px);
        margin-left: -20px;

        @media(--sm) {
            display:block;
        }
        @media(--xs) {
            display:block;
        }

        &__item {
            background: #f5f8fb;
            display:flex;
            padding:14px 20px;

            &:nth-child(2n) {
                 background: #ffffff;
            }
        }
        &__info {
            flex-grow:1;
        }
        &__row {
            display: flex;
        }
        &__param {
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            color: #22282f;
            margin-right: 12px;
        }
        &__price {
            margin-top: 10px;
            color:#22282f;
            font-weight: 500;
            font-size: 12px;
            & span {
                font-size:15px;
            }
        }
    }

    &__text {
        padding: 0 0 20px 0;
    }
}


@keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.parking-preloader {
    display:flex;
    margin-top:50px;
    justify-content: center;

    &__ring {
         position: relative;
         width: 60px !important;
         height: 60px !important;
         -webkit-transform: translate(-30px, -30px) scale(0.3) translate(30px, 30px);
         transform: translate(-30px, -30px) scale(0.3) translate(30px, 30px);

        & div {
            position: absolute;
            width: 160px;
            height: 160px;
            top: 20px;
            left: 20px;
            border-radius: 50%;
            border: 8px solid #000;
            border-color: #b51827 transparent #b51827 transparent;
            -webkit-animation: lds-double-ring 1s linear infinite;
            animation: lds-double-ring 1s linear infinite;

            &:nth-child(2) {
                 width: 140px;
                 height: 140px;
                 top: 30px;
                 left: 30px;
                 border-color: transparent #22282f transparent #22282f;
                 -webkit-animation: lds-double-ring_reverse 1s linear infinite;
                 animation: lds-double-ring_reverse 1s linear infinite;
            }
        }
    }
    &_disabled {
        display:none;
    }
}

.parkingCheckboxes {
    margin-bottom: 40px;
}

.parking-form {
    /*max-width: 570px;*/

    .button {
        max-width: 270px;
        line-height: 50px;

        @media screen and (--xs) {
            max-width: none;
        }
    }

    .ws-errorbox {
        bottom: auto;
        top: 100%;
        right: auto;
        left: 0;

        .ws-errormessage {
            font-size: 10px;
            line-height: 16px;
            letter-spacing: .2px;
            color: #8e8e8e;
            white-space: nowrap;
        }
    }

    .ui-selectmenu-text {
        font-size: 14px;
    }

    .page-form__step {
        margin-bottom: 30px;
    }

    .page-form__inp {
        border: solid 1px #d6dade;
        color: #3b3b3b;
        padding: 0 10px;
        font-family: 'Proxima';
        line-height: 50px;
        height: 50px;

        &:focus {
             border-color: #db8e3c;
        }

        &.user-success {
             border-color: #d6dade;
        }
    }

    .ws-invalid {
        .page-form__inner-lbl {
            color: #b51827;
        }

        .page-form__inp {
            border-color: #b51827;
        }

        .select-wrap .ui-button {
            border-color: #b51827;
        }
    }

    h2 {
        text-align: left;
    }
}

.ui-menu {
    background-color: #fff;
}

.ui-state-disabled {
    display: none;
}

.ui-selectmenu-disabled {
    display: block;
}

.link {
    transition: ease .3s all;
    display: inline-block;
    line-height: 1.2;
    color: #b51827;
    text-decoration: none;
    border-bottom: solid 1px rgba(181, 24, 39, .3);

    &:hover {
        border-bottom-color: transparent;
    }

    @media (--xs) {
        border: none;
        text-decoration: underline;
    }
}

.button._payment {
    background: #ededed;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 340px;
    margin-top: 20px;
    padding: 0;
    justify-content: center;
    @media (--mdMinus) {
        margin: 20px auto 0;
    }
}
