.PickupFlatLayout {
    &_inner {
        @media (--xlPlus) {
            display: flex;
        }
    }

    &_results {
        flex: 1;
        position: relative;
    }

    &_filter {
        @media (--lgMinus) {
            background: #ffffff;
        }
        @media (--xlPlus) {
            width: 347px;
            border-right: 1px solid #eaeaeb;
        }
    }

    &_resultsCont {
        transition: all 0.3s ease;
        &-loading {
            opacity: 0.4;
            pointer-events: none;
        }
    }
    &_topRow {
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        height: 62px;
        border-bottom: 1px solid #eaeaeb;
        border-bottom: 1px solid #eaeaeb;
        color: hsla(240, 2%, 10%, 0.5);
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        @media(--lgMinus) {
            border-top: 1px solid #eaeaeb;
            padding: 0 40px;
        }
        @media(--sm) {
            padding: 0 20px;
        }
        @media(--xs) {
            padding: 0 20px;
        }
    }

    &_footer {
        text-align: center;
        padding-top: 26px;
        color: #7f7f7f;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 12px;
        display: flex;
        flex-wrap:wrap;
    }

    &_footerPaginationWrap {
        flex-basis: 100%;
    }

    &_footerText {
        padding: 0 22px 30px;
        flex-basis:100%;
        & p {
            font-size:12px;
            font-weight:300;
            color:#000000;
            opacity: 0.5;
        }

        @media(--lgMinus) {
            order:2;
        }
    }
    &_progress {
        display: none;
        opacity: 0;
        text-align: center;
        width: 0;
        height: 2px;
        background: #b51827;
        position: absolute;
        transform: translateZ(0);
        will-change: opacity, width;
    }

    &_title {
        color:#6c737a;
        margin-right: 30px;

        & h4 {
            font-weight: 400;
        }
        & span {
            font-weight:500;
        }
    }
    &_rightCol {
        display: flex;
        align-items: center;
    }
    &_favorites {
        font-family: 'Roboto', sans-serif;
        display:none;
        font-size: 14px;
        font-weight: 400;
        color: #6c737a;
        position:relative;
        padding-right: 31px;
        margin-right:50px;
        @media(--sm) {
            margin-right:10px;
            padding-right: 22px;
        }
        @media(--xs) {
            margin-right:10px;
            padding-right: 22px;
        }
        &:after {
            content:'';
            width:18px;
            height:18px;
            position: absolute;
            right:0;
            top:-2px;
            background: url(../img/favorite-icon-link.svg) no-repeat;
            display: block;
        }
    }
}
