.RangeSlider {
    width: 100%;
    padding: 11px 7px 0;
}

.RangeSlider_track {
    width: 100%;
    height: 2px;
    border: 0;
    background-color: #caccd3;

    &:after,
    &:before {
        display: block;
        pointer-events: none;
        content: '';
        position: absolute;
        background-size: contain;
        top: 50%;
        margin-top: -4px!important;
        margin-left: -4px!important;
        z-index: -10;
        width: 8px !important;
        height: 8px !important;
        background: #caccd3 !important;
    }
    &:before {
        left: 0;
    }

    &:after {
        left: 100%;
    }
}

.RangeSlider_progress {
    background-color: #b51827;
    border: 0;
    outline: 0;
    width: 100%;
}

.RangeSlider_handle {
    width: 22px!important;
    height: 22px!important;
    background-size: contain;
    background-color: rgba(181, 24, 39, 0.3);
    top: -11px!important;
    margin-left: -11px!important;
    border: 0!important;
    display: flex;
    align-items: center;
    outline: none;
    justify-content: center;
    position:relative;
    &:after {
        content:'';
        width: 8px;
        height: 8px;
        background: #b51827;
        display:block;
        transition: all 0.4s ease;
    }
    &.ui-state-active {
        &:after {
            width:10px;
            height:10px;
        }
    }
}

.RangeSlider_rangeVals {
    display: flex;
    color: #19191a;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding-top: 14px;
    margin: 0 -7px;
}

.RangeSlider_valViewWrap {
    width: 50%;
    max-width: 50%;
    &-max {
        text-align: right;
    }
}

.RangeSlider_minValViewEl,
.RangeSlider_maxValViewEl {
    margin-right: 4px;
    transform: translateZ(0);
}