.showroom {
    max-width: 1000px;
    width: 100%;
    padding-top: 40px;
    margin: 0 auto;

    @media (--mdMinus) {
        max-width: none;
    }

    &__main {
        width: 100%;
        height: 530px;
        position: relative;

        &:hover {
            & .showroom__overlay {
                background-color: rgba(43, 38, 52, 0);
            }

            & .showroom__zoomDesc {
                opacity: 0;
            }

            & .showroom__zoom svg {
                transform: scale(1.6);

                & g {
                    fill: #d31023;
                }
            }
        }

        @media (--mdMinus) {
            height: 407px;
        }

        @media (--xs) {
            height: 169px;
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: 40px;
        text-align: center;
        color: #19191a;
        font-weight: 600;
        font-family: "Affect";
        margin-bottom: 68px;
        padding-top: 15px;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            transform: translate(-50%, 0);
            left: 50%;
            width: 75px;
            height: 1px;
            background-color: #f8a256;
        }

        @media (--mdMinus) {
            margin-bottom: 45px;
            text-align: left;
            padding: 10px 40px;
            &:before {
                transform: none;
                left: 40px;
            }
        }

        @media (--xs) {
            margin-bottom: 50px;
            padding: 10px 20px;
            padding-top: 20px;
            font-size: 30px;
            &:before {
                transform: none;
                left: 20px;
            }
        }
    }

    &__thumb {
        width: 100%;
        height: 100%;
        border: none;
        background: url('../img/showroom.jpeg') center/cover no-repeat;

        @media (--smMinus) {
            background-image: url('../img/showroom_mob.jpeg');
        }

    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(43, 38, 52, 0.7);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.3s;
    }

    &__zoom {
        text-align: center;
        color: #d8d8d8;
        font-size: 18px;
        letter-spacing: 0.6pt;

        @media (--xs) {
            font-size: 14px;
        }
    }

    &__zoom svg {
        margin-bottom: 15px;
        width: 60px;
        height: auto;
        transition: 0.3s;

        @media (--xs) {
            width: 45px;
        }
    }

    &__zoomDesc {
        transition: opacity 0.3s;
    }
}

.showroom-fullFrame {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 200010;
    display: none;
    &--active {
        height: 100%;
    }

    &__iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 70;
        width: 30px;
        cursor: pointer;
    }
}