.SorterFilters {
    display: table;
    @media (--smMinus) {
        display: none;
    }
    &_inner {
        display: table-row;
    }
    &_item {
        display: table-cell;
        vertical-align: middle;
    }
}