.SunnyFlats {
  padding: 0 55px;
  padding-top: 62px;
  width: 100%;
  list-style: none;
  margin: 0;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: -43px;
  @media(--mdMinus) {
      padding: 0 40px;
      padding-top: 30px;
      margin-bottom: -47px;
  }
  @media(--sm) {
      padding: 0 20px;
      padding-top: 30px;
  }
  @media(--xs) {
      padding: 0 20px;
      margin-bottom: -88px;
  }

  &_item {
    
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', san-serif;
    margin-bottom: 153px;

    @media (--xlMinus) {
      flex-direction: column;
      margin-bottom: 107px;
    }

    @media (--767) {
      margin-bottom: 88px;
    }
  }

  &_itemLeft {
    width: 27.6%;
    @media (--xlMinus) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0 45px;
      margin: 0 auto;
      margin-bottom: 49px;
      max-width: 688px;
    }

    @media (--767) {
      flex-direction: column;
      padding: 0;
    }
  }

  &_flatThumb {
    width: 100%;

    @media (--xlMinus) {
      /* width: 40.6%; */
      width: 242px;
      height: auto;
      flex-shrink: 0;
    }
    @media (--767) {
      width: 242px;
      margin: 0 auto;
    }
  }

  &_itemLeftHead {
    @media (--xlMinus) {
      width: 272px;
      padding-top: 7px;
    }

    @media (--767) {
      width: 100%;
    }
  }

  &_itemRight {
    width: 65.6%;
    @media (--xlMinus) {
      width: 100%;
    }
  }

  &_flatType {
    color: #d2152c;
    font-family: 'Affect';
    font-size: 24px;
    margin-bottom: 34px;
    position: relative;
    padding-left: 44px;
    line-height: 1;
    text-transform: uppercase;
  }

  &_flatTypeNum {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 54px;
    line-height: 51px;
    font-family: 'Roboto', san-serif;
    font-weight: bold;
  }

  &_flatDesc {
    font-family: 'Roboto', san-serif;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 49px;

    @media (--xlMinus) {
      margin-bottom: 70px;
    }

    @media (--767) {
      margin-bottom: 46px;
    }

  }

  &_flatInfo {
    width: 49%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @media (--xlMinus) {
      display: none;
    }

    &-tablet {
      display: none;
      @media (--xlMinus) {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        & .SunnyFlats_flatInfoItem {
          width: 48%;
          margin-bottom: 20px;
        }
      }

      @media (--767) {
        width: 234px;
        margin: 0 auto;
        margin-bottom: 30px;

        & .SunnyFlats_flatInfoItem {
          width: 50%;
        }
      }
    }
  }

  &_flatInfoNum, &_flatInfoDesc {
    display: block;
    text-align: center;
  }

  &_flatInfoNum {
    font-size: 24px;
    font-weight: bold;
  }

  &_flatInfoDesc {
    color: #999999;
    font-size: 15px;
  }

  &_angles {
    overflow: visible;
    @media (--767) {
      width: calc(100% + 40px);
      margin-left: -20px;
      margin-right: -20px;
    }
    &-mobile {
      display: none;
      @media (--767) {
        display: block;
      }
    }
    &-desktop {
      @media (--767) {
        display: none;
      }
    }
    & .swiper-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      overflow: visible;
      @media (--xlMinus) {
        width: calc(100% + 110px);
        margin-left: -55px;
        margin-right: -55px;
      }

      @media(--mdMinus) {
        width: calc(100% + 80px);
        margin-left: -40px;
        margin-right: -40px;
      }

      @media (--767) {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        flex-wrap: nowrap;
      }
    }

    & .swiper-button-prev, .swiper-button-next, .swiper-pagination {
      display: none;
      @media (--767) {
        display: block;
      }
    }

    & .swiper-button-next, .swiper-button-prev {
      background-image: url('../img/arrow_slider.svg');
      width: 9px;
      height: 30px;
      background-size: contain;
      opacity: 0.5;
    }

    & .swiper-button-next {
      right: 20px;
    }

    & .swiper-button-prev {
      transform: rotate(-180deg);
      left: 20px;
    }

    & .swiper-button-disabled {
      opacity: 0;
    }

    & .swiper-pagination-bullet {
      background: transparent;
      border: 1px solid #fff;
      opacity: 1;
      width: 5px;
      height: 5px;
      box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.16);

      &-active {
        background-color: #fff;
      }
    }
  }

  &_angle {
    position: relative;
    width: calc(50% - 4px);
    margin-bottom: 8px;
    height: auto;
    /* height: 214px; */
    /* overflow: hidden; */

    @media (--767) {
      margin-bottom: 0;
      height: 214px;

      &-vertical {
        & .SunnyFlats_angleImg {
          object-fit: contain;
        }
      }
    }

    &-fullImg {
      width: 100%;
    }
  }

  &_angleCol {
    width: calc(50% - 4px);
    margin-bottom: 8px;

    & .SunnyFlats_angle {
      width: 100%;
    }
  }

  &_angleImg {
    width: 100%;
    display: block;
    @media (--767) {
      object-fit: cover;
      height: 100%;
    }
    /* object-fit: cover; */
    /* height: 100%; */
  }

  &_angleDesc {
    position: absolute;
    right: 15px;
    bottom: 10px;
    color: #d2152c;
    font-size: 15px;
  }

  &_itemDesc {
    font-size: 15px;
    line-height: 1.6;
    margin-top: 32px;
    margin-bottom: 50px;

    @media (--767) {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }

  &_btn {
    display: block;
    text-align: center;
    padding: 15px;
    width: 229px;

    @media (--xlMinus) {
      margin: 0 auto;
    }
  }
}