.Tbl {
    width: 100%;
    border-collapse: collapse;
    display: table;
    border-bottom:1px solid #eaeaeb;


    &_tr {
        /*display: flex;*/
        display: table-row;
        text-decoration: none;
        &:hover {
            background-color: #eff2f5;
        }
        &-light {
            background-color: #feefdd;
        }
        &-discount {
            background-color: #fbf0f2;

            & .Tbl_td {
                color:#b51827;
                font-weight:500;
            }
        }
        &-parking {
            background: #f5f8fb;
            &:nth-child(2n) {
                background: #ffffff;
            }
            &:hover {
                background: #f5f8fb;
                &:nth-child(2n) {
                    background: #ffffff;
                }
            }
        }
    }
    &_td {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        padding: 14px 7px;
        font-size: 15px;
        border: none;
        display: table-cell;
        vertical-align: bottom;
        text-align: center;
        color: #22282f;
        @media(--xs) {
            padding:14px 0;
        }
        &-parking {
            width:20%;
        }
    }
    &_icoWrap {
        height: 18px;
        color: #4b4b4b;
        display:inline-block;
        &-light {
            color: #f7941e;
        }
        &>.SvgIco {
            height: 100%;
        }

        &> .actionIcon {
            display: inline-block;
            margin-right: 11px;
            @media(--xs) {
                width:12px;
                height:12px;
                margin-right: 8px;
            }


        }

        &> .brushIcon {
            margin-left: 10px;
            margin-right: 0;
            display: inline-block;
            @media(--xs) {
                margin-left:0;
            }

            &-type {
                 margin-left: 0px;
            }
        }


    }

    &-flats {
        @media(--sm) {
            display:block;

            & .Tbl_tr {
                display: none;
            }
        }
        @media(--xs) {
            display:block;

            & .Tbl_tr {
                display: none;
            }
        }
    }

    &-flatsType {
        @media(--sm) {
            display:none;
        }
        @media(--xs) {
            display:none;
        }
    }

    &-parking {
        @media(--sm) {
            display:none;
        }
        @media(--xs) {
            display:none;
        }
    }

    &_priceWrap {
        min-width: 100px;
        max-width: 130px;
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        position: relative;
        @media(--smMinus) {
            padding-top: 5px;
            min-width: 88px;
            max-width: 88px;
        }
    }
    &_price {
         display: block;

        &._cross {
             font: 12px/1 'Roboto';
            color: #22282f;
             text-decoration: line-through;
        }
        &._salePrice {
            font: 700 15px/1 'Roboto';
            color: #B51827;
            white-space: nowrap;
            margin-top: 8px;
            @media(--smMinus) {
                margin-top: 5px;
            }
        }
    }
    &_picSale {
        position: absolute;
        right: -22px;
        bottom: 0;
        width: 18px;
        height: 18px;
        @media(--mdMinus) {
            width: 25px;
            height: 25px;
        }
        @media(--smMinus) {
            right: -25px;
        }
        &:before {
            content: '?';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 16px;
            height: 16px;
            border: 1px solid #B51827;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font: 14px/1 'Proxima Nova Regular';
            color: #B51827;
            cursor: pointer;
            transition: all 0.3s ease;
            @media(--xlMinus) {
                padding-right: 1px;
            }
            @media(--smMinus) {
                padding-right: 0;
            }
        }
        &:hover:before {
             background: #B51827;
             color: #fff;
        }
    }
    &-flats .Tbl_td:last-child {
        font-size: 0;
        line-height: 0;
    }

}