<section class="furnish-content">
    <div class="container">
        <div class="furnish-content__text">
            <p>Покупка квартиры с отделкой в ЖК «Летний сад» позволит вам быстрее въехать в&nbsp;ваш новый дом класса
                «Комфорт-плюс», сберечь время и силы и сэкономить деньги.</p>
        </div>
        <div class="furnish-content__controls">
            <a href="#" class="furnish-content__button">Выбрать квартиру с отделкой</a>
            {#<a href="#" data-scrollTo="showroom" class="furnish-content__button furnish-content__button--border">Прогулка по шоуруму</a>#}
            <a href="/showroom" class="furnish-content__button furnish-content__button--border">Прогулка по шоуруму</a>

        </div>
    </div>
    <div class="furnish-content__row">
        <div class="furnish-content__col furnish-content__col_text">
            <div class="furnish-content__inner furnish-content__inner_left">
                <div class="furnish-content__title">Быстрое заселение</div>
                <div class="furnish-content__descr">
                    <p>Когда вы получите ключи, все отделочные работы в вашей квартире будут завершены,
                        розетки и выключатели — установлены, а сантехническое оборудование — подключено.
                        Просто завезите мебель и заселяйтесь!</p>
                </div>
            </div>
        </div>
        <div class="furnish-content__col">
            <div class="furnish-content__img" style="background-image: url('../img/flats-furnish/furnish-preview-1.jpg')"></div>
        </div>
    </div>
    <div class="furnish-content__row">
        <div class="furnish-content__col furnish-content__col_first">
            <div class="furnish-content__img" style="background-image: url('../img/flats-furnish/furnish-preview-2.jpg')"></div>
        </div>
        <div class="furnish-content__col furnish-content__col_text furnish-content__col_second">
            <div class="furnish-content__inner furnish-content__inner_right">
                <div class="furnish-content__title">Экономия времени</div>
                <div class="furnish-content__descr">
                    <p>Ремонт всегда отнимает силы и время, даже если вы отлично разбираетесь в том,
                        какие материалы выбрать и какие работы провести. Приобретите квартиру с готовой
                        отделкой, и не тратьте силы на поиск рабочих, исправление недочетов
                        и поездки на рынки строительных материалов.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="furnish-content__row furnish-content__row_color">
        <div class="furnish-content__col furnish-content__col_text">
            <div class="furnish-content__inner furnish-content__inner_color">
                <div class="furnish-content__title">Финансовая выгода</div>
                <div class="furnish-content__descr">
                    <p>Готовая отделка от Группы «Эталон» — это выгодное
                        и&nbsp;качественное решение. Посчитайте примерную стоимость самостоятельного ремонта
                        и&nbsp;сравните с тем, что предлагаем мы. А если вы планируете использовать одну из
                        ипотечных программ наших банков-партнеров, за отделку вам также
                        не придется платить сразу.</p>
                </div>
            </div>
        </div>
        <div class="furnish-content__col">
            <div class="furnish-content__img furnish-content__img_color" style="background-image: url('../img/flats-furnish/furnish-preview-3.jpg')"></div>
        </div>
    </div>

    <div class="furnish-content-list furnish-content-list--furnishStyle">
        <div class="container">
            <div class="furnish-content__title">Состав отделки</div>
            <div class="furnish-content__descr">
                <p>В ЖК «Летний сад» вы приобретаете квартиру, на 100% готовую к комфортной жизни. В оба варианта отделки входит:</p>
            </div>

            <div class="furnish-content-list__row">
                <div class="furnish-content-list__col">
                    <div class="furnish-content-list__subtitle">Напольные покрытия</div>
                    <ul class="list list_circle">
                        <li>керамическая плитка</li>
                        <li>(санузел, ванная комната)</li>
                        <li>керамогранит (кухня, лоджия)</li>
                        <li>ламинат (жилые комнаты, прихожая)</li>
                        <li>плинтус напольный</li>
                    </ul>
                </div>
                <div class="furnish-content-list__col">
                    <div class="furnish-content-list__subtitle">Стены</div>
                    <ul class="list list_circle">
                        <li>обои под покраску, покраска</li>
                        <li>керамическая плитка</li>
                        <li>(санузел, ванная комната)</li>
                    </ul>
                </div>
                <div class="furnish-content-list__col">
                    <div class="furnish-content-list__subtitle">Потолок</div>
                    <ul class="list list_circle">
                        <li>обои под покраску, покраска</li>
                        <li>керамическая плитка</li>
                        <li>(санузел, ванная комната)</li>
                    </ul>
                </div>
                <div class="furnish-content-list__col">
                    <div class="furnish-content-list__subtitle">Электрика</div>
                    <ul class="list list_circle">
                        <li>электрические розетки</li>
                        <li>TV-, Int-, Tel-розетки</li>
                        <li>выключатели</li>
                        <li>встроенные светильники</li>
                        <li>(санузел, ванная комната)</li>
                    </ul>
                </div>
                <div class="furnish-content-list__col">
                    <div class="furnish-content-list__subtitle">Двери</div>
                    <ul class="list list_circle">
                        <li>дверь входная металлическая</li>
                        <li>двери межкомнатные</li>
                    </ul>
                </div>
                <div class="furnish-content-list__col">
                    <div class="furnish-content-list__subtitle">Сантехника</div>
                    <ul class="list list_circle">
                        <li>ванна</li>
                        <li>раковина с тумбой</li>
                        <li>унитаз</li>
                        <li>смесители для ванны и раковины</li>
                        <li>полотенцесушитель</li>
                    </ul>
                </div>
            </div>

            <div class="furnish-content-list__row">

            </div>
        </div>
    </div>
</section>